<template>
  <div id="editions-index">
    <div class="row">
      <div class="col-xs-12 header">
        <h1>Edições</h1>
      </div>
    </div>
    <div class="row">
      <ul v-if="editions.length != 0">
        <li v-for="edition in editions" class="col-xs-12 col-sm-3">
          <a v-bind:href="fullUrl(edition)">
            <div class="edition">
              <h3>Nº {{ edition }}</h3>
            </div>
          </a>
        </li>
      </ul>
      <p class="no-content" v-if="editions.length == 0"><span class="glyphicon glyphicon-info-sign"></span> Sem Edições Disponíveis!</p>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'editions-index',
    props: ['user', 'editions'],
    methods: {
      fullUrl(edition) {
        return "/editions/edition/" + edition
      }
    }
  }

</script>

<style lang="sass" scoped>

.header
  border-bottom: 5px solid black
  margin-bottom: 40px
  padding-bottom: 20px

  h1
    color: black

.no-content
  color: black
  margin: 0
  text-decoration: underline
  font-weight: bold
  font-size: 1.2rem

  @media (max-width: 768px)
    text-align: center
      

ul
  list-style: none
  padding-left: 0

  li
    margin-bottom: 20px

  a
    color: initial
    text-decoration: none

    .edition
      border: 5px solid
      display: flex
      justify-content: center
      align-items: center
      padding: 30px
      transition: all .2s ease-in-out
      &:hover
        background: black
        color: white
        border: 5px solid black

      @media (max-width: 768px)
        padding: 20px
      
      h3
        margin: 0

</style>