<template>
  <div id="editions-single">
    <div class="row" v-if="edition.length > 0">
      <div class="col-xs-12 header">
        <div class="edition-header">
          <h1><span class="glyphicon glyphicon-duplicate"></span> Edição {{ getEditionNumber }}</h1>
        </div>
        <div class="stats">
          <p><span class="glyphicon glyphicon-file"></span> <span class="hidden-xs">Artigos:</span> {{ getStats().articles }}</p>
          <p><span class="glyphicon glyphicon-comment"></span> <span class="hidden-xs">Comentários:</span> {{ getStats().comments }}</p>
          <p><span class="glyphicon glyphicon-heart"></span> <span class="hidden-xs">Gostos:</span> {{ getStats().likes }}</P>
        </div>
      </div>
    </div>
    <div class="row articles-container" v-if="edition.length > 0">
      <div class="col-xs-12 social">
        <button class="btn btn-primary" v-on:click="share()">Partilhar!</button>
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-height="34" data-size="large" data-show-faces="false" data-share="false"></div>
        <div class="pusher"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 article-container" v-for="article in edition" v-bind:key="article.id">
        <div class="article">
          <div class="header">
            <h3 v-html="decodedAndLimitedText(article.title, 20)"></h3>
            <div class="stats">
              <small>Categoria: {{ article.category | decodeHTML }} | Comentários: {{ article.comments.length }}</small>
              <span v-html="setRating(getRating(article))"></span>
            </div>
          </div>
          <div class="body">
            <div class="ql-editor">
              <span v-html="decodedAndLimitedText(article.text, 500)"></span>
            </div>
            <div class="author-date">
              <p><span class="glyphicon glyphicon-pencil"></span> {{ article.author | decodeHTML }}</p>
              <p><span class="glyphicon glyphicon-time"></span> {{ article.created_at | readableDate }}</p>
            </div>
            <div class="text-limiter">
              <a v-bind:href="fullUrl(article.slug)"><button class="btn btn-default">Artigo Completo!</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-edition" v-if="edition.length == 0">
      <div class="col-xs-12">
        <p><span class="glyphicon glyphicon-info-sign"></span> Edição Indisponível!</p>
      </div>
    </div>
  </div>
</template>

<script>

  import S from 'string'
  import moment from 'moment'

  export default {
    name: 'editions-single',
    computed: {
      getToken() {
        return this.$store.state.token
      },
      getEditionNumber() {
        if(this.edition.length > 0) {
          return this.edition[0].edition
        }
      }
    },
    props: ['user', 'edition'],
    filters: {
      decodeHTML(data) {
        return S(data).decodeHtmlEntities().toString()
      },
      readableDate(date) {
        return moment(date).format("D-MMM-YY HH:mm")
      }
    },
    methods: {
      decodedAndLimitedText(text, limit) {
        let decoded = S(text).decodeHtmlEntities().toString()

        return decoded.substring(0, limit) + "..."
      },
      fullUrl(slug) {
        return "/articles/article/" + slug
      },
      getRating(article) {

        if(article.likes.length > 0) {
          
          let ratingsTotal = article.likes.reduce((acc , like) => {
              return acc + like.rating
          }, 0)

          let avg = (ratingsTotal / article.likes.length).toFixed(0)

          return avg

        } else {
          return 0
        }
      },
      setRating(avg) {
        if(avg == 0) {
          return `<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 1) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 2) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 3) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 4) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 5) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>`
        }
      },
      getStats() {

        let comments = this.edition.reduce((acc, article) => {
          return acc + article.comments.length
        }, 0)

        let likes = this.edition.reduce((acc, article) => {
          return acc + article.likes.length
        }, 0)

        let articles = this.edition.length

        return {
          comments,
          likes,
          articles
        }

      },
      share() {
        return this.$store.commit('changeModal', {
            type: 'social',
            active: true,
            data: {
              link: '',
              youtube: false
            }
        })
      }
    }
  }

</script>

<style lang="sass" scoped>

  #editions-single
    @media (max-width: 360px)
      margin-top: 100px

  .header
    color: black
    display: flex
    justify-content: space-between
    align-items: center

    @media (max-width: 460px)
      flex-direction: column

    .edition-header
      h1
        margin: 0

        @media (max-width: 460px)
          margin-bottom: 10px

    .stats
      display: flex
      flex-direction: column
      border-left: 5px solid black
      padding-left: 10px

      @media (max-width: 460px)
        flex-direction: row
        border-left: none
        border-top: 5px solid black
        padding-left: 0
        width: 100%
        justify-content: center
        border-bottom: 5px solid black
        padding-bottom: 10px
        margin-top: 20px

      p
        margin: 0
        font-weight: 700

        @media (max-width: 460px)
          margin-top: 10px
          margin-left: 20px

  
  
  .articles-container
    border-top: 5px solid black
    margin-top: 30px
    padding-top: 40px

    @media (max-width: 460px)
      border-top: none
      padding-top: 0

    .social
      margin-bottom: 40px

      .btn-primary
        margin-right: 10px

        @media (max-width: 460px)
          margin-left: -20px

      .pusher
        margin-left: 35px

      @media (max-width: 768px)
        justify-content: center

  .article-container
    margin-bottom: 50px
    min-height: 500px

    .article
      border: 5px solid black
      padding: 20px

      @media (max-width: 768px)
        margin-bottom: 20px

      .header
        display: flex
        flex-direction: column
        align-items: flex-start

        h3
          margin: 0 0 10px 0
          width: 100%
          font-size: 3rem

          @media (max-width: 460px)
            text-align: center
            font-size: 2.5rem

        .stats
          display: flex
          flex-direction: row
          justify-content: space-between
          align-items: center
          width: 100%
          margin-top: 10px

          @media (max-width: 460px)
            padding: 10px
            flex-direction: column

            small
              margin-bottom: 5px

      .body
        margin-top: 20px

        .ql-editor
          margin: 20px 0

        .text-limiter
          margin-top: 20px
          text-align: center

        .author-date
          margin: 10px 0
          display: flex
          justify-content: space-between
          border-bottom: 5px solid black
          color: black

  .no-edition p
    color: red
    margin: 0
    font-weight: 700

</style>