<template>
  <div id="books">
    <div class="row">
        <div class="col-xs-12 header">
            <h1>Livros</h1>
        </div>
    </div>
    <div class="row" v-if="books.length > 0 && !loading">
        <div class="col-xs-12 col-md-4 book" v-for="(book, index) in books" v-bind:key="book.id">
            <div class="thumbnail">
                <a v-bind:href="fullUrl('book', book.slug)"><img v-bind:src="book.image" alt="capa livro"></a>
                <div class="button-group" v-if="user && user.role == 'Administrador'">
                    <button class="btn btn-primary" v-on:click="modal('edit_book', { id: book.id })">Editar!</button>
                    <button class="btn btn-danger" v-on:click="deleteBook(book.id)" >Eliminar!</button>
                </div>
                <div class="caption">
                    <h3>{{ book.title | decodeHTML }} - €{{ book.price | currency }}</h3>
                    <span v-html="setRating(getRating(book))"></span> | <span>Comentários - {{ book.comments.length }}</span>
                    <p class="summary" v-html="decodedAndLimitedText(book.summary, 200)"></p>
                    <small>Adicionado em {{ book.created_at | readableDate }} | Autor: {{ book.author | decodeHTML }}</small>
                    <a class="btn btn-primary buy-button" v-bind:href="book.buy" target="_blank" role="button">Comprar!</a>
                    <button class="btn btn-default share-button" v-on:click="share(fullUrl('book', book.slug))">Partilhar!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" v-if="!loading">
        <div class="col-xs-12 buy-all-books">
            <a class="btn btn-default" href="http://www.sedaeditora.pt/pesquisa/?q=padre%20m%C3%A1rio" target="_blank" role="button">Todos os Livros!</a>
        </div>
    </div>
    <p class="no-content" v-if="books.length == 0 && !loading"><span class="glyphicon glyphicon-info-sign"></span> Sem Livros Disponíveis!</p>
    <div class="spinner" v-if="loading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <p class="loading" v-if="loading"> A Carregar Livros...</p>
  </div>
</template>

<script>

    import S from 'string'
    import moment from 'moment'

    export default {
        name: 'books',
        props: ['user'],
        data() {
            return {
                books: [],
                loading: true
            }
        },
        computed: {
            getToken() {
                return this.$store.state.token
            }
        },
        created() {
            
            setTimeout(() => {

                let formData = {
                    csrf_name: this.getToken.csrf_name,
                    csrf_value: this.getToken.csrf_value
                }

                this.$http.post('/books/all', formData).then(response => {

                    let data = response.data

                    this.$store.commit('changeToken', data.token)
                    this.$store.commit("loadBooks", data.books)

                    this.loading = false

                    return this.books = data.books

                }, error => {

                    return this.loading = false

                })

            }, 3000)

        },
        filters: {
            decodeHTML(data) {
                return S(data).decodeHtmlEntities().toString()
            },
            readableDate(date) {
                return moment(date).format("D-MMM-YY HH:mm")
            },
            currency(price) {
                return price.toFixed(2)
            }
        },
        methods: {
            share(link) {
                return this.$store.commit('changeModal', {
                    type: 'social',
                    active: true,
                    data: {
                        link: link,
                        youtube: false
                    }
                })
            },
            decodedAndLimitedText(text, limit) {
                let decoded = S(text).decodeHtmlEntities().toString()

                return decoded.substring(0, limit) + '...'
            },
            modal(type, data) {
                return this.$store.commit('changeModal', {
                    type: type,
                    data: data,
                    active: true
                })
            },
            deleteBook(id) {

                this.formLoading = true

                let confirmation = prompt("Eliminar Livro? Escreva 'Sim' para confirmar.")

                if(confirmation == 'Sim') {

                    let formData = {
                        id: id,
                        csrf_name: this.getToken.csrf_name,
                        csrf_value: this.getToken.csrf_value 
                    }

                    this.$http.post("/books/book/delete", formData).then(response => {

                        let data = response.data

                        this.$store.commit('changeToken', data.token)

                        this.formLoading = false

                        if(data.errors) {

                            return this.$store.commit('addNotification', {
                                type: 'error',
                                message: data.errors[0],
                                autoClear: false
                            })

                        } else {

                            if(data.status == 200) {

                                this.$store.commit('deleteBook', {
                                    id: id
                                })

                                return this.$store.commit('addNotification', {
                                    type: 'success',
                                    message: 'Livro Eliminado!',
                                    autoClear: true
                                })

                            }   

                        }

                    }, error => {

                        this.formLoading = false

                        this.$store.commit('changeToken', error.token)

                        return this.$store.commit('addNotification', {
                            type: 'error',
                            message: error.message,
                            autoClear: true
                        })

                    })

                }

                this.formLoading = false

                return this.$store.commit('addNotification', {
                    type: 'info',
                    message: 'Acção Cancelada!',
                    autoClear: true
                })

            },
            fullUrl(type, slug) {

                if(type == 'article') {
                    return '/articles/article/' + slug
                }
                
                if(type == 'edition') {
                    return '/editions/edition/' + slug
                }

                if(type == 'book') {
                    return '/books/book/' + slug
                }
            },
            getRating(article) {

                if(article.likes.length > 0) {
                
                    let ratingsTotal = article.likes.reduce((acc , like) => {
                        return acc + like.rating
                    }, 0)

                    let avg = (ratingsTotal / article.likes.length).toFixed(0)

                    return avg

                } else {
                    return 0
                }
            },
            setRating(avg) {
                if(avg == 0) {
                    return `<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
                }

                if(avg == 1) {
                    return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
                }

                if(avg == 2) {
                    return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
                }

                if(avg == 3) {
                    return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
                }

                if(avg == 4) {
                    return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
                }

                if(avg == 5) {
                    return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>`
                }
            },
        }
    }

</script>

<style lang="sass" scoped>

.header
    border-bottom: 5px solid black
    margin-bottom: 40px
    padding-bottom: 20px
    
    h1
        color: black

.no-content
  color: black
  margin: 0
  text-decoration: underline
  font-weight: bold
  font-size: 1.2rem

  @media (max-width: 768px)
    text-align: center

.thumbnail
    border: 3px solid black

.button-group
    margin-top: 30px
    width: 100%
    text-align: center

.buy-button, .share-button
    display: block
    margin: 10px auto 0 auto
    width: 150px

img
    width: 100%

.caption
    text-align: center

    .button-group
        margin-top: 10px

    .summary
        margin-top: 10px

.book
    min-height: 1150px

    @media (min-width: 1395px)
        min-height: 1200px

.buy-all-books
    border-top: 5px solid black
    text-align: center
    padding-top: 20px

</style>


