<template>
  <div id="book" v-if="!deleted">

    <div class="row">
      <div class="col-xs-12 book">
        <div class="header">
          <h1>{{ book.title | decodeHTML }}</h1>
          <span v-html="setRating(getRating(book))"></span>
        </div>
        <div class="body">
          <div class="cover">
            <div class="cover-container">
              <img v-bind:src="book.image" alt="capa livro">
              <span class="price">€ {{ book.price | currency }}</span>
            </div>  
            <a class="btn btn-default buy-button" v-bind:href="book.buy" target="_blank" role="button">Comprar!</a>
            <div class="button-group" v-if="user && user.role == 'Administrador'">
              <button class="btn btn-primary" v-bind:disabled="formLoading" v-on:click="modal('edit_book', { id: book.id })">Editar!</button>
              <button class="btn btn-danger" v-on:click="deleteBook(book.id)">Eliminar!</button>
            </div>
          </div>
          <div class="synopsis">
            <h3>Sinopse</h3>
            <p class="date"><span class="glyphicon glyphicon-time"></span> {{ book.created_at | readableDate }}</p>
            <p>{{ book.summary | decodeHTML }}</p>
            <div class="social">
              <span class="glyphicon glyphicon-heart like" v-on:click="likeBook(book.id)" v-if="!user || user && book.user_id != user.id"></span>
              <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-height="34" data-size="large" data-show-faces="false" data-share="false"></div>
              <button class="btn btn-primary" v-on:click="share()">Partilhar!</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 comments">
        <div class="header">
          <h1>Comentários</h1>
          <span class="glyphicon glyphicon-comment"></span>
          <button class="btn btn-default" v-on:click="wantToComment = !wantToComment">Comentar!</button>
        </div>
        <transition name="slideDown">
          <div class="comment-form" v-show="wantToComment">
            <form v-on:submit.prevent="commentBook()">
              <div class="form-group" :class="{'has-error': validation.hasError('comment.name'), 'has-success': validation.isPassed('comment.name')}">
                <label for="name">Nome</label>
                <input type="text" name="name" v-model="comment.name" class="form-control" id="name">
                <span class="help-block">{{ validation.firstError('comment.name') }}</span>
              </div>
              <div class="form-group" :class="{'has-error': validation.hasError('comment.email'), 'has-success': validation.isPassed('comment.email')}">
                <label for="email">Email</label>
                <input type="email" name="email" v-model="comment.email" class="form-control" id="email">
                <span class="help-block">{{ validation.firstError('comment.email') }}</span>
              </div>
              <div class="form-group" :class="{'has-error': validation.hasError('comment.text'), 'has-success': validation.isPassed('comment.text')}">
                <label for="text">Texto</label>
                <textarea class="form-control" name="text" v-model="comment.text" id="text" cols="30" rows="10"></textarea>
                <span class="help-block">{{ validation.firstError('comment.text') }}</span>
              </div>
              <button type="submit" v-bind:disabled="formLoading" class="btn btn-primary">Comentar!</button>
              <button type="reset" class="btn btn-danger">Limpar!</button>
            </form>
          </div>
        </transition>
        <div class="comments-container" v-if="book.comments.length > 0">
          <div class="comment" v-for="comment in book.comments">
            <div class="media">
              <div class="media-body">
                <h3 class="media-heading">{{ comment.name | decodeHTML }}</h3>
                <p class="email-date">
                  <span class="glyphicon glyphicon-time date"></span> {{ comment.created_at | readableDate }}
                  <span class="email" v-if="user && user.role == 'Administrador'"><span class="glyphicon glyphicon-envelope"></span> {{ comment.email }}</span>
                </p>
                <div class="body">
                  <p class="text">{{ comment.text | decodeHTML }}</p>
                  <button class="btn btn-xs btn-danger delete-comment-desktop" v-bind:disabled="formLoading" v-on:click="deleteComment(comment.id)" v-if="user && user.role == 'Administrador'">Eliminar!</button>
                </div>
                <button class="btn btn-danger delete-comment-mobile" v-bind:disabled="formLoading" v-on:click="deleteComment(comment.id)" v-if="user && user.role == 'Administrador'">Eliminar!</button>
              </div>
            </div>
          </div>
          <p v-if="book.comments.length == 0" class="no-comments">Sem Comentários Disponíveis!</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  import S from 'string'
  import moment from 'moment'
  import SimpleVueValidation from 'simple-vue-validator'

  let Validator = SimpleVueValidation.Validator
  
  export default {
    name: 'single-book',
    props: ['book', 'user'],
    created() {
      return this.$store.commit('currentBook', this.book)
    },
    data() {
      return {
        formLoading: false,
        deleted: false,
        wantToComment: false,
        comment: {
          name: '',
          email: '',
          text: ''
        }
      }
    },
    validators: {
      'comment.name': function(value) {
        return Validator.value(value).required().minLength(3)
      },
      'comment.email': function(value) {
        return Validator.value(value).required().email()
      },
      'comment.text': function(value) {
        return Validator.value(value).required().minLength(10)
      }
    },
    computed: {
      getToken() {
        return this.$store.state.token
      }
    },
    filters: {
      decodeHTML(data) {
        return S(data).decodeHtmlEntities().toString();
      },
      readableDate(date) {
        return moment(date).format("D-MMM-YY HH:mm")
      },
      currency(price) {
        return price.toFixed(2)
      }
    },
    methods: {
      windowLink(slug) {
        return window.location.origin + slug
      },
      share() {
          return this.$store.commit('changeModal', {
              type: 'social',
              active: true,
              data: {
                link: '',
                youtube: false
              }
          })
      },
      deleteBook(id) {

        this.formLoading = true

        let confirmation = prompt("Eliminar Livro? Escreva 'Sim' para confirmar.")

        if(confirmation == 'Sim') {

          let formData = {
            id: id,
            csrf_name: this.getToken.csrf_name,
            csrf_value: this.getToken.csrf_value 
          }

          this.$http.post("/books/book/delete", formData).then(response => {

            let data = response.data

            this.$store.commit('changeToken', data.token)

            this.formLoading = false

            if(data.errors) {

              return this.$store.commit('addNotification', {
                type: 'error',
                message: data.errors[0],
                autoClear: false
              });

            } else {

              if(data.status == 200) {

                this.deleted = true

                return this.$store.commit('addNotification', {
                  type: 'success',
                  message: 'Livro Eliminado!',
                  autoClear: true
                })

              }   

            }

          }, error => {

            this.formLoading = false

            this.$store.commit('changeToken', error.token)

            return this.$store.commit('addNotification', {
              type: 'error',
              message: error.message,
              autoClear: true
            })

          })       

        }

        this.formLoading = false

        return this.$store.commit('addNotification', {
          type: 'info',
          message: 'Acção Cancelada!',
          autoClear: true
        })

      },
      modal(type, data) {
        return this.$store.commit('changeModal', {
          type: type,
          data: data,
          active: true
        })
      },
      clear() {
        this.validation.reset()
        this.comment.name = ''
        this.comment.email = ''
        return this.comment.text = ''
      },
      commentBook() {

        this.formLoading = true

        this.$validate().then(success => {

          if(success) {

            let formData = {
              name: this.comment.name,
              email: this.comment.email,
              text: this.comment.text,
              book_id: this.book.id,
              csrf_name: this.getToken.csrf_name,
              csrf_value: this.getToken.csrf_value
            }

            this.$http.post('/comments/book/add', formData).then(response => {

              this.formLoading = false

              let data = response.data

              // Update Token in State
              this.$store.commit('changeToken', data.token)

              if(data.errors) {

                return this.$store.commit('addNotification', {
                  type: 'error',
                  message: data.errors[0],
                  autoClear: false
                })
              
              } else {

                this.clear()

                // Update comments state
                this.$store.commit('addBookComment', data.comment)

                // Add message
                return this.$store.commit('addNotification', {
                  type: 'success',
                  message: data.message,
                  autoClear: true
                })

              }

            }, error => {

              this.formLoading = false

              // Update Token in State
              this.$store.commit('changeToken', error.token)

              return this.$store.commit('addNotification', {
                type: 'error',
                message: error.message,
                autoClear: false
              })

            })
          }

          return this.formLoading = false

        }).catch(error => {

          this.formLoading = false

          return this.$store.commit('addNotification', {
            type: 'error',
            message: 'Oopss! Alguma coisa correu mal. Por favor tente mais tarde.',
            autoClear: false
          })

        })

      },
      deleteComment(id) {

        let confirmation = prompt("Eliminar comentário? Escreva 'Sim' para confirmar.")

        if(confirmation == 'Sim') {

          this.formLoading = true

          if(id.length != 0) {

            let formData = {
              id: id,
              csrf_name: this.getToken.csrf_name,
              csrf_value: this.getToken.csrf_value
            }

            this.$http.post('/comments/book/remove', formData).then(response => {

              this.formLoading = false

              let data = response.data

              // Update Token in State
              this.$store.commit('changeToken', data.token)

              if(data.errors) {
                
                return this.$store.commit('addNotification', {
                  type: 'error',
                  message: data.errors[0],
                  autoClear: false
                })
              
              } else {

                // Update comments state
                this.$store.commit('removeBookComment', {
                  id: id
                })

                // Add message
                return this.$store.commit('addNotification', {
                  type: 'success',
                  message: data.message,
                  autoClear: true
                })

              }

            }, error => {

              this.formLoading = false

              // Update Token in State
              this.$store.commit('changeToken', error.token)

              return this.$store.commit('addNotification', {
                type: 'error',
                message: error.message,
                autoClear: false
              })

            })

          }

          this.formLoading = false

          return this.$store.commit('addNotification', {
            type: 'error',
            message: 'Oopss! Alguma coisa correu mal. Por favor tente mais tarde.',
            autoClear: false
          })

        }

      },
      getRating(book) {

        if(book.likes.length > 0) {
          
          let ratingsTotal = book.likes.reduce((acc , like) => {
              return acc + like.rating
          }, 0)

          let avg = (ratingsTotal / book.likes.length).toFixed(0)
          let i = 0

          return avg

        } else {
          return 0
        }
      },
      setRating(avg) {
        if(avg == 0) {
          return `<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 1) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 2) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 3) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 4) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 5) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>`
        }
      },
      likeBook(id) {

        let userInput = prompt("De 1 a 5 como classifica este livro?")
        let rating = Validator.value(userInput).integer().between(1, 5).required()

        if(rating._messages.length > 0) {
          return this.$store.commit('addNotification', {
            type: 'error',
            message: rating._messages[0],
            autoClear: false
          })
        } else {

          let ratingValue = parseInt(rating._value)

          let formData = {
            id: id,
            rating: ratingValue,
            csrf_name: this.getToken.csrf_name,
            csrf_value: this.getToken.csrf_value
          }

          if(id.length != 0) {

            this.$http.post("/likes/book/like", formData).then(response => {

              let data = response.data

              // Update Token in State
              this.$store.commit('changeToken', data.token)

              if(data.errors) {
                return this.$store.commit('addNotification', {
                  type: 'error',
                  message: data.errors[0],
                  autoClear: false
                })
              } else {

                // Add like to article in State
                this.$store.commit('addBookLike', data.like)

                return this.$store.commit('addNotification', {
                  type: 'success',
                  message: data.message,
                  autoClear: true
                })
              }

            }, error => {

              return this.$store.commit('addNotification', {
                type: 'error',
                message: error.message,
                autoClear: false
              })

            })

          }

          return this.$store.commit('addNotification', {
            type: 'error',
            message: 'Oopss! Alguma coisa correu mal. Por favor tente mais tarde.',
            autoClear: false
          })

        }

      }
    }
  }

</script>

<style lang="sass" scoped>

  .book
    border-bottom: 3px solid black
    margin-bottom: 20px
    padding: 40px 0 !important
    color: black

    .header
      display: flex
      justify-content: space-between
      align-items: center
      border-bottom: 5px solid black
      padding-bottom: 40px
      margin-bottom: 40px

      h1
        margin: 0

      @media (max-width: 460px)
        flex-direction: column
        align-items: 
        
        h1
          margin: 0 0 10px

      span
        font-size: 1.5rem

    .body
      display: flex

      @media (max-width: 690px)
        flex-direction: column

        .button-group
          margin-top: 20px

      .cover
        flex: 1

        .cover-container
          position: relative

          img
            width: 100%
            min-width: 300px

          .price
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            padding: 10px
            background: black
            color: white
            opacity: .85
            font-weight: bold
            font-size: 1.5rem
            text-align: center

        .button-group
          text-align: center
          margin-top: 10px

          .btn-primary
            width: 50%
          
          .btn-danger
            width: 48%
        
        .buy-button
          width: 100%
          margin-top: 10px

      .synopsis
        flex: 2
        padding-left: 20px
        display: flex
        flex-direction: column

        @media (max-width: 690px)
          align-items: center
          margin-top: 20px
          padding-left: 0
          text-align: center

          .social
            margin-top: 20px

        p
          flex: 1

        .date
          flex: 0
        
        h3
          margin: 0 0 10px 0;
          text-decoration: underline;

  .comments
    color: black

    @media (max-width: 690px)
      margin-top: 20px

    .comment-form
      margin-top: 20px
      border: 5px solid gainsboro;
      padding: 20px;
      margin-top: 20px;
      z-index: 10000;

      @media (max-width: 690px)
        
        button[type="submit"]
          width: 50%

        button[type="reset"]
          width: 48%
      

    .header
      display: flex
      align-items: center

      @media (max-width: 690px)
        flex-direction: column

        button
          margin-top: 20px
      
      h1
        margin: 0 0 0 10px
        flex: 1

      .glyphicon
        font-size: 2rem
        order: -1

      @media (max-width: 690px)
        justify-content: center

        .glyphicon
          display: block
          font-size: 4rem
        
        h1
          display: none

    .comments-container
      
      .comment
        margin-top: 20px
        background: aliceblue
        padding: 20px
        position: relative

        .delete-comment-desktop
          position: absolute
          top: 20px
          right: 20px
          display: none

          @media (min-width: 690px)
            display: block

        .delete-comment-mobile
          display: block
          margin: 20px auto 0

          @media (min-width: 690px)
            display: none
          
          button
            margin-top: 10px

        .media-body

          .media-heading
            margin-bottom: 10px

          .email-date
            font-weight: 700
            color: #8198b3

            .email
              margin-left: 10px
              border-left: 3px solid #8198b3
              padding-left: 15px

        @media (max-width: 690px)
          margin-top: 40px

      .no-comments
        margin-top: 40px
        font-weight: 700
        color: silver
        font-size: 1.3rem


      @media (max-width: 690px)
        
        .no-comments
          text-align: center
    
</style>