<template>
  <transition name="slideUp">
    <div id="create-book">
      <form v-on:submit.prevent="create_book()">
        <div class="form-group" :class="{'has-error': validation.hasError('title'), 'has-success': validation.isPassed('title')}">
          <label for="title">Título</label>
          <input type="text" title="title" v-model="title" class="form-control" id="title">
          <span class="help-block">{{ validation.firstError('title') }}</span>
        </div>
        <div class="form-group" :class="{'has-error': validation.hasError('author'), 'has-success': validation.isPassed('author')}">
          <label for="author">Autor</label>
          <input type="text" name="author" v-model="author" class="form-control" id="author">
          <span class="help-block">{{ validation.firstError('author') }}</span>
        </div>
        <div class="form-group" :class="{'has-error': validation.hasError('image'), 'has-success': validation.isPassed('image')}">
          <label for="image">Capa</label>
          <input type="text" name="image" v-model="image" class="form-control" id="image">
          <span class="help-block">{{ validation.firstError('image') }}</span>
        </div>
        <div class="form-group" :class="{'has-error': validation.hasError('summary'), 'has-success': validation.isPassed('summary')}">
          <label for="summary">Resumo</label>
          <textarea class="form-control" name="summary" v-model="summary" id="summary" cols="30" rows="5"></textarea>
          <span class="help-block">{{ validation.firstError('summary') }}</span>
        </div>
        <div class="form-group" :class="{'has-error': validation.hasError('price'), 'has-success': validation.isPassed('price')}">
          <label for="price">Preço</label>
          <input type="text" name="price" v-model="price" class="form-control" id="price">
          <span class="help-block">{{ validation.firstError('price') }}</span>
        </div>
        <div class="form-group" :class="{'has-error': validation.hasError('buy'), 'has-success': validation.isPassed('buy')}">
          <label for="buy">Link Da Editora</label>
          <input type="url" name="buy" v-model="buy" class="form-control" id="buy">
          <span class="help-block">{{ validation.firstError('buy') }}</span>
        </div>
        <button type="submit" v-bind:disabled="formLoading" class="btn btn-primary">Criar</button>
        <button type="reset" class="btn btn-danger">Limpar</button>
      </form>
    </div>
  </transition>
</template>

<script>
  
  import SimpleVueValidation from 'simple-vue-validator'

  let Validator = SimpleVueValidation.Validator

  export default {
    name: 'create-book',
    computed: {
      getToken() {
        return this.$store.state.token
      }
    },
    data() {
      return {
        title: '',
        author: '',
        image: '',
        summary: '',
        price: '',
        buy: '',
        formLoading: false
      }
    },
    validators: {
      title(value) {
        return Validator.value(value).required().minLength(3)
      },
      author(value) {
        return Validator.value(value).required().minLength(3)
      },
      image(value) {
        return Validator.value(value).required()
      },
      buy(value) {
        return Validator.value(value).required().url()
      },
      summary(value) {
        return Validator.value(value).required().minLength(10).maxLength(2000)
      },
      price(value) {
        return Validator.value(value).required().float()
      }
    },
    methods: {
      clear() {
        this.title = ''
        this.author = ''
        this.image = ''
        this.price = ''
        this.summary = ''
        this.buy = ''
        this.validation.reset()
      },
      create_book() {

        this.formLoading = true

        this.$validate().then(success => {

          if(success) {

            let formData = {
              title: this.title,
              author: this.author,
              image: this.image,
              summary: this.summary,
              price: this.price,
              buy: this.buy,
              csrf_name: this.getToken.csrf_name,
              csrf_value: this.getToken.csrf_value
            }

            this.$http.post('/books/book/add', formData).then(response => {

              this.formLoading = false

              let data = response.data

              // Update Token in State
              this.$store.commit('changeToken', data.token)

              if(data.errors) {

                return this.$store.commit('addNotification', {
                  type: 'error',
                  message: data.errors[0],
                  autoClear: false
                });

              } else {

                this.clear()

                // Add message
                this.$store.commit('addNotification', {
                  type: 'success',
                  message: data.message,
                  autoClear: true
                })

              }

            }, error => {

              this.formLoading = false

              return this.$store.commit('addNotification', {
                type: 'error',
                message: error.message,
                autoClear: false
              })

            })

          }

          return this.formLoading = false

        }).catch(error => {

          this.formLoading = false
        
          return this.$store.commit('addNotification', {
            type: 'error',
            message: 'Oopss! Alguma coisa correu mal. Por favor tente mais tarde.',
            autoClear: false
          });

        })

      }
    }
  }

</script>

<style lang="sass" scoped>

  form
    border: 5px solid gainsboro
    border-radius: 4px
    padding: 20px
    margin-top: 20px

</style>