<template>
  <transition name="slideUp">
    <div id="add-video">
      <form v-on:submit.prevent="add_video()">
        <div class="form-group" :class="{'has-error': validation.hasError('title'), 'has-success': validation.isPassed('title')}">
          <label for="title">Título</label>
          <input type="text" title="title" v-model="title" class="form-control" id="title">
          <span class="help-block">{{ validation.firstError('title') }}</span>
        </div>
        <div class="form-group" :class="{'has-error': validation.hasError('link'), 'has-success': validation.isPassed('link')}">
          <label for="link">Código do Vídeo</label>
          <input type="text" name="link" v-model="link" class="form-control" id="link">
          <span class="help-block">{{ validation.firstError('link') }}</span>
        </div>
        <button type="submit" v-bind:disabled="formLoading" class="btn btn-primary">Criar</button>
        <button type="reset" class="btn btn-danger">Limpar</button>
      </form>
    </div>
  </transition>
</template>

<script>

    import SimpleVueValidation from 'simple-vue-validator'

    let Validator = SimpleVueValidation.Validator

    export default {
        name: 'add-video',
        computed: {
            getToken() {
                return this.$store.state.token
            }
        },
        data() {
            return {
                title: '',
                link: '',
                formLoading: false
            }
        },
        validators: {
            title(value) {
                return Validator.value(value).required().minLength(3)
            },
            link(value) {
                return Validator.value(value).required()
            }
        },
        methods: {
            clear() {
                this.title = ''
                this.link = ''
                this.validation.reset()
            },
            add_video() {

                this.formLoading = true

                this.$validate().then(success => {

                    if(success) {

                        let formData = {
                        title: this.title,
                        link: this.link,
                        csrf_name: this.getToken.csrf_name,
                        csrf_value: this.getToken.csrf_value
                        }

                        this.$http.post('/videos/video/add', formData).then(response => {

                        this.formLoading = false

                        let data = response.data

                        // Update Token in State
                        this.$store.commit('changeToken', data.token)

                        if(data.errors) {

                            return this.$store.commit('addNotification', {
                            type: 'error',
                            message: data.errors[0],
                            autoClear: false
                            });

                        } else {

                            this.clear()

                            // Add message
                            this.$store.commit('addNotification', {
                            type: 'success',
                            message: data.message,
                            autoClear: true
                            })

                        }

                        }).catch(error => {

                        this.formLoading = false

                        return this.$store.commit('addNotification', {
                            type: 'error',
                            message: error.message,
                            autoClear: false
                        })

                        })

                    }

                    return this.formLoading = false

                }).catch(error => {

                    this.formLoading = false
                    
                    return this.$store.commit('addNotification', {
                        type: 'error',
                        message: 'Oopss! Alguma coisa correu mal. Por favor tente mais tarde.',
                        autoClear: false
                    });

                })

            }
        }
    }
</script>

<style lang="sass" scoped>

    form
        border: 5px solid gainsboro
        border-radius: 4px
        padding: 20px
        margin-top: 20px

</style>

