<template>
    <div class="videos">
        <div class="row">
            <div class="col-xs-12 header">
                <h1>Vídeos</h1>
            </div>
        </div>
        <div class="row">
            <ul class="clearfix" v-if="videos.length > 0">
                <li class="col-xs-12 col-md-6" v-for="video in videos" v-bind:key="video.id" v-bind:id="'video-' + video.id">
                    <div class="video-header">
                        <h3>{{ video.title | decodeHTML }}</h3>
                        <p><span class="glyphicon glyphicon-time"></span> Adicionado em {{ video.created_at | readableDate }}</p>
                    </div>
                    <div class="video-box embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" frameborder="0" v-bind:src="video.link" allowfullscreen></iframe>
                    </div>
                    <div class="video-manager">
                        <div class="admin" v-if="user && user.role == 'Administrador'">
                            <button class="btn btn-primary" v-on:click="modal('edit_video', { id: video.id })">Editar!</button>
                            <button class="btn btn-danger" v-on:click="deleteVideo(video.id)">Eliminar!</button>
                        </div>
                        <div class="social">
                            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-height="34" data-size="large" data-show-faces="false" data-share="false"></div>
                            <button class="btn btn-primary share-button" v-on:click="share(video.link)">Partilhar!</button>
                        </div>
                    </div>
                    <span class="glyphicon glyphicon-lamp dimmer" v-on:click="dim()"></span>
                </li>
            </ul>
            <p v-if="videos.length == 0">Sem vídeos disponíveis!</p>
        </div>
    </div>
</template>

<script>

    import moment from 'moment'
    import S from 'string'

    export default {
        name: 'videos',
        props: ['videos', 'user'],
        data() {
            return {
                dimmed: false
            }
        },
        computed: {
            getToken() {
                return this.$store.state.token
            }
        },
        filters: {
            readableDate(date) {
                return moment(date).format("D-MMM-YY HH:mm")
            },
            decodeHTML(data) {
                return S(data).decodeHtmlEntities().toString();
            }
        },
        methods: {
            dim() {

                if(this.dimmed) {

                    let body = document.body.style.backgroundColor = 'white'

                    return this.dimmed = false
                
                } else {

                    let body = document.body.style.backgroundColor = '#232323'

                    return this.dimmed = true
                }                

            },
            modal(type, data) {
                return this.$store.commit('changeModal', {
                    type: type,
                    active: true,
                    data: data
                })
            },
            share(link) {
                return this.$store.commit('changeModal', {
                    type: 'social',
                    active: true,
                    data: {
                        link: link,
                        youtube: true
                    }
                })
            },
            deleteVideo(id, index) {

                this.formLoading = true

                let confirmation = prompt("Eliminar Video? Escreva 'Sim' para confirmar.")

                if(confirmation == 'Sim') {

                    let formData = {
                        id: id,
                        csrf_name: this.getToken.csrf_name,
                        csrf_value: this.getToken.csrf_value 
                    }

                    this.$http.post("/videos/video/delete", formData).then(response => {

                        let data = response.data

                        this.$store.commit('changeToken', data.token)

                        this.formLoading = false

                        if(data.errors) {

                            return this.$store.commit('addNotification', {
                                type: 'error',
                                message: data.errors[0],
                                autoClear: false
                            })

                        } else {

                            if(data.status == 200) {

                                let video = document.getElementById('video-' + id).remove()

                                this.$store.commit('deleteVideo', {
                                    id: id
                                })

                                return this.$store.commit('addNotification', {
                                    type: 'success',
                                    message: 'Video Eliminado!',
                                    autoClear: true
                                })

                            }   

                        }

                    }, error => {

                        this.formLoading = false

                        this.$store.commit('changeToken', error.token)

                        return this.$store.commit('addNotification', {
                            type: 'error',
                            message: error.message,
                            autoClear: true
                        })

                    })       

                }

                this.formLoading = false

                return this.$store.commit('addNotification', {
                    type: 'info',
                    message: 'Acção Cancelada!',
                    autoClear: true
                })

            }
        }
    }
</script>

<style lang="sass" scoped>

.header
    border-bottom: 5px solid black
    margin-bottom: 40px
    padding-bottom: 20px
    display: flex
    justify-content: space-between

    h1
        color: black
        margin: 0

    @media (max-width: 768px)
        text-align: center
        flex-direction: column
        align-items: center

        h1
            margin-bottom: 20px

ul
    list-style: none
    padding-left: 0

    li
        margin-bottom: 40px
        position: relative

        .dimmer
            position: absolute
            right: 10px
            top: 30px
            font-size: 1.5rem
            color: silver
            &:hover
                cursor: pointer

        .video-manager
            margin-top: 10px
            display: flex
            justify-content: space-between
            flex-direction: column

            .social
                width: 100%
                justify-content: center

                .share-button
                    margin-left: 60px !important


            .admin
                width: 100%
                text-align: center
                margin-bottom: 10px

                button
                    width: 200px

                @media (max-width: 950px)
                    button:first-child
                        margin-bottom: 10px

                @media (max-width: 768px)
                    button:first-child
                        margin-bottom: 0

                @media (max-width: 510px)
                    button
                        width: 100%
                        display: block

                    button:first-child
                        margin-bottom: 10px
                        

            @media (min-width: 1170px)
                flex-direction: row

                .social
                    width: auto
                    text-align: right

                .admin
                    width: auto
                    text-align: left
                    margin: 0
                    
                    button
                        width: auto

        .video-box
            margin-top: 10px

        .video-header
            p
                display: block
                color: silver
                margin: 0

            @media (max-width: 768px)
                text-align: center

            h3
                display: block
                color: black



</style>

