#archive
{
  .header
  {
    border-bottom: 5px solid black;
    margin-bottom: 40px;
    padding-bottom: 20px;
    
    h1
    {
      margin: 0;
      color: black;

      @media (max-width: 460px)
      {
        margin-bottom: 20px;
      }

    }

    @media (max-width: 525px)
    {
      text-align: center;
    }

  }

  .listing
  {
    .item
    {
      text-align: center;

      h2
      {
        color: black;
        text-decoration: underline;
      }

      .sub-item
      {
        @media (min-width: 521px)
        {
          button
          {
            width: 50%;
            margin-bottom: 20px;
          }
        }

        @media (max-width: 520px)
        {
          button
          {
            width: 100%;
            margin-bottom: 20px;
          }
        }

        @media (min-width: 769px)
        {
          button
          {
            width: 100%;
            margin-bottom: 20px;
          }
        }
      }

    }
  }

}