.bio
{

  h1, h3,
  p,
  span
  {
    color: black;
  }

  .header
  {
    border-bottom: 5px solid black;
    margin-bottom: 40px;
    padding-bottom: 20px;
    
    h1
    {
      margin: 0;

      @media (max-width: 460px)
      {
        margin-bottom: 20px;
      }

    }

    @media (max-width: 525px)
    {
      text-align: center;
    }

  }

  .main-bio
  {
    display: flex;
    margin-bottom: 40px;

    h3
    {
      text-decoration: underline;
      text-transform: uppercase;
    }

    .image-container
    {
      flex: 1;
    
      p
      {
        padding: 10px 0 0 0;
      }

      .image
      {
        position: relative;
        width: 100%;

        img
        {
          width: 100%;
        }

        .copy
        {
          position: absolute;
          bottom: 10px;
          padding: 0;
          margin: 0;
          left: 10px;
          color: white;
          font-weight: 700;
        }

        @media (max-width: 790px)
        {
          width: 65%;
          margin: 0 auto;
        }

        @media (max-width: 525px)
        {
          width: 100%;
        }

      }

    }

    .text-container
    {
      padding-left: 20px;
      flex: 2;

      .contacts
      {
        margin-bottom: 20px;
        border-bottom: 5px solid black;
        padding-bottom: 20px;

        p
        { 
          display: block;
          margin: 0;

          span
          {
            vertical-align: bottom;
          }
      
        }
      }

      @media (max-width: 790px)
      {
        padding-left: 0;
        text-align: center;
      }

    }

    @media (max-width: 790px)
    {
      flex-direction: column;
    }
  
  }

  .cronology
  {

    h3
    {
      text-decoration: underline;
      text-transform: uppercase;
    }

    .media-object
    {
      width: 128px;
    }

    .box
    {
      border: 5px solid black;
      padding: 20px;
      
      @media (max-width: 768px)
      {
        display: flex;
        flex-direction: column;

        .media-object,
        .media-body
        {
          width: 100%;
          text-align: center;
        }

        .media-body
        {
          margin: 20px 0 0 0;

          p
          {
            margin: 10px 0 0 0;
          }

        }

      }

      @media (max-width: 360px)
      {
        border: none;
        border-bottom: 5px solid black;
      }

      @media (max-width: 1200px)
      {
        margin-bottom: 20px;
      }

    }

    @media (min-width: 1200px)
    {
      margin-bottom: 40px;
    }

    @media (max-width: 360px)
    {
      margin-bottom: 0;
    }

  }

}