#footer
{
  width: 95%;
  margin: 50px auto;
  padding-top: 50px;
  display: none;

  .main-footer
  {
    display: flex;
    justify-content: space-between;

    .separator
    {
      width: 20px;
      border: none;

      @media (max-width: 960px)
      {
        display: none;
      }

      @media (max-width: 768px)
      {
        display: block;
        width: 0%;
        height: 20px;
      }

    }

    .navigation,
    .social-links,
    .disclaimer
    {
      padding: 20px;
      flex: 1;
      color: black;
      text-align: center;

      h3
      {
        margin: 0 0 20px 0;
        background: black;
        color: white;
        padding: 10px 20px;
      }

      ul
      {
        padding: 0;
        list-style: none;

        li
        {
          margin-bottom: 10px;
        }

        a
        {
          font-size: 1.2rem;
          font-weight: 700;
        }

        @media (max-width: 768px)
        {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 55px;
          padding: 0 20px;
        }

         @media (max-width: 550px)
        {
          flex-direction: column;
          align-items: center;

          li
          {
            margin-bottom: 10px;
            font-size: 1.5rem;
          }

        }

      }

    }

    .navigation
    {
      padding-left: 0;

      @media (max-width: 768px)
      {
        padding-right: 0;
        padding-top: 0;
      }
    }

    .disclaimer
    {
      padding-right: 0;
      font-weight: 700;

      p
      {
        padding: 0 10px;
      }

      @media (max-width: 768px)
      {
        padding-left: 0;
      }

    }

    .social-links
    {
      padding-left: 0;
      padding-right: 0;

      .image-container
      {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;

        img
        {
          width: 32px;
          height: 32px;
        }

        @media (max-width: 768px)
        {
          margin-top: 55px;
          padding: 0 20px;
        }

      }

      @media (max-width: 768px)
      {
        align-items: center;
      }

    }

    @media (max-width: 768px)
    {
      flex-direction: column;
      border: 5px solid black;
    }

  }

  @media (max-width: 768px)
  {
    margin-top: 0;
  }

  @media (max-width: 460px)
  {
    width: 95%;
  }

}
