#home
{
  h1
  {
    color: black;
    border-bottom: 5px solid black;
    padding-bottom: 20px;
    text-align: center;
  }

  .more-collab
  {
    margin: 25px 0;
    text-align: center;

    span
    {
      font-size: 3rem;
      color: silver;
      transition: all 300ms ease-in-out;
      margin: 20px 0 0 0;
      &:hover {
        color: black;
        cursor: pointer;
      }
    }

    @media (max-width: 768px)
    {
      display: none;
    }

  }

  .content-container
  {
    display: flex;

    .anchor
    {
      background: black;
      color: white;
      padding: 10px;
      margin: 0;
      font-size: 1.7rem;

      @media (max-width: 768px)
      {
        background: white;
        color: black;
        font-size: 2.5rem;
        border: 5px solid black;
      }
    }

    .ql-editor
    {
      min-height: auto;
    }

    @media (max-width: 768px)
    {
      flex-direction: column
    }

    .col-sm-9
    {
      border-left: 0;
    }

    .side-left
    {
      color: black;

      .collab
      {
        margin-top: 20px;
        position: relative;
        padding-bottom: 20px;

        .header
        {
          margin-bottom: 10px;

          h3
          {
            text-decoration: underline;
            font-size: 2.5rem;

            @media (max-width: 460px)
            {
              font-size: 2rem;
            }

          }
        }

        .body
        {
          z-index: 10;
        }

        .footer
        {
          text-align: center;

          a
          {
            width: 100%;
            margin-top: 10px;
          }

          @media (max-width: 768px)
          {
            a
            {
              box-shadow: none;
            }
          }

        }

        @media (max-width: 768px)
        {
          margin-bottom: 20px;
          border-bottom: 0;
        }

      }

      @media (max-width: 768px)
      {
        text-align: center;
        margin: 50px 0 15px;
        width: 100%;
      }

    }

    .main
    {
      border-left: 5px solid black;
      border-right: 5px solid black;

      .article-container
      {
        padding: 0;

        .article
        {
          border-bottom: 5px solid black;
          color: black;
          margin-bottom: 40px;
          padding-bottom: 10px;
          &:last-child {
            border-bottom: none !important;
            margin-bottom: 0;
          }

          .header
          {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3
            {
              margin: 0;
              background: black;
              color: white;
              padding: 5px 10px;
            }

            span
            {
              font-size: 1.1rem;
            }

          }

          .title
          {
            h1
            {
              text-align: left;
              border: none;
              text-decoration: underline;
              margin: 50px 0 0 0;
              font-size: 3.5rem;

              @media (max-width: 460px)
              {
                font-size: 3rem;
                text-align: center;
              }

            }

            p
            {
              color: gray;
              margin: 0;
            }

          }

          .body
          {
            margin: 45px 0 15px;

            .article-link
            {
              margin: -40px 0 0;
              text-align: center;
            }

          }

        }
      }

      .no-content
      {
        color: black;
        margin: 0;
        text-align: center;
        text-decoration: underline;
      }

      @media (max-width: 768px)
      {
        border-right: 0;
        border-left: 0;
        border-bottom: 5px solid black;
        order: -1;
        padding-bottom: 40px;
        width: 100%;
      }

    }

    .side-right
    {
      color: black;

      .books-container
      {
        display: flex;
        flex-direction: column;

        .book
        {
          margin-top: 20px;
          position: relative;

          img
          {
            max-width: 100%;
            min-height: 100%;
          }

          .price
          {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            background: black;
            opacity: .8;
            color: white;
            padding: 10px;
            font-size: 1.2rem;
            font-weight: 700;

            @media (max-width: 845px)
            {
              font-size: 1rem;
              padding: 5px;
            }

            @media (max-width: 400px)
            {
              font-size: 1.3rem;
              padding: 10px;
            }
          }

        }

        @media (max-width: 768px)
        {
          flex-direction: row;

          .book
          {
            flex: 1;
            margin-right: 10px;
            &:last-child {
              margin-right: 0;
            }
          }

        }

        @media (max-width: 400px)
        {
          flex-direction: column;

          .book
          {
            margin-right: 0;
          }

        }

      }

      .videos
      {
        margin-top: 60px;

        .video
        {
          margin-top: 20px;

          @media (max-width: 768px)
          {
            margin-top: 40px;
          }

          h4
          {
            text-decoration: underline;
          }
        }

      }

      .no-books,
      .no-videos
      {
        margin-top: 15px;
        text-align: center;
        font-weight: 700;
        font-size: 1.2rem;
      }

      .counter
      {
        border: 5px solid black;
        margin-top: 40px;

        .counter-title
        {
          margin: 0;
          border: 0;
          font-size: 2rem;
          background: black;
          color: ghostwhite;
          padding: 10px 5px;

          span
          {
            vertical-align: top;
          }

        }

        .counter-total
        {
          margin: 0px 0 0 0;
          text-decoration: underline;
          border-bottom: 0;
          font-size: 3.5rem;
          padding: 10px 10px 20px 10px;

          span
          {
            margin-top: 20px;
            font-size: 3rem;
          }

        }

        @media (max-width: 768px)
        {
          margin-top: 50px
        }

      }

      @media (max-width: 768px)
      {
        padding-top: 55px;
        width: 100%;
      }
    }
  }

  .no-border-left
  {
    border-left: none !important;
  }

}