#navbar
{

  .open > a, .active > a
  {
    background: black;
    color: white !important;
  }

  .navbar
  {
    margin-bottom: 0;
    border: none;
    background: white;
    background: white;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px #a5a5a5;

    .navbar-brand
    {
      padding: 0 20px 0 0;

      @media (max-width: 768px)
      {
        padding-left: 20px;

        img
        {
          padding-bottom: 5px;
        }
      }

      img
      {
        max-width: 100%;
        height: 100%;
      }
    }

    .collapse
    {
      overflow-x: hidden;
    }

    @media (max-width: 768px)
    {
      padding: 15px 0;
    }

    .navbar-right
    {
      margin-left: 20px;

      @media (max-width: 768px)
      {
        margin-left: 10px;
        margin-right: 15px;
      }

      .navbar-text
      {
        margin: 10px 0;

        .search-icon
        {
          font-size: 1.5rem;
          color: silver;
          transition: all 300ms ease-in-out;
          &:hover {
            color: black;
            cursor: pointer;
          }
        }

        @media (min-width: 787px)
        {
          margin: 10px 20px 0 20px;
        }

        @media (max-width: 767px)
        {
          margin: 0;
          text-align: center;

          .search-icon
          {
            font-size: 1.5rem;
            background: black;
            color: white;
            padding: 20px;
            &:hover {
              background: white;
              cursor: pointer;
            }
          }
        }

      }

    }

    .navbar-toggle
    {
      background: white;
      border: 2px solid black;
      transition: all 300ms ease-in-out;
      &:hover {
        background: black;
        
        .icon-bar
        {
          background: white;
        }

      }

      .icon-bar
      {
        background: black;
        height: 1px;
      }

    }

    a
    {
      font-size: 1.0rem;
      text-transform: uppercase;
      font-weight: 700;
      color: black;
    }

    form
    {
      padding: 0;
      margin-right: 0;

      .forget-link
      {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
      }

      @media (max-width: 970px)
      {
        width: 100%;
        margin-top: 20px;

        .form-group,
        input
        {
          width: 100%;
        }

      }

      @media (max-width: 767px)
      {
        width: auto;
        padding: 20px;
        margin-right: -15px;

        button
        {
          width: 100% !important;
        }


      }

      input
      {
        width: 100%;
      }
    
    }

  }

}