.notificator
{
  position: fixed;
  bottom: -1px;
  left: 0;
  z-index: 1000000;
  width: 100%;
  box-shadow: 0 0 20px 0px #a5a5a5;

  .alert
  {
    border-radius: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;

    .icon
    {
      background: white;
      padding: 5px;
      font-size: 2rem;
      border-radius: 5px;
    }

    .close
    {
      margin-top: -5px;
      font-size: 2rem;
      opacity: 1;
      color: white;
      &:focus {
        outline: none;
      }
    }

    p
    {
      color: white;
      margin: 0;
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 700;
    }

  }

  .alert-danger
  {
    background: #f43c3c;

    .icon
    {
      color: darken(#f43c3c, 20%);
    }

  }

  .alert-success
  {
    background: #4caf50;

    .icon
    {
      color: darken(#4caf50, 20%);
    }

  }

  .alert-info
  {
    background: #1976D2;

    .icon
    {
      color: darken(#1976D2, 20%);
    }

  }

}