.fade-enter-active, .fade-leave-active 
{
  transition: opacity .45s
}

.fade-enter, .fade-leave-to
{
  opacity: 0
}

// Credits - Animate CSS (https://github.com/daneden/animate.css)
@keyframes slideInDown {
  from {
    transform: translate3d(0, -30%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideDown-enter-active {
  animation: slideInDown .5s;
}
.slideDown-leave-active {
  animation: slideInDown .5s reverse;
}

.slideUp-enter-active {
  animation: slideInUp .5s;
}
.slideUp-leave-active {
  animation: slideInUp .5s reverse;
}