<div align="center" style="overflow-x: auto; width: 100%; height: auto;">
			<table cool="" width="601" height="21466" usegridx="" usegridy="" showgridx="" showgridy="" gridx="10" gridy="10" border="0" cellpadding="0" cellspacing="0">
				<tbody><tr height="10">
					<td width="7" height="21465" rowspan="24"></td>
					<td width="3" height="21390" rowspan="20"></td>
					<td width="420" height="10" colspan="6"></td>
					<td width="170" height="100" colspan="10" rowspan="2"></td>
					<td width="1" height="10"><spacer type="block" width="1" height="10"></spacer></td>
				</tr>
				<tr height="90">
					<td content="" csheight="82" width="420" height="90" colspan="6" valign="top" align="left" xpos="10">
						<div align="left">
							<font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Textos do<br>
								</b></font><font size="7" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><b>Jornal Fraternizar<br>
								</b></font></div>
					</td>
					<td width="1" height="90"><spacer type="block" width="1" height="90"></spacer></td>
				</tr>
				<tr height="20">
					<td width="590" height="20" colspan="16" valign="top" align="left" xpos="10">
						<hr width="590" size="3" noshade="">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="40">
					<td content="" csheight="30" width="350" height="40" colspan="5" valign="top" align="left" xpos="10"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Edição nº 146, de Julho/Setembro 2002</b></font></td>
					<td width="153" height="40" colspan="2"></td>
					<td width="87" height="4810" colspan="9" rowspan="2"></td>
					<td width="1" height="40"><spacer type="block" width="1" height="40"></spacer></td>
				</tr>
				<tr height="4770">
					<td width="40" height="4770"></td>
					<td class="class" content="" csheight="4763" width="463" height="4770" colspan="6" valign="top" align="left" xpos="50">
						<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Destaque </b></font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b><br>
								</b></font></p>
						<p><b>COM MILAGRES NÃO VAMOS LÁ</b>!<b><br>
							</b><br>
							Jornal Fraternizar abre o debate. E avança, desde já, alguns dados evangélicos e teológicos contra toda esta mentira organizada, que tem tudo de charlatanice e de diabólico. E por isso só tem servido para, através dos séculos, manter as populações, nomeadamente, as menos ilustradas e menos evangelizadas, no mais crasso obscurantismo, no medo (dos deuses e demónios) e na mais cruel das opressões, a opressão das consciências.O que é um crime de bradar aos céus e um pecado contra o Espírito Santo!<br>
						</p>
						<p>Estranha ao Evangelho<br>
						</p>
						<p>A simples ideia de milagres é estranha ao Evangelho ou Boa Notícia de Deus, revelada em Jesus de Nazaré, tanto na sua prática libertadora, como na sua palavra feita de verdade. Nem sequer uma, das múltiplas acções de Jesus, realizadas a favor da libertação/dignificação de pessoas concretas, é aí alguma vez classificada de “milagre”.<br>
						</p>
						<p>A língua grega em que as quatro narrativas canónicas do Evangelho são escritas, tinha uma palavra própria para dizer milagre, no sentido popular e religioso de “prodígio”, de algo que não se explicaria à luz da ciência e/ou do senso comum de então. Mas, surpreendentemente, os autores dessas narrativas nunca a utilizam para classificar as acções de Jesus. Em vez de escreverem o termo grego téras/térata (milagre/milagres), sempre escrevem sêmeion/sêmeia (sinal/sinais), ergon/erga (obra/obras), e dynameis (forças libertadoras).<br>
						</p>
						<p>E não se diga que foi por mero acaso. Não foi. Foi intencional. É que a experiência que as comunidades de discípulas e de discípulos tinham de Jesus, seu mestre e senhor, que acabou Crucificado às mãos dos representantes do Poder religioso (os chefes dos sacerdotes, os doutores da lei e os fariseus) e dos representantes do Poder económico/financeiro e político (o sumo sacerdote que oficiava no Templo de Jerusalém e era simultaneamente o banqueiro-mor do país; o Sinédrio; o rei Herodes, e o governador romano, Pôncio Pilatos) constituía uma experiência totalmente distinta e nos antípodas da que até então era atribuída a curandeiros itinerantes e outros fazedores de milagres que integravam os múltiplos cultos politeístas do Império romano. Ou daquela que ainda hoje é atribuída aos pastores das novas Igrejas e a uma certa imagem católica de Deus, ou de santo e de santa.<br>
						</p>
						<p>Daí os termos gregos que os autores das narrativas evangélicas escolhem para classificar as acções e as palavras de Jesus. Esses termos traduzem bem a experiência radicalmente libertadora que Jesus proporciona às pessoas que com ele privam. E que não é um dom exclusivo de Jesus, mas que há-de ser partilhado por quantas e por quantos lhe dão a sua adesão (Jo 14, 12), isto é, por quantas e por quantos – ateus que se digam – ousarmos, hoje também, ser mulheres e homens ao seu jeito, não ao jeito dos representantes dos distintos Poderes opressores, estes sim, bem capazes de acções e de discursos espectaculares, na linha dos prodígios e dos milagres que o povo religioso/supersticioso tanto aprecia (cf. Mt 4, 1-7; Ap 13, 1-18). Mas que, bem vistas as coisas, são acções e discursos que apenas servem para os representantes dos Poderes mais eficazmente perpetuarem o seu domínio sobre as populações oprimidas e exploradas, sem vez nem voz, mais bestas de carga, carne para canhão e carne para consumo de droga, de telenovelas, de pornografia, de espectáculos de futebol e de romarias religiosas, do que verdadeiros seres humanos constituídos em liberdade e em dignidade.<br>
						</p>
						<p>Jesus nunca fez milagres<br>
						</p>
						<p>Milagres? Foi coisa que Jesus nunca fez. Nem tão pouco beneficiou de nenhum, em toda a sua vida histórica. E se Jesus, em determinada altura do seu ministério, ainda pensou que Deus podia a qualquer momento intervir milagrosamente a favor dele (cf. Mt 26, 53), teve de aprender (cf. Hebreus 5, 7-10) com o desenrolar desse mesmo ministério que um Deus milagreiro só podia ser criação sua e da Humanidade, a partir da sua própria impotência e, sobretudo, da impotência das populações empobrecidas e oprimidas do mundo. Teve, por isso, ele próprio, de purificar/corrigir a sua ideia sobre Deus. E, quando, já na cruz, Jesus se vê completamente abandonado por Deus e se lhe dirige como em desespero de causa, com as palavras do salmo 22, “Meu Deus, meu Deus, por que me abandonaste?”, a verdade é que a única resposta que lhe chegou de Deus foi o mais completo silêncio e a mais completa ausência. Como se Deus nem existisse (e de facto não existe para intervenções dessas. Felizmente!). O que fez com que Jesus, na altura, se tornasse objecto da mais vil chacota, por parte dos chefes dos sacerdotes e do seu próprio povo (Mt 27, 39-44)!<br>
						</p>
						<p>Milagres de Jesus? As acções que lhe são atribuídas pelos Evangelhos e que as distintas Igrejas têm mentirosamente interpretado e ensinado como milagres, não só não são milagres nenhuns, como são o que poderemos chamar com toda a propriedade, verdadeiros anti-milagres! São acções/intervenções (em grego, ergon/erga) destinadas a destruir a mentalidade milagreira que, qual diabo, permanecia alojada e ainda hoje permanece – também por culpa das Igrejas – nas populações menos ilustradas, porventura, muito religiosas, mas ainda por evangelizar. E que, enquanto lá permanecer, fará delas populações alienadas, ingénuas, menores, paradas, cegas, coxas, surdas, mudas, mortas, totalmente dependentes e à mercê de minorias espertalhonas, tanto políticas como religiosas, geralmente bem falantes, cheias de privilégios e de demagogia, poderosas e com vestes de benfeitor, mas só para melhor conseguirem esconder o que verdadeiramente são: – lobos vorazes (cf. Mt 7, 15). Por isso, populações tão cheias de pobreza, como de crendices e de devoções a imagens de santas e de santos, de senhoras de Fátima e de Aparecida, de Guadalupe e de muitos outros nomes, tantos quantas as carências efectivas de que todas elas padecem. É essa mesma mentalidade milagreira que faz das populações do mundo, populações mutiladas na alma, confrangedoramente à espera, a vida inteira, de um milagre de Deus que nunca chega! Nem chegará jamais!<br>
						</p>
						<p>Ora, quem, até hoje, mais e melhor disse/revelou às populações pobres do seu país e do mundo a Boa Notícia, com tanto de surpreendente como de difícil aceitação, de que Deus não é milagreiro, foi o próprio Jesus de Nazaré, o Cristo, quer com a sua prática, quer com a sua palavra, uma e outra radicalmente consciencializadoras e libertadoras e fecundamente revolucionárias.<br>
						</p>
						<p>Mas, por isso, é que Jesus acabou como acabou, rejeitado pelos chefes dos sacerdotes e também pelas populações pobres que frequentavam as mentirosas catequeses deles e os seus alienantes cultos; e, finalmente, crucificado.<br>
						</p>
						<p>Revelasse Jesus um Deus milagreiro, e ele próprio fosse milagreiro e, então, em vez de rejeitado e crucificado, teria sido aclamado e entronizado como rei! Outra coisa, aliás, não pretende(ra)m as populações pobres do seu tempo e país, como as de todos os tempos e países (cf. Jo 6, 14-15).<br>
						</p>
						<p>Mas – dirá muita gente catequizada pela Igreja católica e pelas outras Igrejas cristãs – não é verdade que Jesus mudou a água em vinho, curou um homem que havia nascido cego, curou leprosos, fez ver os cegos, ouvir os surdos, falar os mudos, andar os paralíticos? Não é verdade que ressuscitou Lázaro, há quatro dias no túmulo, o filho da viúva de Naim e a filha de Jairo? Não é verdade que multiplicou o pão e o peixe por mais que uma vez, para poder dar de comer de graça a milhares de homens sem contar as mulheres e as crianças?<br>
						</p>
						<p>É verdade que os Evangelhos narram essas e outras acções, aparentemente milagreiras, e atribuem-nas a Jesus. Mas o que as Igrejas até hoje nunca nos disseram – e com isso nos induzem à mentira que oprime – é que todas estas narrativas bíblicas não são reportagens jornalísticas de milagres, nem relatos históricos. Todas elas foram escritas, pelo menos, trinta anos depois de Jesus ter sido crucificado. E mesmo quando Lucas, no início do seu Evangelho, nos diz que andou a investigar cuidadosamente desde o princípio tudo o que dizia respeito a Jesus, para depois poder escrever, não se pense que essa investigação foi exclusivamente ou mesmo prioritariamente investigação de historiador ou de jornalista. Não foi. Os evangelistas não são historiadores nem jornalistas. São teólogos da libertação! A investigação que todos eles fizeram foi sobretudo bíblica, ou seja, antes de escreverem os Evangelhos, eles e as comunidades cristãs a que pertenciam, já devidamente iluminados pela Fé no Ressuscitado Jesus, investigaram minuciosamente nos principais livros da Bíblia hebraica tudo o que poderia dizer respeito a Jesus Crucificado. E este trabalho só foi possível, depois que algumas discípulas e alguns discípulos experimentaram que o Crucificado Jesus, maldito segundo a Lei de Moisés, afinal, era o Ressuscitado Jesus, portanto, o Bendito de Deus. E é esta Boa Notícia que eles nos dão, mediante a criação de fantásticas narrativas teológicas, tecidas de todos os ingredientes bíblicos necessários que ajudarão a despertar em quem se deixa surpreender pelo Espírito de Jesus Ressuscitado, misteriosamente presente nelas, e logo dá a sua alegre adesão pessoal e incondicional a esse mesmo Jesus e ao seu Espírito, ao ponto de passar a ser uma mulher/um homem como ele.<br>
						</p>
						<p>Quando essas narrativas evangélicas introduzem, como personagens das diversas dramatizações, cegos, surdos, mudos, coxos, mortos, mais não fazem que utilizar a linguagem dos profetas bíblicos que referiam situações dessas em sentido figurado e teológico, para caracterizar a chegada dos tempos messiânicos. Não são cegos, surdos, mudos, coxos, mortos, em sentido físico. São-no em sentido muito mais profundo. Referem-se a situações de pessoas oprimidas por certas doutrinas religiosas e por certas ideologias, umas e outras feitas de mentira, as quais, enquanto não forem erradicadas da consciência delas, não as deixam ver-se a si mesmas e à realidade à sua volta, e muito menos as deixam agir sobre si mesmas e sobre a realidade à sua volta, para se transformarem e a transformarem! E é a esta profundidade que Jesus quer chegar. Para que as mulheres e os homens deixem de ser alienados consumidores de religiões e quejandos, e se tornem protagonistas e criadores na História.<br>
						</p>
						<p>“Geração perversa e adúltera”<br>
						</p>
						<p>Milagres? Aos doutores da Lei e aos fariseus do seu tempo e país, e de todos os tempos e países – hoje, estas minorias privilegiadas e poderosas das diversas sociedades ostentam outros títulos, mas as doutrinas que ensinam continuam a ser substancialmente as mesmas – que pediam e pedem/exigem dele “sinais do céu”, milagres, intervenções espectaculares de Deus, para provar que tem autoridade para fazer o que faz e ensinar o que ensina, Jesus chama-lhes “geração perversa e adúltera”, isto é, geração preguiçosa e idólatra. E em lugar de lhes dar o que eles lhe pedem/exigem – seria demagogo, paternalista, diabólico, mentiroso e, em última instância, ladrão e salteador, como todos os que vieram antes dele (cf. Jo 10, 8-10) – Jesus prefere apontar-lhes um acontecimento próximo-futuro que consubstancia o que há de mais oposto a milagres, ou seja, remete-os para o escândalo maior que foi/é a sua própria morte violenta e o consequente sepultamento do seu corpo na vala comum, o que perfazia, à luz da Lei de Moisés que eles constantemente invocavam e ensinavam, uma situação própria de um maldito de Deus (Mt 12, 38-40).<br>
						</p>
						<p>Milagres? De modo nenhum. Um Deus milagreiro só poderia ser um deus-tapa-buracos, que nos substitui, e totalmente arbitrário. Uma espécie de Deus de trazer no bolso, ao qual as populações mais carenciadas e mais oprimidas poderiam recorrer, sempre que se vissem em apuros.<br>
						</p>
						<p>Só que um Deus assim seria fonte e causa de ateísmo, porque, se efectivamente há um Deus que pode intervir e não intervém, que pode curar e não cura, que pode evitar desgraças e não as evita, então é um Deus que consegue ser ainda muito pior que muitas e muitos de nós.<br>
						</p>
						<p>Mas se, escandalizados com estas afirmações, os chefes das religiões se levantam para contra-argumentar a favor de Deus, e nos dizem que Deus só intervém por meio de milagres a quem lhos pedir com fé, ainda mais fonte e causa de ateísmo um Deus assim se torna. Porque nesse caso só poderia ser um Deus caprichoso e ciumento, que concede os seus favores a quem mais o bajular e usar para com ele de chantagens e de malabarismos.<br>
						</p>
						<p>(Na verdade, o que são os ritos religiosos, senão chantagens e malabarismos de criaturas assustadas que, em lugar de despertarem a simpatia de Deus, só lhe podem causar vómitos? Não é isso que desde há séculos, nos andam a dizer os profetas bíblicos, sem que os sacerdotes e outros chefes das religiões os oiçam? E não é isso que nos diz Jesus de Nazaré, o Cristo, a quem os sacerdotes do seu tempo fizeram crucificar por intermédio de Pilatos, sobretudo depois que ele lhes destruiu simbolicamente o Templo de Jerusalém e pôs fim a toda aquela carnificina ritualizada de animais que eles lá faziam e que tanto dinheiro lhes dava a ganhar, bem como ao chorudo comércio religioso que eles e outros lá desenvolviam à pala do santo Nome de Deus?)<br>
						</p>
						<p>Etapa pré-científica<br>
						</p>
						<p>Milagres? A simples ideia de milagres corresponde a uma etapa passada da Humanidade. Por sinal, a mais longa etapa da Humanidade. É uma etapa que vem desde o início, quando a Humanidade ainda era totalmente primitiva e que, nos seus medos e impotências de toda a ordem, frente a um Universo e a uma Natureza indomáveis, logo começou por imaginar deuses e demónios, um pouco por todo o lado, isto é, forças poderosas, benfazejas, umas, e maléficas, outras, que tanto a podiam proteger como a podiam atacar.<br>
						</p>
						<p>É desses tempos de obscurantismo e de ancestrais medos, que brotaram as religiões, como tentativas humanas, cada vez mais sofisticadas, de forçar os deuses a serem bons para com a humanidade, a troco de uns quantos actos de culto, feitos de sacrifícios cruentos de animais, quando não, até de crianças, e de outros ritos hoje sem sentido, na esperança de que os deuses, agradados com tais cultos, saíssem a defender os seres humanos dos demónios e de todo o mal que estes lhes pudessem fazer.<br>
						</p>
						<p>Só que essa longa etapa da Humanidade, marcada pelo obscurantismo, pelo medo de míticos deuses e demónios, e pela ausência de qualquer consciência crítica, por parte da esmagadora maioria dos seres humanos, corresponde a uma etapa pré-científica e pré-moderna que, felizmente, está a ser cada vez mais ultrapassada, graças ao avanço da Ciência e da consciência ilustrada e evangelizada.<br>
						</p>
						<p>Pelo que, falar de milagres, hoje, deixou de ser apologético para a causa de Deus e dos seres humanos, e passou a ser, como já se disse, uma causa mais e uma fonte mais de ateísmo! Ou seja, em lugar de servir a causa da Fé cristã em Deus e a causa da Humanidade, é um tropeço que se levanta a uma e a outra.<br>
						</p>
						<p>É por isso que, hoje, neste início do terceiro milénio, as Igrejas têm de ter a humildade de voltar a debruçar-se sobre as narrativas evangélicas e ouvir/interpretar, com ouvidos críticos e consciência ilustrada, os relatos que, ao longo dos séculos, ouviram/interpretaram como outros tantos “milagres” de Jesus. Não são. Nunca foram. São relatos densamente teológicos, dramatizações teológicas, cujo sentido libertador e humanizador é intenso. São relatos com Espírito Santo, capazes por isso de fazer nascer do Alto quem se deixar atingir/conduzir por Ele neles.<br>
						</p>
						<p>Se, porém, as Igrejas insistirem em dizer que tais relatos são milagres, pode haver ainda muita gente que se reveja nessa sua interpretação, mas nem por isso ela deixa de ser uma interpretação preguiçosa e idólatra, mentirosa e opressora que tolhe, paralisa, cega, empobrece, oprime, adoece e até mata quem se deixar “fazer” por ela!<br>
						</p>
						<p>Mas duma coisa podemos estar cientes: À medida que a longa etapa pré-científica e pré-moderna da Humanidade der lugar à etapa da consciência crítica e ilustrada da Humanidade, para a qual o próprio Evangelho de Jesus também aponta e até procura fazer despertar/acontecer em todos os seres humanos que vêm a este mundo (esta fase iniciou-se, como movimento histórico e secular, só há pouco mais de duzentos anos, com a Revolução Francesa, enquanto que a fase anterior conta já com milhares e milhares de anos e quase faz parte dos nossos genes!), nessa mesma medida as Igrejas perderão credibilidade e acabarão por ficar reduzidas a simples instituições museológicas! Sem qualquer interesse para ninguém, sobretudo para pessoas com fome e sede de autonomia, de liberdade, de criatividade, de dignidade, de responsabilidade, de festa, e que aspiram a ser membros de corpo inteiro duma sociedade outra, constituída por mulheres e homens em radical igualdade, cem por cento protagonistas, a viver na comunhão dos bens e no amor recíproco sem fronteiras e sem exclusões.<br>
						</p>
						<p>As Igrejas, todas as Igrejas, têm-se esquecido que a glória de Deus não consiste em que haja muitos cultos ritualizados em templos mais ou menos sumptuosos, onde as populações são levadas a adorar e a tocar toscas imagens de míticas deusas e deuses que não são nada. A glória de Deus consiste apenas em que os seres humanos, todos os seres humanos, cresçam em vida e vida de qualidade, em protagonismo, em liberdade e em responsabilidade social e política, a ponto de, se possível, O dispensarem a Ele!<br>
						</p>
						<p>As Igrejas, todas as Igrejas, têm-se esquecido que Deus, o de Jesus, de modo algum se pode sentir honrado com multidões que ciclicamente saem de suas casas em demanda de santuários distantes e inacessíveis, que passam privações e tormentos de todo o tipo pelos caminhos e que, depois de lá chegarem, ainda vão rastejar no recinto, como quem se auto-flagela e simbolicamente se anula diante dEle. As populações ainda não evangelizadas podem, na sua ignorância e nos seus ancestrais medos, fazer isso com recta intenção, mas a verdade é que Deus não só não gosta nada dessas coisas, como até as detesta e vomita.<br>
						</p>
						<p>Do que Deus verdadeiramente gosta é de populações que vivam e vivam em abundância, sem mais necessidade de se humilhar, rastejar, mendigar, dar o seu dinheiro para santuários com fama de milagreiros e que são pura mentira, casas de opressão e covil de ladrões. Ou para pastores que falam muito em Jesus, mas são incapazes de cumprir o principal mandamento que ele deixou a quantas e quantos se apresentam como enviados dele no mundo: - “Dai de graça o que de graça recebestes!” (Mt 10, 8)<br>
						</p>
						<p>Entretanto, se as populações, depois de tantos séculos a ouvir falar de milagres, persistirem na ideia deles, ao menos que nunca mais os peçam a Deus, muito menos os peçam às toscas imagens de santas e de santos ou de nossas senhoras. Ousem elas próprias fazê-los. Porque para isso Deus nos fez filhas suas e filhos seus, criadoras e criadores à sua imagem e semelhança, e misteriosamente habitados pelo seu Espírito Santo. Ou não é verdade que o que Deus fez paradigmaticamente com o seu filho muito amado, Jesus de Nazaré, o Cristo, é exactamente o que faz, está a tentar fazer, com cada mulher e com cada homem que vem a este mundo? Deixemos então Deus ser plenamente Deus em nós. E tudo o mais virá por acréscimo.</p>
					</td>
					<td width="1" height="4770"><spacer type="block" width="1" height="4770"></spacer></td>
				</tr>
				<tr height="20">
					<td width="590" height="20" colspan="16" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="2590">
					<td width="50" height="2590" colspan="3"></td>
					<td class="class" content="" csheight="2585" width="474" height="2590" colspan="6" valign="top" align="left" xpos="60"><b>Editorial<br>
						</b><br>
						<b><i>NOVA POLÍTICA, NOVOS POLÍTICOS, JÁ</i></b><br>
						<br>
						Tenho dito e repetido que aquilo de que Deus mais gosta é de política, não é de religião. Política e não religião, foi o que o próprio Jesus mais fez durante toda a sua vida pública. Todas as suas acções ou obras foram políticas, não foram religiosas, muito menos, milagres, como mentirosamente nos têm ensinado as más traduções dos Evangelhos e as catequeses eclesiásticas, tanto católicas como protestantes. Mas não quaisquer acções ou obras políticas. Acções ou obras políticas, feitas segundo o Espírito de Deus Vivo, por isso, reiteradamente criadoras de novos céus e de nova terra, e radicalmente libertadoras de toda a opressão - “o pecado do mundo”, no eloquente dizer teológico do Evangelho de João (1, 29b) - que, onde estiver activa, esmaga e desfigura as filhas e os filhos de Deus, bem como a própria Natureza (cf. Rom 8, 19-23).<br>
						<p>Os Evangelhos não podem ser mais claros a este respeito. O de Marcos, por exemplo, que é o evangelista mais antigo (o mesmo se passa com o de Mateus), apresenta-nos Jesus a iniciar a sua missão, logo após João Baptista ter sido preso, e põe-lhe na boca um kerigma ou resumo de todo o seu programa de acção na História, densamente político.<br>
						</p>
						<p>Começa por situar este anúncio na Galileia. Não é meramente geográfica esta referência à Galileia. É sobretudo teológica. Com ela, Marcos indica-nos de forma inequívoca quais são os verdadeiros gostos de Deus. Dizer Galileia, na altura, era dizer uma região da Palestina quase nos antípodas de Jerusalém, a cidade sagrada por excelência, onde se erguia o Templo, reunia o Sinédrio e se levantava o palácio do sumo sacerdote, esse mesmo que tinha o privilégio de entrar no santo dos santos, do Templo, e que, num regime político teocrático, como era o judaísmo de então, era sem dúvida o maior representante de Deus entre os judeus. Galileia era também a região mais politizada, aquela onde os sicários e outros adeptos da luta política revolucionária armada contra o ocupante romano se movimentavam mais à vontade.<br>
						</p>
						<p>Pois bem, o kerigma que o Evangelho de Marcos põe na boca de Jesus é tecido de palavras densamente políticas, dignas de figurarem num cartaz mobilizador de multidões. Diz assim: “Completou-se o tempo e o Reino/Reinado de Deus [há lá expressão mais política que esta?!] está próximo: mudem a vossa maneira de ser e de estar na vida e na História [= convertam-se] e acreditem na Boa Notícia” (1, 15).<br>
						</p>
						<p>O Evangelho de Lucas vai pelo mesmo caminho de Marcos (e de Mateus), embora situe o começo da missão pública de Jesus num outro contexto, o interior da sinagoga de Nazaré, na mesma província da Galileia, de onde Jesus é de imediato expulso por todos os presentes, com manifesto risco para a sua vida pessoal: “Ao ouvirem estas palavras, todos na sinagoga se encheram de furor. E erguendo-se lançaram-no fora da cidade, e levaram-no ao cimo do monte sobre o qual a cidade estava edificada, a fim de o precipitarem dali abaixo. Mas ele, passando pelo meio deles, seguiu o seu caminho” (4, 28-30).<br>
						</p>
						<p>Mas que palavras foram essas que Jesus proferiu na sinagoga de Nazaré, a região onde se havia criado, e que desencadearam tanta fúria nos presentes, seus concidadãos e conterrâneos? Lucas, no seu relato altamente teológico, escrito sob a forma duma dramatização, apresenta-nos Jesus a ler num dia de sábado na sinagoga o profeta Isaías. O evangelista teve entretanto o cuidado de escolher aquela passagem de Isaías que melhor servia os seus objectivos, isto é, aquela que melhor servia para ele dizer quem é Jesus e ao que vem. Nada foi deixado ao acaso.<br>
						</p>
						<p>Eis, pois, o texto que Lucas coloca na boca de Jesus: “O Espírito do Senhor está sobre mim, porque me ungiu para anunciar a Boa Notícia aos pobres; enviou-me a proclamar a libertação aos cativos e, aos cegos, a recuperação da vista; a mandar em liberdade os oprimidos, a proclamar um ano de graça da parte do Senhor” (4, 18-19).<br>
						</p>
						<p>Qualquer ouvinte do Evangelho de Lucas percebia imediatamente que, se estas palavras eram programáticas, então não podia haver quaisquer dúvidas sobre qual o tipo de missão histórica que era legítimo esperar de Jesus. Elas revelam inequivocamente que Jesus está investido duma missão acentuadamente política, não duma missão religiosa.<br>
						</p>
						<p>Vejam só: nestas palavras, não se faz qualquer referência ao Templo, ao culto ritual que lá decorria, de forma ininterrupta, a cargo dos sacerdotes e levitas. Não se dá qualquer indicação de que Jesus, na sua missão, deva arrastar as pessoas para o Templo e para a Religião oficial que lá se desenvolvia. E - blasfémia das blasfémias!, pelo menos, no pensar dos chefes da Religião oficial de então e dos seus ideólogos - Jesus atreve-se a silenciar uma afirmação contundente do profeta Isaías, para, assim, poder falar exclusivamente de “um ano de graça da parte do Senhor”, sem ter que referir “o dia de vingança da parte do nosso Deus”.<br>
						</p>
						<p>Para Lucas, é manifesto que Jesus vem realizar a política de Deus na História e esta tem tudo a ver com a criação de um novo céu e de uma nova terra, e com a radical libertação da Opressão, de toda a opressão, e dos oprimidos. Ou seja, é uma política de libertação/salvação global, universal, sem exclusão e condenação de pessoas e de povos, quaisquer que possam ter sido os seus comportamentos até o momento em que Deus, finalmente, se encontra com elas e com eles.<br>
						</p>
						<p>Outra coisa não nos revela igualmente o Evangelho de João, sem dúvida o mais teológico dos quatro evangelhos canónicos e provavelmente o último a ter sido elaborado. Como é que o faz? Mediante o recurso a uma dramatização teológica tão bem concebida/conseguida, que tem sido tomada à letra, ao longo de todos estes séculos de catolicismo e de protestantismo, como se fosse uma reportagem jornalística. Não é.<br>
						</p>
						<p>O autor do relato teve até o cuidado de classificar a acção protagonizada por Jesus como “o primeiro sinal” - por isso, programático - dado por ele, no início da sua missão pública. E acrescenta outro pormenor já conhecido dos anteriores Evangelhos: este primeiro sinal é realizado na Galileia.<br>
						</p>
						<p>Mesmo assim, as cúpulas das Igrejas, sedentas e famintas de milagres e de um Jesus todo poderoso e milagreiro, com o qual mais facilmente poderão manter dominadas e tolhidas de medo as populações ainda por evangelizar, não quiseram saber desses alertas literários e têm dito e redito - mentirosamente - que se tratou de um espectacular milagre, nada mais nada menos do que mudar a água em vinho! Quando o respeito pela verdade nos manda dizer que estamos perante uma dramatização teológica, por meio da qual o Evangelho de João nos apresenta Jesus e o seu revolucionário programa político, ou seja, diz-nos quem é Jesus e ao que vem. Mas quem é então Jesus e ao que vem, segundo este Evangelho? <br>
						</p>
						<p>Não é sacerdote nem levita (reparem, a este propósito, que o relato joânico chega ao ponto de, imediatamente a seguir, apresentar Jesus a destruir simbolicamente o Templo de Jerusalém, numa espécie de prolongamento do primeiro sinal acabado de realizar por ele), não é chefe de sinagoga nem doutor da Lei, pertence à tribo de Judá, da linhagem do rei David, o político por antonomásia, de cuja descendência a Tradição rabínica fazia crer que viria o Messias, que quer dizer, o Libertador ou o Cristo.<br>
						</p>
						<p>Portanto, Jesus é, para os autores do Evangelho de João, um político ou rei como David, mas totalmente às avessas dele (cf. 18, 37: “Eu sou rei! Para isto nasci, para isto vim ao mundo: para dar testemunho da Verdade. Todo aquele que vive da Verdade escuta a minha voz”). Como tal, não é um político assassino e genocida como David foi, mas alguém que veio para que todos tenham vida e vida em abundância (10, 10), nem que, para isso, ele próprio tenha de perder/dar a sua vida, como efectivamente veio a acontecer, quando chegou “a sua hora” (cf. 12, 23-28; 13, 1). Mudar a água em vinho é apenas uma metáfora teológico-política que diz bem da qualidade da missão histórica de Jesus. Ou seja, com ele e com as suas acções/obras fecundamente criadoras e radicalmente libertadoras, uma nova Ordem mundial (outra maneira de dizer novos céus e nova terra, ou de dizer Reino/Reinado de Deus) está já a ganhar corpo, antes de mais, no corpo crucificado/ressuscitado do próprio Jesus, assim como nos corpos de todos os crucificados da História, todas essas mulheres e todos esses homens que não se arrastam preguiçosamente pelos templos a repetir alienantes ritos religiosos, mas lúcida e corajosamente se metem no mundo e na História, totalmente entregues à causa de ajudar a criar condições estruturais e pessoais, para que a Terra chegue a ser a casa comum de toda a Humanidade, finalmente, congregada em redor duma única mesa, sinal ou sacramento de que todos somos uma só família, feita de muitos povos, de muitas línguas e de muitas culturas (cf. 11, 52).<br>
						</p>
						<p>As Igrejas têm criminosamente desviado as populações da Política, ao mobilizá-las e ocupá-las com os ritos religiosos nos templos, e com outras tarefas eclesiásticas e beatas. Procedem ao contrário de Jesus de Nazaré, o Cristo. Parecem ignorar que o Deus Vivo, que se nos revelou definitivamente em Jesus, do que mais gosta é de Política e não de Religião.<br>
						</p>
						<p>Temos, pois, de ousar voltar a olhar para Jesus, como o Caminho, a Verdade e a Vida (cf. Jo 14, 6)! E tornarmo-nos como ele, mulheres e homens políticos segundo o Espírito de Deus Vivo. Só então ganhará corpo uma nova Política e nascerão novos políticos que correrão de vez com a pseudopolítica e com os pseudopolíticos que hoje temos de suportar à frente do nosso país e do mundo, e que mais parecem truculentos e imprevisíveis adolescentes a quem outros temerariamente entregaram uma arma carregada.<br>
						</p>
						<p>Ousemos, pois, gerar uma nova Política, segundo o Espírito de Deus Vivo. Uma Política que pense e organize a sociedade como uma só família, onde toda a riqueza produzida e conseguida é para investir ao serviço da vida, e vida de qualidade, de todos os seus membros, sejam de que país ou continente forem.<br>
						</p>
						<p>Ousemos igualmente gerar novos políticos, ao jeito de Jesus de Nazaré, o Cristo/o Libertador. Novos políticos que vejam no Poder uma tentação e o recusem. Prefiram, em alternativa ao Poder, o Serviço libertador, assumido com coragem e espírito martirial. Novos políticos - mulheres e homens - que se entreguem gratuitamente à “Coisa Pública”, com alegria, prazer, festa, e sem jamais cederem à tentação dos privilégios.<br>
						</p>
						<p>Vosso irmão e companheiro<br>
						</p>
						<p><b><i>Mário.</i></b></p>
					</td>
					<td width="66" height="2590" colspan="7"></td>
					<td width="1" height="2590"><spacer type="block" width="1" height="2590"></spacer></td>
				</tr>
				<tr height="30">
					<td width="590" height="30" colspan="16" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="30"><spacer type="block" width="1" height="30"></spacer></td>
				</tr>
				<tr height="1640">
					<td width="50" height="1640" colspan="3"></td>
					<td class="class" content="" csheight="1625" width="485" height="1640" colspan="11" valign="top" align="left" xpos="60">
						<p><i>Espaço Aberto</i><br>
						</p>
						<p><b>IGREJA E PEDOFILIA</b><br>
						</p>
						<p><i>Uma jornalista da Revista MAXIMA fez três perguntas ao director do Jornal Fraternizar, a propósito das sucessivas denúncias de casos de pedofilia na Igreja. O pe. Mário deu as respostas que aqui se divulgam<br>
							</i></p>
						<p><b>P. Acha que podemos pôr no mesmo saco homossexualidade e pedofilia?<br>
							</b></p>
						<p><b>R</b>. Não. Não podemos meter no mesmo saco homossexualidade e pedofilia. Enquanto a pedofilia (deviam arranjar outra palavra, que não pedofilia, pois esta é muito bonita, uma vez que fala de amar as crianças e hoje está a ser aplicada para dizer o contrário, desrespeitar/abusar sexualmente de crianças), tal como está hoje a ser entendida e tratada pelos “media”, é um crime, a homossexualidade, pelo contrário, é uma tendência sexual, tão legítima como a heterossexualidade. Meter as duas realidades no mesmo saco, só mesmo de pessoas vesgas, moralistas, que não podem suportar a diferença sexual e a originalidade de cada ser humano. Dos homossexuais/das lésbicas, podemos dizer: E Deus os fez homossexuais e lésbicas! Dos pedófilos, só podemos chorar, quer pelas crianças que são molestadas/abusadas por eles, quer pelos próprios pedófilos que não são capazes de ver nas crianças o que há de mais belo, o nosso próprio futuro, e que exigem de nós, adultas e adultos, o máximo de doação e de serviço libertador. O Evangelho diz, e bem, que quem escandaliza (faz tropeçar) uma criança, melhor fora que lhe atassem<br>
						</p>
						<p>a mó de um moinho ao pescoço e o lançassem ao mar. A pedofilia é um desses escândalos (tropeços) que certos adultos emocionalmente doentes e desequilibrados cometem com as crianças. Quando podiam e deviam aproveitar da presença das crianças e tornar-se adultos ao jeito delas. Como eu próprio escrevi e gosto de cantar: Quando for grande vou ser / quero ser como um menino / convidar p’ra minha mesa / quem p’lo mundo é desprezado / acabar com a pobreza / quero ser como um menino.<br>
						</p>
						<p><b>P. Não acha que a (não) prática sexual dos ministros da Igreja só pode gerar comportamentos sexuais anómalos?<br>
							</b></p>
						<p><b>R.</b> A pedofilia protagonizada por membros do clero católico, de que hoje tanto se fala nos “media” (há pedófilos que não são clérigos, mas já não são tão mediatizados e compreende-se porquê) pode e deve ser encarada também como um dos sinais dos tempos que a Igreja católica, a partir da Cúria Romana e de cada cúria diocesana do mundo, deveria saber ler/interpretar. Mais do que correr a encobrir o crime, deveria correr a denunciá-lo, lá onde ele acontece. Não para, com isso, condenar sem apelo nem agravo o clérigo em causa, mas para salvar o clérigo em causa e as suas vítimas. Um crime escondido não serve a ninguém, nem ao clérigo, nem às crianças. Só a verdade nos liberta, diz Jesus, no Evangelho de S. João. Mas a Igreja não se pode ficar pela denúncia de cada caso. Tem de ir muito mais fundo e ver em todos estes casos - e são muitos os que já se conhecem - a presença de um outro crime ainda mais intolerável que a própria prática da pedofilia. E qual é esse outro crime? É a concepção tradicional que a própria Igreja oficial tem tido e continua a ter da sexualidade e dos afectos, do prazer e da vida. E é esta concepção moralista e masoquista da vida e da sexualidade humana, contra o prazer e os afectos, por parte da Igreja oficial, que está aqui em causa. Trata-se duma concepção castradora, repressiva, dolorista, sádica, que faz pessoas - mulheres e homens - à sua imagem e semelhança. Mas é essa concepção que temos de denunciar, de levar aos tribunais, de condenar e de banir da face da terra. Ou educamos as pessoas para a liberdade e responsabilidade, para a maioridade responsável, ou arriscamo-nos a ter de viver com situações cada vez mais generalizadas de pedofilia/pornografia/prostituição e outras semelhantes, porque, sem essa educação libertadora e equilibrada, sempre haverá quem protagonize todos esses desvios comportamentais. Só seres humanos saudáveis, libertos e responsáveis estarão vacinados contra esses desvios comportamentais.<br>
						</p>
						<p>Condenar os pedófilos e continuar a educar as pessoas na repressão sexual, no moralismo, no tudo-é-pecado-quando-se-trata-de-sexo, na proibição dos afectos entre as pessoas, na autocastração como virtude, no sacrifício e no sofrimento, em lugar de as educarmos para o prazer de viver, para a alegria de viver-em-relação, é ser vesgo e cometer verdadeiras monstruosidades. O que temos de condenar, sem apelo nem agravo, é essa concepção moralista e castradora da sexualidade e da vida,por parte da Igreja, de que os conventos fechados só de mulheres ou só de homens são o exemplo mais acabado (diga-se em abono da verdade que os conventos não são de inspiração cristã e jesuânica!), a par da lei do celibato obrigatório para o clero da Igreja católica ocidental.<br>
						</p>
						<p><b>P. Não chegou já o tempo de a Igreja ter de discutir aberta e frontalmente este problema?<br>
							</b></p>
						<p><b>R.</b> Ontem, já era tarde! O que me parece é que ninguém, nas cúpulas da Igreja, tem coragem para o fazer, uma vez que o actual Papa não o faz, nem admite que outros o façam. Veja o que fez o Vaticano. Chamou uns quantos bispos a Roma, discutiu em segredo a situação dos padres pedófilos e o que resultou de tudo isso? Praticamente mais nada senão passar a vigiar e a reprimir ainda mais a formação (?!) dos potenciais candidatos aos ministérios ordenados. O papa não mexeu nem com uma unha na lei eclesiástica do celibato obrigatório e na concepção moralista da sexualidade humana que vigora, desde Santo Agostinho (séc. IV) na Igreja. O que me leva a ter de concluir, mais uma vez, que, na Igreja católica, continuamos quase todos sem audácia nem coragem para sermos Igreja a valer. Somos uma Igreja de menores, de acéfalos, de reprimidos, de tutelados. O Papa impõe uma determinada disciplina e uma determinada concepção da vida, e todos os católicos, com os bispos à frente, como seus acólitos menores, limitam-se a dizer amen. Como se a unidade da Igreja fosse sinónimo de uniformidade. Parece que nem sabemos que a uniformidade na Igreja é um pecado contra o Espírito Santo, o qual, como revela o Pentecostes, fala todas as línguas, pelo menos, tantas quantos os membros que constituímos a Igreja e a Humanidade.<br>
						</p>
						<p>Por um lado, não nos cansamos de repetir que cada Igreja local ou diocesana é a Igreja completa de Jesus, mas depois não temos a coragem de dissentir da Igreja local de Roma, como se esta fosse toda a Igreja e as outras Igrejas locais fossem simples sucursais daquela. <br>
						</p>
						<p>Haja modos, senhores bispos católicos do mundo! Ousem conduzir e dinamizar a Igreja que vos foi confiada. Levem longe a vossa audácia, sejam obedientes ao Espírito Santo e obriguem a Igreja de Roma a caminhar convosco. E se ela não quiser fazê-lo, deixem-na com o seu autismo, até que ela perceba que está a falar sozinha e se converta ao Evangelho de Jesus.</p>
					</td>
					<td width="55" height="1640" colspan="2"></td>
					<td width="1" height="1640"><spacer type="block" width="1" height="1640"></spacer></td>
				</tr>
				<tr height="30">
					<td width="590" height="30" colspan="16" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="30"><spacer type="block" width="1" height="30"></spacer></td>
				</tr>
				<tr height="1040">
					<td width="50" height="1040" colspan="3"></td>
					<td class="class" content="" csheight="1023" width="470" height="1040" colspan="5" valign="top" align="left" xpos="60">
						<p><b>CELIBATO E PEDOFILIA</b><br>
						</p>
						<p>por <b>Frei Betto (Brasil)</b><br>
						</p>
						<p>A Igreja católica é uma instituição curiosa. Ao contrário de todas as outras, não busca atrair os melhores, os santos, mas os pecadores. E oferece a eles apoio, tolerância e, sobretudo, a misericórdia divina. Segue, assim, o exemplo de Jesus.<br>
						</p>
						<p>Se não pede atestado de santidade aos seus fiéis, a Igreja católica exige virtudes heróicas dos seus bispos, padres e religiosos. Entre elas, a castidade, que nem Jesus exigiu dos seus apóstolos; prova disso é a cura da sogra de Pedro (Marcos 1,30). Quem teve sogra, teve mulher.<br>
						</p>
						<p>Jesus abraçou, como Paulo, o celibato, enfatizando-o como um dom que não tem valor em si, e sim enquanto entrega radical à missão, à causa do Reino de Deus (Mt 19,1-12). Nos primeiros séculos da era cristã, vocação sacerdotal e celibato não coincidiam. Os padres casavam-se, embora a comunidade, ao eleger os bispos, preferisse aqueles que estivessem livres de vínculos familiares, como ainda hoje na Igreja Ortodoxa Russa.<br>
						</p>
						<p>Dizer que a Igreja católica adoptou o celibato sacerdotal compulsório para não ver os seus bens serem dispersos em mãos de herdeiros é ignorar a hegemonia que, a partir do século VIII, o monaquismo passou a exercer sobre ela, enquadrando os clérigos nas regras dos monges. Se o argumento do apego à propriedade tivesse fundamento, as Igrejas cristãs não-católicas já teriam falido, e inclusive as instituições religiosas não-cristãs.<br>
						</p>
						<p>Casos de pedofilia na Igreja católica são a ponta do iceberg de uma instituição que comete o equívoco de congelar o debate sobre a obrigatoriedade do celibato e da castidade. Nenhum ser vivo é livre da pulsão sexual, incluindo Jesus. Clandestinizar a questão, como se todos os candidatos ao sacerdócio fossem anjos, é deixar correr por baixo uma energia que, se não for bem canalizada, acaba estourando em vítimas inocentes do mais hediondo crime sexual. Mais grave do que este crime é encobri-lo, deixando à solta quem deveria estar sob tratamento.<br>
						</p>
						<p>Na ânsia de captar vocações sacerdotais, nem sempre os seminários seleccionam criteriosamente os candidatos. Nem os submete a testes psicológicos. Ora, se o trânsito os exige, devido à responsabilidade de conduzir um veículo pelas ruas, o que dizer de homens e mulheres que, revestidos de suposta sacralidade, verão os fiéis escancararem, junto deles os seus corações e as suas mentes?<br>
						</p>
						<p>Seminaristas e padres são, como todos os seres humanos, hetero ou homossexuais. Como esperar que assumam o celibato como dom de Deus se não encontram em suas comunidades espaço de liberdade para conversar, sem culpas ou escrúpulos, sobre masturbação, atracção, envolvimento afectivo, desvios sexuais? O que há de pedagógico em considerar o casamento um estado de pecado consentido, como dizia santo Agostinho, ou exaltar como exemplo o facto de são Luís Gonzaga não olhar nem para a própria mãe? Não creio que o santo jesuíta fosse tão doente...<br>
						</p>
						<p>Sexo é como política, quanto menos se fala, mais besteira se faz. A Igreja católica está na obrigação de punir severamente os casos comprovados de pedofilia, sem tentar jogar a sujeira debaixo do tapete. Mas se quer evitá-los, deve reabrir o debate sobre o celibato obrigatório, a reinserção ministerial dos padres casados, o sacerdócio das mulheres.<br>
						</p>
						<p>Cuidar melhor da formação de futuros padres é educá-los a preferir a oração ao violão, os livros de teologia às novelas de TV, a opção pelos pobres ao status clerical como trampolim ao poder.<br>
						</p>
						<p>A aversão ao sexo e à sexualidade é uma grave anomalia. Jesus não repudiou o próprio corpo; ao contrário, deixou-se tocar por mulheres (Lucas 7,36-50; 8,45) e, movido pela mística que o unia ao Pai, soube transcender a própria sexualidade. Ensinou-nos que o corpo, templo do Espírito Santo, é sagrado e inviolável. Mas sem estar impregnado do espírito de Amor é capaz de aberrações.</p>
					</td>
					<td width="70" height="1040" colspan="8"></td>
					<td width="1" height="1040"><spacer type="block" width="1" height="1040"></spacer></td>
				</tr>
				<tr height="30">
					<td width="590" height="30" colspan="16" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="30"><spacer type="block" width="1" height="30"></spacer></td>
				</tr>
				<tr height="910">
					<td width="50" height="910" colspan="3"></td>
					<td class="class" content="" csheight="900" width="475" height="910" colspan="7" valign="top" align="left" xpos="60"><b>DEUS E OS PIOLHOS: QUE SEMELHANÇA?</b><br>
						<br>
						Por <b>Leonardo Boff (Brasil)<br>
						</b><br>
						<p>Enfrentava eu, na Argentina, um auditório difícil. Cristãos conservadores, alguns padres reaccionários, intelectuais orgânicos ao sistema imperante. Falava da libertação, como resposta ao grito dos oprimidos e também ao grito da Terra depredada. Da necessidade de que o oprimido fosse sujeito da sua própria libertação. Oprimido que não conhece as razões de sua opressão não consegue nunca deixar de ser oprimido. Que o oprimido deveria sonhar com um projecto de mundo diferente deste, excludente. Que deveria organizar-se para implementá-lo. Que a questão toda é dar os primeiros passos. Que todos os que ainda não perderam o sentimento de solidariedade e de compaixão deveriam ser seus aliados. Que a Igreja, historicamente aliada dos ricos, deveria agora ser aliada dos pobres, porque assim fez também o Jesus histórico. E outros quês, quês e quês…<br>
							<br>
							Gastei todo o meu latim sem resultado visível. Lembrei-lhes que o padre <b>José Gabriel Brochero</b>, uma espécie de Padre Cícero argentino, ensinava ainda no século XIX: "Deus está em todas as partes. Mas estejam convencidos de que está mais perto dos pobres que dos ricos. Nisso se parece com os piolhos que estão mais junto dos pobres do que junto dos ricos". Metáfora bela e verdadeira.<br>
							<br>
							No intervalo, não quis conversar com ninguém e sai para a rua para me refazer. Estava numa bela avenida de Rosário, cidade industrial da Argentina, hoje totalmente desbastada pelas políticas neoliberais. As árvores enfileiradas projectavam sua sombra benfazeja protegendo-me do sol quase canicular da tarde.<br>
							<br>
						</p>
						<p>Estou de regresso à sala do encontro, a fim de continuar a discussão difícil. Vejo que duas senhoras velhinhas, elegantes, uma apoiada na outra, vêm em direcção oposta à minha. Penso lá com os meus botões: "Que têm a ver estas duas velhinhas com a libertação dos oprimidos? Devem ser ricas e reaccionárias..."Por outra parte, irrompe-me na mente a seguinte questão: "elas, de certa forma, devem entrar na libertação. Senão a libertação jamais será integral e para todos".<br>
							<br>
						</p>
						<p>Quando estou mergulhado em tais pensamentos e com certa má consciência, vejo que elas me observam detidamente. Aproximam-se e dizem-me: "O Sr. é aquele que falou no programa de televisão hoje ao meio-dia sobre a teologia da libertação? Nós vimos e gostamos. Nós não somos pobres. Nós somos velhas, embora ricas. Estamos caminhando para o fim da vida. Mas todos os dias rezamos pelos cristãos libertadores, pelos teólogos e pelos bispos proféticos. E muito mais rezamos pelos pobres e oprimidos. Nós somos solidárias com o Sr."<br>
							<br>
						</p>
						<p>Sai perplexo. Se uma teologia não incluir esse tipo de solidariedade e esse bom propósito que se irradia sobre os outros, de que libertação estamos falando?<br>
							<br>
						</p>
						<p>Estou convencido de que a tenacidade dos militantes, a cooperação dos aliados, a lucidez dos pastores e a inteligência dos teólogos estão assentadas sobre a oração de pessoas anónimas como estas duas ricas e idosas senhoras. Mesmo que elas não o saibam, nem o presumam: suas orações libertam os libertadores de sua estreiteza e, quem sabe, de sua arrogância de terem a melhor causa e de estarem sempre no lado certo.<br>
						</p>
					</td>
					<td width="65" height="910" colspan="6"></td>
					<td width="1" height="910"><spacer type="block" width="1" height="910"></spacer></td>
				</tr>
				<tr height="20">
					<td width="590" height="20" colspan="16" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="1710">
					<td width="47" height="1710" colspan="2"></td>
					<td class="class" content="" csheight="1697" width="481" height="1710" colspan="10" valign="top" align="left" xpos="57"><b>O ERRO DE TOLSTOI<br>
						</b>
						<p>Por <b>Manuel Pedro Cardoso</b> <i>(Pastor da Igreja Evangélica Presbiteriana)</i><br>
						</p>
						<p>A memória de Leão Tolstoi, o famoso escritor russo, merece a nossa maior admiração, não apenas pelas muitas obras que escreveu, entre as quais as sempre admiradas Guerra e Paz e Ana Karenina, mas também pela sua clara opção pelos pobres. Sendo aristocrata e rico proprietário, usou com generosidade dos seus bens, do seu talento e da sua cultura para minorar o sofrimento dos mais desfavorecidos. E não o fez num piedoso impulso caritativo, pois chegou a trabalhar e a vestir-se como camponês, no que se tornou suspeito às autoridades da então ainda sociedade feudal russa e fundou uma escola para que pela instrução a situação do povo pudesse melhorar, sendo ele mesmo o professor dos filhos dos seus trabalhadores. Numa sociedade extremamente classista, Tolstoi espalhava num espírito de apóstolo ideias de fraternidade humana. Mas este homem bom cometeu um erro na leitura de um texto famoso da fé cristã. Um erro que é útil desmontar, porque o caso de Tolstoi é por vezes citado como prova de que a fé cristã é um sonho bonito, mas apenas um sonho ingénuo de que é preciso acordar.<br>
						</p>
						<p>Baptizado na Igreja Ortodoxa, assumiu-se socialmente como cristão ortodoxo por muitos anos, sem que o Cristianismo tivesse para ele grande significado. Até que em 1880 se debateu numa profunda crise religiosa. Essa crise, que o levou a escrever vários trabalhos de condenação do tipo de religião oferecida então pela sua Igreja e contra muitas das injustiças sociais dos seus dias, terminou por uma conversão à fé simples dos Evangelhos. Para ele, a essência do ensino de Jesus Cristo é o Sermão da Montanha que ocupa os capítulos 5 a 7 do Evangelho de Mateus, podendo ser resumido em quatro pontos: 1. A supressão da cólera, mesmo da “santa cólera”, provocada por uma boa causa; 2. A recusa de juros; 3. A não resistência ao mal e, por consequência, a não existência de juizes nem de polícias; 4. Amor sem reservas ao inimigo.<br>
						</p>
						<p>À nova compreensão que Tolstoi passou a ter do Evangelho e à maneira nova com simplicidade que passou a ser o seu viver, chamou-se a sua conversão. Tratava-se da conversão a um Cristianismo despido de dogmas e de estruturas eclesiais, um Cristianismo dos pobres e para os pobres. Não podemos senão ficar emocionados diante da memória deste homem raro que ultrapassou a visão egoísta da sua classe e apontou a não resistência ao mal e o amor ao próximo, mesmo se inimigo, como as soluções do pesadelo em que o mundo se apresentava.<br>
						</p>
						<p>Onde está então o erro de Tolstoi? Está nisto: em ter interpretado o Sermão da Montanha como uma lei moral absoluta para a humanidade. O que o grande escritor considerava ser a essência do Cristianismo é o resumo do Sermão da Montanha e por consequência para Tolstoi a fé cristã seria apenas uma moral excelsa para uso da humanidade. Mas o Sermão da Montanha é dirigido aos discípulos. Não é por caso que o evangelista Mateus precede o Sermão da Montanha, dizendo que Jesus, tendo junto de si os seus discípulos, sentou-se e “abrindo a sua boca os ensinava dizendo” (5, 1). “Os” quer dizer “discípulos”. Discursar sentado é típico de um Mestre do tempo. Escutar sentados aos pés do Mestre é próprio dos discípulos daqueles dias. O Sermão da Montanha é um ensino aos discípulos. O que nele se requer é dos discípulos que se requer. Não é um mandamento, uma nova lei, para todos os homens e mulheres, mas um ensino para os seus discípulos – desse dia e de qualquer época. Para os que se identificam na fé com Jesus de Nazareth.<br>
						</p>
						<p>Por não aceitar isso, o generoso Tolstoi supôs que o Sermão da Montanha impunha o desaparecimento de tribunais e da polícia e impunha um pacifismo absoluto, a total não resistência ao mal. Fez, na verdade, do Cristianismo uma quimera impraticável num mundo em que há inúmeras forças destrutivas. Não teve em conta que uma tal situação seria incompatível com a natureza humana, que a leitura da história e a experiência de qualquer um de nós têm mostrado não permitir grandes ilusões. Tolstoi comungaria da visão optimista que antes dele foi divulgada por Jean-Jacques Rousseau, segundo o qual o homem é naturalmente bom e é a sociedade que faz de alguns maus. Deus está já dentro do homem, crê Rousseau, e a verdadeira religião surge de uma consciência que procura viver honesta e generosamente. Numa tal perspectiva, é evidente que o Sermão da Montanha pode ser proposto a todos os homens e mulheres para que o vivam – e implantem assim o Reino de Deus na terra. O que Tolstoi pensava era belo e era o que pensavam também muitos teólogos liberais ocidentais seus contemporâneos. Também eles sonhavam a chegada do Reino de Deus com o aparecimento do homem novo que as condições sociais, o progresso científico e a educação estavam a formar. Mas a Primeira Guerra Mundial, com os seus horrores, veio arruinar todo o optimismo antropológico. O próprio Freud também, mesmo se não tem essa intenção, virá mostrar que não há razão para se ver no ser humano um anjo que a sociedade corrompe. O liberalismo teológico soçobra tragicamente. Um especialista em Tolstoi perguntava-se há trinta anos: “Deve esperar-se que o progresso acabe com o problema do mal? É preciso crer, e ficar por aí, que Tolstoi é prisioneiro da sua época e um dos últimos grandes espíritos do século XIX? É preciso crer nos séculos e pôr tudo em questão do que teria sido uma vida como a sua, sob o pretexto de que se ele sabia um pouco do que era o marxismo, ignorava o freudismo e não tinha a menor suspeita do que podia ser o atómico? Que ele não sabia nem podia suspeitar o que seria um dia Hiroshima, e que iriam assassinar Ghandi?” (Louis Guilloux, prefácio a Maître et Serviteur, Livre de Poche). O horror da Palestina e tantas outras tragédias com que os meios de comunicação social nos bombardeiam mostram claramente que a humanidade não está nem nunca esteve em condições de cumprir o Sermão da Montanha. O objectivo deste texto só pode ser este: colocar os discípulos diante de um alvo para o qual eles, discípulos, se devem dirigir sem complacências, mas que não podem requerer nem esperar dos outros. Ou seja: Tolstoi pode requerer de si que não resista ao mal, pode pôr-se o dever de amar o inimigo, mas não pode esperar que se acabem os tribunais nem a polícia nem os exércitos. Seria a anarquia, na qual os mais fortes se imporão.<br>
						</p>
						<p>Na verdade, Tolstoi leu a Bíblia, mas sem dar atenção aos grandes profetas que têm um olhar sem ilusões sobre o ser humano, incluindo também a voz do profeta Jesus que lembra haver só um que é bom, Deus (Mt 19, 1-19). O Sermão da Montanha não serve para governar o mundo, mas serve como desafio para os que ousarem o risco de seguir Jesus Cristo. A Bíblia não fornece programas para governar o mundo, medidas para melhorar a economia ou para estabelecer uma reforma da educação. Nem é um conjunto de regras de moral. Mesmo que se encontre nela um pouco de tudo isso, o que ela é é o lugar da revelação de Deus, revelando simultaneamente o homem. Que com realismo é isso mesmo: um ser imperfeito, isto é, um ser a caminho, a fazer-se, e amado por Deus. Tolstoi, sendo um génio, deixou-se enganar pela sua concepção do homem e não percebeu que o Sermão da Montanha é um modelo, um desafio, e não uma lei.<br>
						</p>
						<p>A conclusão a tirar é simples: adoptemos os princípios da não resistência activa e o pacifismo profético de Jesus Cristo, sabendo porém sem ilusões que os não podemos impor a ninguém nem esperar de todos.</p>
					</td>
					<td width="62" height="1710" colspan="4"></td>
					<td width="1" height="1710"><spacer type="block" width="1" height="1710"></spacer></td>
				</tr>
				<tr height="20">
					<td width="590" height="20" colspan="16" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="1310">
					<td width="47" height="1310" colspan="2"></td>
					<td class="class" content="" csheight="1301" width="480" height="1310" colspan="9" valign="top" align="left" xpos="57"><b>VELHOS: Não haverá quem tenha o direito de reclamar de nós?</b><br>
						<p>Por <b>Porfírio Borges (Porto)</b><br>
						</p>
						<p>Em tempos, reflecti sobre a situação dos idosos, num artigo que publiquei no Jornal de Notícias. Na altura, quase considerei como normal que estes fossem internados em lares, como “castigo”, porque eles na sua maioria também já haviam internado os seus filhos em creches e infantários.<br>
						</p>
						<p>Reflectindo porém de novo, verifiquei que a situação deveria ter outra leitura, pois que esta me parece incorrecta. Com “represálias” não se resolvem problemas e este, o da terceira idade, está a ganhar dimensões morais e sociais verdadeiramente impensáveis.<br>
						</p>
						<p>O que se está a passar faz lembrar o meu livro de instrução primária. Nele li que um filho, de acordo com a tradição, vendo que o pai tinha envelhecido, foi abandoná-lo a um monte, deixando-lhe um cobertor para que ele se abrigasse do frio. O pai no entanto corta o cobertor em dois e oferece-lhe metade, para que ele tivesse com que se agasalhar, quando chegasse a vez de ser o seu próprio filho a abandoná-lo.<br>
						</p>
						<p>A diferença entre o presente e o passado é que os progressos e as novas tecnologias actualizaram o sistema. Assim já não é necessário levar ninguém para o monte, pois que temos outras alternativas. Hoje, há lares onde os filhos podem perfeitamente abandonar os pais. E se nem esse trabalho quiserem ter, o idoso arranja sempre por caridade um lar público ou deixa-se ficar pelas ruas, aumentando o número dos “sem abrigo”.<br>
						</p>
						<p>Não é justo deixarmos que assim aconteça. Pois é exactamente quando alguém se sente cansado, desiludido, só, doente e envelhecido que precisa do nosso acolhimento.<br>
						</p>
						<p>Vejamos alguns exemplos daquilo a que não se deve chegar:<br>
						</p>
						<p>1. Já passou dos 80 anos de idade. Não casou, viveu sempre com uma irmã e o cunhado. Quando estes adoeceram tratou deles até à morte. Criou como se fosse seu filho, um bebé que tinha sido rejeitado. Quando ela sofreu uma trombose, o “filho”, como ela sempre o considerou, acolheu-a em sua casa, de acordo com a mulher. Após algum tempo, a sua presença criou complicações com os familiares. Quer voltar para a sua casa, mas não tem quem olhe por ela. A solução foi fazer um pedido num lar para o seu internamento.<br>
						</p>
						<p>2. Casou e teve duas filhas. O marido faleceu e estas casaram-se, deixando de se interessar por ela. Só, e praticamente abandonada, tornou-se alcoólica. Quando atingiu o limite da degradação, os vizinhos procuraram interná-la num lar. Obtida a autorização de uma das filhas, assim aconteceu. Não está abandonada, só porque os serviços olham por ela.<br>
						</p>
						<p>3. Criou três filhos. Quando ficou viúva, uma filha levou-a para a sua casa. Um dia, casualmente, ouviu as netas dizerem: Se a avó não estivesse neste quarto, a mãe fazia aqui uma sala de estar. Compreendeu que estava a incomodar. Voltou para casa e frequenta um centro de dia.<br>
						</p>
						<p>Naturalmente queremos ser cidadãos com direitos para reclamar da sociedade a assistência que for necessária, mas igualmente pessoas que sabem dar a mão e ajudar os outros.<br>
						</p>
						<p>Relativamente às situações imerecidas, a Igreja, por exemplo, na P. P. e Carta de S. João diz-nos: “Se alguém gozando dos bens deste mundo, vir o seu irmão (acrescento: pai, mãe) em necessidade e lhes fecha as entranhas, como permanece nele a caridade de Deus?”<br>
						</p>
						<p>É altura de reagirmos, de procurarmos soluções, de prestar a nossa colaboração e, enquanto não houver soluções humanas, reclamar melhores lares, mais centros de dia e apoio domiciliário.<br>
						</p>
						<p>É hora de praticarmos a Doutrina social da Igreja, tão bem expressa pelos bispos de Cuba: “A Igreja deve sair das igrejas. O dom de Jesus não vem de fora, mas de dentro”.<br>
						</p>
						<p>Há que reconhecer que a maior dificuldade em encontrar respostas até não é a falta de dinheiro. Com efeito, com este pode-se comprar cama, comida e mesmo o internamento num lar, mas nunca o sono, o apetite, a convivência e o amor.<br>
						</p>
						<p>Normalmente, acusamos a Igreja e o Estado, sem termos em conta que, embora ainda esteja muito por fazer, estas duas entidades já dão um bom contributo. E a nossa parte? Não haverá quem tenha o direito de reclamar de nós?<br>
						</p>
						<p>Não pretendo violentar a consciência de cada um, sobretudo dos filhos, por não saberem ou não poderem encontrar a solução conveniente. Mas nem por isso deixo de inquietar os mais acomodados. Neste momento, quem pode garantir que os seus pais não estão a passar necessidades? Quem sabe pelo menos aonde se encontram e se estão felizes com a vida que têm?<br>
						</p>
						<p>Termino tal como em certas circulares/aviso que trazem uma alínea que por si anula todas as anteriores: Caso a sua consciência, depois desta reflexão, não o acuse de nada, queira fazer o favor de considerar sem qualquer efeito tudo o que escrevi para si.</p>
					</td>
					<td width="63" height="1310" colspan="5"></td>
					<td width="1" height="1310"><spacer type="block" width="1" height="1310"></spacer></td>
				</tr>
				<tr height="20">
					<td width="590" height="20" colspan="16" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="7050">
					<td width="50" height="7090" colspan="3" rowspan="2"></td>
					<td class="class" content="" csheight="7040" width="483" height="7050" colspan="10" valign="top" align="left" xpos="60"><i>Espaço Aberto</i> -<b> Outras Cartas</b><br>
						<p><b>Paço de Arcos.</b> V. Ferrão: Sou muito preguiçosa para escrever, mas não quero deixar de vir agradecer-lhe a grande satisfação que sempre sinto ao ler o que vem escrito no Jornal e nos livros. E ultimamente tive um prazer especialmente acrescentado, ao ler o que disse no dia 1 de Janeiro de 1973, na sua igreja paroquial de Macieira da Lixa. Foi absolutamente por acaso, na última Feira do Livro, na Praça da Ribeira, que adquiri o livro O Segundo Julgamento do Pe. Mário e li lá dentro o magnífico texto acima referido e que magnífica coragem para o dizer naquele tempo!<br>
						</p>
						<p>Nasci em 1920, vivi o tempo de Salazar, aqui, até 1947 e depois em Angola, de onde regressei só em 1980. Soube do seu drama, é claro, porque os meus pais, irmãos, filhos e netos são todos como eu interessados na nossa independência individual, sob todos os aspectos e interessados no bem-estar do próximo como no nosso. Sabe, ao lê-lo, gosto de ver, em letra de forma, o que sempre senti no meu coração e às vezes pensava que não estaria certo, por ver a maioria pensar diferente de mim. Agora vejo que estou certa e sinto-me feliz, por saber que ainda é novo e pode por isso talvez ainda corrigir alguma coisa de tanto que está errado, e continua a fazer mais feliz e mais liberta de medos tantas pessoas à sua volta e até longe de si, através das suas palavras sensatas e desempoeiradas.<br>
						</p>
						<p>Depois li o livro do 1.º Julgamento que aqui tinha na biblioteca da minha mãe, de que também gostei muito. Eu até julgava que só tinha sido julgado uma vez. O que já me parecia um horror. E agora, Pe. Mário, depois do 25 de Abril, porque é que não recuperou a sua igreja de Macieira da Lixa? Penso que seria natural...<br>
						</p>
						<p>Saiba que leio o seu Jornal de fio a pavio e este último n.º com um interesse muito especial. Aliás, parece sempre que cada n.º é melhor que o anterior. Quando chegam, não há mais nada a fazer do que sentar e gozar um bom tempinho de leitura afortunada e para que nunca venha a faltar-me este delicioso espaço de tempo, vou enviar-lhe um cheque de..., agora que com os meus filhos criados e largados, todos os meses me sobeja dinheiro da minha pensão.<br>
						</p>
						<p>O seu último livro sobre as mulheres ainda não chegou às livrarias aqui. Agora estou a ler Que fazer com esta Igreja? Se não estivesse tão longe, iria ao vosso encontro no dia 28 de Abril e teria o prazer e o proveito de o conhecer pessoalmente. Assim, ficarei à espera da notícia, espero que pormenorizada, no Jornal. Quero ver se compro também o livro de Gandhi.<br>
						</p>
						<p>Se bem percebi, ressurreição quer dizer sobrevivência da alma e Deus quer dizer Palavra-que-salva. É muito bom que haja homens esclarecidos e que gostem de esclarecer o seu próximo. E muita coisa fica por dizer. Quando conseguir, voltarei a escrever. Mais uma vez obrigada e um grande abraço desta sua leitora assídua.<br>
						</p>
						<p><b>Belmonte.</b> Maria Manuela: Desejo que esta publicação continue a despertar as consciências dos que querem seguir Cristo. Pelo meu lado, recuso-me a não pensar a minha Fé, na liberdade dos filhos de um mesmo Deus. Na pluralidade de opiniões, vou encontrando o equilíbrio, o meu equilíbrio de vida. Aberta ao confronto, ao “não” do outro, faço por construir o individual no colectivo, no quotidiano, como trampolim para o futuro. Concordar ou discordar é antes de mais ter capacidade de tornar racionais os porquês!. Com votos sinceros de muita saúde para si e para toda a equipa.<br>
						</p>
						<p><b>Caldas de S. Jorge</b>. José Pinto da Silva: Dirijo-me a ti para endereçar uma pequena nota ao Fraternizar. E mandar para um ou para outro é, em absoluto, a mesma coisa, porque o Jornal é teu, o Jornal és tu, só tu, e nele despejas toda a tua ideologia, muito mais política do que, perdoa que o diga, porque assim sinto e nos textos se reflecte, religiosa ou espiritual, como gostas de dizer. A causa imediata para este endereçamento é a diatribe que lanças ao Papa João Paulo II, por o Vaticano ter cunhado euro próprio, como moeda do Estado (poderia usar o euro italiano, sugeres tu) e, por suprema vaidade pessoal do Papa, ter feito cunhar a sua efígie nas moedas.<br>
						</p>
						<p>Não posso estar contigo nestas assanhadas críticas, porque sendo irrefutável que o Vaticano é um Estado autónomo, que tendo outras insígnias e símbolos próprios, porque não usar uma moeda com identificação própria? Como fez o Mónaco e como fez S. Marino. E porque não ter a efígie do Soberano desse Estado? Como se vê de resto noutros Estados, dando o exemplo de Espanha, para se não ir mais longe. Mesmo que, para além do prestígio de ter uma moeda cunhada especificamente (por certo, com prévia anuência da EU, dado o Vaticano não ser signatário do Tratado da Moeda única) daí resulte algum benefício material por influência dos numismatas. Onde o mal? Tu mesmo te lastimas quando não aparece dinheiro para manteres vivo o teu projecto. Quando precisas, apelas à partilha, do meu ponto de vista erradamente. Devias apelar ao pagamento por um serviço que prestas e que quem o recebe acha útil, se o não recusa. Bem ou mal, João Paulo é o “Soberano” do Vaticano e esqueço o ser ele Chefe da Igreja Católica.<br>
						</p>
						<p>É mais do que evidente, há muitos anos, que tu vês este Papa, não como um líder religioso, mas como um “desgraçado” que contribuiu e muito (para ti, demasiado muito) para a reviravolta política, atirando a sua influência, o seu prestígio contra um muro que dividia o mundo. E ruiu e (quase) tudo se alterou. Do meu ponto de vista para melhor, malgrado a colocação a nu, com efeitos imediatos dramáticos, de todo o mal de sete décadas. Havia um ovo, grande e lavado que era “vendido” aos autóctones (e a muitos exteriores) como o melhor que poderia haver. E quem não aceitasse a ideia ficava a saber para que servia a gula. Viu-se depois que o ovo tinha um furo minúsculo, quase imperceptível, por onde lhe extraíram a gema e mesmo quase toda a clara. Quebrado o ovo, viu-se que não tinha nada dentro para dar a ninguém.<br>
						</p>
						<p>Não queria alongar-me mais, mas quero lembrar-te que, há tempo, saiu um “livrão” titulado Livro Negro do Capitalismo. Usaste as páginas do teu Jornal para o publicitar, comentando-o e salientando extractos. Os que mais se te encaixavam. O mal não seria nenhum se não te tivesses esquecido e, nas mesmas colunas, tivesses comentado, com igual saliência um livro, que era anterior e que se chamava Livro Negro do Comunismo. Fizeste, caro Mário, exactamente, como fez o Avante. Um abraço fraterno.<br>
						</p>
						<p><b><i>ND<br>
								</i></b></p>
						<p><b><i>Meu caro Pinto da Silva: Uma palavra apenas para esclarecer que efectivamente não comentei o “livrão” titulado Livro Negro do Comunismo, porque a respectiva Editora se “esqueceu” de enviar um exemplar ao nosso Fraternizar. E, como deves saber, a secção “Livros do trimestre” (na altura, “Livros do mês”) só faz recensão crítica dos títulos que as Editoras nos enviam para esse fim. Retribuo-te o abraço fraterno, bem apertado.<br>
								</i></b></p>
						<p><b>Lisboa</b>. José Romão: Junto envio cheque para pagamento do Fraternizar. Partilho um pouco mais, a fim de ele continuar a aparecer, para agitar a consciência, acordando-nos para a nossa identidade de seres humanos que nas “igrejas” o ser cristão não é estar subordinado aos senhores delas, mas em igualdade, não querendo a menoridade de ninguém e muito menos a indignidade. Porque se o crente, pelo facto de sê-lo, não se sente mais humano, mais livre, mais digno, mais fraterno, mais alegre, é preferível sair o mais depressa possível dessa opressão e ser ateu desse Deus que humilha o homem e o torna menor, entrando em diálogo frontal nessa denúncia com outros cristãos para a mudança de critérios a fim de evangelizar as comunidades.<br>
						</p>
						<p>Ora, o mundo é diferente depois da Ressurreição de Jesus, que o reconciliou com o Pai. Esse projecto de Deus foi a libertação e que hoje os seus filhos aprenderam com Ele o amor, significando que são parecidos. Assim a comunhão dos cristãos com Deus exprime-se na comunhão de serviço mútuo vivido na diversidade como colaboradores na construção do Reino de Deus.<br>
						</p>
						<p>Sabemos que nesta corresponsabilidade estamos longe de superar as manifestações daquela separação de uma igreja do clero do resto do povo de Deus, como se o projecto comunitário não fosse vivido numa verdadeira participação, pensando-se ainda muito a paróquia como propriedade privada do pároco. E o pior às vezes é que, como acontecia no tempo de Jesus, os senhores do templo não entram nem deixam entrar, teimando em administrar Deus transformando-o em sistema de poder. O que vale é que Deus é tão nosso amigo, que nos vai sendo companheiro, solidarizando-se connosco para continuarmos sendo sacramentos de fraternidade humana em serviço uns aos outros, com as nossas contradições e exclusões valendo muito mais não o que já somos mas sobretudo o que somos chamados a ser. Vosso irmão e aprendiz de cristão...<br>
						</p>
						<p><b>Alfornelos</b>. Manuel Armando de Paula: Assisti àquela triste palhaçada dos milagreiros na RTP 1. Que tristeza! Mais me entristece ainda saber que o ilustre Padre Doutor Professor Teólogo Carreira das Neves não tenha tido a coragem para explicar àquela triste gente de que os milagres, na verdadeira acepção da palavra, não existem, que Deus nos dotou a nós, filhos de Deus (vós sois deuses) com os instrumentos necessários para a auto-cura. Necessário se torna apenas desencadear o processo, o que normalmente acontece através de um evento exterior.<br>
						</p>
						<p>Há alguns meses, aquando da minha ressecção pulmonar, devido às muitas dores de que então padecia, tive a oportunidade de falar com a médica da equipa de combate à dor que me acompanhava, sobre um “milagre” interessante, de que eu fora sujeito, por volta dos meus 20 anos. Contei-lhe que todas as manhãs acordava com dores de cabeça e, inevitavelmente, pensava tomar uma aspirina. E como sempre, todas as manhãs tomava a aspirina. Um dia, acordei com fortes dores de cabeça, pensei “Tenho que tomar a aspirina”, mas esqueci-me de a tomar e dei então conta que por volta das 10 horas já não tinha dor de cabeça. Fiquei na dúvida se tinha ou não tomado a aspirina. Dias depois, aconteceu a mesma coisa e aí eu tinha a certeza que não tinha tomado a aspirina, mas a dor de cabeça desapareceu. Quando tomei consciência efectiva deste facto, nunca mais tive dores de cabeça. Foi um milagre, não foi?! Eu mesmo me dei ao cuidado de ensinar o pai nosso ao vigário. Informei a minha médica que o nosso organismo tem órgãos próprios – as nossas defesas – que registam a entrada de qualquer intruso no nosso sistema de vida. Seguem-no e registam – não sei onde – todos os movimentos e o resultado final da sua entrada no nosso organismo. A este fenómeno fica anexado o nome que a nossa consciência lhe deu. Quando pensei tomar a aspirina, como fazia anteriormente, desencadeei todo o processo de auto-cura, pelo efeito já atingido várias vezes pelo dito medicamento. <br>
						</p>
						<p>A médica respondeu-me a rir que eles – os médicos – já andavam no encalço desse efeito, o que explicava o sistema homeopático em que na fase final o elemento condutor já só leva consigo uma milésima do agente curador.<br>
						</p>
						<p>Nos “milagres”, pois se eu vou daqui a Fátima, com toda a minha fé, pedir a cura a Nossa Senhora, e vou desde já - pela fé - persuadido de que vou ser curado, basta-me chegar a Fátima, rezar, que o evento se realiza. Dá-se a cura, mas tão somente naqueles casos em que o nosso organismo se pode auto-curar. Por exemplo, não me devolve os dentes já extraídos, nem a perna ou o braço àqueles a quem foram amputados. Nem tão pouco se curam aqueles que duvidam. Não se fez ainda a estatística daqueles que foram a Fátima e não foram curados. Porquê? Não é Nossa Senhora, a digníssima mãe de Jesus, tão bondosa para uns e outros? Ou fará ela acepção de pessoas? Afirmar a existência de milagres é afirmar a impotência, a incapacidade de Deus para realizar tudo com a máxima perfeição. Deus fez tudo perfeito, tão perfeito que nada há a acrescentar. E que dizer daqueles chantagistas que pedem a Deus a cura a troco de umas rezas ou de uns trocados? Que dizer daqueles que se arrastam pelo chão, vergastam as costas, vão a pé – faz muito bem à saúde, disse-me o médico – cumprir, repare..., cumprir promessas? Meu Deus, quando é que este povo de Deus se compenetra de que todos nós somos filhos de Deus e que “antes que o peçamos, já Ele nos deu”?<br>
						</p>
						<p>Este tipo de comportamento não denota grande fé, para mim. A verdadeira fé está antes em aceitar de Deus aquilo que nos acontece. Lá bem no fundo, veremos que só nós somos os responsáveis pelas situações que vivemos. Então, conscientes disso, apelemos para o Pai, sim, mas a pedir-lhe ajuda, que também, diga-se, desde sempre Ele esteve ao lado a ajudar-nos. Nós é que não temos consciência disso.<br>
						</p>
						<p>Mas tudo isto é fruto da educação que a Igreja Católica Apostólica Romana (a Vaticana) forneceu durante séculos, para proveito da sua nomenclatura. Quanto mais estúpido o povo, melhor eles se governam. A verdade? Essa é só para eles e mesmo assim tenho dúvidas.<br>
						</p>
						<p>Que gente insana! Bajulam Deus, fazem-lhe promessas, como se Ele fosse o agiota da esquina, e quando o pedido se não realiza, negam o prometido a Deus. Não foi essa a condição? “Senhor dá-me um seis no totoloto, que eu prometo dar-te em velinhas acesas cem euros”.<br>
						</p>
						<p>Meu caríssimo amigo, o senhor não sabe quanta revolta senti por ver tanta ignorância no princípio do século XXI. Só um povo como o nosso, semianalfabeto – que pouco lê ou estuda – pode vir como o miraculado do Padre não-sei-quantos, fazer aquelas afirmações. Pobre padre que na sua bondade e caridade não fez mais do que desencadear no corpo daquele pobre homem a sua auto-cura. Eu também peço muitas coisas a Deus, mas não prometo nada. Não faço chantagem. Ele é Pai e como tal quer tudo do melhor para os seus filhos, como eu para com os meus filhos.<br>
						</p>
						<p>Somos poucos, muito poucos ainda, para desencadear um processo de renovação nesta bafienta e esclerosada instituição, chamada Igreja vaticana, que ao longo dos séculos modelou este estupidificado povo.<br>
						</p>
						<p>Descarreguei! Vai um abraço de compreensão para o amigo. Com todo o meu apoio, compreensão e carinho.<br>
						</p>
						<p><b>Por Fax.</b> Carlos Sardinha: Sou um leitor dos seus livros. O senhor é uma pessoa que eu admiro pela coragem e pela frontalidade como expõe as suas ideias. Mando-lhe este fax para o felicitar por mais um programa de televisão em que participou, o Gregos e Troianos, da Júlia Pinheiro. Aonde o senhor padre mais uma vez quis abrir os olhos das pessoas, mas infelizmente elas continuam cegas, surdas. Até parecia que já o queriam papa...<br>
						</p>
						<p><b>Arcozelo.</b> Manuel Elias Salomão: Vi na RTP 1 o programa Gregos e Troianos, com a participação de V. Ex.a. Muito teria a dizer sobre esse programa, mas queria apenas salientar dois pontos: o primeiro é que a participação do pe. Mário, como é habitual, foi desastrosa – pouco clara, confusa, arrogante, auto-suficiente, pretensiosa e convencido. O que é que lá foi dizer? Pouco mais que nada... O segundo ponto: V. Ex.a tem por hábito classificar os peregrinos de Fátima de simplórios, ignorantes, verbos de encher, parolos e outros adjectivos. Olhe, as pessoas vão a Fátima, livres e conscientes, sabem o que querem, não andam a reboque de ninguém. E como foi dito no programa em que interveio, uma pessoa pode ser simples e ser cultíssima! A religiosidade popular é um fenómeno que os intelectuais ou semelhantes deviam estudar e aprofundar. Talvez muitos desses pudessem aprender coisas importantes com quem vai a pé 300 ou 400 quilómetros, de mochila às costas, até Fátima.<br>
						</p>
						<p>Sem outro assunto, subscrevo-me com os meus cumprimentos. P.S. Fazia o favor de publicar a carta no seu Espaço Aberto do Fraternizar.<br>
						</p>
						<p><b><i>ND<br>
								</i></b></p>
						<p><b><i>Meu caro Manuel Elias: Só para esclarecer que não costumo classificar os peregrinos de Fátima com os adjectivos que diz na sua carta. Quem disse coisas dessas no referido programa foi um jovem estudante, não fui eu. Por mim, tenho muito respeito por todas as pessoas. E quando digo o que digo sobre Fátima, ainda é por amor das pessoas que insistem em ir lá com devoção. A missão presbiteral de Evangelizar os pobres exige-me que o faça a tempo e fora de tempo. As peregrinações a Fátima ou a outros santuários, mentirosamente ditos marianos, não fazem parte da Boa Notícia de Deus, que Jesus de Nazaré, o Cristo, é e anuncia. E Maria, a mãe de Jesus, não tem nada a ver com aquilo que por lá se faz. Muito menos com o culto sacrificialista e cruel em honra de todas aquelas imagens que mais não são do que uma actualização das múltiplas imagens em honra da mítica deusa virgem e mãe, dos cultos politeístas do Paganismo! Finalmente, quero também dizer-lhe que aprendo muito com os pobres. Mas não os canonizo. Muito menos, canonizo a sua pobreza e o seu não-acesso ao ensino de qualidade. Por isso, a exemplo de Jesus, tudo faço para que os pobres sejam evangelizados. O que – pela forma como aqui se pronuncia nesta carta – não parece ser o seu caso, nem o de tantos outros católicos fatimistas e milagreiros, que preferem que haja pobres a rastejar pelos santuários, em lugar de acabarem de vez com a pobreza! Desculpe, mas é mesmo de bradar aos céus!<br>
								</i></b></p>
						<p><b>Ciladas</b>. Armando Quintas: Tenho apreciado muito o seu trabalho e partilho das suas ideias. Dou-lhe os parabéns pelo trabalho desenvolvido, que é bastante, mas ainda é insuficiente. Sei que é receptivo a novas ideias e perguntas. Lembra-se dos reformadores do século XVI? Não precisamos de outro Martinho Lutero nem de outro Calvino, mas a Igreja continua a precisar de uma reforma bem grande. Não sei muito sobre as comunidades cristãs de base, mas suponho que existem algumas em Portugal e é necessário que todas elas se unam e que sigam o mesmo objectivo. Tal como o padre Mário diz, não é mudar de Igreja, mas sim mudar a Igreja. Este é o problema. É necessário que essas comunidades sejam fortes e que seja abolida a Concordata de 1940, para que os cardeais e bispos não continuem a comer das oferendas dos fiéis e quando as igrejas precisarem de obras ou restauros não tenham que ir às Câmaras Municipais.<br>
						</p>
						<p>Aqui no Alentejo a ignorância (das coisas da Fé cristã) é grande e anda sempre de mão dada com a exclusão social e com o fanatismo religioso. Acredito que isto vai mudar e que as universidades vão dar um contributo enorme. Como aqui a mais importante é a de Évora, é também dela que vão sair as ideias e as melhorias para o Alentejo adormecido. As comunidades de base e as universidades são essenciais para esta reforma da Igreja! E, claro, não menos importante o seu projecto de Evangelizar os pobres. Está nos seus planos próximos vir cá ao Alentejo para alguma conferência ou colóquio ou algo relacionado com essa sua missão de Evangelizar os pobres? Não desista e continue em frente com a sua missão, pois acaba de “apanhar” mais um leitor amigo seu!<br>
						</p>
						<p><b><i>ND. Para já, não está nada marcado. Mas por que não avança o próprio Armando com uma iniciativa nesse sentido? Por mim, procuro responder afirmativamente a todos os convites que me chegam. Evangelizar os pobres é preciso! Mas não tenho que ser só eu a fazê-lo. Toda a Igreja tem que o fazer.<br>
								</i></b></p>
						<p><b>Porto</b>. Maria Balbina: A leitura do Jornal Fraternizar e dos livros que tem publicado vão-me esclarecendo sobre muitas questões para as quais eu não aceitava a interpretação que, desde criança, ouvia na igreja. Mas as dúvidas são e hão-de continuar a ser muitas. Venho por isso expor-lhe algumas, na certeza de poder contar com a sua compreensão por estar a abusar do seu tempo, tão precioso para cumprir as tarefas que quer realizar. Aí vão elas:<br>
						</p>
						<p>1. No último n.º do Jornal Fraternizar (Janeiro/Março), p. 2, lê-se: “Quem se atreve hoje em dia a dizer que «aquilo» é o Corpo de Cristo tão real e perfeitamente como está no céu?”. Como interpretar então as palavras atribuídas a Jesus: “Isto é o meu corpo; este é o meu sangue que vai ser derramado para perdão dos pecados”? E as de Paulo: “Todo aquele que comer o pão ou beber o cálice do Senhor indignamente será réu do corpo e do sangue do Senhor”? Sublinho as expressões que me deixam dúvidas: o corpo e o sangue de Jesus identificados com o pão e o vinho eucarísticos, e o seu sangue derramado para perdão dos pecados.<br>
						</p>
						<p>2. Muitas vezes me têm pedido para rezar por alguém e eu própria, por iniciativa minha, o tenho feito. Será uma atitude cristã coerente? Lê-se no Evangelho: “Quem pede, recebe; quem procura, encontra; ao que bate, hão-de abrir. (...) Quanto mais o vosso Pai que está no céu dará coisas boas àqueles que lhas pedirem”. Podemos interpretar estas palavras de Jesus como um convite a pedirmos a Deus o seu auxílio em situações de aflição, mesmo que façamos humanamente tudo o que é possível para resolver essas situações? Não é santa Teresinha considerada pela Igreja grande salvadora de almas, através da sua oração, sem nunca ter saído do convento?<br>
						</p>
						<p>3. Lê-se no livro Que fazer com esta Igreja?, que para o “suplício eterno” vão os sistemas económicos/religiosos/políticos responsáveis pelos males que afligem a humanidade e não homens ou mulheres. Mas não são homens e mulheres os responsáveis por esses sistemas?<br>
						</p>
						<p>4. Os milagres de Jesus e dos apóstolos são apenas símbolos de salvação, de libertação, de abrir-se à fé em Cristo, ou podem também referir-se a curas físicas?<br>
						</p>
						<p>5. Como interpretar as palavras postas na boca de Jesus “Aqueles a quem perdoardes os pecados ficarão perdoados, àqueles a quem os retiverdes ficarão retidos”, palavras onde a Igreja viu a instituição do sacramento da reconciliação?<br>
						</p>
						<p>6. Os relatos evangélicos contam que, depois da Ressurreição, Jesus comeu com os seus discípulos e abençoou o pão, certamente para melhor explicarem a Ressurreição às comunidades a quem se dirigiam. Como terá acontecido realmente a Ressurreição de Jesus? Como se aperceberam dela as discípulas e os discípulos? Apenas pela fé que lhes permitiu ver o invisível? E a nossa ressurreição como será?<br>
						</p>
						<p>Padre Mário, desculpe ter-me alongado tanto e ter colocado dúvidas que só existem pela minha ignorância. Um abraço amigo.<br>
						</p>
						<p><b><i>ND<br>
								</i></b></p>
						<p><b><i>Querida Balbina: As respostas às suas perguntas davam um livro. Não irei por aí. Darei apenas alguns tópicos. O Espírito Santo fará o resto. Esteja atenta e à escuta, e verá.<br>
								</i></b></p>
						<p><b><i>1. Este ponto já está desenvolvidamente respondido no Fraternizar de Abril/Junho. Remeto-a para o “Destaque 2” e para os esclarecimentos fornecidos a outros leitores, na secção “Outras Cartas”, pp. 9 e 10.<br>
								</i></b></p>
						<p><b><i>2. A Balbina sabe muito bem que o Evangelho também diz, noutras páginas, praticamente o contrário das palavras que cita na sua carta. Por exemplo, quando Jesus é posto a dizer para não sermos como os pagãos, que pensam que é no muito falar e repetir que serão atendidos por Deus. Ele, como nosso Pai/Mãe, sabe muito bem e melhor do que nós do que precisamos antes de lho pedirmos. Mas havemos de pedir a Deus ou não? Acho que o Jesus do século XXI e do terceiro milénio dará uma resposta a esta pergunta muito distinta da que lhe é atribuída pelas comunidades cristãs que redigiram os Evangelhos canónicos. Qual será? Lanço-lhe este desafio. E a todas as leitoras e a todos os leitores.<br>
								</i></b></p>
						<p><b><i>Quanto a santa Teresinha, desconfie do que lhe ensinaram. Primeiro, porque Deus, o de Jesus, não gosta nada de conventos, muito menos, de conventos de clausura total. Também não gosta nada do sofrimento humano, muito menos daquele que as pessoas dizem suportar por amor dEle e pela “conversão dos pecadores”. Finalmente, proclame comigo: quem nos salva é Deus, em Jesus Cristo, não as Teresinhas, por mais que se digam de Jesus. Mas por que carga de água ia Deus fazer depender a salvação das “almas” das orações de uma freira? Nesse caso, ainda será que estamos a falar do Deus que se nos revelou em Jesus como a Boa Notícia maior? Ou apenas de um Deus que tem tudo de um ídolo devorador das nossas almas (vidas) e das nossas carteiras?<br>
								</i></b></p>
						<p><b><i>3. É verdade, Balbina. São homens e mulheres os criadores dos sistemas que fabricam vítimas humanas aos milhões. Mas em conjunto. Não individualmente. Um homem/uma mulher, de per si, não é capaz de tanto. E, depois, há também que ter em atenção o “demoníaco” (não confundir com demónio, que não existe) que semeia “joio” no campo semeado de trigo, enquanto nós dormimos, ou seja, todas e todos nós respiramos uma ideologia que é mentira, mas que se faz passar por verdade. Materializada em Sistema, ela mata e oprime, quando parece dar vida. E engana até os mais hábeis, sobretudo os que se têm na conta disso. Pois bem, Deus que nos ama infinitamente, até deste demoníaco nos há-de salvar. Ou Ele não fosse o Amor Criador que até das pedras faz filhas suas e filhos seus! Cante, pois, e dance. E alegre-se com Ele.<br>
								</i></b></p>
						<p><b><i>4. Os “milagres”. Nem Jesus, nem os apóstolos fizeram milagres, no sentido tradicional e popular do termo. Os relatos que até hoje nos têm apresentado como de “milagres” não são reportagens jornalísticas nem relatos históricos. São espantosos relatos teológicos. Revelam como o Espírito de Deus age continuamente na História, para levar a bom termo a criação de seres humanos à sua imagem e semelhança, verdadeiras filhas suas, verdadeiros filhos seus. “Milagres”, no sentido tradicional e popular só mesmo os Poderes opressores, também o Poder religioso, os fazem. Mas para mais e melhor manterem subjugadas as pessoas e os povos que ainda se deixam impressionar por eles, em lugar de os combaterem até com risco da própria vida! (para mais pormenores, ver Destaque desta edição)<br>
								</i></b></p>
						<p><b><i>5. As palavras sobre o perdão ou retenção dos pecados, por parte dos apóstolos, são pós-pascais. Portanto, são palavras que as comunidades cristãs põem na boca de Jesus Ressuscitado. São palavras que as comunidades escutaram do Espírito Santo, para o seu contexto social e cultural. Só valem para nós, se nós hoje as escutarmos também. Mas é evidente que o Jesus Ressuscitado do terceiro milénio dir-nos-á outras palavras bem mais conformes ao nosso momento cultural actual. Importa, por isso, actualizar essas e todas as palavras atribuídas a Jesus. De contrário, faremos de Jesus um fóssil, porventura muito respeitável, mas um fóssil. Veja lá: Se nós, mulheres e homens de hoje, não nos perdoarmos constantemente uns aos outros, será que ainda haverá futuro? É verdade: o que fizermos neste ponto, ou o que deixarmos de fazer, é decisivo para a futuro da Humanidade. Mas todas e todos. Não apenas os padres e os bispos. Nem apenas as católicas e os católicos. Também os ateus e agnósticos. Porque o que Jesus disse aos apóstolos interessa a toda a humanidade. Eles não são, como certa catequese tem erradamente ensinado, os antecessores dos bispos (estes seriam os seus sucessores – mas que coisa mais bizarra!). Eles representavam o novo Povo de Deus, constituído por todos os povos do mundo, judeus e não judeus. E não só de então, mas também de antes deles e de depois deles, os nascidos e os a nascer!<br>
								</i></b></p>
						<p><b><i>6. Os relatos da Ressurreição são o que há de mais teológico nos Evangelhos. Marcos, o mais antigo dos quatro, nem ousou meter-se por aí. Preferiu encerrar o seu relato com uma vaga alusão ao túmulo vazio. E ponto final. Os outros quiseram ser mais pedagógicos e dizer-nos como é que haviam chegado à Fé no Ressuscitado e acabaram, sem querer, por induzir em erro as gerações que se lhe seguiram e que leram aqueles relatos como se fossem reportagens jornalísticas. Não são. São relatos altamente teológicos que foram escritos, como tem o cuidado de sublinhar o Evangelho de João, para que, também nós, viéssemos a crer no Ressuscitado: “Estes foram escritos para crerdes que Jesus é o Messias, o Filho de Deus, e, crendo, tenhais a vida nele” (Jo 20, 31). As comunidades cristãs que escreveram os Evangelhos nunca viram Jesus Ressuscitado. Se o vissem, teriam uma evidência, não Fé. É a Fé que as faz ver o Invisível aos olhos, como a realidade mais real. Quando escrevem, por exemplo, que comeram com ele na praia ou que o viram a abençoar o pão em Emaús, estão a dizer-nos que é em idênticas experiências comunitárias, constituídas no amor gratuito, que podemos, nós também, fazer idêntica experiência do mesmo Ressuscitado. Ora, será que, depois de tantas Eucaristias, depois de tanto Partir e comer o Pão e Derramar e beber o Vinho, em memória de Jesus, ainda não podemos testemunhar que comemos e bebemos com Jesus Ressuscitado? Mas então justifica-se bem a pergunta que o Jornal Fraternizar fez a propósito do que se passa em Fátima, com aquele tipo de missas e com aquela patética “benção dos doentes”: Quem se atreve hoje a dizer que «aquilo» é o Corpo de Cristo tão real e perfeitamente como está no céu?” Quanto à nossa ressurreição, só pode ser como a de Jesus: O instante em que morremos é simultaneamente o da nossa ressurreição. Por pura graça de Deus! Jesus já era o Ressuscitado e o seu cadáver ainda estava na cruz! O “terceiro dia” é o período de tempo necessário para chegarmos a dar conta que o Crucificado Jesus é o Ressuscitado Jesus, que o maldito Jesus é o Bendito Jesus, o Filho muito amado de Deus, nosso Pai/nossa Mãe. Será que já chegou para nós o “terceiro dia”? Ou hoje falamos de Jesus ressuscitado apenas porque as primeiras comunidades cristãs nos testemunharam que ele ressuscitou? Se ainda não comemos nem bebemos com ele, como podemos dizer que ele está vivo?!</i></b></p>
					</td>
				</tr>
			</tbody></table>
		</div>