<template>
  <div id="admin">
    <div class="row">
      <div class="col-xs-12 header">
        <h1>Administração</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 buttons-container">
        <button class="btn btn-primary" v-on:click="form = 'register'" v-bind:class="{ 'active': form == 'register' }">Criar Utilizador!</button>
        <button class="btn btn-primary" v-on:click="form = 'book_create'" v-bind:class="{ 'active': form == 'book_create' }">Adicionar Livro!</button>
        <button class="btn btn-primary" v-on:click="form = 'add_video'" v-bind:class="{ 'active': form == 'add_video' }">Adicionar Video!</button>
      </div>  
    </div>
    <div class="row forms-container" v-if="!form == ''">
      <span class="glyphicon glyphicon-remove close-form-container" v-on:click="form = ''"></span>
      <div class="col-xs-12">
        <register v-if="form == 'register'"></register>
        <create-book v-if="form == 'book_create'"></create-book>
        <add-video v-if="form == 'add_video'"></add-video>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 header stats">
        <h1>Dados Estatísticos</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 non-user-stats" v-if="!loading">
        <h3>Artigos: {{ getStats.articles }}</h3>
        <h3>Livros: {{ getStats.books }}</h3>
        <h3>Videos: {{ getStats.videos }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-hover table-responsive users-table" v-if="!loading && getStats.users.length > 0">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Artigos</th>
              <th>Livros</th>
              <th>Vídeos</th>
              <th>Estatuto</th>
              <th>Registo</th>
              <th>Última Sessão</th>
              <th>Conta Activada</th>
              <th>Acção</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in getStats.users" v-bind:key="user.id">
              <td>{{ user.username | decodeHTML }} </td>
              <td>{{ user.email }}</td>
              <td>{{ user.articles.length }}</td>
              <td>{{ user.books.length }}</td>
              <td>{{ user.videos.length }}</td>
              <td>{{ user.role }}</td>
              <td>{{ user.created_at | readableDate }}</td>
              <td v-if="user.last_session_at != null">{{ user.last_session_at | readableDate }}</td>
              <td v-if="user.last_session_at == null">Nunca</td>
              <td v-if="user.active == 0">Não</td>
              <td v-if="user.active == 1">Sim</td>
              <td><button class="btn btn-danger btn-xs" v-on:click="deleteUser(user.id)">Eliminar!</button></td>
            </tr>
          </tbody>
        </table>
        <div class="spinner" v-if="loading">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <p class="loading" v-if="loading">A Carregar Dados Estatísticos...</p>
      </div>
    </div>
  </div>
</template>

<script>
  
  import Register from './Register.vue'
  import CreateBook from '../books/CreateBook.vue'
  import AddVideo from '../videos/AddVideo.vue'

  import S from 'string'
  import moment from 'moment'

  export default {
    name: 'admin',
    computed: {
      getToken() {
        return this.$store.state.token
      },
      getStats() {
        return this.$store.state.stats
      }
    },
    filters: {
      decodeHTML(data) {
          return S(data).decodeHtmlEntities().toString()
      },
      readableDate(date) {
          return moment(date).format("D-MMM-YY HH:mm")
      },
      currency(price) {
          return price.toFixed(2)
      }
    },
    created() {

      setTimeout(() => {

        let formData = {
          csrf_name: this.getToken.csrf_name,
          csrf_value: this.getToken.csrf_value
        }

        this.$http.post('/admin/stats', formData).then(response => {

          let data = response.data
          
          // Update Token in State
          this.$store.commit('changeToken', data.token)

          this.$store.commit('updateStats', data.stats)

          return this.loading = false


        }, error => {

          this.loading = false

          return this.$store.commit('addNotification', {
            type: 'error',
            message: 'De momente, não é possível apresentar os dados estatísticos.',
            autoClear: false
          })

        })

      }, 3000)

    },
    data() {
      return {
        form: '',
        loading: true
      }
    },
    props: ['user'],
    components: {
      Register, CreateBook, AddVideo
    },
    methods: {
      deleteUser(id) {
        
        let confirmation = prompt("Eliminar Perfil? Escreva 'Sim' para confirmar!")

        if(confirmation == 'Sim') {

          let formData = {
            id: id,
            own: false,
            csrf_name: this.getToken.csrf_name,
            csrf_value: this.getToken.csrf_value 
          }

          this.$http.post("/users/user/delete", formData).then(response => {

            let data = response.data

            this.$store.commit('changeToken', data.token)

            if(data.errors) {

              return this.$store.commit('addNotification', {
                type: 'error',
                message: data.errors[0],
                autoClear: false
              })

            } else {

              if(data.deleted) {

                this.$store.commit('removeUserFromStats', id)

                return this.$store.commit('addNotification', {
                  type: 'success',
                  message: "Utilizador Eliminado!",
                  autoClear: true
                })
              
              }

            }

          }, error => {

            this.formLoading = false

            this.$store.commit('changeToken', error.token)

            return this.$store.commit('addNotification', {
              type: 'error',
              message: error.message,
              autoClear: true
            })

          })

        }

      }
    }
  }

</script>

<style lang="sass" scoped>

  .header
    border-bottom: 5px solid black
    margin-bottom: 40px
    padding-bottom: 20px

    @media (max-width: 768px)
      h1
        text-align: center

    h1
        color: black

  .buttons-container
    display: flex
    justify-content: space-around

    @media (max-width: 670px)
      flex-direction: column

      button
        display: block
        width: 100%
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0

    button.active,
    button.active:focus
      color: #1976d2
      background-color: #ffffff
      border-color: #1976d2
      outline: none
      box-shadow: 1px 1px 20px 6px #7196bb

  .forms-container
    position: relative
    border-top: 5px solid black
    margin-top: 40px
    padding: 40px 20px

    .close-form-container
      position: absolute
      top: 20px
      right: 15px
      &:hover
        cursor: pointer

  button a
    color: white

  .stats
    margin-top: 100px

    @media (max-width: 768px)
      h1
        text-align: center


  .non-user-stats
    display: flex
    justify-content: space-around
    margin: 0 0 40px 0
    padding-right: 0
    padding-left: 0

    @media (max-width: 768px)
      flex-direction: column
      align-items: center

      h3
        width: 35%
        text-align: center

    h3
      color: black
      background: #1976D2
      padding: 20px 40px
      color: white
      border-bottom: 5px solid darken(#1976D2, 20%)

  .users-table
    border: 5px solid gainsboro

    thead, tbody,
    th, td
      text-align: center

    td
      vertical-align: middle




</style>