<template>
  <div id="profile">
    <div class="row">
      <div class="col-xs-12 header">
        <h1>Perfil</h1>
      </div>
    </div>

    <div class="row" v-if="user">
      
      <div class="col-xs-12 user-data">
        <p><strong>Nome de Utilizador:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Cargo:</strong> {{ user.role }}</p>
        <p v-if="user.last_session_at != null"><strong>Última Sessão:</strong> {{ user.last_session_at | readableDate }}</p>
        <button class="btn btn-primary" v-on:click="modal('edit_profile')">Editar Perfil!</button>
        <button class="btn btn-danger" v-on:click="deleteUser(user.id)">Eliminar Perfil!</button>
      </div>

      <div class="col-xs-12 articles-container">
        <h1>Artigos</h1>
        <div class="spinner" v-if="loading">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <p class="loading" v-if="loading">A Carregar Artigos...</p>
        <ul v-if="articles.length > 0" class="clearfix">
          <div class="col-xs-12 col-sm-6 article" v-for="article in articles">
            <li>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <div class="panel-title">
                    <h3>{{ article.title | decodeHTML | textLimiter(40) }}</h3>
                    <p><a class="edition-link" v-bind:href="fullUrl('edition', article.edition)">Edição - {{ article.edition }}</a> | Categoria - {{ article.category | decodeHTML }}</p>
                    <small>Comentários - {{ article.comments.length }} | <span v-html="setRating(getRating(article))"></span></small>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="ql-editor">
                    <span v-html="decodedAndLimitedText(article.text, 500)"></span>
                  </div>
                  <small>{{ article.author | decodeHTML }} | {{ article.created_at | readableDate }}</small>
                </div>
                <div class="panel-footer" v-if="user && article.user_id == user.id">
                  <div class="button-group">
                    <button class="btn btn-default"><a v-bind:href="fullUrl('article', article.slug)">Artigo Completo!</a></button>
                    <button class="btn btn-primary" v-on:click="modal('edit_article', { id: article.id })">Editar Artigo!</button>
                    <button class="btn btn-danger" v-on:click="deleteArticle(article.id)">Eliminar Artigo!</button>
                  </div>
                </div>
              </div>
            </li>
            <div class="clearer"></div>
          </div>  
        </ul>
        <p v-if="articles.length == 0 && !loading" class="no-content"><span class="glyphicon glyphicon-info-sign"></span> Sem Artigos Disponíveis!</p>
      </div>

      <div class="col-xs-12 books-container" v-if="user && user.role == 'Administrador'">
        <h1>Livros</h1>
        <div class="spinner" v-if="loading">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <p class="loading" v-if="loading">A Carregar Livros...</p>
        <ul v-if="books.length > 0" class="clearfix">
          <div class="col-xs-12" v-for="book in books">
            <li>
              <div class="book">
                <div class="book-image">
                  <a v-bind:href="fullUrl('book', book.slug)">
                    <img v-bind:src="book.image" alt="capa do livro">
                  </a>  
                </div>
                <div class="book-body">
                  <h4>{{ book.title | decodeHTML }} | Preço: €{{ book.price }} </h4>
                  <small><span class="glyphicon glyphicon-pencil"></span> {{ book.author | decodeHTML }} | <span class="glyphicon glyphicon-time"></span> {{ book.created_at | readableDate }}</small>
                  <p class="text book-summary">{{ book.summary | decodeHTML | textLimiter(200) }}</p>
                  <div class="button-group">
                    <button class="btn btn-primary" v-on:click="modal('edit_book', { id: book.id })">Editar!</button>
                    <button class="btn btn-danger" v-on:click="deleteBook(book.id)">Eliminar!</button>
                  </div>
                </div>
              </div>
            </li>
          </div>  
        </ul>
        <p v-if="books.length == 0 && !loading" class="no-content"><span class="glyphicon glyphicon-info-sign"></span> Sem Livros Disponíveis!</p>
      </div>
    
      <div class="col-xs-12 videos-container" v-if="user && user.role == 'Administrador'">
        <h1>Vídeos</h1>
        <div class="spinner" v-if="loading">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <p class="loading" v-if="loading">A Carregar Vídeos...</p>
        <ul v-if="videos.length > 0" class="clearfix">
          <div class="col-xs-12 col-sm-6" v-for="video in videos">
            <li>
              <div class="video">
                <div class="video-frame embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" v-bind:src="video.link" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="video-body">
                  <h4>{{ video.title | decodeHTML }}</h4>
                  <small>Adicionado em {{ video.created_at | readableDate }}</small>
                  <div class="button-group">
                    <button class="btn btn-primary" v-on:click="modal('edit_video', { id: video.id })">Editar!</button>
                    <button class="btn btn-danger" v-on:click="deleteVideo(video.id)">Eliminar!</button>
                  </div>
                </div>
              </div>
            </li>
          </div>  
        </ul>
        <p v-if="videos.length == 0 && !loading" class="no-content"><span class="glyphicon glyphicon-info-sign"></span> Sem Vídeos Disponíveis!</p>
      </div>

    </div>
  </div>
</template>

<script>
  
  import S from 'string'
  import moment from 'moment'

  export default {
    name: 'profile',
    props: ['user'],
    computed: {
      getToken() {
        return this.$store.state.token
      }
    },
    data() {
      return {
        articles: [],
        books: [],
        videos: [],
        loading: true,
        deleted: false
      }
    },
    created() {

      setTimeout(() => {

        let formData = {
          userId: this.$store.state.user.id,
          csrf_name: this.getToken.csrf_name,
          csrf_value: this.getToken.csrf_value
        }

        this.$http.post('/users/user/collectibles', formData).then(response => {

          let data = response.data

          this.$store.commit("changeToken", data.token)
          this.$store.commit("loadArticles", data.articles)
          this.$store.commit("loadBooks", data.books)
          this.$store.commit("loadVideos", data.videos)

          this.loading = false

          this.books = data.books
          this.videos = data.videos
          return this.articles = data.articles

        }, error => {

          return this.loading = false

        })

      }, 3000)

    },
    filters: {
      decodeHTML(data) {
        return S(data).decodeHtmlEntities().toString();
      },
      readableDate(date) {
        return moment(date).format("D-MMM-YY HH:mm")
      },
      textLimiter(text, limit) {
        return text = text.substring(0, limit) + '...'
      }
    },
    methods: {
      deleteUser(id) {
        
        let confirmation = prompt("Eliminar Perfil? Escreva 'Sim' para confirmar!")

        if(confirmation == 'Sim') {

          let formData = {
            id: id,
            own: true,
            csrf_name: this.getToken.csrf_name,
            csrf_value: this.getToken.csrf_value 
          }

          this.$http.post("/users/user/delete", formData).then(response => {

            let data = response.data

            this.$store.commit('changeToken', data.token)

            if(data.errors) {

              return this.$store.commit('addNotification', {
                type: 'error',
                message: data.errors[0],
                autoClear: false
              })

            } else {

              if(data.deleted) {

                this.$store.commit('changeUser', null);

                return location.href = '/home'
              }

            }

          }, error => {

            this.formLoading = false

            this.$store.commit('changeToken', error.token)

            return this.$store.commit('addNotification', {
              type: 'error',
              message: error.message,
              autoClear: true
            })

          })

        }

      },
      decodedAndLimitedText(text, limit) {
        let decoded = S(text).decodeHtmlEntities().toString()

        return decoded.substring(0, limit)
      },
      fullUrl(type, slug) {

        if(type == 'article') {
          return '/articles/article/' + slug
        }
        
        if(type == 'edition') {
          return '/editions/edition/' + slug
        }

        if(type == 'book') {
          return '/books/book/' + slug
        }
      },
      modal(type, data) {
        return this.$store.commit('changeModal', {
          type: type,
          active: true,
          data: data
        })
      },
      deleteArticle(id) {

        this.formLoading = true

        let confirmation = prompt("Eliminar Artigo? Escreva 'Sim' para confirmar.")

        if(confirmation == 'Sim') {

          let formData = {
            id: id,
            csrf_name: this.getToken.csrf_name,
            csrf_value: this.getToken.csrf_value 
          }

          this.$http.post("/articles/article/delete", formData).then(response => {

            let data = response.data

            this.$store.commit('changeToken', data.token)

            this.formLoading = false

            if(data.errors) {

              return this.$store.commit('addNotification', {
                type: 'error',
                message: data.errors[0],
                autoClear: false
              })

            } else {

              if(data.status == 200) {

                this.$store.commit('deleteArticle', {
                  id: id
                })

                return this.$store.commit('addNotification', {
                  type: 'success',
                  message: 'Artigo Eliminado!',
                  autoClear: true
                })

              }   

            }

          }, error => {

            this.formLoading = false

            this.$store.commit('changeToken', error.token)

            return this.$store.commit('addNotification', {
              type: 'error',
              message: error.message,
              autoClear: true
            })

          })       

        }

        this.formLoading = false

        return this.$store.commit('addNotification', {
          type: 'info',
          message: 'Acção Cancelada!',
          autoClear: true
        })

      },
      deleteBook(id) {

        this.formLoading = true

        let confirmation = prompt("Eliminar Livro? Escreva 'Sim' para confirmar.")

        if(confirmation == 'Sim') {

          let formData = {
            id: id,
            csrf_name: this.getToken.csrf_name,
            csrf_value: this.getToken.csrf_value 
          }

          this.$http.post("/books/book/delete", formData).then(response => {

            let data = response.data

            this.$store.commit('changeToken', data.token)

            this.formLoading = false

            if(data.errors) {

              return this.$store.commit('addNotification', {
                type: 'error',
                message: data.errors[0],
                autoClear: false
              })

            } else {

              if(data.status == 200) {

                this.$store.commit('deleteBook', {
                  id: id
                })

                return this.$store.commit('addNotification', {
                  type: 'success',
                  message: 'Artigo Eliminado!',
                  autoClear: true
                })

              }   

            }

          }, error => {

            this.formLoading = false

            this.$store.commit('changeToken', error.token)

            return this.$store.commit('addNotification', {
              type: 'error',
              message: error.message,
              autoClear: true
            })

          })      

        }

        this.formLoading = false

        return this.$store.commit('addNotification', {
          type: 'info',
          message: 'Acção Cancelada!',
          autoClear: true
        })

      },
      deleteVideo(id) {

        this.formLoading = true

        let confirmation = prompt("Eliminar Video? Escreva 'Sim' para confirmar.")

        if(confirmation == 'Sim') {

          let formData = {
            id: id,
            csrf_name: this.getToken.csrf_name,
            csrf_value: this.getToken.csrf_value 
          }

          this.$http.post("/videos/video/delete", formData).then(response => {

            let data = response.data

            this.$store.commit('changeToken', data.token)

            this.formLoading = false

            if(data.errors) {

              return this.$store.commit('addNotification', {
                type: 'error',
                message: data.errors[0],
                autoClear: false
              })

            } else {

              if(data.status == 200) {

                this.$store.commit('deleteVideo', {
                  id: id
                })

                return this.$store.commit('addNotification', {
                  type: 'success',
                  message: 'Video Eliminado!',
                  autoClear: true
                })

              }   

            }

          }, error => {

            this.formLoading = false

            this.$store.commit('changeToken', error.token)

            return this.$store.commit('addNotification', {
              type: 'error',
              message: error.message,
              autoClear: true
            })

          })       

        }

        this.formLoading = false

        return this.$store.commit('addNotification', {
          type: 'info',
          message: 'Acção Cancelada!',
          autoClear: true
        })

      },
      getRating(article) {

        if(article.likes.length > 0) {
          
          let ratingsTotal = article.likes.reduce((acc , like) => {
              return acc + like.rating
          }, 0)

          let avg = (ratingsTotal / article.likes.length).toFixed(0)
          let i = 0

          return avg

        } else {
          return 0
        }
      },
      setRating(avg) {
        if(avg == 0) {
          return `<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 1) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 2) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 3) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 4) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 5) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>`
        }
      }
    }
  }

</script>

<style lang="sass" scoped>

  .header
    border-bottom: 5px solid black
    padding: 20px 0
    color: black

    @media (max-width: 460px)
      text-align: center

  .no-content
    color: black
    margin: 0
    text-decoration: underline
    font-weight: bold
    font-size: 1.2rem

    @media (max-width: 768px)
      text-align: center

  .user-data
    margin: 20px 0 20px 0
    color: black

    @media (max-width: 450px)
      text-align: center

      button:last-child
        margin-top: 10px

  .article
    @media (min-width: 768px)
      min-height: 700px

    @media (min-width: 1000px)
      min-height: 620px

    @media (min-width: 1025px)
      min-height: 450px  

  .articles-container,
  .books-container,
  .videos-container
    padding: 20px 0
    color: black

    .panel
      border: 5px solid black
    
    .panel-heading
      border-radius: 0
      background: black
      border: none

    .panel-footer
      border-top: 5px solid black
      background: white

      .button-group
        button
          display: block
          width: 100%
          margin-bottom: 10px
        
        @media (min-width: 1250px)
          text-align: center

          button
            display: inline-block
            width: auto
            margin-bottom: 0

      .btn-danger
        margin-bottom: 0

    @media (max-width: 768px)
      .button-group
        text-align: center

    h1
      border-bottom: 5px solid black
      padding: 0 0 30px 0
      margin-bottom: 30px

      @media (max-width: 460px)
        text-align: center
        padding-bottom: 15px

  .edition-link
    color: white

  ul
    list-style: none
    padding-left: 0

  .video
    border: 5px solid black
    border-radius: 4px
    margin-bottom: 20px

    .video-frame
      text-align: center

      iframe
        width: 100%

    .video-body
      text-align: center
      padding: 0 20px 20px

      div
        margin-top: 10px
      
      h4
        padding: 0 20px

  .book
    border: 5px solid black
    overflow: hidden
    display: flex
    margin-bottom: 20px
    border-radius: 4px

    @media (max-width: 640px)
      margin-bottom: 40px
      flex-direction: column

    .book-body
      padding: 10px 20px
      flex: 4
      max-height: 300px
      overflow: hidden

      @media (max-width: 640px)
        padding: 10px
        text-align: center

      .book-summary
        margin-top: 10px

    .book-image
      flex: 1
      padding: 20px 0 20px 20px

      .button-group
        text-align: center
        margin-top: 10px

        button
          width: 45% !important
          display: inline-block !important

        @media (max-width: 768px)
          .btn-danger
            margin-bottom: 10px

      @media (max-width: 640px)
        padding: 0px

      img
        width: 100%
        min-width: 175px
        min-height: 275px

</style>