<template>
  <transition name="slideUp">
    <div id="register">
      <form v-on:submit.prevent="register()">
        <div class="form-group" :class="{'has-error': validation.hasError('username'), 'has-success': validation.isPassed('username')}">
          <label for="username">Nome de Utilizador</label>
          <input type="text" name="username" v-model="username" class="form-control" id="username">
          <span class="help-block">{{ validation.firstError('username') }}</span>
        </div>
        <div class="form-group" :class="{'has-error': validation.hasError('email'), 'has-success': validation.isPassed('email')}">
          <label for="email">Email</label>
          <input type="email" name="email" v-model="email" class="form-control" id="email">
          <span class="help-block">{{ validation.firstError('email') }}</span>
        </div>
        <div class="form-group" :class="{'has-error': validation.hasError('role'), 'has-success': validation.isPassed('role')}">
          <label for="role">Função</label>
          <select class="form-control" name="role" id="role" v-model="role">
            <option value="Administrador">Administrador</option>
            <option value="Colaborador">Colaborador</option>
          </select>
          <span class="help-block">{{ validation.firstError('role') }}</span>
        </div>
        <button type="submit" v-bind:disabled="formLoading" class="btn btn-primary">Criar</button>
        <button type="reset" class="btn btn-danger">Limpar</button>
      </form>
    </div>
  </transition>
</template>

<script>
  
  import SimpleVueValidation from 'simple-vue-validator'

  let Validator = SimpleVueValidation.Validator

  export default {
    name: 'register',
    computed: {
      getToken() {
        return this.$store.state.token
      }
    },
    data() {
      return {
        formLoading: false,
        username: "",
        email: "",
        role: "Colaborador"
      }
    },
    validators: {
      username(value) {
        return Validator.value(value).required().minLength(3)
      },
      email(value) {
        return Validator.value(value).required().email()
      },
      role(value) {
        return Validator.value(value).required().in(['Administrador', 'Colaborador'])
      }
    },
    methods: {
      clear() {
        this.username = ''
        this.email = ''
        this.role = 'Colaborador'
        this.validation.reset()
      },
      register() {

        // Block form
        this.formLoading = true

        this.$validate().then(success => {

          if(success) {

            let formData = {
              username: this.username,
              email: this.email,
              role: this.role,
              csrf_name: this.getToken.csrf_name,
              csrf_value: this.getToken.csrf_value
            }

            this.$http.post('/users/create', formData).then(response => {

              let data = response.data

              // Update Token in State
              this.$store.commit('changeToken', data.token)

              if(data.errors) {

                this.formLoading = false

                return this.$store.commit('addNotification', {
                  type: 'error',
                  message: data.errors[0],
                  autoClear: false
                });

              } else {

                this.formLoading = false

                this.clear()

                // Add message
                this.$store.commit('addNotification', {
                  type: 'success',
                  message: data.message,
                  autoClear: true
                })

              }

            }, error => {

              this.formLoading = false

              return this.$store.commit('addNotification', {
                type: 'error',
                message: error.message,
                autoClear: false
              })

            })

          } else {

            return this.formLoading = false

            return this.$store.commit('addNotification', {
              type: 'error',
              message: 'Oopss! Alguma coisa correu mal. Por favor tente mais tarde.',
              autoClear: false
            });

          }

        }).catch(error => {

          this.formLoading = false
        
          return this.$store.commit('addNotification', {
            type: 'error',
            message: 'Oopss! Alguma coisa correu mal. Por favor tente mais tarde.',
            autoClear: false
          });
        
        })

      }
    }
  }

</script>

<style lang="sass" scoped>

  #register

    form
      border: 5px solid gainsboro
      border-radius: 4px
      padding: 20px
      margin-top: 20px

      @media (max-width: 525px)

        button
          width: 100%
          margin-bottom: 10px
          display: block
          &:last-child
            margin-bottom: 0


    

</style>