@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import 'partials/transitions.less';
@import 'partials/navbar.less';
@import 'partials/home.less';
@import 'partials/bio.less';
@import 'partials/footer.less';
@import 'partials/notificator.less';
@import 'partials/archive.less';

:root
{
  font-size: 16px;
}

*
{
  font-family: "PT Sans", sans-serif;
}

body
{
  padding: 40px 0;
  position: relative;
}

h1, h2, h3, h4, h5
{
  font-weight: 700;
}

p
{
  font-size: 1rem;
}

a
{
  color: inherit;
  &:hover
  {
    text-decoration: none;
    color: inherit;
  }
}

.clearer
{
  height: 10px;
  clear: both;
}

[cloak]
{
  display: none;
}

.spinner {
  margin: 0;
  width: 70px;
  display: block;

  @media (max-width:768px)
  {
    text-align: center;
    margin: 0 auto;
  }

}

.spinner > div {
  width: 1.2rem;
  height: 1.2rem;
  background-color: black;

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
  } 40% { 
    transform: scale(1.0);
  }
}

.loading
{
  font-size: 1.2rem;
  color: black;
  font-weight: 700;
  display: block;

  @media (max-width:768px)
  {
    text-align: center;
  }
}

#scroll-to-top
{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: black;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
  &:hover {
    cursor: pointer;
    span { margin-bottom: 5px; }
  }

  span
  {
    transition: all 300ms ease-in-out;
    color: white;
    font-size: 2rem;
  }

  @media (max-width: 570px)
  {
    right: 50%;
    transform: translate(25px, 0);
    opacity: .3;
    &:hover {
      opacity: 1;
    }
  }

}

// bootstrap overrides
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, 
.col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, 
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, 
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, 
.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{
  @media (max-width: 460px)
  {
    padding: 0 !important;
  }
}

.btn
{
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.btn-xs
{
  font-size: .8rem;
  padding: 5px 10px;
}

.btn-primary
{
  background: #1976D2;
  color: white;
  border: 5px solid #1976D2;
  transition: all 300ms ease-in-out;
  &:focus
  {
    background: #1976D2;
    color: white;
    outline: none;
    border: 5px solid #1976D2;
  }
  &:hover
  {
    background: white;
    color: #1976D2;
    border: 5px solid #1976D2;
    outline: none;
  }
}

.btn-danger
{
  background: #f43c3c;
  color: white;
  border: 5px solid #f43c3c;
  transition: all 300ms ease-in-out;
  &:focus
  {
    background: #f43c3c;
    color: white;
    outline: none;
    border: 5px solid #f43c3c;
  }
  &:hover
  {
    background: white;
    color: #f43c3c;
    border: 5px solid #f43c3c;
    outline: none;
  }
}

.btn-default
{
  background: black;
  color: white;
  border: 5px solid black;
  transition: all 300ms ease-in-out;
  &:focus
  {
    background: black;
    color: white;
    outline: none;
    border: 5px solid black;
  }
  &:hover
  {
    background: white;
    color: black;
    border: 5px solid black;
    outline: none;
  }
}

.twitter-btn
{
  background: #2AA9E0;
  color: white;
  border: 5px solid #2AA9E0;
  transition: all 300ms ease-in-out;
  &:focus
  {
    background: white;
    color: #2AA9E0;
    outline: none;
    border: 5px solid #2AA9E0;
  }
  &:hover
  {
    background: white;
    color: #2AA9E0;
    outline: none;
    border: 5px solid #2AA9E0;
  }
}

label
{
  font-size: 1.1rem;
  color: black;
}

input
{
  color: black !important;
  font-weight: bold;
  font-size: 1rem !important;
}

.form-control:focus
{
  border: 3px solid black;
  box-shadow: none;
}

.has-error > .quill-editor,
.has-error > .form-control,
.has.error > .form-control:focus
{
  border: 3px solid #f43c3c !important;
  box-shadow: none !important;
}

.has-success > .quill-editor,
.has-success > .form-control,
.has.success > .form-control:focus
{
  border: 3px solid #388E3C !important;
  box-shadow: none !important;
}

// End of Bootstrap overrides
#app
{
  position: relative;

  @media (max-width: 360px)
  {
    padding: 0;
  }

}

.text
{
  white-space: pre-wrap;
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .like
  {
    font-size: 3.5rem;
    margin-right: 30px;
    color: #f43c3c;
    &:hover
    {
      cursor: pointer;
    }
  }

  .btn-primary
  {
    margin-left: 30px;
  }

}

.fb_iframe_widget
{
  height: auto;

  iframe
  {
    transform: scale(1.7, 1.85);
    left: 25px;
  }

}

#main
{
  padding: 0 30px 0 30px;
  margin-top: 100px;
  z-index: 10;

  @media (max-width: 690px)
  {
    border: none;
  }

  @media (max-width: 400px)
  {
    margin-top: 100px;
  }

}

.ql-editor
{
  padding: 0 15px 0 0 !important;
  min-height: 150px;

  @media (max-width: 460px)
  {
    padding: 0 10px 0 0 !important;
  }
}

.ql-blank
{
  min-height: 150px !important;
  font-size: 1.1rem;
}

.glyphicon-star,
.glyphicon-star-empty
{
  color: #FF5722;
}