<template>
  <div id="main">
    <notificator :notification="notification"></notificator>
    <home v-if="page == 'home'" :data="data"></home>
    <error v-if="page == 'error'"></error>
    <profile v-if="page == 'profile'" :user="user"></profile>
    <admin v-if="page == 'admin'" :user="user"></admin>
    <article-create v-if="page == 'article-create'" :user="user"></article-create>
    <article-single v-if="page == 'article-single'" :user="user" :article="article"></article-single>
    <editions-index v-if="page == 'editions-index'" :user="user" :editions="editions"></editions-index>
    <editions-single v-if="page == 'editions-single'" :user="user" :edition="edition"></editions-single>
    <books v-if="page == 'books'" :user="user"></books>
    <book-single v-if="page == 'book-single'" :user="user" :book="book"></book-single>
    <videos v-if="page == 'videos'" :user="user" :videos="videos"></videos>
    <archive v-if="page == 'archive'"></archive>
    <modal></modal>
  </div>
</template>

<script>

  import Home from "./components/Home.vue"
  import Admin from "./components/users/Admin.vue"
  import Notificator from './components/Notificator.vue'
  import Error from './components/Error.vue'
  import Search from './components/Search.vue'
  import Modal from './components/Modal.vue'
  import Profile from './components/users/Profile.vue'
  import ArticleCreate from './components/articles/ArticleCreate.vue'
  import ArticleSingle from './components/articles/ArticleSingle.vue'
  import EditionsIndex from './components/editions/EditionsIndex.vue'
  import EditionsSingle from './components/editions/EditionsSingle.vue'
  import Books from './components/books/Books.vue'
  import BookSingle from './components/books/BookSingle.vue'
  import Videos from './components/videos/Videos.vue'
  import Archive from './components/Archive.vue'

  export default {
    name: 'main',
    props: ['page', 'article', 'editions', 'edition', 'book', 'videos', 'data'],
    computed: {
      notification() {
        return this.$store.state.notification
      },
      user() {
        return this.$store.state.user
      }
    },
    components: {
      Home, Notificator, 
      Error, Search, Modal, Profile, ArticleCreate, 
      ArticleSingle, EditionsIndex, EditionsSingle,
      Admin, Books, BookSingle, Videos, Archive
    }
  }

</script>

<style lang="sass">

</style>