{% extends 'base.html.twig' %}

{% block main %}

  <div id="main" class="bio">
    
    <div class="row">
      <div class="col-xs-12 header">
        <h1>Biografia</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="main-bio">
          <div class="image-container">
            <div class="image">
              <img src="/assets/images/bio/mario.jpg" alt="padre mario">
              <p class="copy">&bullet; Foto de Guilherme Silva</p>
            </div>
          </div>
          <div class="text-container">
            <h3>
              Nome completo
            </h3>
            <p>Mário Pais de Oliveira</p>
            <h3>Morada</h3>
            <p>Rua Alto da Paixão nº 298 4615-418 MACIEIRA DA LIXA</p>
            <h3>Contactos</h3>
            <div class="contacts">
              <p><span class="glyphicon glyphicon-phone-alt"></span> 25 549 63 58</p>
              <p><span class="glyphicon glyphicon-phone"></span> 93 393 65 02 | 96 807 81 22</p>
              <p><a href="mailto:padremario@sapo.pt" target="_top"><span class="glyphicon glyphicon-envelope"></span> padremario@sapo.pt</a></p>
            </div>
            <p>Actualmente, é director do Jornal FRATERNIZAR, desde a sua fundação, em Janeiro de 1988, e reside na casa-sede da Associação Padre Maximino, sua proprietária e editora.</p>
            <p>É mais conhecido por Padre Mário da Lixa. E, como quem faz jus ao nome que se lhe colou ao corpo, decidiu, em Fevereiro de 2004, fixar de novo residência em Macieira da Lixa, freguesia do concelho de Felgueiras onde, antes de Abril de 1974, foi pároco e, nessa qualidade, foi duas vezes preso pela PIDE e outras tantas julgado no Tribunal Plenário do Porto. Porém, neste seu regresso a Macieira da Lixa, já não tem nada a ver com a paróquia. Vive sem qualquer privilégio eclesiástico, numa casinha alugada no lugar da Maçorra, na proximidade física de companheiras e de companheiros cristãos de base, com quem partilha a vida, os bens e a missão de Evangelizar os pobres e os povos. Tem mais de vinte livros publicados, todos fecundamente polémicos ao tempo em que foram editados, com destaque para Chicote no Templo (Afrontamento, 1973), Mas à Africa, Senhores, Por que lhes Dais Tantas Dores (Campo das Letras, 1997), Fátima Nunca Mais (Campo das Letras, 1999), Nem Adão e Eva, Nem Pecado Original (Campo das Letras, 2000), Que Fazer com esta Igreja (Campo das Letras, 2001), Em Memória Delas. Livro de mulheres (Campo das Letras, 2002), E Deus disse: do que eu gosto é de política, não de religião (Campo das Letras, 2002), Com Farpas. Mas com Ternura (Ausência, 2003), Ouvistes o Que Foi Dito aos Antigos. Eu, Porém, Digo-vos (Campo das Letras, 2004), Canto(s) nas Margens (Ausência, 2005) e O Outro Evangelho Segundo Jesus Cristo (Campo das Letras, 2005).</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 header">
        <h1>Cronologia</h1>
      </div>
    </div>

    <div class="row cronology">
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
          <img class="media-object" src="assets/images/bio/mario_crianca.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">8 de Março de 1937</h3>
            <p>Nasceu na freguesia de Lourosa (Santa Maria da Feira). É o último dos três filhos (respectivamente, António, Maria Amália e Mário) que nasceram ao casal Maria Alice dos Santos e David Gomes de Oliveira, na altura, mais conhecidos entre os vizinhos, por Ti' Maria do Grilo e Ti' David, ela jornaleira nos campos e nas quintas de D. Maria Pinto e ele operário numa fábrica de serração de madeiras, anos mais tarde, emigrante em Moçambique (foto com um gato ao colo, junto da casa-barraco onde nasceu - alguns anos depois, teve de ser demolida - acompanhado da sua irmã e com uma pessoa amiga, mais velha, entre ambos).</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
          <img class="media-object" src="assets/images/bio/mario_seminario.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">21 de Março de 1937</h3>
            <p>Foi baptizado na igreja paroquial de Lourosa (Santa Maria da Feira).</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row cronology">
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/mario_missa_nova.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Outubro de 1950</h3>
            <p>Deu entrada no Seminário da Diocese do Porto, cujo primeiro ano funcionava, cumulativamente, no Colégio diocesano de Ermesinde. Os anos seguintes passou-os, sucessivamente, no Seminário de Trancoso, em V N Gaia, no Seminário de Vilar (na foto à esquerda) e no Seminário da Sé.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/mario_antas_templo.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">5 de Agosto de 1962</h3>
            <p>Foi ordenado padre, na Sé Catedral do Porto, pelo bispo D. Florentino de Andrade e Silva, Administrador Apostólico da Diocese. A missa nova foi oito dias depois, em Lourosa (foto no final do almoço, entre familiares, concretamente, a mãe e o pai, a irmã e o cunhado Florindo, mais os filhos de ambos).</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row cronology">
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/mario_antas.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Outubro de 1962</h3>
            <p>Começou a ser coadjutor na Paróquia de Santo António das Antas (Porto). Era para permanecer aí, pelo menos, durante dois anos, mas, antes do primeiro ano terminar, já o respectivo pároco, incomodado com a sua maneira popular e evangelicamente desestabilizadora de exercer o ministério, estava a pedir ao Administrador Apostólico da Diocese a sua remoção (fotos com o grupo de militantes da JOCF, à porta do templo, e durante o almoço de casamento de um dirigente do grupo da JOC).
</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/mario_est_liceu.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Outubro de 1963</h3>
            <p>Iniciou-se como professor de Religião e Moral, no Liceu Alexandre Herculano (Porto). Ao mesmo tempo, vivia numa casa alugada, situada na Rua Barão de Nova Sintra, que funcionava também como casa de apoio moral aos estudantes do referido Liceu.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row cronology">
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/mario_est_liceu.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Outubro de 1965</h3>
            <p>Continuou como professor de Religião e Moral, mas agora no Liceu D. Manuel II (Porto), ao mesmo tempo que assumiu as funções de assistente diocesano da JEC. Residia numa casa alugada, na Rua da Boavista, sobre a Papelaria "B. B.", na qual acolhia e prestava incondicional apoio moral aos estudantes do referido Liceu (foto 8, num jantar de confraternização com estudantes da turma do 7º F).</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/mario_est_liceu.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Agosto de 1967</h3>
            <p>Foi abruptamente interrompido nesta sua missão pastoral pelo Administrador Apostólico da Diocese, por suspeita de estar a dar cobertura a actividades consideradas subversivas dos estudantes (concretamente, por favorecer o movimento associativo, coisa proibida pelo regime político de então). Nomeado capelão militar, sem qualquer consulta prévia, pelo mesmo Administrador Apostólico, foi obrigado a frequentar, de imediato, durante cinco semanas seguidas, um curso intensivo de formação militar, na respectiva Academia, em Lisboa.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row cronology">
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/militares.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Novembro de 1967</h3>
            <p>Desembarcou na Guiné-Bissau, como alferes capelão do Exército português, integrado no Batalhão 1912, na região de Mansoa (foto entre alguns militares que acompanhou e interpelou).</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/militares.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Março de 1968</h3>
            <p>Foi expulso de capelão militar, por ter ousado pregar, nas Missas, o direito dos povos colonizados à autonomia e independência, e regressou à sua Diocese, rotulado pelo Bispo castrense de então, D. António dos Reis Rodrigues, como "padre irrecuperável".</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row cronology">
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/mario_paroco_paredes.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Abril de 1968</h3>
            <p>Começou a paroquiar a freguesia de Paredes de Viadores (Marco de Canaveses), por nomeação do Administrador Apostólico da Diocese do Porto, D. Florentino de Andrade e Silva.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/mario_paroco_paredes.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Junho de 1969</h3>
            <p>Foi exonerado da paróquia de Paredes de Viadores pelo mesmo Administrador Apostólico da Diocese do Porto. A exoneração foi feita por decreto, mas sem que este lhe tivesse sido dado para a mão. O Vigário da Vara da região chamou-o por telefone à sua casa e, aí, na presença de dois párocos vizinhos, que serviram de testemunhas, leu-lhe o decreto de exoneração, assinado pelo Administrador Apostólico, no qual constava que ele teria de abandonar a paróquia no prazo máximo de 24 horas (foto num dos primeiros casamentos a que presidiu como pároco).</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row cronology">
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/mario_paroco_lixa2.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Outubro de 1969</h3>
            <p>Começou a paroquiar a freguesia de Macieira da Lixa (Felgueiras), por nomeação do Bispo do Porto, D. António Ferreira Gomes, entretanto, regressado do exílio, onde havia permanecido dez anos (foto na companhia de um novo casal, a cuja celebração presidiu).</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/pide.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Julho de 1970</h3>
            <p>Foi preso pela PIDE/DGS.</p>
            <p><strong>Março 1971:</strong> Saiu da prisão política de Caxias, depois de ter sido julgado e absolvido pelo Tribunal Plenário do Porto.</p>
            <p><strong>Julho 1971:</strong> Regressou à paróquia de Macieira da Lixa, depois de alguns meses no exílio, em Madrid-Espanha.</p>
            <p><strong>Março 1973:</strong> Voltou a ser preso pela PIDE/DGS.</p>
            <p><strong>Fevereiro 1974:</strong> Saiu em liberdade, no termo do 2º julgamento no Tribunal Plenário do Porto. Nessa altura, foi informado, de viva voz, pelo Bispo do Porto, D. António Ferreira Gomes, que já não era mais o pároco de Macieira da Lixa, precisamente, desde o dia em que havia sido preso pela segunda vez pela PIDE/DGS.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row cronology">
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/mario_jn.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">24 de Abril de 1974</h3>
            <p>À tarde, em casa dos seus pais, concede a sua primeira entrevista ao Jornal de Notícias, na pessoa do jornalista Aurélio Cunha.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/mario_familia.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Maio de 1974</h3>
            <p>Passou a integrar, a pedido desta, e com o consentimento (não nomeação!) do Bispo da diocese, a Equipa Pastoral da Zona Ribeirinha do Porto, com residência partilhada com o pároco da Sé, Pe. Joaquim Sampaio, na respectiva Casa paroquial. Daí partiu, em Junho do mesmo ano, para um encontro-convívio e eucarístico, ao ar livre, realizado em Areias de Vilar, Barcelos (foto do convívio).</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row cronology">
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/mario_grupo.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Janeiro de 1975</h3>
            <p>Sem deixar o ministério presbiteral, passou a ser jornalista profissional (Carteira nº 492), na delegação do Porto, do vespertino "República".</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/mario_grupo.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Outubro de 1975</h3>
            <p>Ficou sem qualquer ofício pastoral na Igreja do Porto, em consequência de ter sido aceite pelo Bispo da diocese o pedido de demissão dos três párocos (Sé, S. Nicolau e Miragaia) que coordenavam a Equipa Pastoral da Zona Ribeirinha (foto com um grupo de moradores da Sé).</p>
            <p>A partir de então, tem procurado, como presbítero da Igreja do Porto, anunciar, pelos mais diversos meios e gratuitamente, o Evangelho aos Pobres e dinamizar o Projecto eclesial Comunidades Cristãs de Base, ao mesmo tempo que, como jornalista profissional, trabalhou, sucessivamente, no "Página Um" (delegação do Porto) e no "Correio do Minho" (Braga).</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row cronology">
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/jornal-fraternizar-online.svg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Actualmente</h3>
            <p>É director do Jornal FRATERNIZAR, desde a sua fundação, em Janeiro de 1988, e reside na casa-sede da Associação Padre Maximino, sua proprietária e editora.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="media box">
          <div class="media-left">
            <img class="media-object" src="assets/images/bio/mario_mauro.jpg" alt="mario">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Actualmente</h3>
            <p>Foi já nesta qualidade e, sobretudo, na qualidade de antigo capelão militar, que, em Julho 1995, e a convite do jornal PÚBLICO, regressou à Guiné-Bissau, onde permaneceu durante uma semana, com o encargo de escrever uma crónica por dia sobre o passado e o presente daquela antiga colónia portuguesa, hoje, mais um país de língua oficial portuguesa, felizmente independente (foto com o padre missionário que foi encontrar em Mansoa).</p>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}