<div align="center" style="overflow-x: auto; width: 100%; height: auto;">
			<table cool="" width="601" height="22326" usegridx="" usegridy="" showgridx="" showgridy="" gridx="10" gridy="10" border="0" cellpadding="0" cellspacing="0">
				<tbody><tr height="10">
					<td width="5" height="22325" rowspan="24"></td>
					<td width="5" height="22250" rowspan="20"></td>
					<td width="420" height="10" colspan="9"></td>
					<td width="170" height="100" colspan="9" rowspan="2"></td>
					<td width="1" height="10"><spacer type="block" width="1" height="10"></spacer></td>
				</tr>
				<tr height="90">
					<td content="" csheight="82" width="420" height="90" colspan="9" valign="top" align="left" xpos="10">
						<div align="left">
							<font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Textos do<br>
								</b></font><font size="7" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><b>Jornal Fraternizar<br>
								</b></font></div>
					</td>
					<td width="1" height="90"><spacer type="block" width="1" height="90"></spacer></td>
				</tr>
				<tr height="20">
					<td width="590" height="20" colspan="18" valign="top" align="left" xpos="10">
						<hr width="590" size="3" noshade="">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="40">
					<td content="" csheight="30" width="350" height="40" colspan="8" valign="top" align="left" xpos="10"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Edição nº 150, de Julho/Setembro 2003</b></font></td>
					<td width="171" height="40" colspan="2"></td>
					<td width="69" height="3479" colspan="8" rowspan="2"></td>
					<td width="1" height="40"><spacer type="block" width="1" height="40"></spacer></td>
				</tr>
				<tr height="3439">
					<td width="50" height="3439" colspan="5"></td>
					<td class="class" content="" csheight="3435" width="471" height="3439" colspan="5" valign="top" align="left" xpos="60">
						<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Destaque 1 </b></font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b><br>
								</b></font></p>
						<p><b>Terço do rosário: reza para alienar analfabetos?<br>
								<br>
								<i>Você sabia que ninguém, durante os primeiros doze séculos do Cristianismo, rezou o rosário/terço, pela simples razão de que ele ainda não tinha sido inventado? E sabia que na origem mais remota do rosário/terço está uma triste história de analfabetismo popular, juntamente com mais duas outras histórias tristes que deveriam fazer corar de vergonha quem, hoje, na sua alienação religiosa, ou no seu fanatismo católico, persiste na reza diária ou frequente desta fórmula de oração, concebida segundo mecanismos manifestamente pagãos? (cf. Mt 6, 7)<br>
								</i></b><br>
							Aquela primeira história con­ta-se em poucas palavras: no início do sé­culo XII, os frades costumavam rezar os 150 salmos da Bíblia. Era uma devo­ção que só quem sabia ler podia dar-se ao luxo de ter. As populações em geral não sabiam ler nem es­crever. Mas eram muitas as pessoas leigas que queriam re­zar os salmos como os frades nos conventos. E o que fizeram os fra­des? Em lugar de ensinarem as popu­la­ções a ler, para elas tam­bém poderem recitar os sal­mos, levaram-nas a recitar 150 “Pai Nossos”, em substituição dos 150 salmos bíblicos! Algum tem­po de­pois, alguém, frade certa­men­te, substi­tuiu os 150 “Pai Nos­sos” por 150 “Avé-Marias”, sem dúvida, uma fórmula muito mais facilmente associada aos cultos de imagens das míticas deusas do Pa­ganismo que nunca haviam dei­xado de estar presen­tes no inconscien­te cole­ctivo das populações tornadas católicas à força e, por isso, aflitiva­men­te des­pojadas de consciência críti­ca.<br>
							<br>
							A devoção passou até a ser desi­gna­da, em oposição ao salté­rio bíblico, por “Saltério da Virgem Santís­sima” (por sinal, um dos múltiplos títulos primitiva­mente atri­buídos às Deusas que, de­pois, com a Cristandade católica, pas­sou a ser grosseiramente atribuído em exclusivo a Maria, mãe de Jesus!). Cada conjunto de 50 “Avé Marias” faz o terço, que significa exactamente a terça parte de 150, o rosário completo! Contudo, a fórmula do terço co­mo hoje se conhece, só foi esta­belecida muito mais tarde, já no século XVI.<br>
							<br>
							Mas na origem do rosário/terço estão ainda outras duas histórias tristes que hoje deveri­am fazer corar de ver­go­nha todos os católicos que persistem em recitá-lo diariamente, como se Deus alguma vez se pudesse sentir agradado com essa lenga-lenga dirigida, em última instân­cia, à imagem duma mítica Deu­sa, a das rosas ou do rosário, men­tirosamente identificada por hábeis frades e pela generalida­de da hierar­quia da Cristandade católica com Maria, a de Nazaré, uma mulher de carne e osso em tudo igual às nossas avós, mães, irmãs, amigas e compa­nhei­ras.<br>
							<br>
							A primeira destas outras du­as histórias tristes conta que quem ensi­nou a rezar o rosário foi – imagine-se! – a senhora do rosário, ela própria. Conta a lenda que a Deusa das rosas ou do rosário ensinou essa reza ao frade Domingos de Gusmão, por sinal, o fundador da Ordem dos Pregadores ou Dominicanos! Ela própria terá então apresen­tado o rosário/terço como uma “arma poderosa contra os inimi­gos da fé”. A crendice católica situa esta lenda em 1208, século XIII, portanto. (Curio­sa­mente, tam­bém em Fátima, os clé­rigos inventores das “aparições” garan­tem que foi a própria senhora/deusa das rosas ou do rosário, que veio pedir a três crianças ile­tradas que rezassem e fizes­sem rezar o terço, para que, des­se modo, acabassem as guer­ras e todos os males no mundo. E não é que ainda há quem acredite em toda esta pa­tranha clerical, apesar de nem as guerras nem os males terem acabado no mundo?!)<br>
							<br>
							A segunda destas outras du­as his­tórias tristes que estão na origem do rosário/terço tem a ver com a anterior e vale já como propaganda de mau gosto à pre­tensa eficácia da sua reza diária: conta-se que a vitória dos exér­citos da Cristandade sobre os e­xér­citos muçulmanos, na bata­lha naval de Le­panto, em 7 de Ou­tubro de 1571, foi conseguida graças, não à superiorida­de das armas utilizadas e à estratégia dos guerreiros católicos, mas gra­ças à reza do rosário/terço e à consequente intervenção da se­nho­ra do rosário, a favor destes contra aqueles. É até por isso que a festa da senhora ou Deusa do rosário passou a ser celebrada todos os anos, nesse mesmo dia.<br>
							<br>
							É, assim, manifesto que a reza do rosário/terço está para sempre associa­da a séculos e séculos de analfabetis­mo e de obscurantismo popular, com aba­des de mosteiro e bispos residen­ciais a dominarem tudo e todos e a ater­rorizarem tudo e todos com amea­ças de infernos e de ou­tros castigos divinos.<br>
							<br>
							Mas hoje, os responsáveis maiores da nossa Igreja o que fazem de toda esta vergonhosa herança? Infelizmente, em lugar de denunciarem e combate­rem todos estes desvios da Fé cristã e do Evangelho de Deus, revela­do em Jesus de Nazaré, o Cristo, têm-se até desdobrado em inicia­ti­vas tendentes a implementar nas populações e nos povos que ainda frequentam os seus cultos, umas quantas práticas quotidia­nas inspiradas e fundadas nestes mes­mos desvios.<br>
							<br>
							Neste particular, o líder mais activo e, por isso, também mais perigoso da Igreja católica é o próprio Papa João Paulo II, que se tem revelado como o grande im­pul­sionador, entre outras prá­ti­cas religioso-pagãs, da prática da reza diária do rosário/terço. Nesta sua missão anti-Evangelho e anti-Maria, o Papa não se li­mi­ta a rezar privadamente o rosá­rio/terço. Faz também questão de aparecer em público ajoelha­do diante de imagens da “virgem” (não pensem, como ele próprio pa­rece pensar, que estas ima­gens representam Maria, mãe de Jesus; elas representam a mítica Deusa Virgem e Mãe, dos cultos do Pa­ga­nismo, os quais a própria mãe de Jesus, Maria de Nazaré, terá conhecido no seu tempo, pois já então eram cultos tanto ou ainda mais florescentes e ren­táveis que o actual culto à senho­ra de Fátima, no nosso país). E faz ainda mais o Papa: mete-se a escrever e a publicar documen­tos oficiais da Igreja sobre o pseu­do-valor do rosário/terço e fo­menta nas múltiplas interven­ções em público a sua reza diária e fre­quente, como se isso resol­vesse todos os problemas do mundo e da Humani­dade, a co­me­çar pelo difícil problema da jus­tiça e da paz.<br>
							<br>
							Nesta sua cruzada, pretensa­mente mariana – trata-se efecti­va­mente duma cruzada idolátrica e deísta – o nosso Papa nem se­quer hesita em recorrer à de­tur­pação e à manipulação de cer­tos textos bíblicos, particular­mente, evangélicos, para funda­men­tar as suas teses e tentar convencer da vera­cidade delas o conjunto dos fiéis da Igreja ca­tólica e, porventura, de outras Igrejas cristãs, nomeadamente, a Orto­doxa.<br>
							<br>
							O mais surpreendente é que prati­ca­mente ninguém, na Igreja católica, tem tido coragem para resistir ao Papa e chamá-lo ao seu indeclinável dever de fideli­dade ao Evangelho, inerente ao Serviço de Pedro em que ele está investido. Nem mesmo os exe­getas ou hermeneutas bíbli­cos. Parece que todos fazem de conta e deixam correr, certa­mente, com medo das pesadas repre­sálias que ele e a sua Cúria Romana fazem a quem se lhes opuser. E, no entanto, este dever de resistir ao Papa, quando ele se desvia da via ou caminho li­ber­tador que é Jesus, o Cristo, para toda a Humanidade, faz parte integran­te da melhor Tradi­ção da Igreja.<br>
							<br>
							Não é por acaso que o Novo Testa­mento regista, com tanta ênfase, a postura do apóstolo Paulo frente a Pedro, quando este trocou a verdade/liberdade do Evangelho pelas conveni­ên­­ci­as humanas e pelo respeito a certas tradições judaicas, para sempre superadas com a chega­da de Jesus, o Cristo. Paulo não hesitou e resistiu pu­bli­ca­­men­te a Pedro, ao mesmo tempo que proclamou diante de todos que ele, com a ambiguidade de determinado comportamento seu, pura e simples­men­te estava a trair o Evangelho (cf. Gálatas 2).<br>
							<br>
							Estas coisas foram escritas, para que, na Igreja através dos tempos, os “Paulo” não hesitem em resistir a “Pe­dro”, sempre que este, em lugar de se manter fiel à verdade/liberdade do Evange­lho, prefere ceder a certas tradi­ções culturais e religiosas, mes­mo quando elas manifestamente contri­buem para manter na alie­nação e na opressão as pessoas e os povos.<br>
							<br>
							Apareça o primeiro teólogo cristão, ou teóloga cristã que garanta, com­provadamente, que o rosário/terço é oração inspira­da pelo Espírito Santo. E que desminta o Jornal Fraternizar, quando este afirma que o meca­nismo que estrutura essa reza é tipicamente pagão, já que tem por base o repetir até à náusea as mesmas palavras, como uma fórmula mágica, destinada a ten­tar convencer a divindade a ser-nos, finalmente, favorável.<br>
							<br>
							Mas o mais perverso até nem é o repetir as mesmas palavras, centenas, milhares de vezes. O mais perverso é que se trata de repetir palavras que nem sequer nascem do íntimo da cons­ciência das pessoas que as pronun­ciam. São palavras de outrém, por isso, estranhas a quem as pronuncia e que transformam quem maqui­nal­­mente as repete, em papagai­os, máquinas falan­tes, numa pa­la­vra, seres aflitivamente aliena­dos e tristes.<br>
							<br>
							Quanto à manipulação de cer­tos textos evangélicos, por parte do Papa João Paulo II, basta ver como ele interpreta, por exemplo, certas passa­gens do Evangelho de João, nas quais expressamente se fala da pre­sença da “mãe de Jesus”. O Papa não hesita em atirar às urtigas a melhor exegese bíblica e impõe como única autêntica a sua própria interpretação pesso­al, ditada não pela fidelidade à verdade objectiva do Evangelho, mas pela fidelidade ao imaginário religioso da sua infância, vivida há muitos anos num país de ge­ne­ralizado deísmo católico-pa­gão, cheio de devoções a ima­gens de nossas senhoras, men­ti­ro­sa­mente apresentadas como de Maria, mãe de Jesus, quando na realidade mais não são do que imagens de míticas deusas dos cultos do Paganismo.<br>
							<br>
							Essas passagens são basica­men­te duas: o relato das “Bodas de Canã” e o relato do Calvário, junto à cruz de Jesus. Para o Pa­pa, não há dúvida de que são dois relatos jornalísticos ou históricos, isto é, as coisas que ambos contam aconteceram tal e qual. Só que não é nada as­sim. Aliás, basta ver que só o E­van­gelho de João é que relata esses acontecimentos. E relata-os como acontecimentos bíblico-teológicos, não como aconteci­men­tos históricos ou jornalísticos. Ora, é como acontecimen­tos bí­blico-teológicos que eles devem ser interpretados. Se os lemos e inter­pre­ta­mos como jornalísti­cos e histó­ricos, tiramos conclu­sões que não estão lá e traímos a verdade do Evangelho, come­te­mos um pecado contra o Espí­rito Santo, por isso, contra a li­berdade e a dignidade huma­nas.<br>
							<br>
							Quando o Papa, nos seus es­­critos, recorre a estes relatos, por exemplo, na Carta apostólica “O Rosário da Virgem Maria”, comporta-se como se eles fos­sem relatos jornalísticos e histó­ricos. E faz ainda pior. Lá, onde o Evan­gelho de João fala da mãe de Jesus – “estava lá a mãe de Jesus” (2, 1); “Junto à cruz, estavam, de pé, sua mãe...” (19, 25) – o Papa identifica a ex­pressão “mãe de Jesus”, mani­festa­mente, uma figura represen­ta­ti­va, no caso, uma figura representativa do Israel fiel a Deus que reconhece Jesus co­mo o Cristo e acaba por aderir/in­tegrar a Comunidade cristã, com a in­divídua de carne e osso, Maria de Nazaré. E não é assim.<br>
							<br>
							Pode parecer um pormenor sem grande importância. Mas é a partir deste desvio interpretati­vo, e de outros semelhantes, que se desenvolve todo o “mari­anismo” dentro do Catolicismo contra o Cristia­nis­mo. Igual­men­te, es­creveram-se tratados e mais tratados sobre Maria, que fundamentam várias definições dogmáticas marianas com­ple­ta­­men­te insensatas, que fazem de­la uma Deusa, melhor, a Deusa das deusas, ou super-Deusa Virgem e Mãe, quando ela é simplesmente a mulher de carne e osso que gerou Jesus nas suas entranhas e que, anos mais tarde, teve até sérias difi­culdades em o re­conhecer como Cristo e, por isso, andou às turras com ele, ao ponto de, a dada al­tura, o ter por “louco” e querer pren­dê-lo (cf. Marcos 3,20-35). Embora aca­basse por lhe dar a sua entusiástica adesão, prova­vel­mente já depois da morte/ressurreição dele.<br>
							<br>
							Pois bem, é dentro deste “ma­ri­anismo” concorrente ao pró­prio Cristia­nismo, e cujas raízes mais fundas é preciso ir procurar até aos primitivos cultos do Paganismo em honra da grande Deusa Virgem e Mãe, que Maria, mãe de Jesus, parece ser ainda mais decisiva para a salvação da Hu­ma­nidade que o próprio Jesus e, de certo modo, até mais decisiva que Deus.<br>
							<br>
							Foi também a partir deste desvio hermenêutico e teológico, e de outros semelhantes, que se inventou o rosário/terço, como reza oficial dos católicos e ca­tólicas, nomeadamente, das mul­ti­­dões empobrecidas e sem graus académicos, que convém que perma­ne­çam assim até ao fim das suas vidas, multidões sem o mínimo de consciência crítica, sem discernimento, rotineiras, cré­dulas, assustadas, submissas, tão religiosas e devotas quanto idó­latras.<br>
							<br>
							Outra, muito outra, é a via Jesus, o Cristo, e o Cristianismo. E outra, muito outra, é a prática cristã, inspirada, em cada tempo e lugar, pelo próprio Es­pírito Santo que faz novas todas as coisas e faz dos que nascem dEle mu­lheres e homens novos, libertos para a liberdade, de olhos bem abertos, cons­cientes, críticos, autónomos, prota­go­nis­tas, ateus de todos os deuses e de todas as deusas que se ali­mentam de gente, templos vivos do Espírito Santo, numa pa­lavra, outros Jesus, outros Cristo, nos antípodas de idóla­tras como o Papa João Paulo II, o qual, em lugar de olhar Ma­ria, como nossa irmã e compa­nheira, faz tudo para a guindar à condição de mítica Deusa, a super-Deusa virgem e mãe dos cultos do Catolicismo/Paganismo. Haja, pois, na nossa Igreja, quem tenha coragem para lhe resistir e para o chamar de novo à verdade/liberdade do Evange­lho, que é Jesus, o Cristo Crucifi­cado/Ressuscitado. Ou será que preferimos ignorar que a mulher mais decisiva no Cristianismo dos Evangelhos nem sequer é Maria, mãe carnal de Jesus, mas outra Maria, a de Magdala, ou Maria Ma­da­lena? (cf. Jo 20, 1-18)<br>
						</p>
					</td>
					<td width="1" height="3439"><spacer type="block" width="1" height="3439"></spacer></td>
				</tr>
				<tr height="20">
					<td width="590" height="20" colspan="18" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="3331">
					<td width="48" height="3331" colspan="3"></td>
					<td class="class" content="" csheight="3323" width="480" height="3331" colspan="8" valign="top" align="left" xpos="58"><b><font size="2">DESTAQUE 2<br>
							</font><br>
						</b><b>Até à próxima Páscoa... pagã<br>
						</b><br>
						Quando chega a Primavera e, com ela, a chamada festa da Pás­coa, nem mesmo as Igrejas re­sistem a celebrá-la com pompa e circunstância. E sem olhar às horas. Todas elas, com destaque para a nossa Igreja católica, ves­tem de tristeza, durante os 40 dias da quaresma e as duas se­­­ma­nas que se lhe seguem, nu­­­ma prolongada preparação que mete jejuns, abstinências, múl­tiplas orações, confissões e co­munhões de desobriga, peni­tên­cias, privação voluntária de coisas boas e legítimas que se têm como proibidas, durante esse longo período. Até as ruas de cer­tas cidades vestem de roxo e no chamado domingo da Pai­xão, saem procissões dos pas­sos, cujo andor principal exibe a imagem de um deus-homem de dores que haverá de se en­contrar com um outro andor que exibe a imagem duma deusa-mulher de dores, e que é suposto ser a mãe do deus-homem de do­res. (Sabiam que cinco sécu­los antes do nascimento de Je­sus, já se faziam procissões des­tas no Egipto, a representar a “Pai­xão de Osíris”, que incluía a representação da morte e da res­surreição desse deus?) Na última semana antes do dia de Páscoa, chamada semana maior ou semana santa, a vida dos cris­tãos mais cumpridores das tradições, mais mulheres do que homens, quase pára durante os três dias que antecedem o gran­de domingo, pelo menos, naque­las zonas onde o turismo religio­so é rei. As noites de 5.ª e 6.ª fei­ras são pesadas, negras de luto, com procissões do Ecce Ho­mo e do enterro do senhor. No interior dos templos, há tam­bém uma estranha e sádica ceri­mónia de adoração da cruz (que tem a ver com a lenda da visão da cruz pelo imperador Constanti­no – “neste sinal vencerás!” – e não com a crucifixão de Jesus), para lá de um conjunto de outras cerimónias litúrgicas muito demo­radas, feitas de longas orações, recitação de salmos, leituras bí­blicas a falar de sofrimento e de dor, de pecados e de penitên­cia. Multiplicam-se preces ritu­a­lizadas com pedidos de perdão a Deus, ouvem-se sermões de sa­cerdotes e pastores, simulam-se propósitos de emenda de vida e chora-se com pena do deus-homem de dores que acaba cru­cificado, morto e sepultado, ao mesmo tempo que se olha para a sua imagem com compungido reconhecimento, uma vez que se crê que ele foi condenado em nossa vez e em reparação dos nosos pecados. Mas, no iní­cio da madrugada do domingo de Páscoa, em plena noite, to­cam-se campainhas e sinos, a­cen­dem-se todas as luzes, estre­le­jam foguetes no ar, enquanto os sacerdotes anunciam que o deus-homem de dores, morto e se­pultado, saiu do túmulo, res­sus­­citou. (Pelos vistos, só até à próxima Páscoa, daí a um ano, onde ele voltará a ser morto e se­pultado e voltará a ser procla­mada a sua ressurreição, e as­sim sucessivamente, enquanto durar a História) Então, todos os que viveram tristes e peniten­tes, desde o início da chamada quaresma, voltam a alegrar-se, fes­tejam, cantam, saudam-se e de­sejam-se boa páscoa, santa páscoa, passam outra vez a co­mer em abundância, devoram mui­tos doces e recebem nas suas casas cuidadosamente lim­pas o compasso ou visita pascal, onde a cruz com a imagem do deus-homem crucificado, devida­mente enfeitada, é transportada por um homem real, geralmente, homem de dinheiro, que sempre os há em todas as terras, peque­nas aldeias que sejam, o qual faz questão de a dar a beijar aos residentes, por entre repeti­das saudações de aleluía e boas festas, ao mesmo tempo que olha para a mesa à procura do envelope com a oferta ou folar para o senhor abade que as­sim junta muitos milhares de euros só para ele, totalmente isentos de impostos ao Estado! (Vejam só a pequena-grande for­tuna que o senhor abade junta, sem esforço nenhum, se a res­pe­ctiva paróquia é grande em nú­me­ro de famílias católicas e se ele é também o pároco de mais uma, duas, três, ou mesmo mais paróquias ao mesmo tem­po...)<br>
						<br>
						Mas é assim a Páscoa todos os anos. E não é que toda a gen­te, a começar pelos sacerdo­tes das Igrejas e a acabar nos “media” grandes ou pequenos, pensa e diz à boca cheia que está a celebrar a festa da Pás­coa de Jesus de Nazaré? Mas não está! O que as Igrejas estão a celebrar, com destaque para a nossa Igreja católica, é a festa da Páscoa do mítico deus-homem das religiões dos Mistéri­os do Pa­ganismo, que todos os anos, ainda antes de Jesus ter nasci­do, já ritualmente nascia (e pelos vistos continua ainda a nascer) no início do Inverno, por volta de 25 de Dezembro, e já ritual­men­te morria/ressusci­ta­va (e pelos vistos continua ainda a morrer/ressuscitar) no início da primavera, por volta de 25 de março!<br>
						<br>
						Pode-se por isso dizer que as Igrejas, ao teimarem na ce­lebração ritual da Páscoa, todos os anos, depois de uns meses antes terem feito também a cele­bração ritual do natal, pratica­men­te mais não fazem do que pros­seguir os cultos das velhas religiões dos mistérios do Paga­nismo, apenas com uma diferen­ça, por sinal, nada substancial: ao mítico deus-homem das religi­ões dos Mistérios já não cha­mam mais Átis, ou Mitra, ou Dionísio, ou Adónis, ou Osíris, ou Baco. Agora, chamam-lhe Cris­to. Tam­bém lhe chamam Je­sus, mas mui­to menos vezes, e, quando o fa­zem, não atribuem a este nome qualquer corporei­da­de física e qualquer interven­ção histórica, de modo que até esse continua a ser para elas mais um nome do mítico deus-homem das religi­ões dos misté­rios do Paganismo.<br>
						<br>
						Na verdade, o homem judeu, Jesus de Nazaré, que nasceu por volta do ano 5 antes da era cristã, na província da Gali­leia, que abriu os olhos da cons­ciência de muitas e de muitos do seu povo e fez andar, falar e levantar muitas e muitos do seu povo, que enfrentou e des­mas­carou to­dos os representan­tes do poder do seu tempo, tanto os dos ju­deus, como os dos ro­manos, que inclusive destruiu simbolicamente o Templo de Je­rusalém, e que foi crucificado, mor­to e sepultado na Judeia, por volta do ano 30, na sequên­cia dum julgamento no tribunal judaico e no tribunal do Império romano, não interessa nada às Igrejas, nem às popula­ções em geral, nem aos grandes da Or­dem Mundial. Ele apresen­ta-se, ontem, hoje e sempre, com uma teologia ou visão de Deus de­masiado misericordiosa e liber­ta­dora que não coincide em nada com a cruel teologia dos sacer­dotes e dos teólogos oficiais do Templo de Jerusalém e do Im­pério romano, nem com a teo­logia deísta dos sacerdotes e pastores de todos os templos e de todos os impérios. Isto, para além dele próprio ser um Homem demasiado perigoso politicamen­te que, para cúmulo, nunca quis ser rei, muito menos, Deus!<br>
						<br>
						Às Igrejas, só pode mesmo in­teressar o mítico deus-homem das religiões dos Mistérios do Pa­ganismo que, ao nascer e mor­rer ritualmente todos os anos pelos nossos pecados, garante às cúpulas de todas elas, que se têm na conta de suas interme­diárias, grandes receitas em dinheiro, muito poder e prestígio e não poucos privilégios.<br>
						<br>
						Às populações em geral, tam­bém só mesmo este mítico deus-homem é que lhes interessa, e não o Homem de carne e osso, Jesus de Nazaré, nem o seu pro­jecto de libertação e de e­man­cipação da Humanidade. E porquê? Porque só esse mítico deus-homem as dispensa do de­ver de crescerem em responsabi­li­­dade pessoal e colectiva e do dever de se tornarem sujeitos das suas próprias vidas e verda­deiros protagonistas na História. Com ele, para elas pensarem que se salvam eternamente, bas­ta que não deixem de pagar reverentemente aos sacerdotes e aos pastores das Igrejas o que estes autoritariamente lhes exigem, e que frequentem com mais ou menos regularidade os cultos públicos em locais e dias certos, onde eles sempre pontifi­cam sem qualquer contestação, como se o próprio mítico deus-ho­mem os tivesse investido nes­sas funções de intermediários entre ele e elas.<br>
						<br>
						Igualmente,os grandes deste mundo que o são em tudo, até nos hediondos crimes estruturais que impunemente cometem – pensem em Bush, por exemplo – podem também continuar a dormir descansados, porque a sim­ples manutenção destes cul­tos rituais em honra do mítico deus-homem que todos os anos nasce, morre e ressuscita, mais a ideologia religiosa que lhes está subjacente, deixam nos in­di­víduos e nos povos a falsa con­vicção – e essa é a Mentira maior que mantém a Verdade cativa na injustiça – de que a presente Ordem Mundial, onde eles, mai-los sacerdotes das Igre­jas, os pastores das religi­ões e todos os ricos são olhados co­mo senhores quase divinos e como benfeitores do género hu­ma­no, é uma Ordem Mundial boa e justa que ninguém, nem mes­mo os milhares de milhões de ví­­timas humanas que ela continu­a­mente fabrica, pode, alguma vez, ousar pôr em causa. Coisa que Jesus de Nazaré, como se sabe, não só ousou fazer, como de facto fez. E por isso é que logo o mataram como o maldito, o blasfemo, o endemoninhado, o subversivo, o terrorista, o ateu. Para que nunca ninguém mais lhe seguisse as pisadas.<br>
						<br>
						Mas ao constatarem, algum tempo depois, que, mesmo as­sim, havia quem persistisse em fazer memória dele, isto é, quem persistisse em tê-lo como referên­cia última e como o paradigma do ser humano integral e definiti­vo, com quem todas as mulheres e todos os homens nos havere­mos de parecer, os grandes do mundo levaram ainda mais longe a sua mentira e guindaram Jesus à condição de mítico deus-homem das religiões dos mistérios do Paganismo, sob o título de Cris­to, um título que servia às mil mara­vilhas para cativar o in­te­resse tanto de judeus (para eles, Cristo quer dizer Messias), como de gregos e dos pagãos em geral (para estes, Cristo quer dizer deus-homem).<br>
						<br>
						Alguns anos mais tarde, es­ses mesmos grandes do mundo levaram ao extremo a sua mentira e decretaram que Cristo, e só Cristo, é credor de culto público em toda a terra, precisamente, o mesmo culto público que ante­riormente era tributado ao mítico deus-homem, sob a designação de múltiplos outros nomes.<br>
						<br>
						<p>Desde então para cá, Cristo (sempre nos têm feito crer que Cristo e Jesus são a mesma rea­li­dade, mas não são. E a verdade é que o nome Jesus quase já não aparece nas cartas autênti­cas de Paulo – ver, por exemplo, todo o capítulo 15 da 1.ª Corín­tios – e, quando aparece é qua­se como uma espécie de adjecti­vo de Cristo) transformou-se no gran­de nome canonizador da Ordem Mundial dominante, como anteri­or­­mente sempre o haviam sido os outros nomes sob os quais o mítico deus-homem era cultuado pelos múltiplos povos do mundo. E canonizadoras da Ordem Mun­dial dominante torna­ram-se tam­bém as duas grandes festas rituais anuais em sua honra: a do natal, na qual é anunciado que ele nasce, como deus-ho­mem, e a da páscoa, na qual é anunciado que ele morre e res­suscita.<br>
							<br>
							É manifesto que, com toda esta manipulação por parte dos grandes do mundo, o Cristianismo só encontrou facilidades para se implantar entre as populações do Império. Quase num abrir e fechar de olhos, as populações do Império tornaram-se oficial­men­te cristãs, isto é, da religião do mítico deus-homem, Cristo. Mas exactamente como, pouco tempo antes, elas o tinham sido, sem tirar nem pôr, da religião do mítico deus-homem, Átis (na Ásia Menor), Adónis (na Síria), Osíris (no Egipto), Dionísio (na Grécia), Baco (na Itália), Mitra (na Pérsia).<br>
							<br>
							Porém, da Boa Notícia de Deus e do ser humano, que Je­sus de Nazaré foi, é e será para todo o sempre entre nós e con­nos­co, e cuja epifania atingiu o seu pico revelador na forma pa­ra­digmática como ele foi vilmente caluniado, perseguido, preso, jul­gado, condenado e executado na cruz por parte de todos os chefes religiosos e políticos dos judeus e do Império romano no país, praticamente ninguém mais falou, todos estes séculos, até aos nossos dias, nem mesmo nas Igrejas, salvo o que sempre viveram e testemunharam certos movimentos eclesiais, rotulados logo por heréticos pelas respe­cti­vas hierarquias eclesiásticas.<br>
							<br>
							Entretanto, quando algum tem­po depois da morte violenta de Jesus na cruz, as suas discí­pulas e os seus discípulos, elas primeiro do que eles, passaram a testemunhar com risco da pró­pria vida que, nessa mesma morte injusta e criminosa, Deus tinha tomado partido por Jesus e o tinha constituído Vivente pa­ra sempre, nem elas nem eles estavam a reproduzir os sacerdo­tes das religiões dos mistérios do Paganismo que, todos os anos, proclamavam ritualmente que o deus-homem ressuscitava, sem que nada de subversivo e de Novo acontecesse na História. Nada disso. A proclamação das discípulas e dos discípulos de Je­sus é feita ininterruptamente e sob a forma de testemunho pessoal, não sob a forma de ri­tual uma vez por ano, e é mar­cada por uma força, a do Espí­rito Santo (isto é, que vem de fora do mundos dos poderosos) que nada nem ninguém conse­gue deter. Elas e eles apresen­tam-se perante os demais, como portadores de um ser/viver total­mente outro, em tudo idêntico ao ser/viver de Jesus: libertador e subversivo como o dele, lúcido e misericordioso como o dele. Ao ponto de, depressa, se verem também a braços com uma Pás­coa em tudo idêntica à dele.<br>
							<br>
							O relato de Lucas nos Actos dos Apóstolos sobre o que acon­teceu a Estêvão é paradigmático. Mas é por demais manifesto que nunca foi seguido pelas maiorias que se diziam e dizem cristãs ou católicas. Porque estas, pas­sa­da a hora do primeiro entusi­as­mo, preferem regressar à reli­gião dos mistérios do Paganis­mo, agora designada religião cristã ou Catolicismo, cujo mítico deus-homem dá pelo nome de Cristo! E, como se vê, não faltam nunca sacerdotes e pastores (pa­dres, bispos e até papa) que se disponham a presidir aos seus cultos, o maior dos quais, é sem dúvida o culto da Páscoa, a re­novar ritualmente cada ano e até cada domingo.<br>
							<br>
							O que não tem nada a ver com aquela recomendação de Jesus às suas discípulas e aos seus discípulos – “Fazei isto em memória de mim” – a qual, como todo o contexto em que ele a pro­feriu logo deixa perceber, a­pon­ta para uma realidade exis­ten­cial total­men­te outra. Que po­de até custar a vida a quem, cor­rectamente, a perceber e aco­lher como convite a fazer seu o mesmo ser/viver de Jesus. Na esperança-certeza de que Deus, na nossa morte, também nos fará para sempre viventes, como fez com Jesus, o seu filho muito a­mado.<br>
						</p>
					</td>
					<td width="62" height="3331" colspan="7"></td>
					<td width="1" height="3331"><spacer type="block" width="1" height="3331"></spacer></td>
				</tr>
				<tr height="30">
					<td width="590" height="30" colspan="18" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="30"><spacer type="block" width="1" height="30"></spacer></td>
				</tr>
				<tr height="2710">
					<td width="52" height="2710" colspan="6"></td>
					<td class="class" content="" csheight="2700" width="493" height="2710" colspan="10" valign="top" align="left" xpos="62">
						<p><b><font size="2">EDITORIAL<br>
								</font></b><br>
						</p>
						<p><b>Nome de Deus fora do projecto de Constituição da União Europeia<br>
								<br>
							</b><b>ANDARAM BEM OS EURODEPUTADOS<br>
							</b><br>
							<i>Andam indignados muitos ca­tó­licos conservadores portugue­ses e europeus, porque o proje­cto de Constituição da União Eu­ropeia, recentemente concluído e aprovado, não faz qualquer referência explícita nem a Deus, nem ao Cristianismo. Ora, se até o Papa e os bispos já entraram neste coro de protestos, não é de estranhar que o católico e fa­ti­mista ministro de estado e da defesa de Portugal, dr. Paulo Portas (lembram-se que Salazar, pelo menos, nos seus primeiros anos de governante, também era católico de missa em capela pri­vativa e também gostava da se­nhora de Fátima?) também se mostre veementemente indigna­do com essa omissão. E como ele, algumas dezenas de deputa­dos, muito católicos praticantes ou nem por isso.<br>
								<br>
							</i><i>O curioso é que, neste seu zelo deísta de sacristia, todos estes católicos nem sequer se aper­cebem que quem mais indi­gnado está com a sua clericali­zada e hipócrita indignação é o próprio Deus. Porque se há coisa que Deus não suporta é que os grandes e os ricos deste mundo, depois de tudo fazerem para ga­rantir a perpetuação dos seus pri­vilégios, mediante a manuten­ção duma Ordem Económica mun­dial injusta e perversa, ainda venham depois fazer do nome dEle uma espécie de escudo in­visível e ideológico sob o qual se abrigam, para tentarem impe­dir que as suas inumeráveis víti­mas humanas percebam a “ma­ros­ca” e se rebelem de maneira incontrolada, numa espécie de in­surreição global contra a situa­ção de imerecida miséria em que têm sido forçadas por eles a (so­bre)viver.<br>
								<br>
							</i><i>Deus nunca foi nem nunca será o chefe de fila número um dos poderosos e dos mafiosos ri­cos, porventura, o mais podero­so dos poderosos e o mais mafio­so dos mafiosos ricos. E o seu nome jamais poderá ser invoca­do para abençoar poderosos e mafiosos ricos e os seus maquia­vélicos projectos, muito menos poderá ser invocado para conso­lar/anestesiar e amansar/desmo­bilizar as inúmeras vítimas dos seus crimes contra a Humani­dade.<br>
								<br>
							</i><i>Quando o nome de Deus sal­ta com regularidade, por exem­plo, da boca assassina do presi­dente Bush ou de Sharon, numa descarada tentativa de as respe­ctivas administrações legitimarem todo o rol de crimes que sistema­ti­camente cometem contra a Hu­ma­nid­ade, cá por mim, como cris­tão católico, só posso alegrar-me que o nome de Deus fique fo­ra do texto constitucional da União Europeia. É que para mim há muito mais respeito por Deus, no acto de silenciar o seu nome, do que no acto de pronunciá-lo em vão, ou – pior ainda – do que no acto de pronunciá-lo co­mo tentativa de O tornar cúmplice dos nossos crimes de acção e de omissão.<br>
								<br>
							</i><i>Pessoalmente, entendo que o nome de Deus nunca deve ser invocado em nenhum texto cons­titucional de nenhum Esta­do ou conjunto de Estados que decidiram tornar-se numa união, como a Europeia. Pela simples razão de que Deus não é de nenhum Estado, nem de nenhu­ma União de países e de povos. Nem faz parte das nossas inicia­tivas, das nossas construções, nem é obra das nossas mãos. Por mais que tentemos manipulá-lO, Deus nunca se deixará ma­nipular. Não é peça do Sistema, nem sequer a mais importante. É a Presença mais misteriosa­mente presente no Universo e na História, mas tanto mais qu­anto menos nomeado for o seu nome. Lá, onde os poderosos e os mafiosos ricos disserem que Deus está, Ele nunca está. E, se estiver, já não é Deus, mas um ídolo, feito à imagem e se­me­lhança deles, por exemplo, à imagem e semelhança de Bush ou de Sharon, ou à imagem do papa-chefe de Estado do Vati­cano e da Cúria Romana (outra, muito outra é a realidade evan­gélica do Serviço de Pedro na Igreja, totalmente na linha do Ser­vo sofredor de Iavé, do Se­gundo Isaías, por isso, nos antí­podas do actual papa-chefe de Estado vitalício, infalível e todo-poderoso que há séculos temos na Igreja católica romana).<br>
								<br>
							</i><i>Dão, pois, mostras de anda­rem bem avisados os eurodepu­tados que elaboraram o projecto de Constituição da União Euro­pei­a, quando decidiram não in­cluir no texto oficial nenhuma referência explícita ao nome de Deus. Têm o meu público aplau­so. Mostram, com essa sua deci­são, que já saíram do infantilis­mo cultural, onde as religiões têm mantido prisioneiros os po­vos. Dão provas de que a União Europeia já não é mais “idade média”, já não é mais espaço de obscurantismo religioso, já não é mais “terceiro mundo”, no pior sentido da expressão. Dão provas de que a União Europeia é já a Europa da Ilustração, da Revolução Francesa, da Moderni­dade, do Ser Humano-homem-e-mulher-em-radical-igualdade, a quem Deus, o da Fé bíblico-evan­gélica, depois de o criar, por via evolutiva – por sinal, uma criação ainda e sempre em curso, enquanto durar a História – acabou, finalmente, por lhe con­fiar a terra e todo o universo para que ele cuide dela e dele, em lugar de continuar a gastar o melhor das suas energias com os deuses e as deusas e com os seus alienantes cultos nos templos, sob a batuta de sacer­dotes divinizados e incontestados que se têm na conta – pasme-se! – de mediadores entre Ele e os povos. Como se Deus, o que-vive-e-faz-viver, alguma vez precisasse de mediadores para intercomunicar connosco e com os povos do mundo, ateus e a­gnós­ticos incluídos.<br>
								<br>
							</i><i>Por mim, levo ainda mais lon­ge o meu apreço para com os eurodeputados e congratulo-me pelo facto deles resistirem tam­bém às pressões clericarizadas de franjas poderosas da Igreja católica no sentido de incluírem no projecto de Constituição da União Europeia uma explícita re­fe­rência ao Cristianismo. Eles re­sistiram a essa pressão e eu estou-lhes também publicamente grato por tamanha audácia. E fe­licito toda a lucidez de que deram provas.<br>
								<br>
							</i><i>Na verdade, as raízes oficiais da Eu­ropa não são cristãs, como o pa­pa, os bispos e os católicos deístas de sacristia tanto insistem em dizer que são. Longe disso. As raízes oficiais da Europa são deístas e pagãs. A Europa nunca foi evangelizada a sério. Por isso, as suas raízes nunca poderão ser explicitamente cristãs, do crist­ianismo de Jesus.<br>
								<br>
							</i><i>Desde o século IV e a partir do imperador Constantino, sobre­tu­do depois da queda do Impé­rio Romano, a Europa foi sempre escandalosamente dominada pelo poder dos papas-impera­do­res e dos bispos/párocos aliados dos proprietários das terras tra­balhadas pelos servos-da-gleba e foi ferozmente mantida na o­pres­são decorrente da pregação moralista dos frades e dos mon­ges que quiseram fazer dos res­pectivos povos súbditos e vassa­los seus, na caricata condição de frades e monges leigos de ter­­ceira classe, num continente todo ele transformado numa es­pé­cie de Ordem Terceira, total­men­te à mercê da sua prepotên­cia clerical, grotescamente apre­sentada como santidade.<br>
								<br>
							</i><i>Esta situação arrastou-se, no que respeita à sociedade civil, até à Revolução Francesa. Mas no que respeita à Igreja, como ins­tituição, as coisas só mudaram, e ainda assim apenas ao nível da doutrina oficial, duzentos anos depois da Revolução Francesa, no Concílio Vaticano II (1960-1965). E com a agravante de que, hoje, até o Concílio Vatica­no II está a ser cada vez mais posto em causa por certos cató­licos da laia dos que agora querem ver o nome de Deus no texto da Constituição da União Europeia.<br>
								<br>
							</i><i>É por isso que, a haver uma referência ao Cristianismo na Constituição da União Europeia, esta teria que ser pela negativa. Concretamente, teria que fazer referência à nefasta influência do que hoje se designa como Cristandade Ocidental e da qual não só a Europa do terceiro milé­nio, mas também todos povos que vieram a ser missionados/co­lonizados por ela têm que fugir a sete pés, se quiserem chegar a ser ela própria e eles próprios.<br>
								<br>
							</i><i>Dessa contribuição pela ne­ga­tiva fazem parte elementos-chave da nossa (in)civilização ocidental, por exemplo, a visão mítica das origens do Universo, durante séculos, entendida como verdade científica, nomeadamen­te a perversa doutrina do pecado original (um pecado que historica­mente nunca existiu!), que tanto oprimiu e deprimiu até ao presen­te a nossa consciência individual e colectiva; a mentira acerca da existência do inferno e do purga­tório que aterrorizou gerações e gerações de pessoas e de po­vos; as pregações moralistas so­bre o valor da humilhação e da escravidão suportadas pelos humilhados e escravizados como virtudes heróicas; a visão oficial de santidade que mais não era do que um convite à auto-castra­ção perante a divindade; a visão sado-masoquista do sofrimento como coisa querida por Deus e como meio de crescer em santi­dade; a visão da pobreza e até da miséria como meio de santifi­ca­ção pessoal; a visão do “reino dos céus” como um permanente viver de costas voltadas para a terra e para o universo, e de olhos postos no Além; a visão es­quizofrénica do mundo como vale de lágrimas onde as pesso­as e os povos deveriam passar a existência a gemer e a chorar; a visão da sexualidade humana como pecado, quase o único pecado, que tinha que ser re­primida sem dó nem piedade, até dentro do casamento aben­ço­ado pela Igreja; a proclamação pública e solene, por palavras e actos, de que ser frade e freira, na mais estrita pobreza, na mais estrita obediência ao superior/à superiora e na mais estrita absti­nência sexual, era o modelo aca­bado de ser humano. E importa não esquecer também nesta cir­cuns­tância que até o iníquo e ido­látrico sistema capitalista que, na sua actual versão neoliberal sem limites, condena à miséria quase cinco mil milhões dos seis mil milhões da Humanidade, re­sul­ta duma perversa interpretação eclesiástica da Bíblia hebraica e do próprio Evangelho de Jesus.<br>
								<br>
							</i><i>Por isso, fazem bem os euro­de­putados em não referir o Cris­tia­nismo no projecto de Consti­tui­ção da União Europeia. Pelo menos, o cristianismo eclesiás­ti­co. Porque o outro, o cristianis­mo de Jesus crucificado/ressusci­ta­do, sempre esteve presente e activo, não só na Europa, mas também no mundo, através do seu Espírito, concretamente nas lutas pela emancipação dos indi­ví­duos e dos povos, por sinal, sis­te­maticamente reprimidas pe­los poderosos e mafiosos ricos, mai-las suas hierarquias religio­so-eclesiásticas. Mas esse, tal como o nome de Deus, é mais salutar silenciá-lo do que nomeá-lo na Constituição da União Euro­peia.<br>
								<br>
							</i><i>Aceitem o abraço e o beijo do vosso companheiro e irmão<br>
							</i><br>
							<b>Mário</b>, presbítero.<br>
							<br>
							<b>P. S. Certamente já percebe­ram que os ventos da Casa Pia sopram de feição para os actuais go­vernantes. Eles podem conti­nuar a levar à vontade o país para o abis­mo, que ninguém rea­ge. Entretanto, só mesmo o FCPorto dá algum consolo (anestesia?) aos seus as­so­ciados (os lucros materiais são só para alguns!),mas a verdade é que dei­xa ainda mais de­pri­mi­da a esmaga­do­ra maioria da po­pulação que não só não se revê nesses êxitos, como ain­da tem que se confrontar com os não-êxitos dos seus clubes. Por outro lado, todos os êxitos no mesmo saco podem gerar no­vas e perigosas arrogâncias. A­ban­do­nemos então o ópio e re­­­gres­­semos em força à cultura e à espiri­tualidade, porque aqui os êxitos tradu­zem-se em mais consciência crítica, em mais liberdade pessoal e colectiva, em mais humanidade e em mais protago­nis­mo sócio-político.<br>
							</b></p>
					</td>
					<td width="45" height="2710" colspan="2"></td>
					<td width="1" height="2710"><spacer type="block" width="1" height="2710"></spacer></td>
				</tr>
				<tr height="30">
					<td width="590" height="30" colspan="18" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="30"><spacer type="block" width="1" height="30"></spacer></td>
				</tr>
				<tr height="850">
					<td width="52" height="850" colspan="6"></td>
					<td class="class" content="" csheight="833" width="488" height="850" colspan="8" valign="top" align="left" xpos="62"><b>Espaço Aberto<br>
						</b><br>
						<b>Leonardo Boff (Brasil): Auto-limitação: virtude ecológica<br>
						</b><br>
						O pavor suscitado pelo lança­mento de bombas atómicas sobre Hiroshima e Nagasaki, em 1945, foi tão devastador que mudou o estado de consciência da hu­manidade. Introduziu-se a perspe­ctiva de destruição em massa, acrescida posteriormente com a fabricação de armas químicas e biológicas, capazes de ameaçar a biosfera e o futuro da espécie humana. Antes, os seres huma­nos podiam fazer guerras con­ven­cio­nais, explorar os recursos naturais, desmatar, lançar lixo nos rios e gases na atmosfera e não havia grandes modifica­ções ambientais. A consciência tran­quila assegurava que a Terra era inesgotável e invulnerável e que a vida continuaria a mesma e para sempre em direção ao futuro. Esse pressuposto não exis­te mais. Mais e mais nos da­mos conta daquilo que a Carta da Terra atesta:<br>
						<br>
						“Estamos diante de um mo­mento crítico na história da Terra, numa época em que a humani­dade deve escolher o seu futuro: ou formar uma aliança global para cuidar da Terra e uns dos outros, ou arriscar a nossa des­trui­ção e da diversidade da vida.<br>
						<br>
						Esse documento, já assumi­do pela UNESCO, representa a nova perspectiva planetária, éti­ca e ecológica da humanidade. Os factos que sustentam o alarme são irrecusáveis: só temos essa Casa Comum para habitar; seus recursos são limitados, muitos não renováveis; a água doce é o bem mais escasso da natureza (só 0,7 é acessível ao uso huma­no); a energia fóssil, motor do de­senvolvimento moderno, tem os dias contados; e o crescimen­to demográfico é ameaçador. Ul­tra­passamos já em 20% a capa­ci­dade de suporte e reposição da biosfera. Querer generalizar para toda a humanidade o tipo de desenvolvimento hoje impe­ran­te, exigiria outros três planetas iguais ao nosso. A grande maio­ria não pensa em tais coisas, pois parece-lhe insuportável lidar com os limites e eventualmente com o desastre colectivo, possí­vel ainda na nossa geração.<br>
						<br>
						Esses problemas são graves. Mas há ainda um maior: a lógica do sistema mundial de produção e a cultura consumista que ele ge­rou. Ele diz: devemos produzir mais e mais, sem impor limites ao crescimento, para podermos consumir mais e mais, sem limites ao cabaz de ofertas. A consequ­ên­cia imediata desta opção é uma dupla injustiça: a ecológica com a depredação da natureza; e a social, com a gestação de de­sigualdades entre aqueles que comem à tripa forra e os que comem insuficientemente, caindo na marginalidade ou na exclusão.<br>
						<br>
						Se quisermos garantir um fu­turo comum, da Terra e da huma­nidade, impõem-se duas virtudes: a auto-limitação e a justa medi­da, ambas expressões da cultura do cuidado. Mas como postular essas virtudes, se todo o sistema está montado na sua negação? Desta vez, porém, não há esco­lha: ou mudamos e nos pauta­mos pelo cuidado, auto-limitan­do-nos na nossa voracidade e vi­vendo a justa medida em todas as coisas, ou enfrentaremos uma tragédia colectiva.<br>
						<br>
						A auto-limitação significa um sa­crifício necessário que salva­gu­ar­da o Planeta, tutela interes­ses colectivos e funda uma cul­tura da simplicidade voluntária. Não se trata de não consumir, mas de consumir de forma responsável e solidária para com os seres vivos de hoje e que virão depois de nós. Eles também têm direito à Terra e a uma vida com qualidade.<br>
					</td>
					<td width="50" height="850" colspan="4"></td>
					<td width="1" height="850"><spacer type="block" width="1" height="850"></spacer></td>
				</tr>
				<tr height="20">
					<td width="590" height="20" colspan="18" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="1180">
					<td width="50" height="1180" colspan="5"></td>
					<td class="class" content="" csheight="1170" width="491" height="1180" colspan="10" valign="top" align="left" xpos="60"><b>Porfírio Borges (Porto): Viver hoje<br>
						</b><br>
						Não haverá concerteza quem não tenha presente o Evangelho de S. Marcos que nos fala da multiplicação dos pães.De acordo com a passagem relatada em 6, 34-44, Jesus com cinco pães e dois peixes deu de comer a cin­co mil pessoas. Perante este fa­cto, a multidão entusiasmada, porque não entendeu que a ver­da­deira razão desta multiplicação não tinha em conta simplesmente o alimento, mas sobretudo a opor­tunidade para nos explicar o que é a partilha, logo o quis fazer rei.<br>
						<br>
						No entanto, os milagres não acontecem para resolver os pro­ble­mas de ordem material, mas sobretudo para nos levarem a viver para os outros e a amar o próximo como a nós mesmos. O milagre está em aceitar que os evangelhos não se confinam a relatar “coisas” do passado, mas que são apelo ao nosso compro­misso actual.<br>
						<br>
						O milagre, de verdade, não está propriamente no acto da mul­tiplicação, mas no aprender a partilhar a vida, o tempo, os co­nhecimentos e afectos e a re­conhecer que a alegria de dar é muito superior à de receber. É bom não esquecer que a fome não é só de pão, mas é igual­mente a falta de habitação, tra­ba­lho, ordenado e de uma ami­za­de na hora certa. Sem uma ade­rência a compromissos com as realidades da vida, jamais haverá solução para os povos que continuam só a sentir a fome do pão dos homens e não a do pão da vida. Só a nossa solida­rie­dade com os que sofrem, moral e espiritualmente, parti­lhan­do com eles aquilo que te­mos e somos, poderá contribuir para eliminar as barreiras das desigualdades existentes.<br>
						<br>
						Acreditamos que, embora haja muito para fazer, o pouco que cada uma/cada um vai fa­zendo ajuda a transformar o mun­do, no qual o importante não é o comprar para acumular, o vender a preços exorbitantes e o possuir só para si.<br>
						<br>
						O mundo que desejamos tem de ter espaço para a ajuda mú­tua, para partilharmos as nossas ideias e capacidades e para que se faça tudo para ajudar os ou­tros. É um sonho? Talvez. Toda­via, temos que acreditar que este mundo já começou.<br>
						<br>
						Há com efeito muitos cristãos que já entenderam que a partilha não acontece só na eucaristia, o que seria demasiado simples, mas também na vida, pois acre­ditam que o alimento, o trabalho, a dignidade, a possibilidade de aprender, a liberdade de falar, de se deslocar e sonhar estão intimamente unidos.<br>
						<br>
						Importa assim continuar a desenvolver as condições que per­mitam que todos possam ter a alegria de conhecer a Deus e de o poder celebrar em todos os acontecimentos.<br>
						<br>
						Como a verdadeira mensa­gem que o Evangelho da “multipli­cação dos pães” ainda está longe de se cumprir, devemos respon­der positivamente ao apelo de Deus: - Amigos, vinde todos, pois que o Evangelho é para ser vivido hoje e sempre!<br>
						<br>
						<b><i>N. D. Novo livro do Porfírio: Casos da Vida. Novas páginas do Evangelho<br>
							</i></b><br>
						<i>Com o título "CASOS DA VIDA. Novas páginas do Evangelho", o nosso amigo e companheiro Porfírio Borges acaba de publicar mais um livro de crónicas, bastantes das quais, viram a luz primeira nas páginas do Jornal Fraternizar. O livro, de 231 páginas, é editado pelas conhecidas Edições Salesianas (Rua Dr. Alves da Veiga 124, Apartado 5281, 4022-001 Porto; Tel. 22 536 57 50; Fax 22 536 58 00; E-mail: edisal@telepac.pt).<br>
							<br>
						</i><i>As crónicas apresentam-se agrupadas por temáticas e cobrem um período de mais de trinta anos. Lê-las é fazer uma viagem no tempo, deixar-se surpreender pela reflexão oportuna e lúcida de um homem assumidamente cristão católico, militante activo e dinâmico da Acção Católica, particularmente, na JOC e na LOC.<br>
							<br>
						</i><i>Como o próprio Porfírio gosta de sublinhar, é um homem sem "canudos" universitários que, mesmo assim, se "atreve" a escrever, a intervir, a tomar partido. Fá-lo com a autoridade do testemunho pessoal, do militante comprometido, do homem que não consegue fazer como o sacerdote e o levita da parábola lucana do Samaritano, que sempre preferem passar ao lado de quantas e quantos estão caídos na valeta da vida, não por uma fatalidade qualquer, mas porque outros, de profissão ladrões e salteadores, assim os deixam.<br>
							<br>
						</i><i>Neste livro, o Porfírio está inteiro, homem de causas e com causas, pelas quais se bate até ao fim, numa coerência que faz arrepiar a muitos e muitas.<br>
							<br>
						</i><i>Jornal Fraternizar congratula-se com este lançamento e associa-se à alegria do Porfírio e da sua casa, ao mesmo tempo que recomenda a leitura atenta do livro. (Se quiserem, dêem uma palavrinha ao Porfírio. Eis o telefone: 22 536 28 58.<br>
						</i></td>
					<td width="49" height="1180" colspan="3"></td>
					<td width="1" height="1180"><spacer type="block" width="1" height="1180"></spacer></td>
				</tr>
				<tr height="20">
					<td width="590" height="20" colspan="18" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="3420">
					<td width="49" height="3420" colspan="4"></td>
					<td class="class" content="" csheight="3410" width="492" height="3420" colspan="11" valign="top" align="left" xpos="59"><b>Frei Betto (Brasil)<br>
						</b><br>
						<b>1. Avanços do ‘Programa Fome Zero’<br>
						</b><br>
						Guaribas, no Piauí, tem pouco menos de 5 mil habitantes e é um dos mais pobres municípios do Brasil. Ali começou o Progra­ma Fome Zero. Na verdade, imprescindível era o Programa Se­de Zero. Para obter água, há 50 anos a população percorria 4 km até uma serra, onde uma gruta abriga pequena nascente. Mulheres e crianças cobriam, diariamente, os 8 km carregando baldes na cabeça.<br>
						<br>
						Graças ao Fome Zero, um con­junto de caixas d'água bom­beia a água barrenta de uma lagoa situada no perímetro urba­no e, através de um chafariz, en­tre­ga à população água potá­vel. Em outubro, 5 mil metros de rede de distribuição chegarão às casas. Dona Lídia Dias, 36 anos, contava como é bom ter água perto de casa, quando seu marido, Salvador Alves, 43, inter­veio: “Essa água está uma bele­za. A gente só fazia filho de dia, pois minha mulher saía à 1h da tarde para buscar água e só voltava às 6h da manhã.”<br>
						<br>
						Marleide Alves Duarte, 20 anos, disse que antes do chafa­riz ela costumava chegar à fonte da gruta à 1h da madrugada e sair dali às 7h da manhã: “As mu­lheres faziam coivaras para aquecer os corpos. Ninguém su­por­tava o cheiro do marido, por­que ele voltava do trabalho e não podia banhar-se. Agora, es­ses anos de sofrimento acaba­ram.”<br>
						<br>
						Além de favorecer a vida se­xual dos casais, o Fome Zero pro­cura saciar a fome de pão e de beleza. Guaribas colheu neste ano 160 toneladas de feijão. Pela primeira vez, ninguém ne­go­ciou directamente com os atra­vessadores, que ofereceram R$ 22,00 por saca. A comunidade or­ganizada decidiu vender cole­cti­vamente através de leilão. A saca foi vendida a preços que variaram entre R$ 50,00 e R$ 70,00.<br>
						<br>
						O Fome Zero é um conjunto de políticas públicas. Menos im­por­tante no programa é distribuir alimentos. Mais importante é pro­piciar renda, emprego, resgate da auto-estima e da cidadania. Em Acauã (PI), outro município pi­loto, uma senhora de 73 anos, alfabetizada em três meses, pe­diu ao agente de segurança ali­mentar: “Quero ir ao sindicato ru­ral mudar minha carteira de a­po­sentada.” Ele não entendeu a razão. Ela acrescentou: “Lá tem o meu dedo. Agora quero bo­tar minha assinatura.”<br>
						<br>
						No Piauí, o programa já se estendeu a 84 municípios. Em breve, serão 108. Até o fim do ano, mil em todo o semi-árido nordestino, incluindo o Vale do Jequitinhonha, em Minas.<br>
						<br>
						A meta no Piauí era implan­tar, em 180 dias, dois comitês gestores. Em 120 dias são 24. Documentação completa, de cer­ti­dão de nascimento a CPF, já foi entregue a 337 pessoas. Feiras municipais funcionam em Guaribas e Acauã, onde estão sendo construídos mercados pú­bli­cos. A electrificação levou luz a quatro povoados rurais de Guaribas. A previsão de assegu­rar, em 180 dias, a posse do car­tão-alimentação a mil famílias foi significativamente superada: em 120 dias, 13.307 famílias de 24 municípios piauienses já po­diam retirar mensalmente R$ 50,00 nas agências da Caixa E­co­nómica Federal. Estão sendo construídas em Guaribas, Acau­ã, Alta e Vila Irmã Dulce, em Te­resina, 1.500 moradias, todas com sete cómodos. Estavam pre­vistas 430 fossas sépticas nos pri­meiros seis meses. Foram a­ber­tas 1.500 em 4 meses.<br>
						<br>
						Nos dois municípios-piloto, o Analfabetismo Zero já favoreceu 600 adultos. Os alfabetizadores - estudantes e professores da re­gião - ganham no final do cur­so, que dura três meses, R$ 100,00 por aluno alfabetizado, ou seja, cerca de R$ 1.900,00 pe­los três meses de trabalho. E cada alfabetizado recebe, com o diploma, R$ 200,00, mais R$ 100,00 pela carta enviada ao pre­sidente Lula e mais R$ 100,00 pela carta remetida ao governa­dor Welllington Dias. Assim, a fo­me de letras reactiva a econo­mia local, saciando também a de pão.<br>
						<br>
						Em fevereiro último, o progra­ma “Fantástico”, da TV Globo, mostrou a favela Piratininga, em Osasco (SP), onde vivem emi­gran­tes de Guaribas. Risonaldo Fer­reira Alves, 23 anos, vivia ali e trabalhava como ajudante de pedreiro. Atraído pelas boas notícias do Fome Zero, retornou ao município: “Voltei porque es­tão ocorrendo mudanças. Guari­bas não tinha nada. Não tinha calçamento, não tinha empregos. Não dava para sobreviver.” Ago­ra, ele será empregado pela Co­hab (Cooperativa Habitacional) do Piauí na construção de casas.<br>
						<br>
						Aderismar de Andrade Dias, 20 anos, também retornou a Gua­ribas, abandonando em São Paulo o trabalho com moldura de gesso, pelo qual recebia R$ 250,00 mensais. Agora, presta ser­viço à construção de casas, dirigindo o camião do pai, e ga­nha, em média, R$ 30,00 por dia no transporte de material. No final do mês, Aderismar vai ga­nhar mais do que em São Paulo. “E com a vantagem, diz ele, de morar com meus pais, não ter medo da violência e não vi­ver em favela.”<br>
						<br>
						A população de Guaribas rei­vindica também uma rádio comu­nitária. Além de informação, ela quer expressar a sua palavra. Pa­lavra é sinónimo de Deus, Verbo que se fez carne. Esse res­gate de cidadania propiciado pelo Fome Zero é, sem dúvida, o seu maior mérito, que o define como um combate não apenas da fome, mas sobretudo da exclu­são social. Como alertava S. Tomás de Aquino: “Não se pode exigir a prática das virtudes de quem passa fome.” Oito séculos de­pois deste alerta, pelo menos o governo brasileiro entendeu que sem pão não há paz. Esta, como bradou o profeta Isaías há quase três mil anos, deve ne­ces­sariamente ser filha da jus­tiça. Nesse sentido, o Programa Fome Zero lança também as se­mentes da Violência Zero.<br>
						<br>
						<b>2. Conexões</b><br>
						<br>
						A mecânica de Newton e a física clássica enfrentaram o desafio de construir novos mode­los de explicação do mundo sem falar de Deus e do nosso eu. A física quântica rompe com essa tradição. As ciências experimen­tais são manejadas por homens e mulheres que, hoje, não se con­ten­tam em descrever e expli­car a natureza. Eles sabem que há uma interacção entre nós e a natureza.<br>
						<br>
						O nosso corpo e o nosso pre­tensioso cérebro são compos­tos das mesmas partículas que tecem o brilho das galáxias que ardem nas profundezas siderais. Impossível estabelecer uma nítida separação entre você, eu e o Uni­verso. Quanto a Deus, ele não pode ser encontrado por equa­ções integrais, mas, agora, vemo-nos livres do mecanicismo e do de­terminismo que nos impediam de contemplar a natureza com um pouco mais de sabedoria. A poesia também extrapola os con­ceitos.<br>
						<br>
						Ainda que a hipótese cosmo­ló­gica do Big Bang venha a ser ri­gorosamente “provada”, nem por isso a crença criacionista deve considerar-se premiada. Não con­cer­ne à ciência comprovar a exis­tência ou a inexistência de Deus. Para Isaac Newton, os “princípios matemáticos da filosofia natural” teriam demonstrado definitivamen­te a existência de Deus – na ver­dade, um deus-tapa-buracos. Ora, a própria ciência deve tapar os seus buracos. São falsos os deu­ses das convicções científi­cas. E débil a fé que busca a­poi­ar-se em dados da ciência.<br>
						<br>
						Estaríamos no limiar de uma nova Renascença? Acredito que, pelo menos, estamos no li­miar de uma nova ontologia e de uma nova epistemologia. Ou de uma holoepistemologia, como sugere Roberto Crema, que in­te­graria e, ao mesmo tempo, su­pe­raria a epistemologia carte­sia­na e o método dialéctico.<br>
						<br>
						O que haveria para re-nas­cer? Assim como a fé bíblica vai em busca de suas origens para assegurar sua natureza amorosa e consistência histórica – “a fé de Abraão, Isaac e Ja­cob” – também o marxismo considera a infra-estrutura da so­ciedade fundamental na ex­pli­cação de seu conjunto, bem como a psicologia busca resga­tar o passado do paciente para melhor entender o seu presen­te. Não é mera coincidência. Marx e Freud são tributários de suas raízes judaicas.<br>
						<br>
						Portanto, teríamos a resga­tar na história da humanidade a vitalidade original das grandes tradições religiosas, a interac­ção entre o ser humano e a na­tu­reza, a mística como trans­cen­dência da razão e plenifica­ção da inteligência, os mega-relatos como âncoras de para­digmas, a comunidade como es­paço de humanização, persona­li­za­ção e socialização.<br>
						<br>
						Disto não tenho a menor dú­vida: estamos mergulhados em plena crise da modernidade. Já não há um determinado lugar que nos propicie a inteligibilidade do todo. Nem uma razão que nos sirva de belvedere [= terraço, mirante] para apreciarmos o pano­rama geral. A indeterminação e o aleatório escapam à razão, quais peixes furtivos nadando atra­vés dos buracos da rede.<br>
						<br>
						Talvez, agora, intuição e emo­ção se tornem actrizes de desta­que no palco de nossa inteligência.<br>
						<br>
						<b>3. O espírito capitalista<br>
						</b><br>
						O sistema capitalista que deita raízes na quebra da socie­dade feudal e no advento da manufactura, alavancou-se com a revolução industrial, no século 19. Expandiu-se, acelerou a pes­quisa científica e o progresso técnico. Aumentou a produção e agravou a desigualdade na distribuição. De seu ventre con­traditório surgiu o socialismo que aprimorou a distribuição sem con­seguir desenvolver a produção. A onda neoliberal derrubou o socialismo europeu qual caste­lo de areia.<br>
						<br>
						Hoje, o capitalismo é vitorio­so para as nações da União Eu­ropeia e da América do Norte (excluindo o México). No resto do mundo, deixa um lastro de mi­séria e pobreza, conflitos e mortes, salvando-se as elites que, em seus respectivos paí­ses, gerenciam os negócios segundo o velho receituário coloni­al, agora prescrito pelo FMI: tudo para benefício da metrópole.<br>
						<br>
						Em plena globocolonização, o capitalismo é também vitorioso em corações e mentes. Nem em todos. Há ricos, remediados e po­bres que não possuem espírito capitalista. São pessoas generosas, altruístas, capazes de se debruçar frente ao sofrimento alheio e de estender a mão em so­lidariedade a causas coletivas.<br>
						<br>
						Porém, a tendência do espí­rito capitalista é aguçar o nosso egoísmo; dilatar nossas ambi­ções de consumo; activar nos­sas energias narcísicas; tornar-nos competitivos e sedentos de lucro. Criar pessoas menos soli­dárias, mais insensíveis às questões sociais, indiferentes à misé­ria, alheias ao drama de índios e negros, distantes de iniciativas que visam defender os direitos dos pobres. Moldar esse estranho ser que aceita, sem dor, a de­sigualdade social; assume a cultura da glamourização do fútil; diverte-se com entretenimen­tos que ridicularizam os pobres e a mulher, como são exemplos os programas de humor na TV.<br>
						<br>
						O capitalismo promove, em nossa consciência, tamanha in­ver­são de valores, que defeitos qualificados pelo cristianismo de “pecados capitais” são tidos como virtudes: a avareza, o orgu­lho, a luxúria, a inveja e a cobiça.<br>
						<br>
						O capitalismo é irmão gémeo do individualismo. Ao exaltar como valores a competição, a riqueza pessoal, o acúmulo de pos­ses, interioriza em muitos ambições que os afastam do es­for­ço colectivo de conquista de direitos, para mergulhá-los na ilusão pessoal de que, um dia, também eles, como alpinistas sociais, galgarão o pico da fortuna e do sucesso.<br>
						<br>
						A magia capitalista dissolve, pelo calor de sua sedução, todo o conceito gregário, como nação ou povo. O que há são indivíduos atomizados, premiados pela loteria biológica por não terem nascido entre os pobres, ou pela roda da fortuna, que os fez as­cender miraculosamente para o universo em que os sofrimentos morais são camuflados sob o brilho da opulência.<br>
						<br>
						O espírito capitalista não faz dis­tinção de classe: inocula-se no favelado e na empregada do­méstica, no camponês e no motorista de táxi. E a ricos, remediados e pobres induz à apropriação privada, não apenas de bens ma­teriais, mas também de bens simbólicos: oro para alívio dos meus problemas e a cura de minhas doenças; voto no candidato que melhor corresponde às minhas ambições; adopto um comportamento que realça a minha figura e o meu prestígio.<br>
						<br>
						Esse espectro de ser humano não conhece a cooperação e a gratuidade; considera a ge­nerosi­da­de uma humilhação; en­cara a pobreza insubmissa como caso de polícia; faz da função de man­do uma segunda pele; trata os subalternos com desdém. O mun­do centra-se no seu umbigo. Ainda que não tape as orelhas ao ouvir falar em “amor ao próximo”, do outro ele se faz próximo quan­do estão em jogo seus interesses e ambições. Mas prefere distân­cia, se o outro so­fre, decai social­mente ou mergu­lha em fracasso. O seu espelho é o da bruxa que indaga: “Há alguém tão bem-sucedido quanto eu?” Se a resposta é positiva, então quer conhecê-lo, adulálo, idolatrá-lo, tocá-lo, como a um ícone religioso do qual se espera graças e proveitos.<br>
						<br>
						Capitalista não é apenas o banqueiro, o tio Patinhas. É tam­bém o Donald, que o inveja e se submete aos seus caprichos. O mundo é para ele um jogo de espelhos, no qual se vê proje­cta­do nas mais variadas dimen­sões. Ele inveja os que estão acima dele e nutre ódio por quem o ameaça como concorrente. Quando se faz religioso, é para ganhar o Céu, já que a Terra lhe pertence. Dá esmolas, jamais direitos; acende velas, nunca es­pe­ranças; prega a mudança de coração, não da sociedade; é ca­paz de reconhecer Cristo na eu­caristia, nunca no rosto de quem padece fome, é sem-terra ou sem teto.<br>
						<br>
						Horroriza-nos pensar que, ou­trora, a sociedade praticou o canibalismo. Quem sabe se ali­mentar-se com a carne do se­melhante, em vez de entregá-la ao repasto dos vermes, não será mais saudável e ético do que, hoje, excluí-lo do direito de simplesmente ser humano.<br>
					</td>
					<td width="49" height="3420" colspan="3"></td>
					<td width="1" height="3420"><spacer type="block" width="1" height="3420"></spacer></td>
				</tr>
				<tr height="20">
					<td width="590" height="20" colspan="18" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="2140">
					<td width="40" height="2140"></td>
					<td class="class" content="" csheight="2130" width="490" height="2140" colspan="11" valign="top" align="left" xpos="50"><font size="2"><b>Manuel Reis (Guimarães): “Ser de Esquerda”. Contra o simplismo do director do ‘Expresso’<br>
							</b><br>
						</font><i><b>Publicamos aqui, quase como aperitivo, apenas as três primeiras páginas A4 de um trabalho que se estende por mais quatorze. Ao autor, o querido Amigo e Companheiro, Dr. Manuel Reis, pedimos desculpa e apelamos à sua compreensão. Mas razões de espaço a isso nos obrigam. Somos um pequeno jornal e, agora, com periocidade trimestral. Quem, entretanto, estiver deveras interessado em conhecer o texto integral, pode manifestar-se nesse sentido. E, ou o Autor, ou o Fraternizar providenciarão para que esse desejo seja satisfeito.<br>
							</b></i><br>
						Na rubrica Política à Portu­gue­sa (Expresso, 18 de Abril de 2003), José António Saraiva (JAS), no artigo titulado “Ser de esquerda”, porfia hodiernamente em defender a tese simplista/simplória de que “a atitude pe­rante a igualdade é o que distin­gue a esquerda da direita”. A tese é induzida a partir dos três epónimos aí referenciados: Sad­dam, Otelo e Fidel. Não se trata, expressamente, do Editorial do periódico citado; mas, proceden­do da pena do Director do Jornal semanário e dentro da moldura de uma rubrica consagrada, é forçoso considerar o texto de JAS como um super-editorial. Daí, a sua responsabilidade maior...<br>
						<br>
						O texto constitui o paradigma das mais gritantes e confrange­do­ras superficialidades, na análi­se e abordagem da temática, nas conclusões e nos postulados (ideológicos...) que pretende or­ganizar e epitomar em doutrina oficial (Consensus de Washington obriga!...) e difundir como cartilha do Império. Como é tão fácil o curto-circuito mental, em pessoas supostamente inteligentes e sen­sí­veis!... A tolerância é devida aos Indivíduos-Pessoas. Quanto às ideias, se as consideramos certas, integrá-las-emos; se as achamos duvidosas ou erradas, discutimo-las e combatemo-las. JAS fez-me transbordar a taça da compreensão e da paciência mental. Não vou seguir a via do atalho, que deixaria a minha res­posta anónima, no meio das car­tas anódinas que são recebidas no jornal, transitadas pelo crivo da selecção e, depois, publica­das ou não. Esse é o caminho habitual da submissão ao Poder estabelecido, da submissão à “Law and Order”. Preferimos to­mar o caso de JAS como paradi­gma dos turiferários do discurso oficial, segundo a cartilha da Ideo­logia dominante e do pensa­mento único, tão típicos do con­tem­porâneo capitalismo neolibe­ralista de ambição imperial-pla­netária. Porque, na verdade, ele é-o, de facto.<br>
						<br>
						Pese embora a rubrica em causa chamar-se “Política à Por­tu­guesa”, temos o direito e faze­mos essa justiça a JAS de não o assumir como palhaço num jo­go de robertos, onde nem sequer existiria uma linha de água sepa­radora entre a crítica e a aceita­ção submissa da realidade. A ironia (a sábia e santa ironia) carece de condições situacionais de inteligibilidade para tomar cor­po e fazer o seu caminho. E a­qui, não se vê na moldura e no texto, quaisquer revérberos que a evoquem ou invoquem!...<br>
						<br>
						No texto em análise, JAS par­te deste contraponto dogmá­tico: a esquerda procura construir uma sociedade que tenha por objectivo a igualdade entre todos os cidadãos; a direita rejeita um tal projecto de sociedade, “argu­mentando que as sociedades pro­gridem não pela procura da igual­dade mas pela valorização das diferenças”.<br>
						<br>
						Entretanto, “ao pretender uma sociedade igualitária, a es­querda mostra uma face mais humana e um superior sentido de justiça. Sucede que o proble­ma é outro. O problema é que send­o as pessoas diferentes, a igual­dade só se consegue atra­vés da repressão. [Haverá hebetismo mais estúpido?!...] Da limitação de direitos. Do condi­cionamento da liberdade. Uma sociedade igualitária supõe um poder forte e autoritário, exercido por uma força política organiza­da, chefiada por um líder caris­mático”.<br>
						<br>
						Transitando do plano crítico para o plano propositivo, conti­nua JAS o seu discurso como se­gue: “Para a esquerda ultra­pas­sar este problema, tem de re­pensar a questão da igualda­de. No fundo, tem de abdicar dessa ideia. Tem de aceitar que os indivíduos são diferentes. Tem de perceber que o “socialismo em liberdade” é uma utopia, por­que socialismo e liberdade são incompatíveis. [Haverá hebetismo mais estúpido?!...] O socialismo, como sistema tendencialmente igualitário, só pode ser imposto pela força. Quanto à liberdade, con­duzirá sempre não ao socialis­mo mas ao liberalismo, à socie­dade de mercado, onde a inicia­tiva é valorizada e os seres hu­ma­nos revelam as suas diferen­ças”.<br>
						<br>
						“Tal pai, tal filho”?! Não... Quão diferente (no pior sentido das confusões e dos abastarda­men­tos...) é o autor do texto em apreço, em confronto com aquel’outro Autor inteligente e sensível (António José Saraiva), que sempre foi um exemplo de in­tegridade e insubmissão, tanto em textos sócio-políticos, como o livro “Maio e a Crise da Civiliza­ção Burguesa” (1969), que são mensagens fundadamente pro­gra­máticas, como nas bem pro­nun­ciadas divergências críticas concernentes à “Realpolitique” (desde logo em debates com A. Cunhal sobre os rumos da polí­tica soviética, no caso da “Pri­mavera de Praga”/1968, liderada por A. Dubcek, chefe do Partido Comunista checoslovaco, e logo esmagada pelo Exército Verme­lho), a qual tomou corpo e fez ca­minho entre os “Dois Blocos”, durante o chamado “período da guerra fria”.<br>
						<br>
						Deve aqui advertir-se que, tendo sido agraciado, em 1982, com o Grau Oficial da Instrução Pública, António José Saraiva não o recebeu por, nos seus pró­prios termos, sempre haver con­siderado como “incoerentes com o Estado Democrático as distinções honoríficas, que equi­valem à intenção de criar uma no­breza entre cidadãos e que im­plicam que esse Estado tenha competência na esfera moral”.<br>
						<br>
						Em suma, podemos ver, em tal posição, a cordura e a hones­ti­dade democráticas levadas até ao fim; o exemplo paradigmático da Fé na Democracia, ou, por outras palavras mais precisas, da Fé sócio-antropológica nas Pes­soas/Cidadãos, a tal ponto que elas não se podem constituir cabalmente, enquanto Seres Hu­ma­nos, senão em verdadeiro e autêntico Regime Democrático. Quer isso dizer que nos achamos nos antípodas daquela conce­pção democrático-liberalista da democracia, a qual, v.g. segundo Churchill, seria apenas o menos mau dos regimes políticos!...<br>
						<br>
						A avaliar pelo texto acima referenciado e pelos parágrafos transcritos, JAS configura-se sem dúvida como um bom altifalante da contemporânea Ideologia do­mi­nante, hoje mais do que nun­ca estigmatizada pelo “pensa­men­to único” e por uma cartilha de Decisões/Vontades concentra­ci­o­na­ria­men­te unificada. Nunca é demais confrontá-lo com o pai, que se situa, a este respeito, num quadrante diametralmente oposto. O filho, na verdade, continua a queimar incenso à “Realpolitique” (fustigada pelo pai): seja ela a que tomou corpo, em diapasão expressamente po­lí­tico, no período da chamada “guerra fria” entre os “Dois Blo­cos”; seja ela a que, desde há um quarto de século, se foi mo­delando a partir do império abso­luto do economicismo e das multi-transnacionais, arregimen­tado pela Tecnociência de Apa­relho e pelo fascismo soft, em vias de generalização à escala do Planeta.<br>
						<br>
						Com efeito, a “Realpolitique” tem o condão de reduzir, primei­ro, e, depois, inibir definitivamen­te os conflitos entre os interesses e os princípios; adoptando a so­lu­ção estratégica de transformar os princípios em interesses de se­gunda ordem, confiando aque­les a uma irredutível função me­ra­mente pragmatista. No limite, já não há princípios; há apenas interesses, que se subordinam uns aos outros, segundo a “lei do mais forte”. Os primeiros aca­baram por ser completamente a­ban­donados, por já não terem funções identitárias a cumprir.<br>
						<br>
						Consideremos, a título de e­xem­plo, o caso da cedência, com pompa e circunstância, da base das Lajes, nos Açores, por parte do actual Governo. A esse propó­sito, a dialéctica entre interesses e princípios foi muito bem esqua­drinhada por Viriato Soromenho-Marques (in JL, 16.4.03, p. 40). Nes­se arti­go, estabelece ele duas teses centrais, que importa destacar:<br>
						<br>
						A) “Os EUA perceberam que era do seu interesse apoiar os princípios da ONU quando foi criada, mesmo que muitas ve­zes, o seu interesse nacional di­recto levasse a colocar tempo­rariamente esses princípios entre parêntesis”.<br>
						<br>
						B) “o projecto de u­ma Europa de princípios está hoje em causa. E não se acuse Paris ou Berlim de terem atirado a primeira pedra.<br>
						<br>
						Talvez sem o saber, este Go­verno pode ter con­­tribuído para dar realidade à mais sombria in­terpretação da Jangada de Pedra de Saramago. Torná-la no argu­mento de um efe­ctivo e patético destino nacio­nal”.<br>
					</td>
					<td width="60" height="2140" colspan="6"></td>
					<td width="1" height="2140"><spacer type="block" width="1" height="2140"></spacer></td>
				</tr>
				<tr height="20">
					<td width="590" height="20" colspan="18" valign="top" align="left" xpos="10">
						<hr size="3" width="580">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="4830">
					<td width="41" height="4860" colspan="2" rowspan="2"></td>
					<td class="class" content="" csheight="4801" width="490" height="4830" colspan="11" valign="top" xpos="51"><b><i>Outras Cartas<br>
							</i></b><br>
						<b>LIBERTE-SE DO DEMÓNIO!<br>
						</b><br>
						<b>Coimbra. António Correia:</b> Fe­­chei agora a televisão. É 1h da tarde. Acabo de ver a trans­mis­são de Fátima. E acabo (aca­bou-se a caneta e começo a es­crever com o lápis!) de rezar uma Avé-Maria por si. E isto por­que tenho aqui na minha frente o seu Jornal Fraternizar, com o “13 de Maio alternativo”. Perante o que acabo de ver na televisão e o que acabo de ler no seu jor­nal, só lhe posso dizer: “li­berte-se, Pe. e quanto antes... O­lhe que amanhã pode ser tar­de! “Não vê que o dia vai já adi­antado e que a noite se apro­xima”? Não vê e não sente?... Que felicidade para si – sobre­tudo para a hora da sua morte – o reencontro com Maria, a mãe de Jesus e também a sua mãe. Peça-lhe perdão já! Liber­te-se Pe., liberte-se do demó­nio! Cumprimentos.<br>
						<br>
						<b><i>ND<br>
								Também eu vi parte da trans­missão televisiva do “13 de Mai­o”. Havia sido previamente anun­cia­do em grandes parangonas que, este ano, eram esperadas umas setecentas mil pessoas em Fátima! (Quem terá sido o in­ventor de semelhante facto católi­co-fatimista? Os responsáveis do referido santuário?) Afinal, o nú­mero real de “peregrinos” não terá chegado aos duzentos mil, segundo alguns jornais, o que é manifestamente insignificante, para uma peregrinação interna­cio­nal, num universo de mais de seis mil milhões de pessoas, que tantas são as que povoam hoje o nosso planeta. Do que me foi dado ver e ouvir, concluí, mais uma vez, que aquilo que ciclica­mente ali acontece não tem nada a ver com Maria, mãe de Jesus. Só pode ser um insulto ao seu nome e à sua memória. Co­mo é um insulto à nossa inte­ligência, à nossa liberdade e à nossa di­gnidade de seres huma­nos. Tudo aquilo é puro paga­nis­mo religio­so, disfarçado sob nomes e refe­rências evangélicas e cristãs. Tem tudo a ver com os cultos às imagens de deusas e de deu­ses, que as comunidades cristãs primitivas conheceram e comba­te­ram no seu tempo, como alie­nação e idolatria. Entre este culto à deusa/senhora do santuá­rio de Fátima e o culto à deusa Ár­te­mis do santuário de Éfeso, por exemplo, que S. Paulo tanto com­bateu e por causa do que foi ferozmente perseguido, não há diferenças substanciais. Com­pre­en­do que as forças vivas do país, nomeadamente turísticas, e a hierarquia da Igreja católica não queiram perder, por nada deste mundo, aquela galinha de ovos de oiro, mas não posso iden­tificar aquilo com Maria mãe de Jesus, muito menos, com o pró­prio Jesus, o Cristo. Nem me venham dizer que a procissão das velas e a procisão do adeus são momentos de rara de beleza. Rituais de opressão de massas é o que são. Aliás, a pior opres­são é aquela que se faz com a co­nivência e a adesão das pró­prias vítimas. Não há “13 de Maio” que se preze, que não te­­nha a sua procissão de velas e a pro­cissão do adeus, com o espe­ctáculo de milhares de velas ace­sas e de milhares de lenços bran­cos a acenar nas mãos de pesso­as, em cujos rostos está bem impresso todo o alfabeto da po­breza, do analfabetismo, da doen­ça, da resignação, do sofrimento e da subserviência aos deuses e às deusas da terra e do céu. E tudo sob a faustosa presidência do alto e do baixo clero católico, todos eles homens burlescamente vestidos de mulher e estupida­mente impedidos de amar mulher, por isso, inconsci­en­te­mente incli­na­dos a concen­trar na imagem feminina da “virgem” todo o seu afecto repri­mido, e muito é. Os muitos milha­res de figurantes po­pulares pres­tam-se também ao seu papel, como no guião de um filme. Co­movem-se e choram. E, na inten­sidade daquele delírio colectivo, imaginam que o céu está ali e mais se comovem e cho­ram. É um verdadeiro sel-ser­vice colecti­vo de ópio, em que todas as religiões sempre foram e conti­nuam a ser hábeis. Chamar a estas manifestações mo­mentos de rara beleza, é de bradar aos céus. Mas há quem o faça e vá lá de propósito apre­ciar. Inclusi­ve, algumas pessoas que eu tinha por lúcidas, também neste campo fatimista-católico e que, agora, parecem recém-con­ver­tidas ao fenómeno. No tempo da Inquisi­ção, as execuções dos condena­dos às fogueiras também se fa­ziam em largos recintos e com as massas a assistir e a aplau­dir. Havia quem consideras­se aquilo um espectáculo exem­plar! E tudo se fazia em nome de Deus, da Ordem, da Lei, da Orto­doxia, do Dogma católico. Mas pode lá haver perversão maior que classificar de belo e de artístico o espectáculo ritual que cega as multidões carencia­das e opri­midas e lhes rouba a cons­ciência crítica e as converte em figuran­tes mais ou menos ro­botizados da sua própria alie­nação e opres­são? Alguém é ca­paz de imaginar Maria, a mãe de Jesus, ou o pró­prio Jesus, entre estes figu­ran­tes? E àquela ima­gem da “virgem” que passa entre os figurantes (para isso ser possível é preciso que uns quantos fa­náticos se ofereçam para a car­regar aos ombros, uma vez que ela não anda, não vê, não fala, não sente, não acena, não sorri, não passa de um ídolo de mau gosto feito por um artesão que os sacerdotes aclamam e fa­zem aclamar como uma deusa!), quem há aí que possa dizer, sem mentir com quantos dentes tem na boca, que é Maria, a mãe de Jesus, ou, ao menos, que repre­sen­ta Maria, a mãe de Jesus? Fi­nal­mente, ao meu caro leitor Antó­nio Correia, quero dizer que só mesmo um Deus como o da se­nhora de Fátima, que tem tudo de mentira e de homicida, é que o pode levar a dizer-me o que ele me diz na sua carta. Saiba, meu irmão, que não só não creio nesse Deus, como vivamente o repudio e combato. Com Jesus, o Cristo, aprendi, como, aliás, Maria sua mãe também acabou por aprender, que Deus é a nossa Salvação e a nossa plena realiza­ção. De modo que, por mais peca­dor que eu seja, nem por isso deixo de viver em todos os ins­tan­tes com o coração aos pulos de alegria, e mais ainda à medida que se aproxima o momento em que, por pura graça dEle, final­men­te nos veremos face a face. Eu sei, por Jesus, que nesse ins­tante, me (nos) espera, não um severo juiz pronto a conde­nar-me (nos), mas o Deus Mãe/Pai que me (nos) acolhe e salva.<br>
							</i></b><br>
						<b>ESTULTÍCIA<br>
							<br>
						</b><b>Caldas de S. Jorge. Pinto da Silva:</b> É muito contra o meu feitio entrar em polémica, até porque não tem sido meu interesse de­fender o que quer que seja, o mesmo que dizer atacar o que ou quem quer que seja.<br>
						<br>
						Mas a propósito do que es­cre­veste em N. D. a comentar a minha carta no nº. 149, permitir-me-ás que considere estultícia imaginares que o actual Presi­den­te da República tenha alte­rado a sua postura política  em re­lação ao Governo por influên­cia do que apareceu num jornal, por reflexo do que publicaste em editorial. E muito mau seria se assim fosse. Sobretudo tratan­do-se de um tablóide que não é, nem de perto nem de longe, um jornal de referência e, sobre­tudo ainda, tratando-se de Jorge Sampaio. <br>
						<br>
						Aproveitarei, caro Mário, pa­ra, com a frontalidade que gosto de pôr nas coisas, te dizer que, em minha opinião, alguns jor­nais, alguns jornalistas e mesmo alguns programas de TV te dão certa audição, não propriamente pelo que dizes, mas e só porque dizendo-te SACERDOTE CATÓ­LICO, o que dizes tem um senti­do de escândalo. Fico em abso­luto com a convicção de que és usado, e te deixas sê-lo, para benefício de alguma audiência, para benefício daquilo que tu, nas tuas prédicas, afirmas con­tra­riar. A desinformação, a defor­mação e o lucro via alguma audi­ência. Não achas?<br>
						<br>
						Tens muito mais experiência do que eu (que não tenho de todo) no combate político e reli­gioso, mas, mesmo assim e pelo que te considero, sinto-me com força para te dizer, e até acho que já te disse há muitos anos, que a mesma coisa pode ser dita de milhentas maneiras e até pode atingir objectivos idên­ti­cos, sem ferir os ouvidos e olhos de quem te ouve ou lê. Mas tu falas mais para chocar do que para convencer ou con­ver­ter. Colhes os tablóides, mas perdes os de referência. <br>
						<br>
						No aspecto religioso, ouso recordar-te o que sofreu, e ainda sofre, o Salman Rushdy pelo que disse do profeta Mahomé nos Versículos Satânicos. E a pro­pósito das movimentações de massas populares por arrasta­mento de fé, para Fátima ou outro santuário em Portugal ou no mundo, não me recordo de ter lido qualquer nota tua titu­lando de alienante a corrida de milhões para Meca, para Najaf ou para o Ganges. E quanto a sacrifícios corporais, nunca ima­ginei que pudesse ocorrer o que vi (pela TV) no Iraque. E não era propriamente uma manifesta­ção contra os americanos. Eu nun­ca fui a Fátima nos dias tradi­cionais de peregrinação. Não in­cito a que se vá como não tenho coragem para criticar e menos ri­dicularizar quem vai, seja mais ou menos (in)culto, mais ou me­nos “opiável”. Com amizade.<br>
						<br>
						<b>CULTURA DE VERDADE<br>
							<br>
							Porto. Manuel Pinheiro:</b> Se­guem ... euros para o pagamen­to do Jornal, e o resto é para o Barracão de Cultura, em Ma­cieira da Lixa. Cultura, que toda a gente precisa. Até o Papa, sem santidade, lhe falta cultura de ver­dade.<br>
						<br>
						Mais uma vez fui a Fátima. Na ida, colocaram um CD que fa­lava só de obscenidades. Con­se­gui pará-lo. No regresso, tenta­ram novamente exibir só pala­vrões de fazer corar. Com a co­ragem e diferença que um cristão afirmativo deve mostrar, nova­men­te consegui que não fosse se­quer colocado na televisão, di­zendo: Nunca mais venho nes­ta excursão!<br>
						<br>
						Em Fátima, falei a um grupo de estudantes, da vontade de Je­sus que é amar-nos uns aos outros. Eles até me bateram pal­mas. Fui junto do povo escraviza­do (a andar de joelhos) e disse que ninguém quer tal sacrifício. Fui junto do local de venda de ve­las e também chamei a aten­ção para um letreiro que diz: “Dei­te aqui o valor das velas que é para os pobres”. (Há tem­pos, visitei um grande pavilhão, do santuário, onde vi centenas de objectos de ouro e muito mais coisas valiosas. É crime. Tem razão, quando lhe chama covil de ladrões).<br>
						<br>
						<b>PAISAGENS QUE NOS DELI­CIAM<br>
							<br>
							Melides. Manuel Araújo:</b> Aca­bo de receber mais um Frater­nizar e mais uma vez reforço aqui a preciosa qualidade do seu conteúdo. Costumo dizer que o Fraternizar é um jornal onde as pa­lavras são paisagens que nos deliciam pela sua be­leza, clareza e nitidez de imagem. Tal como alguns amigos nossos, também eu sou de opinião de que é pe­na o jornal ter passado a tri­mestral, mas é um facto que está associado a uma frase que às vezes te ouvimos – “Não há mila­gres!”. E é tudo por hoje, junto envio o cheque... para pa­ga­men­to da minha assinatura do nosso Fraternizar. Recebe um grande abraço. E votos para que Deus te dê saúde para continu­ares a ser o nosso padre Mário.<br>
						<br>
						<b>DEVEMOS PARAR COM A ORAÇÃO?<br>
							<br>
							Porto. António A. Veiga</b>: Re­ce­bi ontem e terminei hoje a leitura do n.º 149, do Fraternizar. É a vantagem de estar (tempo­ra­riamente) imobilizado. A dificul­dade que ainda tenho em escre­ver leva-me a abordar só um as­sunto: “Rezaram tanto pela paz e veio a guerra”. Houve tan­tas manifestações (algumas trou­xe­ram sofrimento físico aos mani­festantes) contra a guerra e ela veio. O Fraternizar não conse­guiu melhor resultado. Será inútil a oração? Serão inúteis o protes­to e a acção? Jesus de Nazaré – o Cristo – orou e aceitou a von­tade do Pai que permitiu a vio­lência, protestou e actuou e morreu como o grão de trigo. Só depois começou a germinação que continua num processo im­parável. Devemos nós parar com tudo? Ou só com alguma coisa, por exemplo, a oração? Permite-me aproveitar esta car­ta para publicitar a minha ale­gria e gra­tidão pelas visitas que me fizeste no hospital. Um abra­ção.<br>
						<br>
						<b><i>ND<br>
								O mais chocante é vermos o nome de Deus invocado em vão. Como se a resolução dos proble­mas deste mundo, concretamente, o problema da paz, dependesse de Deus, nomeadamente, da mul­tiplicidade de terços, de missas, e de outras orações mais ou me­nos papagueadas, que as pessoas fazem por sua iniciativa, ou são levadas a fazer por pressão de certas campanhas promovidas pelo papa, pelos bispos, pelos pá­rocos ou pelos pastores. Como se a paz fosse fruto de determi­nada quantidade de orações. As manifestações de rua contra a guerra e pela paz têm uma vanta­gem sobre este tipo de orações pela paz. Não invocam o santo Nome de Deus em vão! E ainda outra: quem se manifesta nas ruas contra a guerra mostra já ter consciência de que a paz tem a ver connosco, seres humanos, mais do que com Deus. Mostra que o problema da falta de paz é coisa que nos diz respeito, não coisa de Deus. Mostra que ainda não nos dispusemos a aco­lher a Paz, dom de Deus à Hu­ma­nidade. A oração também é fundamental, mas se for o Espírito a orar em nós, não se formos nós a orar a Deus, como quem tenta converter Deus, convencer Deus, arrancar Deus do seu imo­bilismo, da sua distracção, do seu sono, da sua indiferença. Quan­do é o Espírito a orar em nós, somos nós que nos deixa­mos converter por Deus e Ele pode finalmente fazer de nós mu­lheres-paz e homens-paz, como Jesus. Somos Paz em acção. E nem que nos crucifiquem, sem­pre recusaremos fazer a vontade assassina e dominadora do Impé­rio e seus lacaios ou vassalos. Muito concretamente, recusare­mos pegar em armas para ir fazer a guerra que o Império, na sua fome de domínio total concebeu e decidiu pôr em marcha. Com o amen dos seus lacaios e vas­salos.<br>
							</i></b><br>
						<b>ESPEREI UMA SAÍDA À S. FRANCISCO, MAS NICLES<br>
							<br>
							Brandoa. Manuel Natividade:</b> Que a Paz esteja consigo e com todos os companheiros desta viagem. Desculpe só agora lhe enviar o meu modesto contributo, vai-se adiando, cada dia dos meus 69 anos mais sofridos, por­que os tempos vão batendo na rocha da esperança e causando mossa. Das manhãs a florescer, das bandeiras a tremular, resta um enorme cortejo de vencidos da e pela vida. Não basta o re­fú­gio na espiritualidade, por­que a altura vai má para retiros meditativos, os sinos dobram por toda a humanidade em reces­são... Sabemos que pode ser o alvorecer de uma outra Era, mas somos dia a dia confrontados pela barbárie e àqueles que co­mo eu sentiam o suporte da uto­pia versus URSS, Maoismo, etc, mais custa, porque nos sentimos órfãos desarmados. Quantos em­bustes, quantas coisas de balofo sobre o sangue, esse real, de milhões de seres... Sempre pen­sei que o velho Bispo de Roma, no fim do caminho, tivesse uma saída à S. Francisco e fosse pa­ra Bagdade como penitente, dar o corpo à ferocidade neo-sa­xónica. Sempre seria uma no­bre acção capaz de ganhar o pa­raíso. Com ele, cardeais e outros colaterais, mas nicles...<br>
						<br>
						Não importa falar do Satã americano, só quem esconde a cabeça na areia é que não co­nhece esse inferno terrestre, desde os seus primórdios. Mas é triste a impotência face à ca­nalhice que vem até às praias portuguesas via falências, de­sem­prego e miséria. Custa pois olhar o próximo e chamá-lo irmão. Alienaram os povos, intoxicam-nos de todas as maneiras sem ser necessário usar gases tóxi­cos, aliás, já se está acostumado à poluição que o consumismo produz, daí meu desassossego. Não se trata do medo face à mor­talha, eu acredito na vida para além da vida, mas pelos que ficam neste vale de lágrimas, filhos, netos, etc.<br>
						<br>
						Sem outro assunto de mo­mento, envio vale de... e força na sua luta, mesmo que não se concorde aqui ou ali, o conjunto é de grande valia e de respeito merecido e justo. Um sincero abraço.<br>
						<b><br>
							DEUS NÃO EXISTE<br>
							<br>
							Porto. Valentim Jerónimo Ro­drigues</b>: Eu sou um comprador e consumidor dos seus livros. Faz bem, como dizia Camilo, aplicar a marreta de ferro nesta Igreja hipócrita. Mas quando o sr. entrou para ela já sabia que se tratava de uma Igreja de ricos, de loucos e de prepotentes! Qu­an­do o sr. escreveu o livro FÁTI­MA NUNCA MAIS, tive discussões com várias pessoas a seu favor. Aquele bloco de cimento do muro de Berlim que levaram para Fá­tima causa náuseas.<br>
						<br>
						Permita-me uma crítica: O sr. não se liberta definitivamente da Igreja católica. Afirma que Deus não vive em templos. Eu digo-lhe que nem em templos, nem em parte alguma. Deus não exis­te. Cristo não é filho de Deus. Na­da tem de divino. Nunca vol­tou à vida, depois de ter morrido. Ainda fala em pecado, demónio, Espírito Santo. Isso não faz sen­tido. Repugna à Ciência e à Ra­zão! Devia tratar exclusivamente da figura de Cristo, no sentido humano, como homem portador de uma mensagem de paz e de uma conduta de vida exemplar, o que já é muito. Penso que se eliminasse isso dos seus livros ainda tinham mais venda. Não devemos agradar a gregos e a troianos.<br>
						<br>
						Não fiz a primeira comunhão. Quando a catequista me disse que Deus está em toda a parte e não ocupa lugar, achei absur­do e fui-me embora. Tinha sete anos! Mais tarde, no Liceu Ale­xan­dre Herculano, o professor de Física ensinava que onde es­tivese um prato não podia estar um copo, a não ser uma coisa em cima da outra. Portanto, tudo ocupa espaço e lugar.<br>
						<br>
						Nasci em 1938. Vivo no Porto há muitos anos. As origens estão em Lamego. Estive sempre aten­to às injustiças da Igreja e dos governos. Desculpe a ousadia de lhe ter escrito. Não o conheço pes­soalmente. Aprecio muitas partes dos seus livros e os deba­tes na televisão. Com os melho­res cumprimentos.<br>
						<br>
						<i><b>ND<br>
								Pois é, meu querido compa­nheiro, mas a verdade é que nem esse seu professor de Física de outros tempos pode negar que o mais essencial da vida e do real é invisível aos olhos e não ocupa espaço físico. Tal como Deus-Amor. Tal como a Ternura. E, no entanto, também eu posso dizer com você que Deus não existe. Pela simples razão de que Deus não faz parte do Sistema, nem é uma peça da engrenagem. Posso até dizer-lhe de forma ainda mais radical: Deus não serve para nada. E, no entanto, como a vida é diferente e tem outro paladar, quando, finalmente, damos pela sua Presença totalmente gratuita, puro dom à Humanidade!... Deus anda sempre a bater à porta da nossa consciência e da nossa li­berdade. Também à sua. Quer sentar-se connosco à mesa, ser mais íntimo a nós do que nós pró­prios. Quer ter-nos como suas interlocutoras/seus interlo­cuto­res. Para que cada uma de nós/cada um de nós se veja co­mo nun­ca se viu e cresça até à es­tatura de Jesus, o Cristo. E o nosso viver seja uma Eucaris­tia ou Acção de Graças ininterru­pta, uma dança sem fim. É assim que este Deus, pura graça, me faz ser-viver todos os dias. De porta sempre aberta para Ele e com Ele à mesa. É Ele que me faz passar da religião para a Fé. Da Lei para a Graça. Do de­­ver para a Liberdade. Da ser­vidão para o Serviço. Do segui­dismo para a Dissidência. Do unaninismo para a Diferença. Da rotina para a Criatividade. É Ele que me faz homem-para-os-demais. Em comu­nhão com todos os outros ho­mens e mu­lheres, a começar pe­los últimos, teimosamente aber­to à Verdade que nos faz livres. Jesus não é filho de Deus? Nunca voltou à vida depois de ter mor­rido? Até essas suas afirmações eu posso subscrever também. E a prova mais irrefutável de que Jesus não é filho de Deus é que ele foi crucificado, em nome de Deus, o Deus do Templo e dos che­­fes dos sacerdotes que se coligou com o filho de Deus da altura, nada mais nada menos que o imperador de Roma. Ele é o maldito por excelência. Mas é assim que ele ainda hoje atrai a si todos os malditos, também a mim. E é experimentado por nós como a pedra angular duma huma­ni­dade outra,tão outra, que só pode ser a de um Deus tam­bém outro, exactamente, Deus-entre-nós-e-connosco, que não vive em templos nem carece de sacerdo­tes, como o Deus em no­me do qual ele foi crucificado, mas vive no mais íntimo de cada uma e de cada um de nós, para nos fazer à sua imagem e seme­lhança, seres humanos outros, livres quanto Je­sus, dissidentes quanto Jesus, humanos quanto Jesus, lúcidos quanto Jesus, numa palavra, mal­di­tos quanto Jesus. E, por isso, vivos e viven­tes quanto Jesus, sem mais ne­cessidade de voltar­mos à vida depois de morrer, porque, para os vivos e viventes como Jesus, até o morrer é res­suscitar!<br>
							</b></i></td>
				</tr>
			</tbody></table>
		</div>