<div align="center" style="overflow-x: auto; width: 100%; height: auto;">
			<table cool="" width="601" height="23196" usegridx="" usegridy="" showgridx="" showgridy="" gridx="10" gridy="10" border="0" cellpadding="0" cellspacing="0">
				<tbody><tr height="10">
					<td width="10" height="23195" rowspan="30"></td>
					<td width="420" height="10" colspan="9"></td>
					<td width="170" height="100" colspan="9" rowspan="2"></td>
					<td width="1" height="10"><spacer type="block" width="1" height="10"></spacer></td>
				</tr>
				<tr height="90">
					<td content="" csheight="82" width="420" height="90" colspan="9" valign="top" align="left" xpos="10">
						<div align="left">
							<font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Textos do<br>
								</b></font><font size="7" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><b>Jornal Fraternizar<br>
								</b></font></div>
					</td>
					<td width="1" height="90"><spacer type="block" width="1" height="90"></spacer></td>
				</tr>
				<tr height="20">
					<td width="590" height="20" colspan="18" valign="top" align="left" xpos="10">
						<hr width="590" size="3" noshade="">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="40">
					<td content="" csheight="30" width="350" height="40" colspan="8" valign="top" align="left" xpos="10"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Edição nº 151, de Outubro/Dezembro 2003</b></font></td>
					<td width="172" height="40" colspan="2"></td>
					<td width="61" height="520" colspan="7" rowspan="2"></td>
					<td width="7" height="23075" rowspan="27"></td>
					<td width="1" height="40"><spacer type="block" width="1" height="40"></spacer></td>
				</tr>
				<tr height="480">
					<td width="51" height="480" colspan="4"></td>
					<td class="class" content="" csheight="475" width="471" height="480" colspan="6" valign="top" align="left" xpos="61">
						<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>1.ª página </b></font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b><br>
								</b></font></p>
						<p><b>E OS PECADOS DOS BISPOS?<br>
							</b><br>
							Os bispos católicos portugueses acabam de publicar uma Carta Pastoral, onde enu­meram os sete "pecados sociais" que, em seu entender, estão a afectar o nosso país. Não fica entretanto claro se eles próprios se revêem nes­tes pecados. Pelo que é legítimo perguntar: e os pecados dos bispos? Será que eles estão prontos a ver os pecados dos outros e não vêem os seus? Será que con­fessam os pecados dos outros e não confessam os seus? Será que querem a conversão dos outros e não a sua?<br>
							<br>
							Um dos gravíssimos pecados dos bispos católicos portugueses e da Igreja a que presidem é, por exemplo, a sua escandalosa "fuga" aos impostos. Dirão eles que não se trata de uma "fuga", mas do reconhecimento, por parte do Estado, dos "relevantes serviços" prestados pela Igreja católica à sociedade portuguesa. E a verdade é que aí está a Concordata a confirmá-lo. Porém, uma Igreja que queira ser profética, pode aceitar privilégios destes, da parte do Estado? E se a Igreja presta "rele­vantes servi­ços" à sociedade, não deveria começar pelo serviço de pagar impostos? Não seria uma forma de solidariedade com o país? Pelo contrário, a isenção não é uma gritante forma de egoísmo e um péssimo exemplo?<br>
							<br>
							Outro pecado dos bispos portugueses é eles assumirem-se como uma casta de poder absoluto na Igreja local e como um poder paralelo na sociedade, mais gestores que evangelizadores, mais bispos-para-a-Igreja que bispos-da-Igreja-para-o-mundo.<br>
							<br>
							E o medo infantil que eles têm da Cúria do Vaticano, que os leva a acatar leis canónicas cruéis, como a lei do celibato eclesiástico, não é outro grave pecado?<br>
						</p>
					</td>
					<td width="1" height="480"><spacer type="block" width="1" height="480"></spacer></td>
				</tr>
				<tr height="20">
					<td width="583" height="20" colspan="17" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="4985">
					<td width="48" height="4985" colspan="2"></td>
					<td class="class" content="" csheight="4975" width="482" height="4985" colspan="9" valign="top" align="left" xpos="58"><b><font size="2">DESTAQUE<br>
							</font><br>
							<i>Em finais de Agosto último </i></b><i><b>em Macieira da Lixa sob a presidência do pe. Mário<br>
								<br>
							</b></i><b>Um funeral como boa notícia<br>
						</b>
						<p><i><b>Ela própria disse, alguns meses antes que queria o pe. Mário, da Comunidade cristã de base, a presidir ao funeral do seu cadáver. E assim aconteceu. Em consequência, os sinos da torre paroquial de Macieira da Lixa não tocaram a defunto. O pároco não foi contactado. O templo paroquial foi dispensado. O ritual dos defuntos não foi utilizado. Nenhum rito religioso foi realizado. O próprio pe. Mário apareceu como qualquer outro, com a sua roupa de todos os dias, mas disposto a fazer daquele funeral, não um acto de rotina mais, sim um acontecimento revelador e proclamador da salvação gratuita de Deus. E como o fez?</b></i><br>
							<br>
							QEm lugar de se pôr, como é tradicional, para ali a ler em voz alta, de cara para o caixão e de costas para as pessoas, algu­ma daquelas fórmulas mais ou menos bobas e absurdas que alguém em tempos recuados preparou para uso dos párocos do nosso país, e que dizem bem da preguiça pastoral e da rotina-alienação em que todos eles aca­bam por se instalar/acomodar, ao utilizá-las como fórmulas mági­cas, em todo e qualquer funeral, o pe. Mário posicionou-se junto da porta de saída da casa, bem de frente para as pessoas presentes no seu interior e nas imediações do exterior. Envolveu todas e cada uma das pessoas com o seu olhar companheiro e começou por entoar com voz firme um cântico da Comunidade de base que é um hino à Vida (outro dos múltiplos nomes de Deus) que nos cria e ressuscita: “Bendita, bendita seja / para sempre a vida / que nos põe de pé / Os pobres quando se unem / mu­dam seus destinos / co'a força da Fé”. E prosseguiu: “Tu que ho­je te vês caída(o) / sem vonta­de alguma / de seguir viagem / estende a tua mão a outro(a) / 'inda mais caído (a) / e tereis co­ra­gem”. Depois: “Quem luta por uma terra / de fraternidade / não conhece a morte / comun­ga a dor do seu povo / mas ressuscitar / é a sua sorte”. E finalmente: “Nunca poderás esquecer / que este mundo está / em transformação / as dores são dores de parto / p’ra que o mun­do chegue / à Ressurreição”.<br>
							<br>
							As pessoas presentes e muitas eram, surpresas com este início, depressa se deixaram con­tagiar pela alegria, fruto do Espí­rito Santo, e associaram-se es­pon­taneamente ao cântico.<br>
							<br>
							Sempre de cara para as pes­soas e como quem as abraçava, o pe. Mário tomou então a pala­vra e surpreendeu tudo e todos, ao começar por saudar a Mnôrzinha, definitivamente ressuscita­da; depois os três filhos dela – a Leonor, o Miné e o Toninho Chalana – e, por último, todos os presentes (ver texto integral abaixo, nestas mesmas páginas).<br>
							<br>
							Deu, depois, a palavra respectivamente à fi­lha da Mnôrzinha, que fez questão de recitar dois poe­mas à mãe, ao filho mais no­vo que leu um emocionado tes­temunho que escreveu propositadamente para aquele mo­men­to, e ao filho mais velho que, de im­proviso, disse umas breves e sentidas palavras de gratidão.<br>
							<br>
							Não foi uma despedida, por parte dos filhos da Mnôrzinha. Foi um compromisso com a Vida que continua, e espera deles o melhor que eles têm para dar, cada qual ao seu jeito.<br>
							<br>
							Nenhuma fórmula de oração foi recitada. Nem sequer a fórmu­la conhecida por “Pai Nosso”, e habitualmente apresentada co­mo “oração que Jesus ensinou” (uma piedosa mentira que se repete e que só serve para manter na alienação as pessoas que depois passam o tempo a repetir esta fórmula, exactamente, como faziam os pagãos do tempo de Jesus).<br>
							<br>
							Em vez disso, o Pe. Mário con­vidou as pessoas presentes a deixar-se fazer pela oração, traduzida na postura interior de ca­da uma delas se abrir ao Deus-Vivo-que-nos-fala-e-interpela para nos fazer à sua imagem e semelhança.<br>
							<br>
							A supresa não podia ser mai­or e estava bem estampada na cara das pessoas. Mas a ver­dade é que foi assim, em atitude interior de escuta, que avançá­mos então para o cemitério do Alto da Lixa.<br>
							<br>
							Aí, com o caixão plantado no meio das pessoas, o pe. Mário abriu o Evangelho de João, no ca­pítulo 11, levantou a voz e proclamou parte do relato conhecido por “ressurreição de Lázaro”, apenas a partir do versículo 43 em diante até ao versículo 54.<br>
							<br>
							Depois de uma breve reflexão teológico-pastoral, cheia de viva­ci­dade (ver texto na página se­guinte), tomou o Pão que uma companheira da Comunidade transportava a seu pedido, partiu-o ali mesmo com toda a simplicidade em Memória de Jesus. E deu-o a comer aos presentes.<br>
							<br>
							Curiosamente, nem todos quiseram comer dele, apesar do pe. Mário ter dito, na ocasião, que não era preciso confessar-se para comer daquela Pão-Corpo de Cristo, já que Jesus veio para os que se têm na conta de pecadores, não para os que se têm na conta de justos (cf. Marcos 2, 17b).<br>
							<br>
							Por último, e enquanto os fun­­ci­onários da Funerária sepultavam o caixão com os restos que foram da Mnôrzinha, agora, para sempre ressuscitada, cantámos o cântico “Missão”, também da Comunidade, com o qual, entre outras boas notícias, se proclamam estas duas: 1. “Quem como tu já sabe que tudo / no nosso mundo pode mudar / tem que deixar o quente da casa / unir-se a outros, amar-lutar.” 2. “Quem neste mundo ainda sem alma / sabe o que é viver em comunhão / nunca mais pode viver instalado / tem que se dar sem descanso à Missão”.<br>
							<br>
							Uma salva de palmas à Mnôr­zinha e à Vida que no-la deu, en­cerrou este acto cele­brativo.<br>
							<br>
							E enquanto as pessoas es­pon­­ta­neamente se abraçavam com alegria umas às outras, o pe. Mário despediu-as com mais uma palavra inesperada:<br>
							<br>
							“Vamos em paz, mas sem­pre em Revolução para mudar­mos e melhorar­mos o nosso mundo!”<br>
							<br>
							<br>
						</p>
						<p><i>Palavras do pe. Mário<br>
							</i><b>Mnôrzinha: Bendita és tu entre as mulheres!<br>
							</b><br>
							<i>As minhas primeiras palavras são de saudação.<br>
								<br>
								Primeiro, para ti, Mnôrzinha, agora definitivamente em Deus! Definitivamente ressuscitada! Salvé, nossa irmã!<br>
								<br>
								Ocupamo-nos neste momento do teu cadáver, bem conscientes de que ele já não és tu. Tu és para sempre corpo glorioso, ressuscitado, de outra ordem de grandeza e por isso invisível aos nossos olhos aptos para enxergar apenas o exterior da realidade, não a realidade mais real.<br>
								<br>
								O teu morrer, no domingo passado, foi o fim: não de ti, Mnôrzinha, mas do teu sofrimento, das tuas dores, da tua limitação no espaço e no tempo. Não foi o fim de ti! Porque ninguém nasce para morrer e aca­bar no nada. Todos nascemos para ressuscitar. Todos nascemos para a vida em plenitude, definitiva. O teu morrer no do­mingo não foi o teu fim, Menôr­zinha. Foi a tua explosão defin­tiva. Silenciosa, mas explosão. E que explosão!... Rebentaste to­das as amarras. És finalmente livre, por isso, nossa irmã e irmã universal. És mulher sem bens. Sem riqueza. Sem casa. Sem campos. De tudo te soltaste, te libertaste, te desprendeste. És livre para sempre na Liberdade que é Deus. Bendita és tu entre as mulheres. E bendito é o fruto do teu ventre: – estes teus três filhos que aqui estão de pé junto do teu cadáver. E que filhos, Mnôrzinha!<br>
								<br>
								Não estamos sozinhos nesta acção de sepultar o teu cadáver. Tu estás connosco ressuscitada e, por isso, definitivamente viven­te.<br>
								<br>
							</i></p>
						<p><i>Não nos deixes agarrados ao teu cadáver. Vamos entregá-lo à terra, organismo vivo, para que ela o transforme à medida que se transforma, até se tornar toda ela corpo cósmico de Cristo.<br>
								<br>
								Contigo, Mnôrzinha, encontrarnos-emos a todos os instan­tes na vida feita de lutas e de combates. Também e sobretudo, de lutas e de combates políticos para que todos tenham vida e vida em abundância.<br>
								<br>
								É nas lutas e nos combates políticos para mudar e melhorar o mundo que sempre te encon­tra­re­mos; não nos cemitérios. Faz-nos compreender, querida irmã, esta Boa Notícia, este Evangelho, neste que é o teu dia maior e sem ocaso, o da tua ressurreição definitiva.<br>
								<br>
								Da minha parte, aceita, querida Mnôrzina, toda a minha alegria e toda a minha gratidão, por me teres escolhido para presidir a este acto, o último e por isso o mais significativo de toda a tua vida dentro da História.<br>
								<br>
								“Não é ele que está no certo?” – disseste, naquela noite, há meses atrás, aqui em casa, mais precisamente, na cozinha, no decorrer de um encontro da pequenina Comunidade de base de que fazias parte. Já então estavas muito doente, mas fina e lúcida como poucos.<br>
								<br>
								E eu, querida irmã, aqui e­tou a fazer-te a vontade. Apresentome com a dignidade e a simplicidade da verdade. Vestido com a roupa de todos os dias. Por isso, sem as vestes talares que os meus companheiros investidos nas funções de pároco gostam de ostentar em ocasiões semelhantes, e que eu conscientemente recuso, informado que estou de que todas elas são restos da vaidade do Império romano e dos seus funcionários maiores que, infelizmente, invadiram a nossa Igreja católica e, para nossa vergonha, nunca mais dela saíram até hoje.<br>
								<br>
								Venho também sem quaisquer velas fúnebres, porque, afinal, estamos em pleno dia e já no sé­culo XXI, em plena era do nuclear e do laser, não nos primitivos tempos da pedra lascada e do primitivismo pastoril e rural, onde as velas ou outros meios rudimentares semelhantes eram fundamentais para alumiar. Mas sobretudo, porque, como cristãs e cristãos em comunidade, temos permanentemente connosco Jesus, o Resssucitado, a Luz do mundo! “Eu sou a luz do mundo. Quem me segue não andará nas trevas, mas terá a luz da vida” (Jo 8, 12).<br>
								<br>
								Querida Mnôrzinha, nem mes­mo a cruz eu quis que me acompanhasse neste acto. Porque a cruz é o símbolo, não de Jesus, o Crucificado que Deus res­suscitou para sempre, mas o símbolo de um mítico deus dos mistérios do Paganismo que todos os anos, pela primavera, morria e ressuscitava, não de facto, mas de forma meramenre ritual, sob as ordens do respectivo sa­cer­dote que anunciava “Deus morreu” e todo povo chorava e batia no peito, e três dias depois, proclamava “Deus ressuscitou” e todo o povo se alegrava e dançava nas ruas. Era tudo-faz-de-conta, mas servia para manter inalterável a Ordem mundial in­justa, fabricadora de vítimas humanas aos milhões. Por isso, estou aqui sem a cruz, o patíbulo onde Jesus foi assassinado. A sua ressurreição, não ritual, mas efectiva, é desafio a combater­mos e a destruirmos toda a espécie de cruz. Nem que, por causa disso, os fabricadores de vítimas humanas nos condenem a ter de passar também por uma, como fizeram a Jesus, o nosso único Senhor e o nosso único Mestre!<br>
								<br>
								Nesta minha acção, Mnôrzinha, também venho sem templo. No percurso da casa para o cemitério, não entraremos em nenhum templo. Tu própria nos ensinaste com o teu exemplo de anos e anos longe do templo, a não os frequentarmos. Porque todos os templos, uns mais outros menos, são casa de opressão e covil de ladrões. Dentro dos quais as populações não cres­cem, são sistematicamente impedidas de ser protagonistas, ficam reduzidas à condição de objecto, perdem a voz e a vez. E, depois de tudo isto, ainda são despojadas do seu dinheiro.<br>
								<br>
								Aproveito, por isso, para proclamar aqui bem alto este Evan­gelho de Deus: Não precisamos de templos para nada. Todos hão-de ser destruídos, como o de Jerusalém, outrora, para que fique de pé o único templo verda­deiro que são todos e cada um dos seres humanos vivos.<br>
								<br>
								Em segundo lugar, saúdo cada um dos teus três filhos.<br>
								<br>
								Antes de mais, a Leonor, que tem o teu nome e faz questão de ter também a tua fibra. Nestes últimos anos, depois que a doença te deixou muito mais limitada fisicamente, ela deu-se inteira a ti, Mnôrzinha, com o apoio dos irmãos. Agradeço-lhe, em meu nome e em nome da so­ciedade, o exemplo de dedicação que nos deu, coisa cada vez mais rara nos tempos que correm, onde abundam os lares de velhos e velhas sem crianças e se constroem grandes vivendas de luxo sem velhos e velhas, e praticamente sem família e sem comunhão.<br>
								<br>
								Saúdo o Miné e o Toninho Chalana, tão diferentes e tão ir­mãos, e respectivamente, padrinho e afilhado. Foram eles que mais preocupações te deram, Mnôrzinha. Foi a eles que tu mais amor mostraste, porque mais precisaram da tua atenção e do teu cuidado, para se tor­narem, finalmente, autónomos, bem adultos. E eles aí estão, militantes q.b., cada qual ao seu jeito.<br>
								<br>
								O Miné, sempre desconcertante. (Deixa-me dizer-te, Miné, que, felizmente, perdeste a aposta. O epitáfio que por brincadeira escreveste e que repetias muitas vezes nos nossos mo­mentos de convívio e de encon­tro, falava que a Mnôrzinha passou a vida em conflito permanente com os filhos e que não conseguiu levar a melhor. Mas hoje tens que reconhecer que perdeste a aposta. A Mnôrzinha levou a melhor e a prova é este acto ímpar que estamos a aqui a protagonizar por vontade dela. Mas que grande Mulher, a Mnôrzinha se nos revelou, Miné! Quem se atreve a desmentir-me? Será que vós e nós vamos ser dignos dela, da sua liberdade e da sua cora­gem?)<br>
								<br>
								E o Toninho Chalana, sempre atrevido, ousado e brincalhão como poucos, de viola sempre em punho. Mas também homem de causas, com quem as populações mais injustiçadas sempre têm contado e poderão continuar a contar. Homem de lutas e de combates políticos, aos quais se dá com o mesmo prazer com que outros se consomem esteril­mente nas discotecas e cafés.<br>
								<br>
								No dizer/comentar de alguns, foi muito tempo que tu, Mnôrzinha, estiveste doente, e que exigiste tudo dos teus três filhos, tanto em presença como em dedicação. Por mim, digo que foi apenas o necessário para que eles fossem plenamente evangelizados por ti. E o momento maior desta tua evangelização, para lá deste acontecimento que é o funeral do teu cadáver, foi precisamente o momento da tua explosão, no passado domingo, ao começo da tarde.<br>
								<br>
								Quando, poucas horas depois e a pedido dos teus filhos, cheguei lá a casa, acompanhado da Maria Laura, a presbitera não-ordenada da Comunidade, pude testemunhar os salutares efeitos desta explosão que foi o teu acto de morrer/ressuscitar. E be­neficiei desses salutares efeitos, juntamente com os teus filhos e com a Maria Laura. Fez-se então uma grande paz. E comemos juntos a ceia-Eucaristia. Uma ceia que voltará a acontecer hoje, nesta casa do Marco de Simães, quando regressarmos do cemi­tério. Porque é assim que são as coisas na Igreja-comunidade-de-base.<br>
								<br>
								Finalmente, quero saudar ca­da um e cada uma de vós que viestes até aqui, convocados pela explosão definitiva da Mnôr­zinha, e estais a viver connosco este acto.<br>
								<br>
								Deixai que vos diga com toda a frontalidade: Este não é um funeral sem padre, como algu­mas vozes já começaram por aí a fazer constar. É um funeral sem pároco, mas não um funeral sem padre. Sou tão padre da Igreja católica como os párocos que conheceis por aí. Não sou pároco, funcionário eclesiástico, nem quero ser. Prefiro ser padre jornalista ao serviço da Palavra e do Evangelho da libertação.<br>
								<br>
								A paróquia territorial, como a diocese, da qual a paróquia depende, não são instituições eclesiais e cristãs. São estruturas do sistema eclesiástico, herda­das directamente do Império ro­mano. São poder eclesiástico or­ga­nizado, que eu evangelicamente denuncio e combato, também por amor à Igreja, tal como Jesus denunciou e combateu o templo de Jerusalém por amor ao seu povo. São estruturas de onde todas as mulheres e todos os homens que se prezam hão-de manter-se afastados. Porque a Igreja, ou é comunidade de comunidades, onde se vive o amor fraternal/sororal, ou não é de Jesus!<br>
								<br>
								Nesta saudação que vos di­rijo, deixai que partilhe convosco uma interpelação, para que me­diteis nela agora e daqui por diante: Sabeis que há mortes piores do que a morte natural? E sabeis que é desse tipo de mortes que Jesus de Nazaré (e Deus com ele) nos quer libertar/ressuscitar, para, finalmente, ser­mos mulheres e homens como ele?<br>
								<br>
								Pois bem, é deste tipo de mor­tes piores do que a morte natural, que nos fala o Evangelho de João, no episódio que ficou conhecido como “ressurrei­ção de Lázaro”.<br>
								<br>
								Têm-nos dito que foi um as­sombroso milagre que Jesus operou, por meio do qual fez voltar de novo à vida aquele seu amigo que estava morto e enterrado há quatro dias. Enganaram-nos. Mentiram-nos. O relato evangélico não é jornalístico, mas teológico.<br>
								<br>
								Ao escrevê-lo, as Comunida­des de João quiseram alertarnos para o facto que costuma passar despercebido às consciências mais distraídas, de que há mortes piores do que a morte natural, sempre inevitável. E quiseram dizer-nos que foi esse tipo de mortes piores do que a morte natural que Jesus lucidamente enfrentou com coragem martirial e duélica, por isso, com risco da própria vida, como, aliás, o próprio relato evangélico faz questão de sublinhar, na sua parte final.<br>
								<br>
								Deixo-vos então com esta questão/interpelação: Que mortes serão essas piores do que a morte natural? Não estaremos nós próprios que aqui estamos, apanhados por alguma dessas mortes? Afinal, o Lázaro do relato evangélico não será cada um e cada uma de nós? Não vivemos todos os dias atados de mãos e pés, a apodrecer e a cheirar mal em casas e mesmo em vivendas que são autênticos túmulos, sem comunhão, sem partilha de vida e de bens, todos egoístas, todos odientos, todos intolerantes, porventura, muito mexidos, mas todos mor­tos e a semear morte à nossa volta?<br>
								<br>
								Pensemos seriamente nesta questão, enquanto avançamos com o caixão, na companhia da Menôrzinha ressuscitada, até ao cemitério do Alto da Lixa, para entregar lá à terra o cadáver que nos resta dela.<br>
								<br>
								Deixemo-nos, pois, fazer por esta oração. Não é uma oração feita de palavras repetidas e decoradas, nem mesmo de pala­vras nossas. É uma pergunta/interpelação que nos salta ao caminho e cuja resposta, se nos vier a deixar mais humanos, mais tolerantes e mais misericordiosos uns para com os outros, é sinal de que, através dela, Deus nos falou e nos comunicou o seu Espírito. Pois sempre que Deus nos fala, é para isso, para nos deixar mulheres e homens cada vez mais humanos, mais de pé, mais libertos de todos os medos, mais responsáveis pela História, mais protagonistas, mais solidários e mais criadores de felicidade para todos.<br>
							</i></p>
					</td>
					<td width="53" height="4985" colspan="6"></td>
					<td width="1" height="4985"><spacer type="block" width="1" height="4985"></spacer></td>
				</tr>
				<tr height="30">
					<td width="583" height="30" colspan="17" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="30"><spacer type="block" width="1" height="30"></spacer></td>
				</tr>
				<tr height="1005">
					<td width="54" height="1005" colspan="6"></td>
					<td class="class" content="" csheight="993" width="493" height="1005" colspan="9" valign="top" align="left" xpos="64">
						<p><i>A “reportagem” sobre Lázaro, inserida no Evangelho de João, capítulo 11, não é jornalística mas teológica e, por isso, não trata da reanimação do cadáver<br>
							</i><br>
							<b>Têm-nos enganado!<br>
							</b><br>
							Quero-vos dizer sem rodeios: têm-nos enganado, quando nos levam a pensar que, no tempo e país de Jesus, houve um indivíduo, de nome Lázaro, a quem Jesus teria feito sair rea­nimado do túmulo, quatro dias depois de ter morrido.<br>
							<br>
							Que importância teria uma acção destas, se, alguns meses ou anos depois, o nosso homem voltava a morrer e ninguém nessa altura o haveria de tirar do túmulo? Acham que Jesus (e Deus) é para promover acções desta espectacularidade, mas também desta esterilidade?<br>
							<br>
							Para cúmulo, ainda chamam “milagres” a este tipo de acções, quando, afinal, nem o próprio E­van­gelho se atreve a classificá-las assim. O Evangelho chama-lhes simplesmente “sinais” (se­meia, em grego). E é por o serem que elas dignificam Jesus! Se fossem “milagres”, fariam de Jesus um milagreiro mais, ao jeito dos pastores da Igreja Universal do Reino de Deus e de outros milagreiros, também dentro da nossa Igreja católica!<br>
							<br>
							Esta “reportagem” do Evangelho de João (só ele a contém, o que já dá que pensar!) não é jornalística, mas teológica, e, por isso, não é, não pode ser, deste tipo de morte/reanimação do cadáver, que trata.<br>
							<br>
							Aliás, se fosse, acham que os sumos sacerdotes, com Caifás à frente, e os fariseus com eles, teriam decidido de imediato matar Jesus por causa disso, como efectivamente decidiram? (cf. Jo 11, 53). Não promoveriam, antes, uma pública homenagem a Jesus, ao mesmo tempo que lhe pe­diriam que fizesse o mesmo com todos os outros cadáveres dos seus familiares e amigos que jaziam nos túmulos?<br>
							<br>
							O que o relato pretende é revelar que anda por aí à solta um generalizado tipo de mortes que são bem piores do que a morte natural. E porque não nos damos conta delas, somos capazes de viver cheios de medo da morte natural, sempre inevitável, mais ano menos ano, e não nos afligimos nada com estas outras mortes bem piores que aquela, as quais convertem este nosso mundo das multinacionais numa espécie de túmulo planetário, onde os indivíduos e os povos mais parecem mortos vivos que já cheiram mal.<br>
							<br>
							Foi para nos libertar/fazer sair desse tipo de mortes piores que a morte natural que Jesus, o Homem vivente por antonomásia, trabalhou/actuou junto dos seus conterrâneos e das comunidades de discípulas e discípulos, representadas respectivamente, em Marta e Maria, e em Lázaro.<br>
							<br>
							Fica então claro que a mis­são de Evangelizar os pobres é mais, muito mais, que um sim­ples consolar as pessoas e os povos e que um simples fazer-lhes bem à maneira de Madre Te­resa de Calcutá.<br>
							<br>
							Tem que lhes abrir os olhos da consciência (tirar o sudário ideológico moralista com que a cabeça das pessoas geralmente anda tolhida) e tem que lhes sol­tar as mãos e os pés, isto é, tem que fazer com que as pes­soas e os povos se levantem e saiam dos túmulos em que vivem atados de mãos e pés, e se tornem pessoas-e-povos-sujeito, protagonistas, que perdem to­dos os medos e se tornam fecundamente activos e intervenientes, na linha da revolução libertadora e transformadora do mundo.<br>
							<br>
							Foi por fazer acções deste quilate com alguns e algumas do seu povo que Jesus se tor­nou o centro de todas as preocu­pações dos grandes privilegiados que então dominavam o país. E estes, para não perderem os seus privilégios, não hesitaram em dar-lhe a morte. E não só a ele. Também a todos aqueles que, graças à acção dele, tiveram a audácia de se levantar e de sair dos túmulos em que se tinham tornado as suas oprimidas vidas (cf. Jo 12, 10).<br>
						</p>
					</td>
					<td width="36" height="1005" colspan="2"></td>
					<td width="1" height="1005"><spacer type="block" width="1" height="1005"></spacer></td>
				</tr>
				<tr height="30">
					<td width="583" height="30" colspan="17" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="30"><spacer type="block" width="1" height="30"></spacer></td>
				</tr>
				<tr height="3370">
					<td width="53" height="3370" colspan="5"></td>
					<td class="class" content="" csheight="3361" width="489" height="3370" colspan="8" valign="top" align="left" xpos="63"><i>Se é daquelas/daqueles que ainda tem medo de morrer, leia esta meditação teológica que o Jornal Fraternizar preparou para si<br>
						</i><br>
						<b>Não nascemos para morrer.<br>
							Nascemos para ressuscitar<br>
						</b><br>
						Do rio que morre no mar, nin­guém diz: Que pena! O rio, quando nasce, já nasce com o ins­tinto do mar. É para lá que corre dia e noite, sem cessar. Entre o nascer na fonte e o morrer no mar, fica o tempo das lides e canseiras, dos obstáculos a ven­cer, das fecundidades a implementar, dos peixes a alimentar, enfim, de toda uma vida a viver. É com tudo isso que o rio é rio e consegue alcançar o mar. Mas é no mar que o rio alcança a sua última e definitiva razão de ser. É no mar que o rio é. Curi­o­samente, é quando ele aceita tornar-se invisível, no mar, que o rio mais afirma a sua identidade e alcança a sua plenitude.<br>
						<br>
						É assim também – deveria ser assim – com os seres huma­nos. Só que estes, ao contrário do rio, ainda não integraram o acto de morrer como o momento mais alto da sua vida individual, aquele em que a vida de cada uma e de cada um de nós atinge a sua plenitude. Continuamos por isso com medo de morrer. E acerca de quem morre, dizemos: Que pena! E choramos, convulsivamente, quando mais devería­mos experimentar uma serena fes­ta e uma imensa paz. E uma intensa e fecunda comunhão. <br>
						<br>
						O mar onde todos os seres hu­ma­nos desaguamos é a Ressurreição, que é outro dos nomes de Deus.<br>
						<br>
						Ninguém nasce para morrer. Todos nascemos para ressuscitar. A vida que um dia misteriosa­mente aconteceu em nós e se fez rosto e história em cada uma e cada um de nós nunca mais acaba. Apenas se transforma para ser em plenitude. O momento de morrer é o da nossa chegada ao nosso mar, isto é, a Deus, para quem, afinal, mes­mo sem disso termos consciência, sempre estivemos a correr, enqu­an­to fomos e fizemos História. E de quem, mesmo sem disso ter­mos consciência, sempre tive­mos saudades. A quem por isso, ateus e ateias que sejamos, sempre buscamos em tudo o que buscamos.<br>
						<br>
						Todo o acto de morrer é uma Páscoa, uma Passagem, um novo Parto. “Nas tuas mãos, Pai/Deus, entrego o meu espírito”, o meu sopro, o meu ser/viver, diz Jesus, do alto cruz a que foi condenado pelos representan­tes oficiais desse mesmo Deus no país, só porque ousou resistir-hes activamente, ou seja, por­que ousou amá-los activamen­te até ao extremo de lhes dar/entregar a própria vida, em lugar de lhes tirar a deles, o que cons­titui a única postura verdadeiramente humana e com força bas­tante para humanizar quem um dia se deixou seduzir pela outra via, a da opressão e do ódio ins­titucionalizados, e enveredou por ela.<br>
						<br>
						Como o rio ao morrer se entrega o mar, para finalmente ser, assim também nós, seres huma­nos, nos entregamos a Deus, à Ressurreição, para finalmente sermos/vivermos em plenitude. O acto de morrer é, por isso, o momento cume para sermos/vi­vermos em plenitude. É o momento da nossa última explosão, aquela que nos faz ser/viver em plenitude.<br>
						<br>
						Esta visão das coisas pode aparecer aos olhos de muitas e de muitos como surpreendente e atrevida, porventura, utópica, mas é a única plenamente compatível com a Fé cristã em Deus. Não tem sido proclamada pelas catequeses eclesiásticas, tanto católicas como protestantes e religiosas em geral? Tanto pior. E a culpa nem sequer é da Fé cristã em Deus, em si mesma sempre boa notícia ou evangelho para a Humanidade, ou ela não fosse o cume a que o intelecto humano e o coração humano se podem guindar, enquanto vivemos dentro da História.<br>
						<br>
						A culpa só pode ser lançada às catequeses eclesiásticas, sobretudo, aos seus principais mentores, geralmente homens de pri­vilégios e de poder, por isso mesmo, totalmente incapazes, como as autoridades oficiais do tempo e do país de Jesus, de entenderem estas coisas do ser e do viver, sensíveis que são apenas ao seu próprio umbigo, aos seus próprios privilégios e ao poder de que desfrutam, sem chegarem a perceber – ironia das ironias! – que assim se tor­nam nos mais infelizes dos homens e nos mais frustrados, causadores por isso de desgraças sobre desgraças para os demais, verdadeiros criadores de infer­nos onde sadicamente torturam quem lhes resiste e se recusa a ir pelo seu estúpido jeito de ser/viver, e responsavelmente decide enveredar pelo único jeito que hu­maniza quem vai por ele: o jeito de ser/viver-em-relação-fraternal-sororal-com-os-demais-seres, mulheres e homens, ani­mais, toda a Natureza e o próprio universo.<br>
						<br>
						Nunca deu para perceber como é que foi possível que a nos­sa Igreja católica, que continua a aceitar ter como referência última Jesus, o Senhor, e o E­vangelho ou boa Notícia que ele é e anunciou ao mundo, tivesse convertido, a dada altura, nomeadamente, na Idade Média, o acto de morrer no terror mais cruel, de tal modo que ainda ho­je esse terror permanece no inconsciente colectivo dos indiví­duos e dos povos. E como o fez?<br>
						<br>
						Bastou associar ao natural acto de morrer, o acto de um julgamento de Deus que, segun­do as catequeses terroristas católicas, ainda hoje oficialmente ensinadas pelo respectivo Cate­cismo em vigor, aconteceria imediatamente a seguir ao nosso úl­timo suspiro. A que acrescentou mais este pormenor de requintado terrorismo espiritual, o pior dos terrorismos: que a esse julgamento, presidido por Deus, apresentado como o juiz dos juí­zes que tudo vê e conhece e a quem, por isso, ninguém conse­gue enganar nem subornar, seguirse-ia inevitavelmente – é o que ela ensinou e ensina com sá­dica convicção – o inferno ou o paraíso, conforme os casos: o inferno, se o viver da pessoa entre o nascer e o morrer tivesse sido feito de pecados, e sem as indispensáveis e sucessivas confissões deles ao padre para que ele os perdoasse; o paraíso, se o viver da pessoa tivesse sido feito de pecados, mas, ao contrário do anterior, tivesse também sido feito de sucessivas confissões ao padre e de muitas missas ouvidas, em vida, e de muitas outras a mandar celebrar por sua alma depois de morrer.<br>
						<br>
						A introdução deste julgamento de Deus, a acontecer no ins­tante da morte do indivíduo e a repetir, de forma mais solene e às escâncaras perante toda a Criação, no “fim do mundo”, foi o toque “demoníaco” que faltava para fazer do acto de morrer o momento de maior terror para os seres humanos. E hoje, mesmo que muitos deles já vivam habitualmente de costas voltadas para estes eclesiásticos, porventura, muito piedosos e devotos da senhora de Fátima, mas como ela, portadores duma catequese sem entranhas de misericórdia e cruel, a verdade é que ainda continuam com dificuldade em en­carar o momento de morrer como o cume do seu ser/viver.<br>
						<br>
						Mas a verdade é que o nosso momento de morrer é também o momento do nosso desaguar em Deus, ou na Ressurreição, tal como o rio desagua no mar. <br>
						<br>
						Esta é a espantosa boa no­tícia ou evangelho que a Fé cristã, que vê o invisível, há-de proclamar ao mundo. Para que ele progressivamente se abra a ela e interiorize que o ser/viver de cada ser humano e dos demais seres não vai nunca desaguar no nada, mas na plenitude do Ser/Viver. Vai desaguar na plenitude da Misericórdia-em-ac­ção, do Amor-em-acção, da Vida-em-acção, que é Deus Criador, o nosso único Pai/Mãe a valer.<br>
						<br>
						Deus, no ver/dizer da Fé cristã, não é o juiz-que-tudo-vê-e-condena, mas o Pai/Mãe-que-tudo-vê-e-perdoa, por isso, re­cria, faz novas todas as coisas, recupera até o que estava es­tragado, encontra o que estava perdido, integra o que estava ex­cluído, levanta o que estava caído, chama à vida o que estava morto.<br>
						<br>
						Mas então – perguntarão os que ainda permanecem marcados pelas catequeses terroristas eclesiásticas de outrora e de agora – o que vai ser feito dos pecados que tivermos cometido? E nós, que os cometemos, não vamos ser muito justamente cas­tigados por isso? Nem sequer seremos submetidos a uma acção de purificação ou purgatório, para assim podermos conviver com Deus sem que lhe causemos náusea e repulsa?<br>
						<br>
						As perguntas revelam toda a dimensão do terror das antigas e novas catequeses eclesiásticas. Sim, também das novas catequeses eclesiásticas. Estas podem já não ser feitas com sermões e visões do inferno, do género dos sermões e das visões que os padres da Santa Missão, no início do século XX, promoveram em tudo quanto era aldeia do interior do nosso país e que tanto impressionaram e aterrorizarm as três crianças de Fátima, pelo menos, no testemunhar atribuído à sobrevivente Lúcia, desde então, completamente manipulada por eclesiásticos na esteira dos da Santa Missão, mas nem por isso deixam de ser catequeses menos eficazes.<br>
						<br>
						Quando, por exemplo, os eclesiásticos continuam aí a aceitar rezar missas por pessoas que já passaram pelo acto de morrer (ainda por cima, como se sabe, fazem-se pagar bem por isso, o que empresta ao acto todos os ingredientes de verdadeiro sacrilégio), que outra coisa estão a fazer senão a insistir na velha catequese terrorista do passado, com recurso a uma prática pastoral que é completamente pagã, dá de Deus uma imagem que é um verdadeiro insulto ao seu No­me e só pode ser geradora de um saudável ateísmo?<br>
						<br>
						A boa notícia que a Fé cristã tem para anunciar, fundada na prática e no dizer/testemunhar de Jesus de Nazaré, o Senhor, é que os pecados que nós, seres humanos, possamos ter cometido entre o acto de nascer e o acto de morrer, não nos acompanham no acto de morrer/ressuscitar. São obra exclusivamente nossa e, como tal, só duram enquanto durar a História. Os efeitos negativos que deles resultam afectam, sem dúvida, a História, a Criação e as pessoas/os povos, mas não nos acompanham no acto de mor­rer. E serão todos destruídos, à me­dida que os seres humanos nos abrirmos ao amor e nos tornar­mos seres-em-relação-universal­mente-fraternal/sororal, como Jesus, o Homem plenamente humano.<br>
						<br>
						Quando, no acto de morrer, desaguamos em Deus que resssuscita os mortos, como o rio desagua no mar, o encontro tem para cada uma e cada um de nós a força duma Nova Criação, e a nossa identidade inidividual alcança então todo o seu esplendor. De seres com Deus dentro, passamos a seres em Deus, seres dentro de Deus, co­mo o rio dentro do mar. E isto, não por força dos nossos méritos, das boas obras que possa­mos ter realizado entre o acto de nascer e o acto de morrer. Mas por pura Graça. Porque Aquele que nos criou de graça e por amor leva finalmente ao seu termo a obra que havia iniciado. Ama-nos e, por isso, salva-nos. Criar é já salvar. E quanto mais perdido alguém tenha andado entre o acto de nascer e o acto de morrer, mais amado se experimentará no acto de morrer, mais reabilitado, mais encontra­do.<br>
						<br>
						Nem sequer havemos de passar por um período de purificação. Deus, em quem desagua­mos como o rio no mar, é o fecundo abraço que nos recria, que nos faz finalmente filhas suas/filhos seus, homens e mulheres do mesmo jeito de Jesus, o Filho e o Homem por antonomásia.<br>
						<br>
						O que tivermos feito entre o acto de nascer e o acto de morrer tem a ver com a História. E não é indiferente o que tivermos feito ou viermos a fazer. Nem para nós, nem para os demais, nem para toda a Criação. Se fizermos o bem, como Jesus, o Homem, ajudamos a fazer deste mundo um paraíso; se fizermos o mal, como Bush, o anti-homem, contribuímos para fazer deste mundo um inferno. Mas a salvação/humanização definitiva de cada uma/cada um de nós, também de Bush, evidentemente, não é obra nossa. É pura graça de Deus. E acontecerá, de forma plena e definitiva, no nosso acto de morrer, que é simultaneamente o nosso acto de resssucitar.<br>
						<br>
						O nosso acto de morrer é, pois, o mais surpreendente mergulho em Deus; é o abraço de Deus-Amor, de Deus Pai/Mãe, por isso, infinitamente mais fecundo e reabilitador que o daquele pai da parábola de Lucas (capítulo 15) ao seu filho mais novo, quando ele regressou a casa, depois de tudo ter espatifado e de ter batido no fundo da degradação humana, abaixo até dos próprios porcos. Só mesmo este fecundo e criador abraço de Deus é que faz de todas e de todos nós, seres humanos definitivamente à sua imagem e semelhança. Outros Jesus, o Homem, em quem Deus plenamente habita e actua.<br>
						<br>
						<b>Acordem, Igrejas!<br>
						</b><br>
						No primeiro de Novembro, os cemitérios costumam encher-se de pessoas e de flores. O pagão culto dos mortos continua assim a resistir a dois mil anos de cristianismo. Sinal de que este se paganizou, em lugar de cristianizar/libertar/humanizar o mundo que encontrou caído no paganismo e no medo dos deuses e deusas.A Igreja converteu-se em religião católica. Integrou no seu seio os cultos pagãos e o medo dos deuses e das deusas, agora, travestidas de nossas senhoras disto e daquilo.Em lugar de após­tolos ou enviados ao mundo, a anun­ciar o Evange­lho libertador a toda a criatura, multiplicaram-se os sacerdotes clé­rigos cheios de privilégios à fren­te dos templos e altares. Hoje, já em vias de extinção, o que há-de ser motivo de alegria, não de preocupação. E se os templos ainda são frequenta­dos, é por força do culto dos mortos e do medo dos deuses e das deusas. Só graças a um e a outro é que se continua a mandar rezar tantas missas, por sinal, bem pagas, por “alma” de familiares falecidos.<br>
						<br>
						Foi para libertar as pessoas e os povos destes medos ances­trais e destes cultos sem sentido que aconteceu Jesus, o Senhor, como a Boa Notícia de Deus en­tre nós e connosco. Acordem, Igrejas! Deixem de negociar em nome de Jesus. Tenham a audá­cia e a alegria de viver o Evangelho e proclamem-no como a Boa Notícia de Deus a todas as criaturas.<br>
					</td>
					<td width="41" height="3370" colspan="4"></td>
					<td width="1" height="3370"><spacer type="block" width="1" height="3370"></spacer></td>
				</tr>
				<tr height="20">
					<td width="583" height="20" colspan="17" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="2540">
					<td width="51" height="2540" colspan="4"></td>
					<td class="class" content="" csheight="2530" width="496" height="2540" colspan="11" valign="top" align="left" xpos="61"><b>Editorial<br>
							<br>
							“Eu vim abrir um processo contra esta Ordem mundial”<br>
						</b><br>
						<i>“Eu vim abrir um processo contra esta Ordem Mundial. Assim os que não vêem, verão; e os que vêem, ficarão cegos. Quem não entra pela porta no recinto das ovelhas, mas trepa por outro lado, é ladrão e bandido. Quem entra pela porta é o pastor das ovelhas. Eu sou a porta das ovelhas. Todos quantos vieram antes de mim, são ladrões e bandidos, mas as ovelhas não os reconheceram. O ladrão vem só para roubar, matar/sacrificar e destruir. Eu vim para que tenham vida e a tenham em abundância. Eu sou o modelo de pastor/dirigente. O pastor/dirigente modelo dá a vida pelas ovelhas. O mercenário, quando vê vir o lobo, deixa as ovelhas e foge, e o lobo arrabata-as e dispersa-as, porque ao mercenário não lhe interessam as ovelhas.”<br>
							<br>
							O quarto Evangelho (Jo 9, 39-10, 13) coloca estas subversivas e revolucionárias palavras políticas na boca de Jesus. Os dirigentes do seu país que o eram na dupla qualidade de dirigentes religiosos e políticos, ao mesmo tempo, dado que aquele integrava um regime teocrático, não hesitavam em continuar a expulsar o povo da sinagoga (Jo 9, 34) – o equivalente a uma condenação simbólica ao ostracismo e à morte – à medida que ele abria os olhos da consciência, isto é, passava de povo de consciência ingénua e infantil ou de menoridade, a povo de consciência crítica e de maioridade; de povo-tipo-rebanho-de-ovelhas que eles podiam manipular a seu bel-prazer, a povo liberto e autónomo que se sabe conduzir pela própria cabeça, sem mais doentias dependências de chefes religiosos ou políticos, com tanto de cruéis como de benfeitores. E mesmo a ele, que se ocupava sem descanso no trabalho teológico-político de abrir os olhos àquele imenso sector do povo que continuava ainda oprimido e explorado por eles, tinham-lhe um ódio de morte, ao ponto de estarem determinados a eliminá-lo fisicamente, na primeira oportunidade, o que efectivamente veio a acontecer.<br>
							<br>
							Foi ao constatar esta realidade social, estruturalmente injusta e cruel, legitimada por uma Ordem que se julgava querida por Deus, que Jesus decidiu dar mais um passo na sua militância teológica-política, e declarou guerra total à Ordem Mundial então imperante: “Eu vim abrir um processo contra esta Ordem Mundial”. Fá-lo, não em abstracto, mas muito em concreto, na pessoa dos cruéis dirigentes do seu país. Para que tanto a Ordem Mundial como os respectivos dirigentes caiam em total descrédito perante o povo. E para que pelo menos alguns dos membros do seu povo passem a organizar as suas vidas segundo os valores da vida e vida em abundância para todos, o que faria deles uma espécie de sacramento/fermento de uma Ordem Mundial alternativa, verdadeiramente humana.<br>
							<br>
							Jesus bem sabia que os dirigentes ou pastores do seu país se tinham na conta de autoridades legítimas, uma vez que então se pensava que todos eles haviam sido escolhidos pelo próprio Deus, para ocuparem aqueles lugares, tal como hoje, em países enquadrados por um regime democrático, os respectivos dirigentes sempre tentam fundamentar a legitimidade de todas as suas decisões e leis, mesmo as mais perversas e cruéis, na autoridade que, segundo eles, lhes vem directamente do voto popular nas urnas, em eleições oficialmente livres.<br>
							<br>
							Era, porém, manifesto que os dirigentes religiosos e políticos contemporâneos de Jesus tinham comportamentos inumanos e cruéis. Operavam sistematicamente como ladrões e bandidos. Roubavam, matavam, destruíam. Viviam cercados de privilégios, os mais chocantes e escandalosos. Constituíam uma elite que, ligada a outras elites, nacionais e estrangeiras, haviam transformado o país (e o mundo) numa casa de opressão, em tudo semelhante ao Egipto dos faraós, onde, em tempos idos, os antepassados haviam sofrido e gemido, e de onde haviam conseguido libertar-se, sob o comando de um dirigente que a tradição mitificara como dirigente exemplar, Moisés, de seu nome (cf. Êxodo). Entre esta elite dirigente e o povo havia um abismo intransponível, de modo que nem os da elite se podiam passar para o povo, nem os do povo se podiam passar para a elite (Lc 16, 26).<br>
							<br>
							Jesus olha para tudo isto e reflecte: Como é que o nome de Deus pode andar associado a tais comportamentos dos dirigentes ou pastores, tanto sacerdotes como reis e imperadores? Como pode vir do Deus criador de vida e de humanidade um poder que rouba e sacrifica/mata o povo, através de economias e de políticas que buscam o lucro e os privilégios corporativos como principal prioridade, e que ainda por cima degradam e destroem o próprio planeta? Deverão ser acatadas as suas leis e as suas decisões? Ou, pelo contrário, há que desmascarar os seus comportamentos, virar-lhes as costas, ignorá-los e deixá-los para aí a falar sozinhos?<br>
							<br>
							Hoje, em regimes ditos democráticos, o povo pode teoricamente derrubar a elite dirigente com o seu voto. Escrevi “teoricamente”, porque, como todas e todos sabemos, o povo é vilmente manipulado a toda a hora pelos grandes Meios de Comunicação Social ao serviço da elite dirigente que não está disposta a perder o poder, nem os privilégios que ele garante (a alternância no poder é sempre entre grupos da mesma elite, e nunca consente que o povo chegue ao poder). E mesmo quando alguns dessa elite parecem comportar-se como amigos do povo, como é o caso de certos dirigentes dos partidos de esquerda (que me perdoem os meus amigos de esquerda esta minha frontalidade), não passam, bem vistas as coisas, de hábeis benfeitores que pedem votos ao povo, para terem mais poder e mais privilégios e serem, porventura, ainda mais benfeitores.<br>
							<br>
							Em regimes teocráticos, as coisas não eram nem são assim, nem sequer teoricamente. A Deus nunca ninguém o viu nem verá. O que sempre se vê são os dirigentes religiosos e políticos que se arrogam a prerrogativa de serem na terra os seus representantes, mesmo quando se permitem comportamentos cruéis contra o povo.<br>
							<br>
							Há, é certo, nesses regimes, o recurso à violência armada, para derrubar a elite que está no poder, mas Jesus sempre recusou ir por aí. Por isso, decidiu impulsionar mais e mais a sua acção militante junto do povo, para assim conseguir que um número cada vez maior abrisse os olhos da consciência e se afastasse das decisões dos dirigentes todo-poderosos, tivesse a audácia de lhes resistir activamente e de se organizar em pequenas comunidades de iguais e de partilha, quase utópicas, que apontavam e apontam para uma Nova Ordem Mundial já presente nelas, mas ainda e sempre em edificação na História, enquanto esta durar.<br>
							<br>
							Jesus, porém, não se ficou por aqui. A dada altura desta sua incansável actividade teológico-política, deu-se conta de que, sob esta Ordem Mundial cruel e injusta contra a qual ele abriu um processo que ainda hoje está em curso, só há uma autoridade verdadeiramente legítima: é a autoridade das suas inúmeras vítimas humanas, que o são igualmente dos seus privilegiados dirigentes religiosos e políticos, bem como das suas inumanas e cruéis decisões económicas e políticas, cada vez mais globais.<br>
							<br>
							A partir desse momento, ficou então claro para Jesus que só esta autoridade das vítimas pode e deve ser acatada e obedecida. E não mais a autoridade dos dirigentes religiosos e políticos que as fabricam. Ficou igualmente claro para Jesus que só esta autoridade das vítimas vem directamente de Deus, esse mesmo Deus que Jesus conhecia na intimidade e que a tradição profética apresentava como o defensor dos pobres, dos órfãos e das viúvas. E não mais a autoridade dos dirigentes religiosos e políticos que as fabricam. Finalmente, ficou claro para Jesus que só este Deus das vítimas é verdadeiro Deus, pois é o criador de vida e de humanidade, é pai/mãe de misericórdia, não faz acepção de pessoas, nem de sexos, nem de tendências sexuais, nem de povos, por isso, nem sequer do seu próprio povo, Israel.<br>
							<br>
							Conclui, então, Jesus que o Deus invocado pelos dirigentes religiosos e políticos do seu país e do mundo, como legitimador do seu poder e dos seus privilégios, só podia ser um Deus de mentira, um ídolo, fonte de perversão, assassino e pai de assassinos, que haveria e haverá que ser desmascarado sem descanso, evitado a todo o custo e combatido com coragem martirial e duélica. E é isso que ele faz até ao martírio.<br>
							<br>
							Exactamente como hoje havemos de concluir que é mentira o regime democrático que os dirigentes religiosos e políticos e demais elite privilegiada do país e do mundo sempre invocam para, com isso, justificarem a perpetuação da actual Ordem Mundial injusta e cruel que mantém na miséria e na pobreza bem mais de metade da população do mundo e que, na sua febre de mais e mais riqueza e domínio, vai à extrema loucura de destruir o próprio planeta, sem o qual, nem mesmo ela poderá subsistir!<br>
							<br>
							Trata-se, efectivamente, de uma Ordem Mundial de mentira. Assassina. Mãe/pai de assassinos. Que dá cobertura e legitimidade a dirigentes religiosos e políticos que se fazem passar por pastores ou dirigentes modelo, mas na verdade são mercenários que não só fogem quando vêem vir o lobo, como são até eles próprios os primeiros a abrir as portas de par em par ao lobo para que ele possa fazer das dele contra os povos, em total segurança.<br>
							<br>
							O que temos visto acontecer, no decorrer deste ano, tanto no nosso país como no mundo em geral, desde a mediática Cimeira na Base das Lajes, nos Açores, que desencadeou a criminosa guerra no Iraque, aos fogos florestais que este verão devoraram quase todo o nosso património florestal, sem que ninguém seja politicamente responsabilizado e sequer "chamuscado", revela que os dirigentes que estão à frente dos destinos do país e do mundo, para lá de escandalosamente incompetentes e mentirosos, são ladrões e bandidos, porventura, muito activos, mas só para roubar, matar/sacrificar populações e povos e para destruir o planeta. Têm-se por muito lúcidos, por pessoas que vêem, mas na verdade são cegos que estão a conduzir o país e o mundo para o abismo.<br>
							<br>
							É, pois, hora de os povos do mundo, que os respectivos dirigentes têm por cegos, acordarem de vez do sono de séculos em que eles habilmente os mantêm. É hora de abrirem bem os olhos da sua dignidade e de assumirem o mundo e a vida nas próprias mãos. Portugal pode muito bem ser o primeiro a fazê-lo. Ou será que vamos suportar indefinidamente o cinismo e o infantilismo de um tal Durão Barroso, PM, a crueldade duma tal Manuela, ministra das finanças, o ódio de um tal Paulo Portas, MD, e a total incompetência e irresponsabilidade de um tal Governo, no seu todo?!<br>
						</i></td>
					<td width="36" height="2540" colspan="2"></td>
					<td width="1" height="2540"><spacer type="block" width="1" height="2540"></spacer></td>
				</tr>
				<tr height="20">
					<td width="583" height="20" colspan="17" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="3630">
					<td width="50" height="3630" colspan="3"></td>
					<td class="class" content="" csheight="3620" width="493" height="3630" colspan="11" valign="top" align="left" xpos="60"><b>Espaço Aberto<br>
						</b><br>
						José M.ª Castillo (Espanha)<br>
						<br>
						<b>Pecado ou sofrimento?<br>
						</b><br>
						<b><i>O texto do padre José M.ª Castillo, jesuíta ibérico, que aqui reproduzimos é uma tradução da nossa responsabilidade, feita a partir da Revista “Tiempo de hablar / Tiempo de actuar”, n.º 93, relativa ao 2.º trimestre de 2003, editada pelo Moceop-Movimento Celibato Opcional (www.moceop.net), de Espanha. É uma preciosidade teológica que desfaz duma penada séculos de falsa teologia com pretensões de teologia cristã. Escrito em linguagem que toda a gente entende, ninguém deixe de o ler/reflectir/debater. Sem pressas. E, sobretudo, ninguém deixe de se conformar o seu pensar e o seu viver com esta teologia cristã e jesuánica. É por textos como este e por livros com teologia como a que aqui se apresenta, que José M.ª Castillo não é suportado pela Cúria do Vaticano, sobretudo, pelo cardeal Ratzinger. Mas será que a Cúria do Vaticano poderia suportar Jesus, o de Nazaré, se tivesse sido sua contemporânea?<br>
							</i></b><br>
						1 O que mais preocupa a Igreja e a sua teologia é o tema do pecado. O que mais preocupa o comum dos mortais é o problema do sofrimento.<br>
						<br>
						Nisto, como em tudo, há excepções. Porém, são excepções que confirmam a regra. Por outro lado, o tema do pecado preocupou (e preocupa) tanto a Igreja que, para evitar pecados, os “homens da Igreja” não duvidaram (nem duvidam) em causar enor­mes sofrimentos. Desde as matanças de infiéis, herejes e bruxas, nos tempos passados, até à recente excomunhão contra os pais da menina de nove anos que foi violada e ficou grávida e teve que abortar para salvar a sua vida. A Igreja deu sempre provas abundantes de que o centro das suas preocupações não está no sofrimento, mas na ofensa divina que é o pecado.<br>
						<br>
						2 Quer isto dizer que os inte­resses da Igreja não coincidem com os interesses do ser huma­no. E não só não coincidem, como, com frequência, toda a gente vê que são interesses con­trapostos, contraditórios, em conflito uns com os outros. Com is­so, a Igreja torna-se para uns inaceitável; para outros, odiosa. E o pior é o motivo por que isso acontece: porque desta maneira a Igreja dá a entender que crê num Deus a quem interessa mais a sua honra, a sua dignidade, a sua autoridade, que a dor do mun­do. A partir do momento em que a Igreja coloca o tema do pecado no centro, a partir de então deixa de crer no Pai que Jesus pregou. Sem dúvida, o Deus de Jesus não é como o Deus que a Igreja apresenta na sua pregação centrada na salvação do pecado e nas consequências do pecado. Em tais condições, ninguém tem que es­tranhar que a teologia e o discurso religioso em geral interessem cada vez menos às pessoas.<br>
						<br>
						3 Ao proceder desta maneira, a Igreja é mais discípula de João Baptista do que de Jesus. Na verdade, o central na pregação e no ministério de João Baptista, foi o tema do pecado. Por isso ela pregava “um baptismo de penitência para o perdão dos pecados” (Mc 1, 4; Lc 3, 3). E os que acorriam a João “eram baptizados... confessando os seus pecados” (Mt 3, 6).<br>
						<br>
						Portanto a missão de João es­tava pensada e organizada em função do pecado. Daí que os sermões de João eram uma constante acusação contra os pecadores, aos quais chama “ra­ça de víboras” (Mt 3, 7; Lc 3, 7). E ameaça-os com a “ira iminente”. Por isso, “o machado es­tá posto à raiz das árvores”. E a árvore que não dê fruto “é cor­tada e lançada ao fogo” (Mt 3, 10; Lc 3, 9). Isto explica que para João Baptista, Jesus é o “cordeiro que tira o pecado do mun­do” (Jo 1, 29). Ou seja, segundo o Baptista, Jesus era a “vítima” que sofre e morre pelo “pecado”. O Deus do Baptista era um Deus zangado e ofendi-do por causa do pecado. Um Deus irado contra os pecadores. E portanto um Deus ameaçador e castigador. Donde resulta que, no pensar do Baptista, a razão de ser de Jesus e do seu destino era cumprir a função de “vítima”. Isto é, a missão de Jesus não era uma missão profética, para mudar este mundo, mas uma mis­são propiciatória, para mudar Deus.<br>
						<br>
						4 Jesus também pregava a “conversão”. Porém, não uma conversão dos “pecados”, mas uma conversão em função do “Reino de Deus” (Mc 1, 14-15). Jesus anunciava o Reino, “cu­ran­do toda a espécie de sofrimento e de doença do povo” (Mt 4, 23). Por isso, quando en­via os “doze apóstolos” (Mt 10, 2) a pregar o Reino, dá-lhes “autoridade” para “curar toda a espécie de sofrimnento e de doença” (Mt 10, 1).De modo que o anúncio da chegada iminente do Reino concretiza-se em “curar doentes, ressuscitar mortos, limpar leprosos, expulsar demónios“ (Mt 10, 7-8).<br>
						<br>
						Jesus tinha esta convicção tão gravada no seu espírito, que a essa actividade se dedicou de maneira que antepunha a cura de doentes à observância dos preceitos religiosos. Por isso curou doentes, quebrando o preceito do sábado (Mc 3, 1-6; Lc 13, 10-17; Jo 5, 1-18; 9, 1-39). De modo que, por agir assim, pôs em risco a sua vida (Mc 3, 6; Jo 5, 18). De facto, a decisão oficial de matar Jesus foi tomada quando ele devolveu a vida a Lázaro (Jo 11, 45-57). O facto his­tórico (não a interpretação teológica posterior) é que Jesus morreu violentamente, não por­que lutou contra o pecado, mas contra o sofrimento. E para Jesus, o critério determinante de salvação ou perdição não é a ati­tude perante o pecado, nem sequer perante a religião, peran­te a fé ou perante Deus, mas a sensibilidade ou insensibilidade que cada qual tem perante o so­frimento (Mt 25, 31-46; Lc 10, 31-32; 16, 19-31).<br>
						<br>
						Por outra parte, sabemos que Jesus se fez amigo de pecadores e publicanos (Mc 2, 13-17; Mt 9, 9-13; Lc 5, 27-32; 15, 1-2). E apresenta como modelo o hereje samaritano (Lc 10, 30-35). Convém recordar também que as palavras de Jesus sobre o “pe­cado” (Mc 2, 5; Lc 7, 48; Jo 5, 14; 8, 11) hão-de ser entendidas a partir da relação entre “pecado” e “sofrimento”, própria da tradição judaica. Ao eliminar o pecado, o que Jesus pretende é eliminar o sofrimento.<br>
						<br>
						5 Este comportamento de Jesus desconcertou inclusivamente o próprio João Baptista. Daí o en­vio dos discípulos de João a perguntar a Jesus se era ele o que havia de vir, ou se tinham que esperar outro (Mt 11, 2-4). Esta pergunta tinha a sua lógica. Porque o Messias, lutador contra o pecado, que João tinha anunciado, não dava com o que Jesus fazia, com “as obras do Messias” (Mt 11, 2). A resposta de Jesus é clara. Nela, Jesus não apela ao tema do pecado. Limita-se a fazer uma lista das situações de sofrimento que ele remediava (Mt 11, 5). E conclui com uma advertência: “Feliz de quem não se escandalizar comigo” (Mt 11, 6).<br>
						<br>
						Um “profeta”, um “homem de Deus” que não luta contra o pe­cado, que se torna amigo de pe­cadores e que enfrenta o problema do sofrimento, violando inclusive as normas estabeleci­das, é uma pessoa que provoca escândalos e escandaliza os pie­dosos e observantes. Por outro lado, no Evangelho de Lucas, a missão profética de Jesus é descrita igualmente como remédio de situações de sofrimento (Lc 4, 18-21)<br>
						<br>
						6 A Igreja - e a sua teologia - já no Novo Testamento, “interpretou” a missão e a morte de Cristo em função do pecado, “para a redenção dos nossos pecados”. Para tanto, a teologia recorreu a três conceitos-chave: sacrifício, expiação, satisfação.<br>
						<br>
						O “sacrifício” (Ef 5, 2; 1Cor 10, 14-22); 11, 24-25; Heb 9, 11-12) e a “expiação” (Rom 3, 25; 1Jo 2, 22; Heb 2, 17) são conceitos que a tradião cristã foi buscar à teologia do Antigo Tes­tamento. Por que é que o facto histórico do assassinato de um defensor dos que sofrem foi “interpretado” como a realização do “plano de Deus”, enquan­to “sacrifício” pelos “pecados”? Porque naquela cultura, um “crucificado” era não só o ser mais desprezível humanamente falando, mas também um “maldito” de Deus (Dt 21, 22-23; Gál 3, 13).<br>
						<br>
						Por isso, quando os cristãos começaram a dizer que acreditavam num “Deus crucificado”, eram olhados como “ateus”. Era pois necessário dar uma explicação. Então a morte na cruz foi jus­tificada como o “sacrifício” e a “expiação”, nos quais se realizou o “plano de Deus” para salvar o mundo.<br>
						<br>
						Mais tarde, a partir do século III, foi introduzida a ideia de “satisfação” (Tertuliano), desen­vol­vi­da no século XI por Anselmo de Canterbury. Deste modo, o central do cristianismo deixou de ser a luta contra o sofrimento. Passou a ser a luta contra o pecado.<br>
						<br>
						Mais. A coisa foi levada até ao extremo de que o remédio contra o pecado é precisamente o sofrimento na sua expressão suprema, a morte cruel de um cru­cificado. Assim, o central do cristianismo deslocou-se: a luta pela dignidade e pela honra do ser humano foi substituída pela tarefa em prol da dignidade e da honra de Deus.<br>
						<br>
						Porém, aqui é preciso ter em conta que já o Novo Testamento modifica radicalmente o conceito de “sacrifício”. Segundo Hebreus 13, 16 os sacrifícios que agradam a Deus são a “solidariedade” e “fazer o bem”.<br>
						<br>
						Em última instância, o que es­tá em jogo é o conceito de “pecado”. Tomás de Aquino per­gun­ta se o ser humano pode ofender a Deus. E responde: “Deus não se sente ofendido por nós, mas porque agimos contra o nosso próprio bem” (Sum contra gent III, 122). O que ofende a Deus é o sofrimento que nos causamos uns aos outros. Por isso o que afasta do Reino definitivo é virar costas ao so­frimento humano (Mt 25, 45).<br>
						<br>
						7 À medida que a estrutura hierárquica e “sacramental” da Igreja se foi configurando como uma organização “jurídica” de poder, a teologia não teve mais remédio que acentuar o argumento do “pecado” e, por isso mesmo, marginalizar o projecto “so­frimento”. Por uma razão muito clara: o tema do “pecado” é gerido a partir do poder, enquanto que o problema do “sofrimento” tem que ser gerido a partir da solidariedade. Contra o sofrimento humano não se luta a partir de cima, mas a partir da igualdade, da debilidade e da fusão com o que sofre.<br>
						<br>
						A Carta aos Hebreus diz: “Por isso teve que fazer-se semelhante em tudo aos seus irmãos... pois por ter passado tam­bém pela provação do sofrimento, pode valer aos que agora estão a passar por ela” ( Heb 2, 17-18). Até Deus, para livrar do sofrimento, teve que fazer-se igual, sofrer como sofrem os demais e passar pelo que passam os que mais sofrem. O sofrimento humano não tem oura solução. Daí que Jesus, que tomou a sério este projecto, acabou no supremo sofrimento. E só assim deu vida e felicidade.<br>
						<br>
						Uma organização jurídica exige “submissão”, ao passo que uma estrutura sacramental tra­duz-se em “comunhão”. Mas hoje na Igreja é mais determinante o jurídico e a obediência (que só aceita a “uniformidade”), que o sacramental e a comunhão (que se traduz em “pluralismo”). É outra consequência do predomínio do tema do “pecado” sobre o proble­ma do “sofrimento”.<br>
						<br>
						8 Temos que pensar noutra Igreja. Não aceitamos uma Igreja para o pecado, portanto, em fun­ção do poder. Aceitamos uma Igreja para a felicidade, portanto, que luta contra o sofrimento. Não podemos aceitar que ela se “organize” como uma “monarquia abso­luta” (cânones 331; 333, 3; 1404; 1372), isto é, como uma institui­ção “anacrónica” e “anti-evangélica”, que não resolve o problema teológico de saber quem é o sujeito de suprema autoridade (LG 22), nem como tem que ser exercida teologicamente e evangelicamente essa suprema autoridade. Daí a inadmissível situação em que nos encontramos e que consiste em que a Cúria, cujo estatuto teológico não está clarificado, se sobreponha ao Colégio dos Bispos, cujo estatuto teológico é de fé. Trata-se, pois, duma organização de poder que teologicamente só pode gerir eficazmente o problema do pecado. O problema do sofrimento fica à mercê da generosidade dos fiéis. Ou inclusive é visto como elemento perturbador e que gera suspeita, coisa que foi posta em evidência no comportamento da Cúria e de muitos bispos em relação à Teologia da Libertação, a primeira teologia que se centrou de verdade no problema dos que sofrem e que foi desqualificada, ao mesmo tempo que os homens da Cúria não descansaram enquanto não a marginalizaram como “o maior perigo” para a Igreja.<br>
						<br>
						9 Temos que pensar noutra moral. Isto tem que se formular em dois sentidos fundamentais: 1) Não estruturar a moral sobre o eixo do bem e do mal, mas sobre o eixo da felicidade e do sofrimento. Porque o “bem” e o “mal” são sempre e inevitavel­mente conceitos subjectivos. Em nome do bem, fizeram-se guerras, perseguiu-se, torturou-se, matou-se, causou-se demasiado sofrimento. Outro tanto tem que se dizer dos conceitos de “bom” e de “mau”, inclusive, do “intrinsecamente mau”.<br>
						<br>
						Pelo contrário, a felicidade e o sofrimento são factos objectivos. As pessoas sentem-se fe­lizes ou sofrem. Outra coisa é har­monizar o “feliz” com o cultu­ralmente “razoável”. Não é a mesma coisa “felicidade” e “di­versão”. Por outro lado, a feli­cidade inclui sempre o “sentido da vida”, aquilo que dá sentido e esperança à vida das pessoas. Em todo o caso, o que torna felizes os seres humanos e não atropela nem a sua dignidade nem os seus direitos é o moral­mente bom e correcto. 2) Não estruturar a moral a partir do de­ver, mas a partir da necessidade. Trata-se duma moral que responde não só às necessidades próprias, mas às necessidades dos seres humanos, de todos os seres humanos. Isto é o que fez Jesus quando curou os do­entes e foi tido por pecador, um escandaloso, um subversivo. Por satisfazer necessidades a­lhei­as, Jesus faltou aos próprios deveres e pôs em risco a sua imagem pública.<br>
						<br>
						10 Temos que pensar noutra espiritualidade. Ensinaram-nos uma ascética e uma espiritualida­de nas quais implicitamente nos era apresentado Deus como um Pai que gosta de nós. Mas que gosta de nós de tal maneira que, ao mesmo tempo, gosta que sacrifiquemos os instintos naturais que ele mesmo colocou na nossa vida. Além disso, esse Deus satisfaz-se mediante o sofrimento do seu Filho e dos seus filhos. Um Pai a quem temos que pedir perdão obsessivamente todos os dias. Um Pai que encontra a devida “satisfação” no sofrimento e na morte. É um Deus que o que mais detesta é o pecado, mas que parodoxalmente é do pecado que Ele mais precisa, para que os seus filhos sejam os culpados e Ele seja considerado inocente de tanto mal e de tanto sofrimento.<br>
						<br>
						Por isso a primeira vítima do pecado é Deus. A segunda vítima é Jesus, que fica reduzido a uma “vítima programada” para satisfazer pelos pecados. A terceira vítima é a Igreja, que se torna odiosa pela sua obsessão pelo pecado. A quarta vítima é o ser humano, responsável do pe­cado, acto de maldade infinita e que merece um castigo infinito.<br>
						<br>
						Daí que a espiritualidade cris­tã tem que centrar-se na luta contra o sofrimento no mundo e na luta por fazer felizes as pessoas que nos rodeiam. As renúncias que isso exige (que são muitas) são o caminho para Deus. Então a vida tem sentido. O mundo humaniza-se. Eis o mais urgente neste momento. E o que quis e quer Jesus, o Senhor.<br>
					</td>
					<td width="40" height="3630" colspan="3"></td>
					<td width="1" height="3630"><spacer type="block" width="1" height="3630"></spacer></td>
				</tr>
				<tr height="20">
					<td width="583" height="20" colspan="17" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="2440">
					<td width="50" height="2440" colspan="3"></td>
					<td class="class" content="" csheight="2440" width="491" height="2440" colspan="9" valign="top" align="left" xpos="60">Ernesto Cardenal (Nicarágua)<br>
						<br>
						<b>Perguntas sobre Cuba<br>
						</b><br>
						Quem pode negar que existe em Cuba um grande número de presos, condenados às mais rigorosas condições carcerárias do mundo de hoje?<br>
						<br>
						Para eles não há nem dia nem noite, porque são mantidos de olhos vendados em completa es­curidão. Taparam-lhes também os ouvidos, e mantêm-nos sujei­tos a perpétuo silêncio. E estão privados de toda a sensação táctil, porque têm as mãos for­radas com uma espécie de luvas de pele. São centenas de pre­sos, cujos nomes ninguém co­nhe­ce, e ninguém sabe de que são acusados, e não foram jul­gados, muito menos condena­dos, e não têm advogado, e es­tão a cumprir uma sentença in­finita, porque não lhe foi posto um limite no tempo.<br>
						<br>
						Estes são presos em Cuba, mas que não estão presos por ordem de Fidel Castro. São os presos do presidente Bush, em Guantánamo. Estão em jaulas individuais, e vestidos com rou­pas vermelhas que todos vimos, no início, mas deles nunca mais se soube nada. Como são presos de Bush e não de Fidel Castro, a comunicação social norteamericana não diz nada deles. E eu pergunto se a União Europeia terá protestado por estes prisioneiros em Cuba. Exigiu peremptoriamente aos Estados Unidos que os ponha em liberdade, como exigiu a Cuba a liberdade imediata para 75 presos?<br>
						<br>
						Outra pergunta que faço é se em Cuba se protege o terrorismo; e respondo: claro que sim. Em Cuba o terrorismo é protegido pelo presidente Bush, através duma lei chamada "Ajuste cubano": uma lei que não é cubana mas norte-americana e que é aplicada apenas a Cuba e a mais nenhum outro país do mundo.<br>
						<br>
						Segundo esta lei, quem sequestre um avião ou um navio em Cuba e fuja com ele para os Estados Unidos, tem direito ipso facto a residência e garante-se-lhe trabalho de imediato. Normalmente, não se concede o visto aos cubanos para entrarem nos Estados Unidos, mas se entrarem lá ilegalmente, concede-se-lhes esse prémio. Não é isto promover o terrorismo em Cuba? Embora não seja Fidel que o promove, mas Bush.<br>
						<br>
						E quem emigra para os Esta­dos Unidos, a partir de qualquer país do mundo, chama-se-lhe, na­turalmente, imigrante, mas se emigrarem de Cuba para os Esta­dos Unidos chamam-lhes exilados. Não existem imigrantes cubanos nos Estados Unidos. Todos os cubanos que emigraram e vivem nos Estados Unidos são exilados.<br>
						<br>
						Uma prática muito vulgar do poder norte-americano é falsear a linguagem. É falsificar as palavras, mudando uns nomes por outros. De facto, isto é mentir des­ca­radamente. Assim, por exemplo, em vez da palavra “conquistar”, usam a palavra “libertar”. Acabam agora de recorrer a uma palavrita nova para a aplicar a Cuba: “dissidentes”. Etimologicamente, o significado desta palavra é dissentir, não estar de acordo, pensar de outro modo. Mas os Estados Unidos aplicam esta palavra aos que conspiram, pro­mo­vem a subversão e procuram o derrube do regime cubano. <br>
						<br>
						“Promover a transição”, é ou­tra maneira que eles têm para di­zer o mesmo. E eu pergunto: Quem protesta, quando num outro país qualquer (que não seja Cuba) se prendem os que pretendem derrubar o regime?<br>
						<br>
						Li recentemente uma crítica que se fez a Cuba, porque dois parlamentares chilenos quiseram visitar oficialmente aquele país para se encontrarem lá com “dissidentes”. Foi-lhes dito que podiam fazê-lo, mas na con­dição de turistas, não na de visita oficial. E eu pergunto: Nos Estados Unidos concederiam o visto a alguém que o so­li­citasse explicitamente para ir lá encontrar-se com subversivos?<br>
						<br>
						Li também que a um destes 75 “dissidentes” que estão presos em Cuba, o presidente Bush escreveu uma carta a felicitá-lo pelos seus heróicos feitos. Não é isto uma confirmação do delito de subversão imputado ao réu cubano, quando este é felicitado pelo maior inimigo de Cuba, ocupado como estava em plena guerra contra o Iraque? Outra coisa insólita neste caso foi que o presidente norte-ame­ricano declarou ao referido réu cubano que ele e sua esposa o tinham presente nas suas orações. “Laura e eu continua­mos a rezar por você”, disse-lhe.<br>
						<br>
						Eu pergunto como seriam vistas as coisas se Fidel Castro escrevesse a alguém de outro país, preso por conspiração, para lhe dizer que estava a rezar por ele. O meu comentário pessoal é que, tratando-se de oração, pelo menos eu teria mais confiança nas orações de Fidel Castro do que nas de Bush!...<br>
						<br>
						Quanto ao problema ético da pena de morte, a minha primeira observação é a seguinte: é certo que na Bíblia está es­crito o mandamento Não matarás. Mas também é certo que no mesmo livro da Bíblia onde consta este mandamento, se explica ao pormenor como deve ser aplicada a pena de morte àquele que quebrar este mandamento de não matar. Eu sou dos que estão contra a pena de morte, melhor, sou dos que preferem que esta pena não seja aplicada a ninguém. E Fidel é tam­bém dos que pensam assim, como ele próprio o disse no seu discurso de 25 de Abril deste ano, no qual explica as razões pelas quais, de forma excepcional, esta pena havia sido aplicada agora em Cuba a três pessoas.<br>
						<br>
						E outra pergunta que eu faço é a seguinte: Se alguém, inclu­sive, um intelectual honesto da Uni­ão Europeia, protesta contra a execução de três pessoas em Cuba que tentavam consumar um sequestro, não deveria protestar ainda mais pelas 165 execuções realizadas no Texas, enquanto Bush era governador desse estado? É ético que se proteste tão veementemente quando se trata de Cuba e simplesmente não se proteste quando se trata dos Estados Unidos? Com a agravante, para os Estados Unidos, de que aqui os executados são na sua grande maioria negros e em muitos casos menores de idade e doentes mentais.<br>
						<br>
						Há pouco vi no jornal a notí­cia da condenação à morte de seis pessoas na Guatemala. A notícia era quase invisível, de tão pequena. E depois que esta notícia saiu, não vi nenhum protesto nem nesse jornal nem em nenhum outro.<br>
						<br>
						Outra das minhas perguntas é a seguinte: até que ponto é certo que se está contra a pena de morte, se quando são fusiladas seis pessoas na Guatemala, ninguém diz nada, e quando fusilam três pessoas em Cuba há um es­cândalo mundial de incríveis proporções? Não será que a imprensa mundial se mobiliza, não contra a pena de morte, mas contra Cuba e Fidel de Castro? E os intelectuais, ao menos eles, que deveriam ser algo inteligentes, não se dão conta disto?<br>
						<br>
						Segundo a Amnistia Internacional houve, no ano passado, 1.560 condenações à morte no mundo. Nenhuma dessas execu­ções foi em Cuba! E quantos protestos houve contra essas 1.560 execuções? Como é que agora, que houve três em Cuba, houve este coro de protestos? Os intelectuais que foram utilizados pela campanha anti-cubana não se aperceberam?<br>
						<br>
						As três execuções em Cuba e a prisão de 75 pessoas ocorre­ram em circunstâncias muito especiais e os que são honestos não as podem ignorar. Trata-se de um país que está em risco de ser invadido. O governo de Bush, na altura em que estava envolvido na guerra do Iraque, declarou que Cuba estava na lista de objectivos militares susceptíveis de invasão e de destruição massiva. E os cubanos anti-castristas que residem nos Estados Unidos lançaram logo o grito de guerra “Iraque hoje, Cuba amanhã”.<br>
						<br>
						Fidel no discurso explicou amplamente ao povo de Cuba e ao mundo a situação de perigo por que Cuba estava a pas­sar e quais as razões porque se viram obrigados a tomar medidas drásticas, como foi o caso da prisão de 75 conspiradores a soldo da representação diplomática dos Estados Unidos em Habana, e a execução de três sequestradores que tinham sido estimulados pela lei que lhes garante acolhimento nos Estados Unidos.<br>
						<br>
						Fiz questão de ouvir esse discurso em Manágua, porque ainda ignorava os motivos pelos quais Cuba tinha recorrido a medidas tão drásticas. Mas não pude ouvi-lo, porque o discurso transmitido via satélite de Habana foi interceptado. Podemos du­vidar sobre qual o governo que interceptou esta transmissão via satélite? E não é condenável que a uma pessoa que está a ser acusada mundialmente não se lhe permita defender-se na rádio internacional? Isto, para além de ser uma violação ao direito de informação que todos os povos da terra temos.<br>
						<br>
						Só isto deveria ser suficiente para que aqueles que honestamente se pronunciaram contra Cuba se tivessem dado conta de que a opinião pública foi mais uma vez manipulada neste caso, e pelos mesmos que há décadas a têm manipulado contra Cuba, Isto não foi senão um episódio mais.<br>
						<br>
						Fidel Castro explica no seu discurso internacionalmente censurado que não é partidário da aplicação da pena capital, e que há três anos em Cuba ela não se aplicava, e que desta vez a aplicaram devido às ameaças de guerra que Cuba está a ter.<br>
						<br>
						Os mesmos que condenam Cuba pela falta de liberdade de expressão são, afinal, os que impediram a difusão via satélite de um discurso de um chefe de estado. E os mesmos que acusavam Cuba de violação dos direi­tos humanos, eram também os que, por esses dias, estavam a cometer a maior violação dos direitos humanos que jamais se viu no mundo desde os tempos de Hitler. E os que condenavam Cuba por três fusilamentos estavam a realizar em Bagdad uma destruição que essa cidade já não conhecia desde o século XIII, aquando da invasão dos mon­góis. E declaravam-se dis­pos­tos a fazer o mesmo noutros países, inclusive em Cuba.<br>
						<br>
						Nota final: As minhas per­guntas são simplesmente as de um leitor de jornais.<br>
					</td>
					<td width="42" height="2440" colspan="5"></td>
					<td width="1" height="2440"><spacer type="block" width="1" height="2440"></spacer></td>
				</tr>
				<tr height="20">
					<td width="583" height="20" colspan="17" valign="top" align="left" xpos="10">
						<hr size="3" width="580">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="870">
					<td width="51" height="870" colspan="4"></td>
					<td class="class" content="" csheight="865" width="490" height="870" colspan="8" valign="top" xpos="61">Leonardo Boff (Brasil)<br>
						<br>
						<b>Paradigma-Conquista</b><br>
						<br>
						No conjunto dos seres da natureza, o ser humano ocupa um lugar singular. Por um lado, é parte da natureza por seu enraizamento cósmico e biológico. É fruto da evolução que produziu a vida da qual ele é expressão consciente e inteligente. Por outro, sobreeleva-se à natureza e intervém nela, criando cultura e coisas que a evolução sem ele jamais criaria como uma cidade, um avião e um quadro de Portinari.<br>
						<br>
						Por sua natureza, é um ser biologicamente carente (Mangel­wesen), pois, ao contrário dos animais, não possui nenhum órgão especializado que lhe garanta a subsistência. Por isso, vê-se obrigado a conquistar o seu sustento, modificando o meio, criando assim o seu habitat.<br>
						<br>
						Desde cedo no processo de hominização surgiu, portanto, o paradigma da conquista. Saiu de África de onde irrompeu como “homo erectus”, há sete milhões de anos, pôs-se a conquistar o espaço, começando pela Eurásia e terminando na Oceania. Com o crescimento de seu crânio, evoluiu para “homo habilis”, inventando, por volta de 2,4 milhões de anos atrás, o instrumento que lhe permitiu alargar ainda mais a sua capacidade de conquista.<br>
						<br>
						Por comparecer como um ser inteiro mas inacabado (não é defeito mas marca) e tendo que conquistar sua vida, o paradigma da conquista pertence à auto-comprensão do ser humano e da sua história. Praticamente tudo está sob o signo da conquista: a Terra inteira, os oceanos e os recantos mais inóspitos. Conquitar povos e “dilatar a fé e o império” foi o sonho dos colonizadores. Conquistar os espaços extraterrestres e chegar às estrelas é a utopia dos modernos. Con­quistar o segredo da vida e manipular os genes. Conquistar mercados e altas taxas de crescimento, conquistar mais e mais clientes e consumidores. Conquistar o poder de Estado e outros poderes, como o religioso, o profético e o político. Conquis­tar e controlar os anjos e demónios que nos habitam. Conquistar o coração da pessoa amada, conquistar as bênçãos de Deus e conquistar a salvação eterna. Tudo é objeto de conquista. O que ainda nos falta conquistar?<br>
						<br>
						Insaciável é a vontade de conquista do ser humano. Por isso o paradigma-conquista tem como arquétipos referenciais Alexandre Magno, Hernan Cortês e Napoleão Bonaparte, os conquistadores que não conheciam nem aceitavam limites.<br>
						<br>
						Depois de milénios, o paradigma-conquista entrou, em nos­sos dias, em grave crise. Chega de conquistas, senão destruire­mos tudo. Já conquistamos 83% da Terra e nesse afã a devasta­mos de tal forma que ela ultra­passou em 20% sua capacidade de suporte e regeneração. Cha­gas se abriram e talvez nunca mais se fecharão. Precisamos de conquistar aquilo que nunca havíamos conquistado antes, por­que pensávamos que era contraditório: conquistar a auto-limita­ção, a austeridade compartilha­da, o consumo solidário e o cuidado para com todas as coisas para que continuem a existir. A sobrevivência depende destas anti-conquistas.<br>
						<br>
						Ao arquétipo Alexandre Ma­gno, Hernan Cortês e Napoleão Bonaparte, da conquista, há que se contrapor o arquétipo Francisco de Assis, Gandhi, Madre Tere­sa e Irmã Dulce, do cuidado essencial. Não há tempo a perder. Devemos começar connosco, com as revoluções moleculares. Por elas garantiremos as novas virtudes que nos salvarão a todos.<br>
					</td>
					<td width="42" height="870" colspan="5"></td>
					<td width="1" height="870"><spacer type="block" width="1" height="870"></spacer></td>
				</tr>
				<tr height="20">
					<td width="583" height="20" colspan="17" valign="top" align="left" xpos="10">
						<hr size="3" width="580">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="1020">
					<td width="50" height="1020" colspan="3"></td>
					<td class="class" content="" csheight="1010" width="491" height="1020" colspan="9" valign="top" xpos="60">Frei Betto (Brasil)<br>
						<br>
						<b>Mitologia do corpo<br>
						</b><br>
						O cristianismo platónico cindiu, com a faca maniqueísta, corpo e alma. Apropriou-se a Igreja da alma e entregou o corpo aos cuidados do braço secular. Inimigo da carne, o espírito julgou-se tanto mais próximo de Deus quanto menos encar­nado. Assim, o matrimónio, um sa­ramento, chegou a ser considerado pela teologia agostinia­na, “estado de pecado consenti­do”, e o sexo, portal de Satanás.<br>
						<br>
						Por sua vez, o braço secular – instituições públicas e privadas – traficava corpos de escravos e prostitutas, e entregava à tortura inquisitorial o corpo cuja lín­gua não professasse que a verdade é filha da autoridade ecle­siástica.<br>
						<br>
						Agora, o corpo recusa-se a ser refém do espírito. Da esquizofrenia da alma sobrepondo-se à carne, passamos à carne sobreposta ao espírito. Modelado pela erotização do mercado, o corpo adquire valor proporcional à sua adequação aos critérios de beleza estimuladores de consumo.<br>
						<br>
						Num país de famintos e cor­pos esquálidos, a glamourização das formas induz um punhado de homens e mulheres a submeterem-se a regimes e tratamentos cruéis. Despendem tempo e fortuna com os requintes da vaidade física, como a aranha que tece a sua própria teia narcísica, da qual se torna prisioneira. Não há academias especializadas em malhação do espírito e ainda não se inventou a transfusão de conhecimentos e valores de uma pessoa a outra ou do computador à mente, de modo a fa­zer coincidir a estética da apa­rência com a beleza da essência.<br>
						<br>
						Da ascética mortificadora do corpo, passamos agora à sua exaltação pagã. No desporto, exi­gem-se dele desempenhos cada vez mais excepcionais, sobretudo em agilidade (ginastas e jogad­res) e velocidade (corredores e nadadores). No trabalho, impõe-se-lhe uma carga estressante, seja na actividade física, mal remunerada, seja no esforço mental. Em casa, ele é entupido de medicamentos, para dormir ou despertar, reduzir a melancolia ou aprimorar seus contornos.<br>
						<br>
						Enquanto isso, o avanço tecnológico desapropria-nos do corpo. O que fazer com ele, se já não produz? E a libido é socialmente controlada como valor comercial. É o que Marcuse cha­mou de “dessublimação repressi­va” da sexualidade. O corpo es­culpido segundo o modelo grego – nu, sadio, forte e belo – é a criação mitológica mais recente, ainda que desprovido de alteridade. A libertação descentra-se da luta de classes para centrar-se no corpo, já que o neoliberalismo tenta suprimir a pergunta sobre o sentido da existência. Para ele, basta desfrutá-la.<br>
						<br>
						Merleau-Ponty enfatizava que temos um corpo e somos o nosso corpo. Investimos na sua preser­vação (práticas higiénicas e culinárias), na sua apresentação (cos­méticos e vestuário) e nas suas expressões afectivas (sinais emocionais). Tais expressões são o nosso calcanhar de Aquiles, sobretudo se o nosso corpo é um poço de mágoas, ressentimentos, invejas, e faz da língua uma faca afiada que retalha, em tiras de desafecto, o respeito ao outro.<br>
						<br>
						Em Jesus, Deus assume o corpo humano. “O Verbo fez-se carne”, proclama o Evangelho de João. A prática de Jesus caracterizou-se pelo resgate do corpo: se doente, é curado; se oprimido, libertado; se condenado, perdoa­do; se excluído, acolhido. E sem­pre amado.<br>
						<br>
						Jesus deixou que tocassem o seu corpo, a ponto de uma prostituta lavar-lhe os pés e en­xu­gá-los com os cabelos, beijá-los e ungilos com perfume (Lucas 7, 36-50). E fez de dois recursos indispensáveis à sobre­vi­vência do corpo – a comida e a bebida, pão e vinho – sacramento, no qual o seu corpo eucarístico nos é dado como alimento para a vida eterna, desde que, agora, saibamos, no amor, testemunhar que a vida é terna.<br>
						<br>
						Creio que o Universo é o ventre divino no qual estamos a ser gerados para a vida onde toda a dor estará erradicada pela soberania do amor.<br>
					</td>
					<td width="42" height="1020" colspan="5"></td>
					<td width="1" height="1020"><spacer type="block" width="1" height="1020"></spacer></td>
				</tr>
				<tr height="20">
					<td width="583" height="20" colspan="17" valign="top" align="left" xpos="10">
						<hr size="3" width="580">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="1340">
					<td width="50" height="1340" colspan="3"></td>
					<td class="class" content="" csheight="1330" width="491" height="1340" colspan="9" valign="top" xpos="60">Porfírio Borges (Porto)<br>
						<br>
						<b>Ver para além do olhar<br>
						</b><br>
						Nos últimos tempos tornou-se de bom-tom, ou então de muito interesse comercial, comemorar-se com pompa e circunstância, o dia ou o ano dedicado a qualquer evento.<br>
						<br>
						Assim, creio não ser injus­to se disser que, na minha opinião, o “O ano europeu da pessoa com deficiência”, que estamos a comemorar, não se afasta muito das perspectivas que acabo de referir.<br>
						<br>
						Como é assim que penso, confesso que se em qualquer outra comemoração fico indiferente, neste caso não consigo disfarçar a minha irritação.<br>
						<br>
						1º. Não suporto a ideia de ver tantos oradores a falarem com tanta “experiência” de assuntos que não podem sentir, porque nunca os viveram. É tempo de entender que o deficiente não é sinónimo de inválido, pelo que lhe assiste o direito de se pronunciar sobre o que é bom ou não para si.<br>
						<br>
						2º. Porque o deficiente, se o é, não é só no dia ou ano que lhe pretendem dedicar. Por isso, dispensam-se as reflexões com data programada e reclamam-se obras em todo o ano. A este respeito já Santo António dizia: “A linguagem é viva quando falam as obras. Cessem, pois, as palavras e falem as obras.”<br>
						<br>
						Embora só com uma ligei­ra esperança de que esta reflexão será lida por aqueles a quem pre­tendo atingir, insisto em a fazer, porque sei que a água mole (intervenções como esta) em pedra dura (legisladores e detentores do poder), tanto bate até que fura.<br>
						<br>
						A minha discordância e irritação começa, desde logo, pelo facto de os interessados não serem ouvidos para a feitura das leis e ainda porque estas não se cumprem, nem se fazem cumprir, por falta de vontade política ou, o que é bem pior, pela falta de civismo de uma boa parte da população.<br>
						<br>
						Assim, condeno a falta de vontade politica, mas lamento sobretudo, a falta de civismo: Eu já vi gente que, para conseguir um lugar no autocarro, me ultrapassou na respectiva bicha.<br>
						<br>
						Quantas vezes, entramos nos transportes públicos e os lugares destinados aos deficientes estão indevidamente ocupados e quem lá está finge que vai distraído?<br>
						<br>
						Mas há outras insensibilidades que importa denunciar. Não há ainda muito tempo, che­guei no meu carro junto de umas placas de um parque de estacionamento para deficientes, exactamente quando outro condutor pretendia estacionar. Antes que o fizesse, chamei-o à atenção para o facto de o lugar ser reservado a quem tem dificulda­des em se deslocar. Apesar disso, estacionou como se nada fos­se com ele e foi à sua vida.<br>
						<br>
						E os automóveis, mecos, candeeiros, placas e cabines telefónicas em cima dos passeios a dificultarem a circulação dos cegos?<br>
						<br>
						E para quando o cumpri­men­to da lei que manda anular as barreiras arquitectónicas? Há dias tive que ir a uma Escola secundária para falar com uma professora. Na entrada, deparei-me com um bom lanço de escad­as sem qualquer corrimão. Resultado, só consegui os meus objectivos, pedindo que me ajudassem a vencer aquela barreira. Note-se que se trata de um edifício público que pode ser frequentado por alunos e professores portadores de deficiências.<br>
						<br>
						Como se vê, se há casos em que a lei não se cumpre por falta de civismo da população, muitos outros é da total responsabilidade dos governos. A este propósito volto a citar Santo António: “Estamos cheios de palavras (leis) mas vazios de obras”.<br>
						<br>
						Confirma-se, então, que é preciso ver para além do olhar. Não basta olhar e depois não ver o deficiente e passá-lo à frente na bicha, não ver as placas que reservam os parques de estacionamento e ocupar o lugar indevidamente, não ver que os passeios devem estar desimpedidos para que os cegos pos­sam circular sem perigo.<br>
						<br>
						Não basta ver que é preciso fazer leis para acabar com as barreiras arquitectónicas, e de­pois não as porem em prática.<br>
						<br>
						Não basta ver o deficiente em datas especiais, e não perceber que ele não é um “coitadinho” e que dispensa a comiseração.<br>
						<br>
						Assuma-se de uma vez por todas que todos somos diferentes; uns mais ricos, outros mais pobres, uns mais inteligentes, outros mais saudáveis e ainda outros deficientes, mas todos iguais perante a lei.<br>
						<br>
						Quando pensarem em novas datas comemorativas para tratarem destes problemas, não o façam sem ouvir os interessados. Se assim fizerem, ficam a saber que eles só pretendem que os tratem com delicadeza e lhes proporcionem as condições necessárias, para que possam as­sumir, em plenitude, a sua cidadania.<br>
					</td>
					<td width="42" height="1340" colspan="5"></td>
					<td width="1" height="1340"><spacer type="block" width="1" height="1340"></spacer></td>
				</tr>
				<tr height="20">
					<td width="583" height="20" colspan="17" valign="top" align="left" xpos="10">
						<hr size="3" width="580">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="1030">
					<td width="3" height="1135" rowspan="6"></td>
					<td width="47" height="1060" colspan="2" rowspan="2"></td>
					<td class="class" content="" csheight="1010" width="491" height="1030" colspan="9" valign="top" xpos="60">Risoleta Pinto Pedro (<a href="mailto:risoletapedro@netcabo.pt">risoletapedro@netcabo.pt</a>)<br>
						<br>
						<b>Um dia destes fui a Fátima<br>
						</b><br>
						Um dia destes fui a Fátima. Praticamente nunca lá tinha estado, a não ser pontualmente por uma outra razão que não aquela em que logo se pensa quando se fala em Fátima. Em criança nunca tive que acompanhar nenhum adulto, em adulta sempre me recusei a ir, mesmo numa situação em que a maioria teria cedido à tentação de entrar num negócio com a divindade. Mas como nunca tive muito jeito para negócios desconfiei sempre de negócios com desconhecidos, daí a minha recusa em lá ir. Apesar dos incentivos e algumas pressões.<br>
						<br>
						Mas no outro dia fui a  Fáti­ma. Por razão alheia, mas lá fui. Respeito os sentidos dos ou­tros, e se são seres que amo não só os respeito como os apoio e tento compreender, o que só me pode fazer bem.<br>
						<br>
						Não havia praticamente ninguém no santuário, pelo que pude andar, observar e respirar sem grandes obstáculos. E o que vi foi o seguinte:<br>
						<br>
						- uma basílica que arquitectonicamente é uma coisa de fugir.<br>
						<br>
						- uma oliveira que, sorte a dela, está ali naquele sítio, por­que se estivesse sob a tutela de certos autarcas de quem tenho ouvido falar já tinha sido arrancada e substituída, sabe-se lá porquê, eventualmente por um campo de golfe, por ser muito velha. Há políticos que acham que as árvores velhas não têm direito à vida. E enquanto forem só com as árvores...<br>
						<br>
						Mas adiante, vi também as obrigatórias, incontornáveis velas das promessas, o normal, uns quantos peregrinos em devoção, o esperado.<br>
						<br>
						E o inesperado. Confesso que não previra que isso pudesse acontecer, Fátima era, aliás, o último sítio onde esperava que tal me sucedesse, mais facilmente o esperaria em cima de uma ETAR, em plena Rua da Voz do Operário em noite de santos po­pu­lares ou num aterro desses que levam as pessoas aos telejornais, mas a verdade é que acon­teceu ali em Fátima, no meio do santuário e do meu preconceito: e foi uma imensa e escandalosa paz, um sentimento de estar tudo certo, uma cadência mu­sical de silêncio, uma sensação de centro, uma espécie de estranha chegada a casa. Contra todas as evidências, lógicas e convicções. Contra todo o civilizadamente correcto. Com toda a auto-crítica o confesso. É que este sentimento tão íntimo e tão forte depois não bate certo com o folclore dos pastorinhos e toda a parafernália comercial e toda a indústria turística e com uma Nossa Senhora em campanha partidária a falar de Rússia e de Comunismo como se estivesse no Parlamento numa bancada de centro direita ou mesmo de direita, etc, etc, etc. Isto da Nossa Senhora a meter-se em política foi coisa que sempre digeri muito mal. De facto, não bate certo, mas o certo é que algo me bateu no centro do peito e me enterneceu. Tenho a cer­teza que não foram os pastorinhos, nem uma Nossa Senhora comprometida com os poderes, nem nada do que estava à vista. O que foi, foi muito oculto, esteve para além disto tudo.<br>
						<br>
						Uma Nossa Senhora manipuladora ideológica de criancinhas analfabetas, é a terrível bru­xa em que o poder da altura tentou transformar Ísis, esse extraordinário arquétipo do princípio feminino que atravessa todas as religiões de todos os tempos, Ísis, a Lua, o princípio feminino, fonte mágica de toda a fecundidade e de toda a transformação. No Cristianismo assume a forma da Virgem, e é uma figura de tal modo grandiosa que se revela absolutamente incompatível com tão baixa política. No antigo Egipto acreditava-se que cada ser humano era uma gota do sangue de Ísis. No Médio Oriente, na Grécia, em Roma e na bacia mediterrânea, Ísis foi adorada como a deusa suprema e universal. É um arquétipo suficientemente, excessivamente grandioso para transcender a pequena moldura em que quiseram aprisioná-la. Talvez seja isso o que sem o saberem explicar, sentem todos os corações sensíveis a um espaço durante tantos anos alimentado por milhares de seres em adoração a um princípio que sem saberem, afinal, transportam consigo, porque lhe são parte.<br>
					</td>
				</tr>
			</tbody></table>
		</div>