<template>
  <div class="facebook">
    <button class="btn btn-primary" v-on:click="share()">Facebook!</button>
  </div>
</template>

<script>

    export default {
        name: 'facebook',
        props: ['link', 'youtube'],
        methods: {
            share() {

                if(this.link.length != 0) {

                    if(this.youtube) return this.link

                    let fullLink = window.location.origin + this.link

                    return FB.ui({
                        method: 'share',
                        href: fullLink
                    })

                } else {

                    return FB.ui({
                        method: 'share',
                        href: window.location.href
                    })

                }
            }
        }
    }

</script>

<style lang="sass" scoped>

</style>
