<template>
  <div class="twitter-component">
    <a class="btn twitter-share-button twitter-btn" role="button" v-bind:href="fullUrl()">
        Twitter!
    </a>
  </div>
</template>

<script>

    export default {
        name: 'twitter',
        props: ['link', 'youtube'],
        methods: {
            fullUrl() {
                if(this.link.length != 0) {

                    if(this.youtube) return 'https://twitter.com/intent/tweet?text=' + this.link
                    
                    let fullLink = window.location.origin + this.link
                    return 'https://twitter.com/intent/tweet?text='+ fullLink
               
                } else {
                    return 'https://twitter.com/intent/tweet?text='+ window.location.href
                }
            }
        }
    }

</script>

<style lang="sass" scoped>

</style>