<template>
  <div id="article">
    <div class="row">
      <div class="col-xs-12 header">
        <h1>Criar Artigo</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form v-on:submit.prevent="create()">
          <div class="form-group" :class="{'has-error': validation.hasError('title'), 'has-success': validation.isPassed('title')}">
            <label for="title">Título</label>
            <input type="text" name="title" v-model="title" class="form-control" id="title">
            <span class="help-block">{{ validation.firstError('title') }}</span>
          </div>
          <div class="form-group" :class="{'has-error': validation.hasError('category'), 'has-success': validation.isPassed('category')}">
            <label for="category">Categoria</label>
            <select class="form-control" name="category" id="category" v-model="category">
              <option value="Igreja">Igreja</option>
              <option value="Fátima">Fátima</option>
              <option value="Poemas">Poemas</option>
              <option value="Fé">Fé</option>
              <option value="Entrevistas">Entrevistas</option>
              <option value="Livros">Livros</option>
              <option value="Política">Política</option>
              <option value="Opinião">Opinião</option>
            </select>
            <span class="help-block">{{ validation.firstError('category') }}</span>
          </div>
          <div class="form-group" :class="{'has-error': validation.hasError('author'), 'has-success': validation.isPassed('author')}">
            <label for="author">Autor</label>
            <input type="text" name="author" v-model="author" class="form-control" id="author" placeholder="Se for você o autor do artigo, deixe este campo em branco.">
            <span class="help-block">{{ validation.firstError('author') }}</span>
          </div>
          <div class="form-group" :class="{'has-error': validation.hasError('section'), 'has-success': validation.isPassed('section')}">
            <label for="section">Secção</label>
            <select class="form-control" name="section" id="section" v-model="section">
              <option value="main">Principal</option>
              <option value="collab">Colaboração</option>
            </select>
            <span class="help-block">{{ validation.firstError('section') }}</span>
          </div>
          <div class="form-group" :class="{'has-error': validation.hasError('edition'), 'has-success': validation.isPassed('edition')}">
            <label for="edition">Edição</label>
            <input type="text" name="edition" v-model="edition" class="form-control" id="edition">
            <span class="help-block">{{ validation.firstError('edition') }}</span>
          </div>
          <div class="form-group" :class="{'has-error': validation.hasError('content'), 'has-success': validation.isPassed('content')}">
            <label for="content">Texto</label>
            <quill-editor v-model="content"
                          ref="myQuillEditor"
                          :options="editorOption">
            </quill-editor>
            <span class="help-block">{{ validation.firstError('content') }}</span>
          </div>
          <button type="submit" v-bind:disabled="formLoading" class="btn btn-primary">Criar</button>
          <button type="reset" class="btn btn-danger">Limpar</button>
        </form>
      </div>
    </div>

  </div>
</template>

<script>

  import SimpleVueValidation from 'simple-vue-validator'
  import S from 'string'
  import toolbar from '../../toolbar'

  let Validator = SimpleVueValidation.Validator

  export default {
    name: 'article-create',
    props: ['user'],
    computed: {
      editor() {
        return this.$refs.myQuillEditor.quill
      },
      getToken() {
        return this.$store.state.token
      }
    },
    data() {
      return {
        formLoading: false,
        title: '',
        category: 'Igreja',
        content: '',
        section: 'main',
        edition: '',
        author: '',
        editorOption: {
          placeholder: 'Escreva o artigo e formate-o usando a barra de opções acima...',
          modules: {
            toolbar: toolbar
          }
        }
      }
    },
    validators: {
      title(value) {
        return Validator.value(value).required().minLength(3)
      },
      author(value) {
        return Validator.value(value).minLength(3)
      },
      category(value) {
        return Validator.value(value).required().in(['Igreja', 'Fátima', 'Fé', 'Poemas', 'Entrevistas', 'Livros', 'Política', 'Opinião'])
      },
      section(value) {
        return Validator.value(value).required().in(['main', 'collab'])
      },
      edition(value) {
        return Validator.value(value).required().integer()
      },
      content(value) {
        return Validator.value(value).required().minLength(10)
      }
    },
    methods: {
      clear() {
        this.title = ''
        this.category = 'Igreja'
        this.content = ''
        this.section = 'main'
        this.edition = ''
        this.author = ''
        return this.validation.reset()
      },
      create() {
        
        // Block form
        this.formLoading = true

        this.$validate().then(success => {

          if(success) {

            this.formLoading = false
        
            let formData = {
              title: this.title,
              category: this.category,
              edition: this.edition,
              text: this.content,
              section: this.section,
              author: this.author,
              csrf_name: this.getToken.csrf_name,
              csrf_value: this.getToken.csrf_value
            }

            this.$http.post('/articles/create', formData).then(response => {

              let data = response.data

              // Update Token in State
              this.$store.commit('changeToken', data.token)

              if(data.errors) {

                this.formLoading = false

                return this.$store.commit('addNotification', {
                  type: 'error',
                  message: data.errors[0],
                  autoClear: false
                });

              } else {

                this.formLoading = false

                // Clear Form
                this.clear()

                // Add message
                return this.$store.commit('addNotification', {
                  type: 'success',
                  message: data.message,
                  autoClear: true
                })

              }

            }, error => {

              // Update Token in State
              this.$store.commit('changeToken', error.token)

              this.formLoading = false

              return this.$store.commit('addNotification', {
                type: 'error',
                message: error.message,
                autoClear: false
              })

            })

          }

          return this.formLoading = false

        }).catch(error => {

          this.formLoading = false
        
          return this.$store.commit('addNotification', {
            type: 'error',
            message: 'Oopss! Alguma coisa correu mal. Por favor tente mais tarde.',
            autoClear: false
          });
        
        })

      }
    }
  }

</script>

<style lang="sass" scoped>

.header
  border-bottom: 5px solid black
  margin-bottom: 40px
  padding-bottom: 20px

  h1
    color: black

@media (max-width: 490px)

  form button
    width: 100%
    display: block
  
  form button[type="submit"]
    margin-bottom: 10px

</style>