<template>
  <div id="article" v-if="!deleted">
    <div class="row">
      <div class="col-xs-12 article">
        <div class="header">
          <a v-bind:href="fullUrl(article.edition)"><h4>Edição {{ article.edition }}</h4></a>
          <div class="button-group manage-buttons" v-if="user && article.user_id == user.id || user && user.role == 'Administrador'">
            <button class="btn btn-primary" v-bind:disabled="formLoading" v-on:click="modal('edit_article', { id: article.id })">Editar!</button>
            <button class="btn btn-danger" v-on:click="deleteArticle(article.id)">Eliminar!</button>
          </div>
        </div>
        <div class="body">
          <div class="title">
            <span class="glyphicon glyphicon-heart like" v-on:click="likeArticle(article.id)" v-if="!user || user && article.user_id != user.id"></span>
            <h1>{{ article.title | decodeHTML }}</h1>
            <p><span class="glyphicon glyphicon-user"></span> {{ article.author | decodeHTML }} | <span class="glyphicon glyphicon-time"></span> {{ article.created_at | readableDate }} | <span class="glyphicon glyphicon-list"></span> {{ article.category | decodeHTML }}</p>
          </div>
          <div class="content" v-bind:class="{ 'give-margin': !user || user && article.user_id != user.id }">
            <div class="ql-editor">
              <span v-html="decodedText"></span>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="social">
            <button class="btn btn-primary" v-on:click="share()">Partilhar!</button>
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-height="34" data-size="large" data-show-faces="false" data-share="false"></div>
          </div>
          <div class="rating">
            <span v-html="setRating(getRating(article))"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 comments">
        <div class="header">
          <h1><span class="glyphicon glyphicon-comment"></span> Comentários</h1>
          <button class="btn btn-default" v-on:click="wantToComment = !wantToComment">Comentar!</button>
        </div>
        <transition name="slideDown">
          <div class="form-container" v-show="wantToComment">
            <form v-on:submit.prevent="commentArticle()">
              <div class="form-group" :class="{'has-error': validation.hasError('comment.name'), 'has-success': validation.isPassed('comment.name')}">
                <label for="name">Nome</label>
                <input type="text" name="name" v-model="comment.name" class="form-control" id="name">
                <span class="help-block">{{ validation.firstError('comment.name') }}</span>
              </div>
              <div class="form-group" :class="{'has-error': validation.hasError('comment.email'), 'has-success': validation.isPassed('comment.email')}">
                <label for="email">Email</label>
                <input type="email" name="email" v-model="comment.email" class="form-control" id="email">
                <span class="help-block">{{ validation.firstError('comment.email') }}</span>
              </div>
              <div class="form-group" :class="{'has-error': validation.hasError('comment.text'), 'has-success': validation.isPassed('comment.text')}">
                <label for="text">Texto</label>
                <textarea class="form-control" name="text" v-model="comment.text" id="text" cols="30" rows="10"></textarea>
                <span class="help-block">{{ validation.firstError('comment.text') }}</span>
              </div>
              <div class="button-group">
                <button type="submit" v-bind:disabled="formLoading" class="btn btn-primary">Comentar!</button>
                <button type="reset" class="btn btn-danger">Limpar!</button>
              </div>
            </form>
          </div>
        </transition>
        <div class="listing">
          <div class="comment" v-if="article.comments.length > 0" v-for="comment in article.comments">
            <div class="media">
              <div class="media-body">
                <h3 class="media-heading">{{ comment.name | decodeHTML }}</h3>
                <small><span class="glyphicon glyphicon-time"></span> Adicionado em {{ comment.created_at | readableDate }}</small>
                <small v-if="user && user.role == 'Administrador'"><span class="separator">&nbsp;&nbsp;|&nbsp;&nbsp;</span><span class="glyphicon glyphicon-envelope"></span> {{ comment.email }}</small>
                <p class="text">{{ comment.text | decodeHTML }}</p>
                <button class="btn btn-danger btn-xs delete-comment" v-if="user && user.role == 'Administrador'" v-bind:disabled="formLoading" v-on:click="deleteComment(comment.id)">Eliminar!</button>
              </div>
            </div>
          </div>
          <p v-if="article.comments.length == 0" class="no-comments"><span class="glyphicon glyphicon-info-sign"></span> Sem Comentários Disponíveis!</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  import S from 'string'
  import moment from 'moment'
  import SimpleVueValidation from 'simple-vue-validator'

  let Validator = SimpleVueValidation.Validator
  
  export default {
    name: 'single-article',
    props: ['article', 'user'],
    created() {
      return this.$store.commit('currentArticle', this.article)
    },
    data() {
      return {
        formLoading: false,
        deleted: false,
        wantToComment: false,
        comment: {
          name: '',
          email: '',
          text: ''
        }
      }
    },
    validators: {
      'comment.name': function(value) {
        return Validator.value(value).required().minLength(3)
      },
      'comment.email': function(value) {
        return Validator.value(value).required().email()
      },
      'comment.text': function(value) {
        return Validator.value(value).required().minLength(10)
      }
    },
    computed: {
      getToken() {
        return this.$store.state.token
      },
      decodedText() {
        return S(this.article.text).decodeHtmlEntities().toString();
      }
    },
    filters: {
      decodeHTML(data) {
        return S(data).decodeHtmlEntities().toString();
      },
      readableDate(date) {
        return moment(date).format("D-MMM-YY HH:mm")
      }
    },
    methods: {
      fullUrl(edition) {
        return "/editions/edition/" + edition
      },
      deleteArticle(id) {

        this.formLoading = true

        let confirmation = prompt("Eliminar Artigo? Escreva 'Sim' para confirmar.")

        if(confirmation == 'Sim') {

          let formData = {
            id: id,
            csrf_name: this.getToken.csrf_name,
            csrf_value: this.getToken.csrf_value 
          }

          this.$http.post("/articles/article/delete", formData).then(response => {

            let data = response.data

            this.$store.commit('changeToken', data.token)

            this.formLoading = false

            if(data.errors) {

              return this.$store.commit('addNotification', {
                type: 'error',
                message: data.errors[0],
                autoClear: false
              });

            } else {

              if(data.status == 200) {

                this.deleted = true

                return this.$store.commit('addNotification', {
                  type: 'success',
                  message: 'Artigo Eliminado!',
                  autoClear: true
                })

              }   

            }

          }, error => {

            this.formLoading = false

            this.$store.commit('changeToken', error.token)

            return this.$store.commit('addNotification', {
              type: 'error',
              message: error.message,
              autoClear: true
            })

          })       

        }

        this.formLoading = false

        return this.$store.commit('addNotification', {
          type: 'info',
          message: 'Acção Cancelada!',
          autoClear: true
        })

      },
      modal(type, data) {
        return this.$store.commit('changeModal', {
          type: type,
          data: data,
          active: true
        })
      },
      clear() {
        this.validation.reset()
        this.comment.name = ''
        this.comment.email = ''
        return this.comment.text = ''
      },
      commentArticle() {

        this.formLoading = true

        this.$validate().then(success => {

          if(success) {

            let formData = {
              name: this.comment.name,
              email: this.comment.email,
              text: this.comment.text,
              article_id: this.article.id,
              csrf_name: this.getToken.csrf_name,
              csrf_value: this.getToken.csrf_value
            }

            this.$http.post('/comments/article/add', formData).then(response => {

              this.formLoading = false

              let data = response.data

              // Update Token in State
              this.$store.commit('changeToken', data.token)

              if(data.errors) {

                return this.$store.commit('addNotification', {
                  type: 'error',
                  message: data.errors[0],
                  autoClear: false
                })
              
              } else {

                this.clear()

                // Update comments state
                this.$store.commit('addArticleComment', data.comment)

                // Add message
                return this.$store.commit('addNotification', {
                  type: 'success',
                  message: data.message,
                  autoClear: true
                })

              }

            }, error => {

              this.formLoading = false

              // Update Token in State
              this.$store.commit('changeToken', error.token)

              return this.$store.commit('addNotification', {
                type: 'error',
                message: error.message,
                autoClear: false
              })

            })
          }

          return this.formLoading = false

        }).catch(error => {

          this.formLoading = false

          return this.$store.commit('addNotification', {
            type: 'error',
            message: 'Oopss! Alguma coisa correu mal. Por favor tente mais tarde.',
            autoClear: false
          })

        })

      },
      deleteComment(id) {

        let confirmation = prompt("Eliminar comentário? Escreva 'Sim' para confirmar.")

        if(confirmation == 'Sim') {

          this.formLoading = true

          if(id.length != 0) {

            let formData = {
              id: id,
              csrf_name: this.getToken.csrf_name,
              csrf_value: this.getToken.csrf_value
            }

            this.$http.post('/comments/article/remove', formData).then(response => {

              this.formLoading = false

              let data = response.data

              // Update Token in State
              this.$store.commit('changeToken', data.token)

              if(data.errors) {
                
                return this.$store.commit('addNotification', {
                  type: 'error',
                  message: data.errors[0],
                  autoClear: false
                })
              
              } else {

                // Update comments state
                this.$store.commit('removeArticleComment', {
                  id: id
                })

                // Add message
                return this.$store.commit('addNotification', {
                  type: 'success',
                  message: data.message,
                  autoClear: true
                })

              }

            }, error => {

              this.formLoading = false

              // Update Token in State
              this.$store.commit('changeToken', error.token)

              return this.$store.commit('addNotification', {
                type: 'error',
                message: error.message,
                autoClear: false
              })

            })

          }

          this.formLoading = false

          return this.$store.commit('addNotification', {
            type: 'error',
            message: 'Oopss! Alguma coisa correu mal. Por favor tente mais tarde.',
            autoClear: false
          })
        }

      },
      getRating(article) {

        if(article.likes.length > 0) {
          
          let ratingsTotal = article.likes.reduce((acc , like) => {
              return acc + like.rating
          }, 0)

          let avg = (ratingsTotal / article.likes.length).toFixed(0)
          let i = 0

          return avg

        } else {
          return 0
        }
      },
      setRating(avg) {
        if(avg == 0) {
          return `<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 1) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 2) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 3) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 4) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 5) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>`
        }
      },
      likeArticle(id) {

        let userInput = prompt("De 1 a 5 como classifica este artigo?")
        let rating = Validator.value(userInput).integer().between(1, 5).required()

        if(rating._messages.length > 0) {
          return this.$store.commit('addNotification', {
            type: 'error',
            message: rating._messages[0],
            autoClear: false
          })
        } else {

          let ratingValue = parseInt(rating._value)

          let formData = {
            id: id,
            rating: ratingValue,
            csrf_name: this.getToken.csrf_name,
            csrf_value: this.getToken.csrf_value
          }

          if(id.length != 0) {

            this.$http.post("/likes/article/like", formData).then(response => {

              let data = response.data

              // Update Token in State
              this.$store.commit('changeToken', data.token)

              if(data.errors) {
                return this.$store.commit('addNotification', {
                  type: 'error',
                  message: data.errors[0],
                  autoClear: false
                })
              } else {

                // Add like to article in State
                this.$store.commit('addArticleLike', data.like)

                return this.$store.commit('addNotification', {
                  type: 'success',
                  message: data.message,
                  autoClear: true
                })
              }

            }, error => {

              return this.$store.commit('addNotification', {
                type: 'error',
                message: error.message,
                autoClear: false
              })

            })

          }

          return this.$store.commit('addNotification', {
            type: 'error',
            message: 'Oopss! Alguma coisa correu mal. Por favor tente mais tarde.',
            autoClear: false
          })

        }

      },
      share() {
        return this.$store.commit('changeModal', {
            type: 'social',
            active: true,
            data: {
              link: '',
              youtube: false
            }
        })
      }
    }
  }

</script>

<style lang="sass" scoped>

  .article
    margin-top: 30px

    @media (max-width: 360px)
      margin-top: 40px

    .like
      position: absolute
      bottom: 0px
      top: auto !important
      right: 0
      font-size: 2rem
      color: red;
      &:hover
        cursor: pointer

      @media (max-width: 360px)
        bottom: -70px
        right: 42%
        font-size: 3rem

    @media (max-width: 460px)
      padding-left: 0 !important
      padding-right: 0 !important

    .header
      display: flex
      justify-content: space-between

      @media (max-width: 460px)
        flex-direction: column

      .manage-buttons
        display: inline-block

        @media (max-width: 460px)
          display: block

          button
            width: 100%
            margin-top: 10px

      a
        background: black
        display: inline
        color: white
        font-size: 1rem
        font-weight: 700
        padding: 8px 20px
        margin: 0
        border-radius: 4px
        line-height: 1.29
        text-transform: uppercase
        transition: all 300ms ease-in-out

        h4
          line-height: 1
          font-size: 1rem

      @media (max-width: 460px)
        text-align: center

        a
          display: block !important

      
    .body
      margin-top: 50px

      .title
        position: relative

        h1
          color: black
          font-size: 3.5rem

          @media (max-width: 460px)
            font-size: 3rem

        h1, p
          margin-bottom: 30px

        @media (max-width: 690px)
          text-align: center

          h1
            margin-bottom: 50px !important

      .give-margin
        @media (max-width: 360px)
          margin-top: 90px

    .footer
      display: flex
      justify-content: space-between
      align-items: center
      margin-top: 50px
      padding: 40px 0
      border-top: 5px solid gainsboro
      border-bottom: 5px solid gainsboro

      @media (max-width: 600px)
        flex-direction: column
        padding: 35px 0 0 0

      .social 
        button
          margin-left: 0px
          margin-right: 10px

        @media (max-width: 600px)
          justify-content: center
          width: 100%

          .btn-primary
            margin-left: -60px !important
            margin-right: 10px !important

      .rating

        @media (max-width: 600px)
          margin: 20px auto

        span
          font-size: 1.5rem

  .comments
    margin-top: 50px

    @media (max-width: 600px)
      margin-top: 20px

    .header
      display: flex
      justify-content: space-between

      @media (max-width: 600px)
        text-align: center
        flex-direction: column

        button
          width: 65%
          margin: 20px auto

      h1
        vertical-align: middle
        color: black

        span
          vertical-align: middle

    .form-container
      border: 5px solid gainsboro;
      padding: 20px
      margin-top: 20px
      z-index: 10000
      background: white

      @media (max-width: 320px)
        padding: 0
        border: 0

      @media (max-width: 600px)
        .button-group
          text-align: center
          
          button:first-child
            width: 49%

          button:last-child
            width: 50%
      
      @media (max-width: 535px)
        .button-group
          button
            width: 100% !important
            margin-bottom: 10px

    .listing
      margin-top: 40px

      @media (max-width: 600px)
        margin-top: 20px

      .comment
        padding: 20px
        margin-bottom: 40px
        background: aliceblue
        color: black

        @media (max-width: 600px)

          h4
            margin-bottom: 20px

          .separator
            display: none

          small
            display: block
            margin-top: 5px

        .text
          margin: 10px 0 10px 0

          @media (max-width: 600px)
            margin-top: 20px

      .no-comments
        font-weight: 700

        @media (max-width: 600px)
          text-align: center

</style>