<template>
  <div id="archive">
    <div class="row">
      <div class="col-xs-12 header">
        <h1>Arquivo</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 listing" v-if="archive">
        <div class="item col-xs-12 col-sm-4" v-for="(item, key) in archive" v-bind:key="key">
          <h2>{{ key }}</h2>
          <div class="sub-item" v-for="edition in item" v-bind:key="edition.number">
            <button class="btn btn-primary" v-on:click="load(edition.year, edition.number)">Nº {{ edition.number }} | {{ edition.monthSpan }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>  
</template>

<script>

export default {
  name: 'archive',
  data() {
    return {
      archive: {
        2001: [
          { number: 140, monthSpan: 'Jan. - Mar.', year: 2001 },
          { number: 141, monthSpan: 'Abr. - Jun.', year: 2001 },
          { number: 142, monthSpan: 'Jul. - Set.', year: 2001 },
          { number: 143, monthSpan: 'Out. - Dez.', year: 2001 },
        ],
        2002: [
          { number: 144, monthSpan: 'Jan. - Mar.', year: 2002 },
          { number: 145, monthSpan: 'Abr. - Jun.', year: 2002 },
          { number: 146, monthSpan: 'Jul. - Set.', year: 2002 },
          { number: 147, monthSpan: 'Out. - Dez.', year: 2002 },
        ],
        2003: [
          { number: 148, monthSpan: 'Jan. - Mar.', year: 2003 },
          { number: 149, monthSpan: 'Abr. - Jun.', year: 2003 },
          { number: 150, monthSpan: 'Jul. - Set.', year: 2003 },
          { number: 151, monthSpan: 'Out. - Dez.', year: 2003 },
        ],
        2004: [
          { number: 152, monthSpan: 'Jan. - Mar.', year: 2004 },
          { number: 153, monthSpan: 'Abr. - Jun.', year: 2004 },
          { number: 154, monthSpan: 'Jul. - Set.', year: 2004 },
          { number: 155, monthSpan: 'Out. - Dez.', year: 2004 },
        ],
        2005: [
          { number: 156, monthSpan: 'Jan. - Mar.', year: 2005 },
          { number: 157, monthSpan: 'Abr. - Jun.', year: 2005 },
          { number: 158, monthSpan: 'Jul. - Set.', year: 2005 },
          { number: 159, monthSpan: 'Out. - Dez.', year: 2005 },
        ],
        2006: [
          { number: 160, monthSpan: 'Jan. - Mar.', year: 2006 },
          { number: 161, monthSpan: 'Abr. - Jun.', year: 2006 },
          { number: 162, monthSpan: 'Jul. - Set.', year: 2006 },
          { number: 163, monthSpan: 'Out. - Dez.', year: 2006 },
        ],
        2007: [
          { number: 164, monthSpan: 'Jan. - Mar.', year: 2007 },
          { number: 165, monthSpan: 'Abr. - Jun.', year: 2007 },
          { number: 166, monthSpan: 'Jul. - Set.', year: 2007 },
          { number: 167, monthSpan: 'Out. - Dez.', year: 2007 },
        ],
        2008: [
          { number: 168, monthSpan: 'Jan. - Mar.', year: 2008 },
          { number: 169, monthSpan: 'Abr. - Jun.', year: 2008 },
          { number: 170, monthSpan: 'Jul. - Set.', year: 2008 },
          { number: 171, monthSpan: 'Out. - Dez.', year: 2008 },
        ],
        2009: [
          { number: 172, monthSpan: 'Jan. - Mar.', year: 2009 },
          { number: 173, monthSpan: 'Abr. - Jun.', year: 2009 },
          { number: 174, monthSpan: 'Jul. - Set.', year: 2009 },
          { number: 175, monthSpan: 'Out. - Dez.', year: 2009 },
        ],
        2010: [
          { number: 176, monthSpan: 'Jan. - Mar.', year: 2010 },
          { number: 177, monthSpan: 'Abr. - Jun.', year: 2010 },
          { number: 178, monthSpan: 'Jul. - Set.', year: 2010 },
          { number: 179, monthSpan: 'Out. - Dez.', year: 2010 },
        ],
        2011: [
          { number: 180, monthSpan: 'Jan. - Mar.', year: 2011 },
        ]
      }
    }
  },
  computed: {
    getToken() {
      return this.$store.state.token
    }
  },
  methods: {
    load(year, number) {

      this.$store.commit('changeLoading', true)

      let formData = {
        csrf_name: this.getToken.csrf_name,
        csrf_value: this.getToken.csrf_value
      }

      this.$http.post("/archive/api/" + year + "/" + number + "", formData).then(response => {

        let data = response.data

        // Update Token in State
        this.$store.commit('changeToken', data.token)

        this.$store.commit('changeModal', {
            type: 'archive',
            active: true,
            data: {
              link: '',
              youtube: false,
              archive: {
                htmlBody: data.file
              }
            }
        })

        return this.$store.commit('changeLoading', false)

      }, error => {

        return this.$store.commit('addNotification', {
          type: 'error',
          message: 'Ocorreu um erro! Tente mais tarde.',
          autoClear: false
        })

      })

    }
  }
}

</script>
