<template>
  <div id="error">
    <div class="row">
      <div class="col-xs-12 header">
        <h1><span class="glyphicon glyphicon-warning-sign"></span> Erro!</h1>
      </div>
      <div class="col-xs-12">
        <div class="content">
          <div class="image-container">
            <img src="/assets/images/error.gif" alt="error">
          </div>
          <div class="explanations">
            <h3>O que pode ter corrido mal:</h3>
            <ul>
              <li>Erro 404 - Esta Página Não Existe.</li>
              <li>Erro 500 - Erro do Servidor. Tente mais tarde.</li>
              <li>Erro 403 - Acesso Proibido.</li>
              <li>Erro 401 - Acesso Não Autorizado.</li>
            </ul>
            <div class="col-xs-12 button-container">
              <button class="btn btn-default" v-on:click="goBack()">Voltar!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  
  export default {
    name: 'error',
    methods: {
      goBack() {
        return window.history.back()
      }
    }
  }

</script>

<style lang="sass" scoped>

  .header
    border-bottom: 5px solid black
    margin-bottom: 40px
    padding-bottom: 20px

    span
      vertical-align: bottom

    h1
      color: black
      margin: 0

    @media (max-width: 768px)
      text-align: center

    @media (max-width: 430px)
      padding-bottom: 20px !important

  .button-container
    margin-top: 20px

    @media (max-width: 768px)
      text-align: center

  .content
    display: flex
    margin-bottom: 40px

    .image-container
      flex: 1
        
      img
        max-width: 100%
        width: 100%

    .explanations
      flex: 1
      align-self: center
      text-align: center
      color: black

      h3
        text-decoration: underline

      ul
        list-style-type: none
        padding-left: 10px
        margin-top: 25px

        li
          font-size: 1.1rem
          font-weight: bold
        
        @media (max-width: 768px)
          width: 80%
          margin: 20px auto
          text-align: left

          li
            font-size: 1rem
      
      @media (max-width: 980px)
        padding-left: 20px

      @media (max-width: 768px)
        margin-top: 20px
        text-align: center
        padding-left: 0

    @media (max-width: 768px)
      flex-direction: column

</style>