<template>
  <div id="home">
    <div class="row content-container">
      <div class="col-xs-12 col-sm-3 side-left" v-if="data.articles.collab.length > 0">
        <h1 class="anchor">Artigos de Colaboração</h1>
        <div class="collab" v-for="article in data.articles.collab">
          <div class="header">
            <a v-bind:href="fullUrl('article', article.slug)"><h3>{{ article.title | decodeHTML }}</h3></a>
            <div class="author-date">
              <small>{{ article.author | decodeHTML }} | {{ article.created_at | readableDate }}</small>
            </div>
          </div>
          <div class="body">
            <div class="ql-editor">
              <span v-html="decodedAndLimitedText(article.text, 200)"></span>
            </div>
          </div>
          <div class="footer">
            <a class="btn btn-xs btn-default" v-bind:href="fullUrl('article', article.slug)" role="button">Artigo Completo!</a>
          </div>
        </div>
        <div class="more-collab">
          <a href="/editions/index"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </div>
      </div>
      
      <div class="col-xs-12 main" v-bind:class="{ 'col-sm-6': data.articles.collab.length > 0, 'col-sm-9 no-border-left': data.articles.collab.length == 0 }">
        <div class="article-container" v-if="data.articles.main.length > 0">
          <div class="article" v-for="article in data.articles.main">
            <div class="header">
              <a v-bind:href="fullUrl('edition', article.edition)"><h3>Edição - {{ article.edition }}</h3></a>
              <span v-html="setRating(getRating(article))"></span>
            </div>
            <div class="title">
              <a v-bind:href="fullUrl('article', article.slug)"><h1>{{ article.title | decodeHTML }}</h1></a>
              <p><span class="glyphicon glyphicon-pencil"></span> {{ article.author | decodeHTML }} <strong>|</strong> <span class="glyphicon glyphicon-time"></span> {{ article.created_at | readableDate }}</p>
            </div>
            <div class="body">
              <div class="ql-editor">
                <span v-html="decodedAndLimitedText(article.text, 1000)"></span>
              </div>
              <div class="article-link">
                <a class="btn btn-default" v-bind:href="fullUrl('article', article.slug)" role="button">Artigo Completo!</a>
              </div>
            </div>
          </div>
          <div class="more-collab">
            <a href="/editions/index"><span class="glyphicon glyphicon-plus-sign"></span></a>
          </div>
        </div>
        <h3 class="no-content" v-if="data.articles.main.length == 0"><span class="glyphicon glyphicon-info-sign"></span> Sem Conteúdo Disponível!</h3>
      </div>
      
      <div class="col-xs-12 col-sm-3 side-right">
        <div class="books">
          <h1 class="anchor">Livros</h1>
          <div class="books-container" v-if="data.books.length  > 0">
            <div class="book" v-for="book in data.books">
              <a v-bind:href="fullUrl('book', book.slug)"><img v-bind:src="book.image" alt="capa livro"></a>
              <span class="price">€ {{ book.price | currency }}</span>
            </div>
            <div class="more-collab">
              <a href="/books/index"><span class="glyphicon glyphicon-plus-sign"></span></a>
            </div>
          </div>
          <p class="no-books" v-if="data.books.length == 0"><span class="glyphicon glyphicon-info-sign"></span> Sem Livros Disponíveis!</p>
        </div>
        <div class="videos">
          <h1 class="anchor">Vídeos</h1>
          <div class="videos-container" v-if="data.videos.length > 0">
            <div class="video" v-for="video in data.videos">
              <h4>{{ video.title | decodeHTML }}</h4>
              <div class="video-box embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" frameborder="0" v-bind:src="video.link" allowfullscreen></iframe>
              </div>
            </div>
            <div class="more-collab">
              <a href="/videos/all"><span class="glyphicon glyphicon-plus-sign"></span></a>
            </div>
          </div>
          <p class="no-videos" v-if="data.videos.length == 0"><span class="glyphicon glyphicon-info-sign"></span> Sem Vídeos Disponíveis!</p>
        </div>
        <div class="counter">
          <h1 class="counter-title"><span class="glyphicon glyphicon-globe"></span> Visitantes</h1>
          <h1 class="counter-total" v-html="getCounter"></h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  
  import S from 'string'
  import moment from 'moment'

  export default {
    name: 'home',
    props: ['data'],
    computed: {
      getCounter() {
        return this.$store.state.visitors
      }
    },
    filters: {
      decodeHTML(data) {
        return S(data).decodeHtmlEntities().toString();
      },
      readableDate(date) {
        return moment(date).format("D-MMM-YY HH:mm")
      },
      currency(price) {
        return price.toFixed(2)
      }
    },
    methods: {
      decodedAndLimitedText(text, limit) {
        let decoded = S(text).decodeHtmlEntities().toString()

        return decoded.substring(0, limit) + "..."
      },
      fullUrl(type, slug) {
        if(type == 'edition') return "/editions/edition/" + slug
        if(type == 'article') return "/articles/article/" + slug
        if(type == 'book') return "/books/book/" + slug
      },
      getRating(article) {

        if(article.likes.length > 0) {
          
          let ratingsTotal = article.likes.reduce((acc , like) => {
              return acc + like.rating
          }, 0)

          let avg = (ratingsTotal / article.likes.length).toFixed(0)
          let i = 0

          return avg

        } else {
          return 0
        }
      },
      setRating(avg) {
        if(avg == 0) {
          return `<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 1) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 2) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 3) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 4) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 5) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>`
        }
      },
    }
  }

</script>

<style lang="sass" scoped>

</style>