<template>
  <div>
    <transition name="fade">
      <div id="loading" v-if="loading">
        <div class="loader"></div>
        <h3>A Carregar...</h3>
      </div>  
    </transition>  
  </div>
</template>

<script>
  
  export default {
    name: 'loading',
    computed: {
      loading() {
        return this.$store.state.loading
      }
    }
  }

</script>

<style lang="sass" scoped>

  #loading
    display: flex
    flex-direction: column
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    justify-content: center
    align-items: center
    background: #000000
    background: linear-gradient(to bottom, #434343, #000000)
    z-index: 10000000000

    .loader
      width: 150px
      height: 150px
      background: url("/assets/images/ripple-loader.svg")

    h3
      color: white

</style>