<template>
  <div>
    <transition name="fade">

      <!-- Recover Password Modal -->
      <div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" v-if="modal.active && modal.type == 'forgot_password'">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" v-on:click="close()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Recuperar Conta</h4>
            </div>
            <div class="modal-body">
              <div class="form-group" :class="{'has-error': validation.hasError('usernameOrEmail'), 'has-success': validation.isPassed('usernameOrEmail')}">
                <input type="text" v-model="usernameOrEmail" name="usernameOrEmail" class="form-control" placeholder="Nome de Utilizador ou Email">
                <span class="help-block">{{ validation.firstError('usernameOrEmail') }}</span>
              </div>  
            </div>
            <div class="modal-footer center">
              <button type="button" class="btn btn-primary" v-bind:disabled="formLoading" v-on:click="recover_password()">Recuperar!</button>
              <div class="message-container" v-if="message.body">
                <p v-bind:class="{ 'text-danger': message.type == 'error', 'text-success': message.type == 'success' }">{{ message.body }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Recover Modal -->

      <!-- Edit Profile Modal -->
      <div class="modal bs-example-modal-md" tabindex="-1" role="dialog" v-if="modal.active && modal.type == 'edit_profile'">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" v-on:click="close()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Editar Perfil</h4>
            </div>
            <div class="modal-body">
              <form v-on:submit.prevent="edit_profile()">
                <div class="form-group">
                  <label for="edit-options">Escolher Opção</label>
                  <select class="form-control" v-model="editProfile.options" id="edit-options">
                    <option value="">Opções</option>
                    <option value="username">Nome de Utilizador</option>
                    <option value="email">Email</option>
                    <option value="password">Palavra-Passe</option>
                  </select>
                </div>
                <div class="form-group" v-if="editProfile.options == 'username'">
                  <label for="username">Novo nome de utilizador</label>
                  <input type="text" class="form-control" id="username" v-model="editProfile.username">
                </div>
                <div class="form-group" v-if="editProfile.options == 'email'">
                  <label for="email">Novo email</label>
                  <input type="email" class="form-control" id="email" v-model="editProfile.email">
                </div>
                <div class="form-group" v-if="editProfile.options == 'password'">
                  <label for="password">Nova palavra-passe</label>
                  <input type="password" class="form-control" id="password" v-model="editProfile.password">
                </div>
                <div class="form-group" v-if="editProfile.options == 'password'">
                  <label for="password_confirmation">Confirme a nova palavra-passe</label>
                  <input type="password" class="form-control" id="password_confirmation" v-model="editProfile.password_confirmation">
                </div>
              </form>
            </div>
            <div class="modal-footer center">
              <button type="button" class="btn btn-primary" v-bind:disabled="formLoading" v-on:click="edit_profile()">Guardar!</button>
              <div class="message-container" v-if="message.body">
                <p v-bind:class="{ 'text-danger': message.type == 'error', 'text-success': message.type == 'success' }">{{ message.body }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Edit Profile Modal -->

      <!-- Edit Article Modal -->
      <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" v-if="modal.active && modal.type == 'edit_article'">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" v-on:click="close()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Editar Artigo</h4>
            </div>
            <div class="modal-body">
              <form v-on:submit.prevent="edit_article(modal.data.id)">
                <div class="form-group">
                  <label for="edit-options">Escolher Opção</label>
                  <select class="form-control" v-model="editArticle.options" id="edit-options">
                    <option value="">Opções</option>
                    <option value="title">Título</option>
                    <option value="edition">Edição</option>
                    <option value="category">Categoria</option>
                    <option value="text">Texto</option>
                    <option value="section">Secção</option>
                    <option value="author">Autor</option>
                  </select>
                </div>
                <div class="form-group" v-if="editArticle.options == 'title'">
                  <label for="title">Novo Título</label>
                  <input type="text" class="form-control" id="title" v-model="editArticle.title">
                </div>
                <div class="form-group" v-if="editArticle.options == 'edition'">
                  <label for="edition">Nova Edição</label>
                  <input type="edition" class="form-control" id="edition" v-model="editArticle.edition">
                </div>
                <div class="form-group" v-if="editArticle.options == 'author'">
                  <label for="author">Novo Autor</label>
                  <input type="author" class="form-control" id="author" v-model="editArticle.author">
                </div>
                <div class="form-group" v-if="editArticle.options == 'section'">
                  <label for="section">Nova Secção</label>
                  <select class="form-control" name="section" id="section" v-model="editArticle.section">
                    <option value="main">Principal</option>
                    <option value="collab">Colaboração</option>
                  </select>
                </div>
                <div class="form-group" v-if="editArticle.options == 'category'">
                  <label for="category">Nova categoria</label>
                  <select class="form-control" name="category" id="category" v-model="editArticle.category">
                    <option value="Igreja">Igreja</option>
                    <option value="Fátima">Fátima</option>
                    <option value="Poemas">Poemas</option>
                    <option value="Entrevistas">Entrevistas</option>
                    <option value="Livros">Livros</option>
                    <option value="Política">Política</option>
                    <option value="Fé">Fé</option>
                    <option value="Opinião">Opinião</option>
                  </select>
                </div>
                <div class="form-group" v-if="editArticle.options == 'text'">
                  <label for="text">Novo texto</label>
                  <quill-editor v-model="content"
                                ref="myQuillEditor"
                                :options="editorOption">
                  </quill-editor>
                </div>
              </form>
            </div>
            <div class="modal-footer center">
              <button type="button" class="btn btn-primary" v-bind:disabled="formLoading" v-on:click="edit_article(modal.data.id)">Guardar!</button>
              <div class="message-container" v-if="message.body">
                <p v-bind:class="{ 'text-danger': message.type == 'error', 'text-success': message.type == 'success' }">{{ message.body }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Edit Article Modal -->

      <!-- Edit Book Modal -->
      <div class="modal bs-example-modal-md" tabindex="-1" role="dialog" v-if="modal.active && modal.type == 'edit_book'">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" v-on:click="close()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Editar Livro</h4>
            </div>
            <div class="modal-body">
              <form v-on:submit.prevent="edit_book(modal.data.id)">
                <div class="form-group">
                  <label for="edit-options">Escolher Opção</label>
                  <select class="form-control" v-model="editBook.options" id="edit-options">
                    <option value="">Opções</option>
                    <option value="title">Título</option>
                    <option value="author">Autor</option>
                    <option value="image">Capa</option>
                    <option value="summary">Resumo</option>
                    <option value="price">Preço</option>
                    <option value="buy">Link da Editora</option>
                  </select>
                </div>
                <div class="form-group" v-if="editBook.options == 'title'">
                  <label for="title">Novo Título</label>
                  <input type="text" class="form-control" id="title" v-model="editBook.title">
                </div>
                <div class="form-group" v-if="editBook.options == 'author'">
                  <label for="author">Novo Autor</label>
                  <input type="text" class="form-control" id="author" v-model="editBook.author">
                </div>
                <div class="form-group" v-if="editBook.options == 'price'">
                  <label for="price">Novo Preço</label>
                  <input type="text" class="form-control" id="price" v-model="editBook.price">
                </div>
                <div class="form-group" v-if="editBook.options == 'image'">
                  <label for="image">Nova Imagem</label>
                  <input type="url" class="form-control" id="image" v-model="editBook.image">
                </div>
                <div class="form-group" v-if="editBook.options == 'summary'">
                  <label for="summary">Novo Resumo</label>
                  <textarea class="form-control" v-model="editBook.summary" id="summary" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group" v-if="editBook.options == 'buy'">
                  <label for="buy">Novo Link Da Editora</label>
                  <input type="url" class="form-control" id="buy" v-model="editBook.buy">
                </div>
              </form>
            </div>
            <div class="modal-footer center">
              <button type="button" class="btn btn-primary" v-bind:disabled="formLoading" v-on:click="edit_book(modal.data.id)">Guardar!</button>
              <div class="message-container" v-if="message.body">
                <p v-bind:class="{ 'text-danger': message.type == 'error', 'text-success': message.type == 'success' }">{{ message.body }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Book Modal -->

      <!-- Edit Video Modal -->
      <div class="modal bs-example-modal-md" tabindex="-1" role="dialog" v-if="modal.active && modal.type == 'edit_video'">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" v-on:click="close()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Editar Vídeo</h4>
            </div>
            <div class="modal-body">
              <form v-on:submit.prevent="edit_video(modal.data.id)">
                <div class="form-group">
                  <label for="edit-options">Escolher Opção</label>
                  <select class="form-control" v-model="editVideo.options" id="edit-options">
                    <option value="">Opções</option>
                    <option value="title">Título</option>
                    <option value="link">Link</option>
                  </select>
                </div>
                <div class="form-group" v-if="editVideo.options == 'title'">
                  <label for="title">Novo Título</label>
                  <input type="text" class="form-control" id="title" v-model="editVideo.title">
                </div>
                <div class="form-group" v-if="editVideo.options == 'link'">
                  <label for="link">Novo Link</label>
                  <input type="text" class="form-control" id="link" v-model="editVideo.link">
                </div>
              </form>
            </div>
            <div class="modal-footer center">
              <button type="button" class="btn btn-primary" v-bind:disabled="formLoading" v-on:click="edit_video(modal.data.id)">Guardar!</button>
              <div class="message-container" v-if="message.body">
                <p v-bind:class="{ 'text-danger': message.type == 'error', 'text-success': message.type == 'success' }">{{ message.body }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Video Modal -->

      <!-- Social Modal -->
      <div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" v-if="modal.active && modal.type == 'social'">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" v-on:click="close()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Partilhar!</h4>
            </div>
            <div class="modal-body">
              <div class="grouper">
                <facebook :link="modal.data.link" :youtube="modal.data.youtube"></facebook>
                <twitter :link="modal.data.link" :youtube="modal.data.youtube"></twitter>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Social Modal -->

      <!-- Archive Modal -->
      <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" v-if="modal.active && modal.type == 'archive'">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" v-on:click="close()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Arquivo</h4>
            </div>
            <div class="modal-body">
              <div v-html="modal.data.archive.htmlBody"></div>
            </div>
            <div class="modal-footer center">
              <button class="btn btn-default" v-on:click="close()">Fechar!</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Archive Modal  -->

    </transition>
  </div>  
</template>

<script>

  import SimpleVueValidation from 'simple-vue-validator'
  import Facebook from './social/Facebook.vue'
  import Twitter from './social/Twitter.vue'
  import toolbar from '../toolbar'

  let Validator = SimpleVueValidation.Validator
  
  export default {
    name: "modal",
    components: {
      Facebook, Twitter
    },
    data() {
      return {
        usernameOrEmail: '',
				formLoading: false,
        content: '',
        editorOption: {
          placeholder: 'Escreva o artigo e formate-o usando a barra de opções acima...',
          modules: {
            toolbar: toolbar
          }
        },
        message: {
          type: '',
          body: ''
        },
        editProfile: {
          options: '',
          username: '',
          email: '',
          password: ''
        },
        editArticle: {
          options: 'title',
          title: '',
          edition: '',
          category: '',
          text: '',
          section: '',
          author: ''
        },
        editBook: {
          options: 'title',
          title: '',
          author: '',
          image: '',
          summary: '',
          price: '',
          buy: ''
        },
        editVideo: {
          options: 'title',
          title: '',
          link: '',
        },
      }
    },
    computed: {
      modal() {
        return this.$store.state.modal
      },
      getToken() {
        return this.$store.state.token
      }
    },
    validators: {
      usernameOrEmail(value) {
        return Validator.value(value).required()
      }
    },
    methods: {
      close() {

        this.clear()

        return this.$store.commit("changeModal", {
          active: false,
          type: ''
        })
      },
      recover_password() {

				this.formLoading = true

				this.$validate().then(success => {

					if(success) {

						let formData = {
							usernameOrEmail: this.usernameOrEmail,
							csrf_name: this.getToken.csrf_name,
							csrf_value: this.getToken.csrf_value
						}

						this.$http.post("/users/recover", formData).then(response => {

              this.formLoading = false

							let data = response.data

							this.$store.commit('changeToken', data.token)

							if(data.errors) {

								return this.message = {
									type: "error",
									body: data.errors[0]
								}

							} else {

                this.clear()

								return this.message = {
									type: "success",
									body: "Verifique o seu email!"
								}

							}
						
						}, error => {

              this.formLoading = false

							return this.message = {
								type: "error",
								body: error.message
							}

            })

					}

				})

        return this.formLoading = false

      },
      clear() {
        this.editProfile = {
          options: '',
          username: '',
          email: '',
          password: '',
          password_confirmation: ''
        }

        this.editArticle = {
          options: 'title',
          title: '',
          edition: '',
          category: '',
          section: '',
          author: ''
        }

        this.editBook = {
          options: 'title',
          title: '',
          author: '',
          image: '',
          summary: '',
          price: ''
        }

        this.editVideo = {
          options: 'title',
          title: '',
          link: '',
        }

        this.message = {
          type: '',
          body: ''
        }

        this.content = ''

        this.validation.reset()
      },
      edit_profile() {

        this.formLoading = true

        if(this.editProfile.options.length == 0) {

          this.formLoading = false

          this.clear()

          return this.message = {
            type: 'error',
            body: 'Escolha uma das opções disponíveis!'
          }

        } else if(this.editProfile.options == 'username' && this.editProfile.username.length > 0 || this.editProfile.options == 'email' && this.editProfile.email.length > 0 || this.editProfile.options == 'password' && this.editProfile.password.length > 0) {

          if(this.editProfile.password.length > 0) {

            if(this.editProfile.password != this.editProfile.password_confirmation) {

              this.formLoading = false

              return this.message = {
                type: 'error',
                body: 'As palavras-passe não combinam!'
              }

            }

          }

          this.formLoading = false

          let formData = {
            username: this.editProfile.username,
            email: this.editProfile.email,
            password: this.editProfile.password,
            csrf_name: this.getToken.csrf_name,
            csrf_value: this.getToken.csrf_value
          }

          // Update user info
          this.$http.post("/users/profile/edit", formData).then(response => {

            let data = response.data

            this.$store.commit("changeToken", data.token)

            if(data.errors) {

              return this.message = {
                type: 'error',
                body: data.errors[0]
              }

            }

            this.$store.commit('changeUser', data.user)

            this.clear()

            return this.message = {
              type: 'success',
              body: data.message
            }

          }, error => {

            this.clear()

            return this.message = {
              type: 'error',
              body: 'Oops! Alguma coisa correu mal.'
            }

          })

        } else {

          this.formLoading = false

          return this.message = {
            type: 'error',
            body: 'Tem de escrever algo para editar!'
          }

        }
      },
      edit_article(id) {

        this.formLoading = true

        if(this.editArticle.options == 'title' && this.editArticle.title.length > 0 || this.editArticle.options == 'edition' && this.editArticle.edition.length > 0 || this.editArticle.options == 'category' && this.editArticle.category.length > 0 || this.editArticle.options == 'text' && this.content.length > 0 || this.editArticle.options == 'section' && this.editArticle.section.length > 0 || this.editArticle.options == 'author' && this.editArticle.author.length > 0) {

          let formData = {
            id: id,
            title: this.editArticle.title,
            edition: this.editArticle.edition,
            category: this.editArticle.category,
            section: this.editArticle.section,
            author: this.editArticle.author,
            text: this.content,
            csrf_name: this.getToken.csrf_name,
            csrf_value: this.getToken.csrf_value
          }

          // Update user info
          this.$http.post("/articles/article/edit", formData).then(response => {

            let data = response.data

            this.$store.commit("changeToken", data.token)

            if(data.errors) {

              return this.message = {
                type: 'error',
                body: data.errors[0]
              }

            }

            this.clear()

            this.formLoading = false

            this.$store.commit('updateArticle', {
              field: data.field,
              value: data.value,
              slug: data.slug,
              id: data.id
            })

            return this.message = {
              type: 'success',
              body: data.message
            }

          }, error => {

            this.clear()

            this.formLoading = false

            return this.message = {
              type: 'error',
              body: 'Oops! Alguma coisa correu mal.'
            }

          })

        }

        this.message = {
          type: 'error',
          body: 'Preencha todos os campos!'
        }

        return this.formLoading = false

      },
      edit_book(id) {

        this.formLoading = true

        if(this.editBook.options == 'title' && this.editBook.title.length > 0 || this.editBook.options == 'author' && this.editBook.author.length > 0 || this.editBook.options == 'image' && this.editBook.image.length > 0 || this.editBook.options == 'summary' && this.editBook.summary.length > 0 || this.editBook.options == 'price' && this.editBook.price.length > 0 || this.editBook.options == 'buy' && this.editBook.buy.length > 0) {

          let formData = {
            id: id,
            title: this.editBook.title,
            author: this.editBook.author,
            image: this.editBook.image,
            summary: this.editBook.summary,
            price: this.editBook.price,
            buy: this.editBook.buy,
            csrf_name: this.getToken.csrf_name,
            csrf_value: this.getToken.csrf_value
          }

          // Update Book info
          this.$http.post("/books/book/edit", formData).then(response => {

            let data = response.data

            this.$store.commit("changeToken", data.token)

            if(data.errors) {

              return this.message = {
                type: 'error',
                body: data.errors[0]
              }

            }

            this.clear()

            this.formLoading = false

            this.$store.commit('updateBook', {
              field: data.field,
              value: data.value,
              slug: data.slug,
              id: data.id
            })

            return this.message = {
              type: 'success',
              body: data.message
            }

          }, error => {

            this.clear()

            this.formLoading = false

            return this.message = {
              type: 'error',
              body: 'Oops! Alguma coisa correu mal.'
            }

          })

        }

        this.message = {
          type: 'error',
          body: 'Preencha todos os campos!'
        }

        return this.formLoading = false

      },
      edit_video(id) {

        this.formLoading = true

        if(this.editVideo.options == 'title' && this.editVideo.title.length > 0 || this.editVideo.options == 'link' && this.editVideo.link.length > 0) {

          let formData = {
            id: id,
            title: this.editVideo.title,
            link: this.editVideo.link,
            csrf_name: this.getToken.csrf_name,
            csrf_value: this.getToken.csrf_value
          }

          // Update Video info
          this.$http.post("/videos/video/edit", formData).then(response => {

            let data = response.data

            this.$store.commit("changeToken", data.token)

            if(data.errors) {

              return this.message = {
                type: 'error',
                body: data.errors[0]
              }

            }

            this.clear()

            this.formLoading = false

            this.$store.commit('updateVideo', {
              field: data.field,
              value: data.value,
              slug: data.slug,
              id: data.id
            })

            return this.message = {
              type: 'success',
              body: data.message
            }

          }, error => {

            this.clear()

            this.formLoading = false

            return this.message = {
              type: 'error',
              body: 'Oops! Alguma coisa correu mal.'
            }

          })

        }

        this.message = {
          type: 'error',
          body: 'Preencha todos os campos!'
        }

        return this.formLoading = false

      }
    }
  }

</script>

<style lang="sass" scoped>
  
  .modal
    display: block
    background: black
    overflow-x: hidden
    overflow-y: auto

    .modal-title
      font-size: 2rem
      color: black
    
    .close
      font-size: 3rem
      color: red
      &:hover
        outline: none
      &:focus
        outline: none


    .center
      text-align: center

    .message-container
      margin-top: 10px

    .modal-header
      border-bottom: 5px solid gainsboro

    .modal-body
      text-align: center

      .grouper div
        display: inline-block
        

</style>