<template>
  <div id="navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home" v-on:click="setPage()">
            <img src="/assets/images/jornal-fraternizar-online.svg" alt="logo">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li v-on:click="setPage()" v-bind:class="{ 'active': getPage == '/home' }"><a href="/home">Home <span class="sr-only">(current)</span></a></li>
            <li v-on:click="setPage()" v-bind:class="{ 'active': getPage == '/editions/index' }"><a href="/editions/index">Edições <span class="sr-only">(current)</span></a></li>
            <li v-on:click="setPage()" v-bind:class="{ 'active': getPage == '/books/index' }"><a href="/books/index">Livros <span class="sr-only">(current)</span></a></li>
            <li v-on:click="setPage()" v-bind:class="{ 'active': getPage == '/videos/all' }"><a href="/videos/all">Vídeos <span class="sr-only">(current)</span></a></li>
            <li class="dropdown" v-bind:class="{ 'active': getPage == '/bio' || getPage == '/archive' }">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mais <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li v-bind:class="{ 'active': getPage == '/bio' }"><a href="/bio">Biografia</a></li>
                <li v-bind:class="{ 'active': getPage == '/archive' }"><a href="/archive">Arquivo</a></li>
              </ul>
            </li>
            <li v-if="!getUser" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Entrar <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="login-form-container">
                  <form v-on:submit.prevent="login()">
                    <div class="form-group" :class="{'has-error': validation.hasError('usernameOrEmail'), 'has-success': validation.isPassed('usernameOrEmail')}">
                      <label for="usernameOrEmail">Nome de Utilizador ou Email</label>
                      <input type="text" v-model="usernameOrEmail" name="usernameOrEmail" class="form-control" id="usernameOrEmail">
                      <span class="help-block">{{ validation.firstError('usernameOrEmail') }}</span>
                    </div>
                    <div class="form-group" :class="{'has-error': validation.hasError('password'), 'has-success': validation.isPassed('password')}">
                      <label for="password">Palavra-Passe</label>
                      <input type="password" v-model="password" name="password" class="form-control" id="password">
                      <span class="help-block">{{ validation.firstError('password') }}</span>
                    </div>
                    <button type="submit" v-bind:disabled="formLoading" class="btn btn-primary">Entrar</button>
                    <button type="reset" class="btn btn-danger">Limpar</button>
                    <a class="forget-link" href="#" v-on:click="modal('forgot_password')">Esqueci-me da palavra-passe!</a>
                    <div class="form-messages" v-if="message.text.length > 0">
                      <p v-bind:class="{ 'text-danger': message.type == 'error', 'text-success': message.type == 'success' }">{{ message.text }}</p>
                    </div>
                  </form>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li v-if="getUser" class="dropdown" v-bind:class="{ 'active': getPage == '/users/profile' || getPage == '/articles/create' || getPage == '/admin/index' }">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ getUser.username }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li v-bind:class="{ 'active': getPage == '/users/profile' }"><a href="/users/profile">Perfil</a></li>
                <li v-bind:class="{ 'active': getPage == '/articles/create' }"><a href="/articles/create">Criar Conteúdo</a></li>
                <li v-if="getUser.role == 'Administrador'" v-bind:class="{ 'active': getPage == '/admin/index' }"><a href="/admin/index">Administração</a></li>
                <li><a href="/users/logout">Terminar Sessão</a></li>
              </ul>
            </li>
            <li class="navbar-text" v-on:click="openSearch()"><span class="glyphicon glyphicon-search search-icon"></span></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</template>

<script>

  import SimpleVueValidation from 'simple-vue-validator'

  let Validator = SimpleVueValidation.Validator
  
  export default {
    name: 'navbar',
    data() {
      return {
        query: '',
        formLoading: false,
        usernameOrEmail: "",
        password: "",
        message: {
          type: '',
          text: ''
        }
      }
    },
    computed: {
      getUser() {
        return this.$store.state.user
      },
      getToken() {
        return this.$store.state.token
      },
      getPage() {
        return this.$store.state.page
      }
    },
    validators: {
      usernameOrEmail(value) {
        return Validator.value(value).required()
      },
      password(value) {
        return Validator.value(value).required()
      }
    },
    methods: {
      openSearch() {

        return this.$store.commit('openSearch', {
          active: true,
          results: {
            articles: [],
            books: [],
            videos: []
          },
          query: ''
        })

      },
      login() {

        this.formLoading = true
        
        this.$validate().then(success => {

          if(success) {

            let formData = {
              usernameOrEmail: this.usernameOrEmail,
              password: this.password,
              csrf_name: this.getToken.csrf_name,
              csrf_value: this.getToken.csrf_value
            }

            this.$http.post('/users/login', formData).then(response => {

              this.formLoading = false

              let data = response.data

              // Update Token in State
              this.$store.commit('changeToken', data.token)

              if(data.errors) {

                return this.message = {
                  type: 'error',
                  text: data.errors[0]
                };

              } else {

                if(data.redirect) {

                  // Set User in the state and redirect
                  this.$store.commit('changeUser', data.user)

                  return location.href = '/users/profile'

                }

              }

            }, error => {

              this.formLoading = false

              // Update Token in State
              this.$store.commit('changeToken', error.token)

              return this.message = {
                type: 'error',
                text: error.message
              };

            })

          } else {

            return this.formLoading = false
          
          }

        }).catch(error => {
        
          this.formLoading = false

          return this.message = {
            type: 'error',
            text: 'Oopss! Alguma coisa correu mal. Por favor tente mais tarde.'
          }
        
        })

      },
      modal(type) {

        return this.$store.commit("changeModal", {
          type: type,
          active: true
        })
      },
      setPage() {
        return localStorage.setItem('page', window.location.pathname)
      }
    }
  }

</script>

<style lang="sass" scoped>

  .login-form-container
    padding: 10px
    width: 300px

    form 
      
      button[type="submit"]
        width: 50%

      button[type="reset"]
        width: 48%

      a
        display: block
        margin-top: 18px

      .form-messages
        margin-top: 10px
        border-top: 1px solid gray

        p
          margin-top: 10px

      @media (max-width: 768px)
        button
          width: 100%
          display: block
          margin-bottom: 10px

    @media (max-width: 768px)
      
      width: 100%

      a
        float: right

      input
          width: 100%

</style>