<template>
  <transition name="slideUp">
    <div class="notificator" v-if="notification">
      <div class="alert" v-bind:class="{ 'alert-success': notification.type == 'success', 'alert-danger': notification.type == 'error', 'alert-info': notification.type == 'info' }" role="alert">
        <span class="glyphicon glyphicon-bell icon" aria-hidden="true"></span>
        <p>{{ notification.message }}</p>
        <button type="button" class="close" v-on:click="removeNotification()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </transition>
</template>

<script>
  
  export default {
    name: 'notificator',
    props: ['notification'],
    methods: {
      removeNotification() {
        return this.$store.commit('removeNotification')
      }
    }
  }

</script>

<style lang="sass" scoped>
</style>