<template>
  <transition name="slide">
    <div class="panel panel-primary search" v-if="search.active">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-search"></span> Procura
          <form v-on:submit.prevent="fetch()" class="search-form" role="search">
            <div class="form-group">
              <input type="text" class="form-control" v-model="query" v-bind:disabled="formLoading" placeholder="Pesquisar!">
            </div>
          </form>
          <span class="glyphicon glyphicon-remove close-search" v-on:click="closeSearch()"></span>
        </h3>  
      </div>
      <div class="panel-body">
        <ul class="row" v-if="search.results.articles.length > 0">
          <h1 class="header">Artigos</h1>
          <li v-for="value in search.results.articles" class="col-xs-12 col-sm-6 col-md-4">
            <div class="article panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title"><a v-bind:href="fullUrl('article', value.slug)">{{ value.title | decodeHTML | textLimiter(20) }}</a></h2>
                <small>Categoria - {{ value.category | decodeHTML }}</small>
                <span class="glyphicon glyphicon-time"></span> {{ value.created_at | readableDate }}
              </div>
              <div class="panel-body">
                <p>
                  <span class="glyphicon glyphicon-heart"></span> {{ value.likes.length }} |
                  <span class="glyphicon glyphicon-comment"></span> {{ value.comments.length }}
                  <span class="pull-right" v-html="setRating(getRating(value))"></span>
                </p>
                <hr>
                <div class="ql-editor">
                  <span v-html="decodedText(value.text, 200)"></span>
                </div>
                <hr>
                <small><span class="glyphicon glyphicon-pencil"></span> {{ value.author | decodeHTML }}</small>
                <small class="pull-right edition"><a v-bind:href="fullUrl('edition', value.edition)">Edição {{ value.edition }}</a></small>
              </div>
            </div>
          </li>
        </ul>
        <ul class="row" v-if="search.results.books.length > 0">
          <h1 class="header">Livros</h1>
          <li v-for="value in search.results.books" class="col-xs-12 col-sm-6 col-md-4">
            <div class="article panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title"><a v-bind:href="fullUrl('book', value.slug)">{{ value.title | decodeHTML | textLimiter(20) }}</a></h2>
                <span class="glyphicon glyphicon-time"></span> {{ value.created_at | readableDate }}
              </div>
              <div class="panel-body">
                <p>
                  <span class="glyphicon glyphicon-heart"></span> {{ value.likes.length }} |
                  <span class="glyphicon glyphicon-comment"></span> {{ value.comments.length }}
                  <span class="pull-right" v-html="setRating(getRating(value))"></span>
                </p>
                <hr>
                <div class="book-main">
                  <div class="image-container">
                    <a v-bind:href="fullUrl('book', value.slug)">
                      <img v-bind:src="value.image" alt="capa livro">
                    </a>
                  </div>
                  <div class="summary-container">
                    <p>{{ value.summary | decodeHTML | textLimiter(200) }}</p>
                  </div>
                </div>
                <hr>
                <small><span class="glyphicon glyphicon-pencil"></span> {{ value.author | decodeHTML }}</small>
                <small class="pull-right edition">€{{ value.price | currency }}</small>
              </div>
            </div>
          </li>
        </ul>
        <ul class="row" v-if="search.results.videos.length > 0">
          <h1 class="header">Vídeos</h1>
          <li v-for="value in search.results.videos" class="col-xs-12 col-sm-6 col-md-4">
            <div class="article panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">{{ value.title | decodeHTML }}</h2>
              </div>
              <div class="panel-body embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" v-bind:src="value.link" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="panel-footer">
                <button class="btn btn-primary share-button" v-on:click="share(value.link)">Partilhar!</button>
              </div>
            </div>
          </li>
        </ul>
        <p class="no-results" v-if="search.results.articles.length == 0 && search.results.books.length == 0 && search.results.videos.length == 0 && search.lastQuery.length > 0">Sem Resultados!</p>
      </div>
    </div>
  </transition>
</template>

<script>
  
  import S from 'string'
  import moment from 'moment'

  export default {
    name: 'search',
    data() {
      return {
        query: '',
        formLoading: false
      }
    },
    computed: {
      search() {
        return this.$store.state.search
      },
      getToken() {
        return this.$store.state.token
      },
    },
    filters: {
      decodeHTML(data) {
        return S(data).decodeHtmlEntities().toString()
      },
      readableDate(date) {
        return moment(date).format("D-MMM-YY HH:mm")
      },
      textLimiter(text, limit) {
        return text = text.substring(0, limit) + '...'
      },
      currency(price) {
        return price.toFixed(2)
      }
    },
    methods: {
      share(link) {
          return this.$store.commit('changeModal', {
              type: 'social',
              active: true,
              data: {
                link: link,
                youtube: true
              }
          })
      },
      decodedText(value, limit) {

        let text = S(value).decodeHtmlEntities().toString()

        return text.substring(0, limit) + '...'
      },
      fetch() {
        
        this.formLoading = true

        let query = this.query
        let lastQuery = this.$store.state.search.lastQuery

        if(query.length > 3) {

          if(lastQuery == query) {
            
            this.$store.commit('showSearch')

            return this.formLoading = false
          
          }

          if(lastQuery !== query) {

            let formData = {
              query: query,
              csrf_name: this.getToken.csrf_name,
              csrf_value: this.getToken.csrf_value
            }

            this.$http.post("/search", formData).then(response => {

              let data = response.data

              // Update Token in State
              this.$store.commit('changeToken', data.token)

              this.formLoading = false

              return this.$store.commit('updateSearch', {
                results: {
                  articles: data.results['articles'],
                  books: data.results['books'],
                  videos: data.results['videos']
                },
                query: query
              })

            }, error => {

              this.formLoading = false

              return this.$store.commit('addNotification', {
                type: 'error',
                message: error.message,
                autoClear: false
              })

            })

          }

        }

        return this.formLoading = false

      },
      closeSearch() {
        return this.$store.commit('closeSearch')
      },
      fullUrl(type, slug) {
        if(type == 'article') return "/articles/article/" + slug

        if(type == 'edition') return "/editions/edition/" + slug

        if(type == 'book') return "/books/book/" + slug
      },
      getRating(article) {

        if(article.likes.length > 0) {
          
          let ratingsTotal = article.likes.reduce((acc , like) => {
              return acc + like.rating
          }, 0)

          let avg = (ratingsTotal / article.likes.length).toFixed(0)
          let i = 0

          return avg

        } else {
          return 0
        }
      },
      setRating(avg) {
        if(avg == 0) {
          return `<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 1) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 2) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 3) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 4) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>`
        }

        if(avg == 5) {
          return `<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>`
        }
      },
    }
  }

</script>

<style lang="sass" scoped>

  .search
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: 0
    border-radius: 0
    overflow-y: scroll
    z-index: 100000000000000

    small
      font-size: 1rem
      font-weight: 700

    h1
      color: black
      text-decoration: underline

    .header
      margin-left: 20px
      text-decoration: underline

    .search-form
      margin-top: 20px
      width: 100%

      input:focus
        border: 3px solid #2196f3

    .panel-heading
      position: relative
      border-radius: 0
      background: black
      border: 0
      padding: 20px
      color: white

      small
        margin-bottom: 5px
        display: block

      .close-search
        position: absolute
        top: 20px
        right: 20px
        &:hover
          cursor: pointer

      .panel-title
        margin-bottom: 5px
        font-size: 25px

    p
      margin: 0

    .no-results
      color: #f43c3c
      font-weight: 700

    .book-main
      display: flex

      .image-container
        flex: 1
        
        img
          width: 100%
          min-width: 125px

      .summary-container
        padding-left: 20px
        flex: 4

    .panel-body ul
      list-style: none
      padding-left: 0

      li
        padding: 20px 20px 0px 20px
        display: inline-block

        .article
          border: 5px solid black

        @media (max-width: 768px)
          height: 100%
          display: block

</style>