<div align="center" style="overflow-x: auto; width: 100%; height: auto;">
  <table cool="" width="601" height="5341" usegridx="" usegridy="" showgridx="" showgridy="" gridx="10" gridy="10" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr height="10">
      <td width="10" height="5340" rowspan="12"></td>
      <td width="420" height="10" colspan="4"></td>
      <td width="170" height="100" colspan="3" rowspan="2"></td>
      <td width="1" height="10"><spacer type="block" width="1" height="10"></spacer></td>
    </tr>
    <tr height="90">
      <td width="420" height="90" colspan="4" align="left" xpos="10" content="" valign="top" csheight="82">
        <div align="left">
          <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Textos do<br>
            </b></font><font size="7" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><b>Jornal Fraternizar<br>
            </b></font></div>
      </td>
      <td width="1" height="90"><spacer type="block" width="1" height="90"></spacer></td>
    </tr>
    <tr height="20">
      <td width="590" height="20" colspan="7" valign="top" align="left" xpos="10">
        <hr width="590" size="3" noshade="">
      </td>
      <td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
    </tr>
    <tr height="40">
      <td width="300" height="40" colspan="3" align="left" xpos="10" content="" valign="top" csheight="30"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Edição nº 140, de Janeiro/Março 2001</b></font></td>
      <td width="180" height="40" colspan="2"></td>
      <td width="100" height="2020" rowspan="2"></td>
      <td width="10" height="5220" rowspan="9"></td>
      <td width="1" height="40"><spacer type="block" width="1" height="40"></spacer></td>
    </tr>
    <tr height="1980">
      <td width="20" height="1980"></td>
      <td width="460" height="1980" colspan="4" align="left" xpos="30" content="" valign="top" csheight="1971">
        <p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">EDITORIAL<br>
          </font></p>
        <p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Na Igreja do terceiro milénio, Pedro dará lugar a Maria Madalena</b><br>
            <br>
            
            No terceiro milénio que ora começa, Pedro dará lugar, na Igreja de Jesus, a Maria Madalena. Sempre deveria ter sido assim, desde o princípio, mas o machismo e o patriarcalismo das sociedades em que começaram por florescer o Cristianismo e a Igreja, não o permitiram. E a verdade é que estes dois mil anos de Cristianismo e de Igreja, que ora terminam, foram, na globalidade, um tremendo desastre, nomeadamente, no que concerne à libertação para a liberdade da Humanidade, que a Igreja sempre deverá, gratuita e libertadoramente, promover.<br>
            
            É certo que houve coisas boas, muitas, até, mas o saldo final não é de modo algum positivo. Basta dizer, por exemplo, que, nestes dois milénios de Cristianismo, as mulheres, praticamente, nunca existiram na Igreja. A não ser como freiras ou religiosas. E, ainda assim, condenadas a ter de viver fechadas dentro de conventos exclusivamente de mulheres. Para mais, quase sempre espiritualmente dirigidas e orientadas por eclesiásticos, também eles, obrigados ao celibato, por isso, homens, na generalidade, marcadamente reprimidos na sua afectividade e na sua sexualidade, quando não, homens doentiamente misóginos.<br>
            
            O terceiro milénio que ora começa irá ser, terá de ser, por isso, o milénio das mulheres, tanto na Igreja, como nas sociedades em geral, em todas as partes do mundo. Melhor, irá ser, terá de ser, o milénio do feminino, finalmente, olhado por toda a gente como o valor primeiro e o mais característico dos seres humanos. Um valor que só agora começa a emergir, mas, felizmente, de forma irreversível. E que começa também a pautar a vida das sociedades em geral. Um valor em relação ao qual as Igrejas cristãs, Igreja católica romana incluída, não podem continuar a manter-se fechadas, por muito mais tempo, sob pena de pura e simplesmente desaparecerem do mapa, ou permanecerem nele, mas apenas como puros objectos de museu.<br>
            
            O feminino é, pois, o novo valor a cultivar, a tempo e fora de tempo, ao longo do terceiro milénio do Cristianismo, tanto na Igreja de Jesus, como nas sociedades em geral. Até agora, o feminino tem estado como que adormecido, na generalidade dos seres humanos, mais nos homens do que nas mulheres. E, mesmo nas mulheres, tem tido pouca visibilidade, uma vez que estas, quando, recentemente, acordaram para as martiriais lutas de emancipação, limitaram-se, num primeiro momento, a imitar e a reproduzir os comportamentos protagonizados pelos homens, os únicos tidos, até agora, como modelos acabados de ser humano.<br>
            
            No princípio, era o feminino. No fim, também. E, enquanto durar a História, há-de igualmente passar a ser, para que a humanidade chegue a ser verdadeiramente humana. O feminino é Deus. E Deus é feminino. Basta dizer que, na língua hebraica, "Ruah", ou Espírito de Deus, é um substantivo feminino. Ou seja, devíamos dizer «a» Espírito, e não «o» Espírito.<br>
            
            Por outro lado, quando o Evangelho de João faz questão de sublinhar que Deus é Espírito e que quer ser adorado em espírito e verdade, está a dizer que Deus é feminino e que quer ser adorado por seres humanos à sua imagem e semelhança, isto é, seres humanos vincadamente femininos, por isso, dotados de entranhas de misericórdia, e não meros corpos, desgraçadamente reféns de moralismos e de legalismos sem coração.<br>
            
            O terceiro milénio acabará por destronar, de vez, o patriarcalismo e o machismo, como doenças infantis da Humanidade em geral e das sociedades em particular. Para que nos tornemos, todas e todos, progressiva e aceleradamente, seres humanos vincadamente femininos. Homens e mulheres femininos. À imagem e semelhança de Deus. Homens e mulheres habitados e conduzidos pela "Ruah", ou Espírito de Deus. Como Jesus de Nazaré, o ser humano por antonomásia, todo ele feminino, tanto no seu ser, como na sua arte de viver entre nós e connosco.<br>
            
            Desejável será, por isso, que a Igreja de Jesus, nomeadamente a Igreja na sua versão histórica mais visível e maioritária, que é a católica romana, acorde para esta realidade e se converta de raiz. Deixe de ser, duma vez por todas, a Igreja patriarcal e machista, acentuadamente eclesiástica e clerical, que foi, ao longo dos dois primeiros milénios do Cristianismo, e passe a ser definitivamente Igreja-comunidade de seres humanos com coração, corpo vivo e organizado de pessoas criadoras, rede de samaritanas e samaritanos que, humildemente, se fazem próximos de todos os outros homens e mulheres, sejam quais forem as suas práticas de vida.<br>
            
            Numa palavra, passe a ser Igreja definitivamente companheira e parteira da Humanidade, nunca mais o seu mestre e o seu pai, pois só assim haverá garantia de que a Humanidade chegará a ser o que deve, isto é, uma Humanidade cada vez mais liberta, autónoma e soberana.<br>
            
            Pedro dará lugar a Maria Madalena, na Igreja de Jesus do terceiro milénio. Não no sentido de que, no terceiro milénio, as mulheres destronarão os homens, como os homens eclesiásticos destronaram as mulheres, nos dois primeiros milénios do Cristianismo; mas no sentido de que o feminino será, finalmente, o valor maior a cultivar na Igreja de Jesus, qualquer que seja a versão histórica que ela assumir, católica ou protestante, tanto faz.<br>
            
            Quer isto dizer, que a Igreja do terceiro milénio será uma Igreja de mulheres e de homens, em radical igualdade e indissoluvelmente unidos. E mais: será uma Igreja de mulheres e de homens vincadamente femininos, em cujos corações e consciência, habita a "Ruah" ou Espírito de Deus. Será uma Igreja ao jeito de Jesus de Nazaré, já paradigmaticamente conseguida na pessoa de Maria de Nazaré, a histórica mulher-mãe que acabou por se tornar discípula do próprio filho e, por isso, se constituiu, no dizer do Concílio Vaticano II, na figura e modelo da Igreja, ou seja, é já a Igreja plenamente conseguida e realizada.Uma Igreja assim, de mulheres e homens vincadamente femininos, é uma Igreja teologicamente «virgem», como Maria de Nazaré, isto é, é uma Igreja totalmente situada nos antípodas do poder e totalmente desvinculada dos poderes deste mundo, tanto os poderes económicos do Dinheiro, como os poderes da Política de turno, como os poderes da Religião.<br>
            
            Será, por isso, uma Igreja sem religião, melhor, que prefere o risco da profecia e da política, feita de verdade e de justiça, à rotina da religião; uma Igreja que vai pela misericórdia e não pelos sacrifícios; que se empenha até ao sangue pela transformação do mundo e da vida, em lugar de se refugiar nos templos, em cultos rituais e em liturgias sem combates históricos, em prol das grandes Causas da Humanidade e da Natureza, combates esses que exigem a generosa e alegre entrega da vida dos seres humanos mais conscientes, entre os quais se têm de incluir todos os cristãos e cristãs.<br>
            
            Pedro dará lugar a Maria Madalena. Quer isto dizer que, no terceiro milénio do Cristianismo, que ora começa, desaparecerá o poder eclesiástico/clerical e afirmar-se-ão a comunhão, a diaconia, o serviço libertador. Desaparecerá da Igreja, também da católica romana, a misoginia ou medo das mulheres e afirmar-se-á a igualdade radical entre mulheres e homens, assim como a sua indissolúvel unidade, uma e outra bem proclamadas no Baptismo da "Ruah" ou Espírito de Deus, que sempre acabam por receber todos aqueles e aquelas que dão a sua incondicional adesão a Jesus de Nazaré, o Cristo de Deus, bem como ao seu Projecto do Reinado de Deus, ainda e sempre a crescer na História e para lá dela.<br>
            
            Por isso, a Igreja hierárquica que hoje ainda conhecemos, essencialmente patriarcal e machista, deixará definitivamente de existir no decorrer do terceiro milénio. Em seu lugar, veremos ganhar corpo uma Igreja de ministérios, de serviços libertadores, exercidos tanto por mulheres cristãs como por homens cristãos, e sempre ao jeito da parteira. Ministérios esses que contribuirão decisivamente para que a Humanidade cresça em liberdade, em autonomia e em responsabilidade, até se tornar uma Humanidade toda política, toda interveniente, toda protagonista, numa palavra, uma Humanidade com Deus dentro, por isso, entusiasticamente pronta a assumir nas próprias mãos o seu destino.<br>
            <br>
            
            Vosso companheiro e irmão<br>

            Mário de Oliveira<br>
          </font></p>
      </td>
      <td width="1" height="1980"><spacer type="block" width="1" height="1980"></spacer></td>
    </tr>
    <tr height="20">
      <td width="580" height="20" colspan="6" valign="top" align="left" xpos="10">
        <hr width="580" size="3">
      </td>
      <td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
    </tr>
    <tr height="3050">
      <td width="20" height="3090" rowspan="2"></td>
      <td width="460" height="3050" colspan="4" align="left" xpos="30" content="" valign="top" csheight="3040"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Revista LILÁS perguntou e Padre Mário respondeu sem papas na língua</b><br>
        </font>
        <p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">1. Qual a sua situação no interior da Igreja Católica-Romana, perante Bispos e o Papa? 2. O que acha da posição da referida igreja perante o amor entre pessoas do mesmo sexo?<br>
            
            3. Qual a sua posição perante o lesbianismo e o gayismo? "Casaria" um casal do mesmo sexo? <br>
            
            4. Perante a homofobia explícita ou latente de clérigo e fiéis, um enorme número de lésbicas e gays abandonam "A Igreja" e, com ela, qualquer ideia de Deus. Os seus comentários a esta situação. A sua visão do futuro relativamente a lésbicas/gays e a espiritualidade e os direitos civis.<br>
          </font></p>
        <p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">Respostas <br>
            <br>
            
            1. A minha situação no interior da Igreja católica romana, à qual pertenço, é já sobejamente conhecida. Fui ordenado padre/presbítero, em Agosto de 1962. Comecei por exercer o ministério presbiteral, como coadjutor na Paróquia das Antas, na cidade do Porto. Era para ficar lá, pelo menos, dois anos, mas antes de terminar o primeiro ano, já o respectivo Pároco se movimentava junto do então Administrador Apostólico da Diocese, D. Florentino de Andrade e Silva, para que eu fosse afastado. A minha forma de exercer o ministério, nomeadamente, a pregação dominical do Evangelho, era considerada perigosa, subversiva, comunista. Só porque eu insistia nos valores da fraternidade, da solidariedade, da liberdade e da igualdade. E era nitidamente um padre comprometido com os mais pobres da Paróquia e com as suas justas Causas. <br>
            
            Fui, por isso, nomeado para professor de Religião e Moral no Liceu Alexandre Herculano. Com o encargo suplementar de dar apoio espiritual e moral aos estudantes, a partir duma casa aberta para esse fim, junto do Liceu e que ao mesmo tempo me servia de residência. Permaneci nesta actividade apenas dois anos. A minha presença voltava a ser coniderada perigosa e subversiva. Tanta proximidade com os estudantes não caía bem na reitoria do Liceu. E suscitava apreensão na PIDE, porque contribuía para um certo movimento associativo dos estudantes, coisa então totalmente inadmissível! <br>
            
            O bispo nomeou-me para o outro Liceu da cidade, D. Manuel II. Deveria aí desenvolver trabalho idêntico. Mas sem os "excessos" de antes. Por mim, ignorei as advertências e procurei ser coerente com o exercício do ministério presbiteral, na base da proximidade com os estudantes, uma espécie de companheiro e de irmão um pouco mais velho, ao mesmo tempo, professor e aluno, junto de todos. <br>
            
            A experiência também não passou de dois anos. E veio a penalização da parte do Bispo. D. Florentino chamou-me ao Paço episcopal e, depois de me ouvir falar, mas como quem não ouve, sobre as actividades e projectos para o novo ano lectivo, determinou, nesse mesmo instante, que eu tinha de deixar de imediato o Liceu e a casa onde vivia e acolhia/apoiava os estudantes. Informou-me, igualmente, que já tinha um novo destino para mim: Deveria seguir, dentro de dias, para Lisboa, mais precisamente, para a Academia Militar, a fim de frequentar um Curso para Capelães Militares, no termo do qual, avançaria para a Guerra Colonial em África. <br>
            
            Assim aconteceu. Frequentei o Curso, durante cinco semanas, com outros padres do país. E, no final, o sorteio destinou-me um Batalhão que já se encontrava na Guiné. Cheguei a Bissau em 2 de Novembro de 1967. Mas quatro meses depois, em 8 de Março de 1968, já estava a tomar o avião de regresso a Lisboa. Expulsaram-me do Exército, porque, em plena Guerra Colonial, ousei pregar o Evangelho da Paz, nomeadamente, o direito dos povos colonizados à autonomia e independência. Ao apresentar-me, em Lisboa, ao Bispo castrense de então, D. António dos Reis Rodrigues, este disse-me que o meu serviço terminara e que, por isso, tinha de regressar à minha diocese. Disse-me, também, que havia escrito já uma carta ao meu Bispo a dizer o que pensava de mim. Em seu entender, eu era "um padre irrecuperável". <br>
            
            O Bispo da Diocese nomeou-me então para pároco de Paredes de Viadores, no concelho de Marco de Canaveses. Dei-me o mais que pude ao povo. Mas o Evangelho que pregava nas Missas de domingo depressa foi considerado subversivo e comunista. Só porque defendia, entre outras coisas, os direitos dos rendeiros que trabalhavam as terras de umas quantas famílias proprietárias. E fazia todo o meu trabalho pastoral de graça. O que não caiu bem junto dos meus colegas párocos à volta.<br>
            
            Resultado, ao fim de 14 meses, fui exonerado das funções. E vi-me, pela primeira vez, sem ofício pastoral. Aproveitei e compilei as homilias que havia escrito e pregado, em cada domingo, e a Editora Figueirinhas do Porto aceitou publicá-las em livro, sob o título "Evangelizar os pobres". <br>
            
            Não foi prolongada esta minha situação de "desemprego pastoral", porque, entretanto, regressou do exílio o Bispo do Porto, D. António Ferreira Gomes. Quis saber da minha situação na diocese e acabou por me nomear pároco de Macieira da Lixa, no Concelho de Felgueiras.<br>
            
            Era Outubro de 1970. Só que, nove meses depois, já a Pide me prendia, como subversivo, e por atentar contra a segurança do Estado. Permaneci na prisão política de Caxias, até ao julgamento no Tribunal Plenário do Porto. No total, uns sete meses. Surpreendentemente, o Tribunal Plenário do Porto absolveu-me. <br>
            
            Depois de um curto exílio em Espanha, por imposição do Bispo, regressei à Paróquia de Macieira da Lixa. As pregações "subversivas" prosseguiram, ainda com mais convicção e audácia. A movimentação de gente de todo o Norte do país que ia às missas dominicais a Macieira, era por demais incómoda para a Pide. E, em Março de 1973, voltei a ser preso e regressei de novo a Caxias, onde permaneci durante longos 11 meses. No dia em que foi lida a sentença, no mesmo Tribunal Plenário do Porto, saí em liberdade. Era Fevereiro de 1974. Pouco tempo depois, aconteceu a madrugada do 25 de Abril e, com ela, a extinção da Pide e dos Tribunais plenários e das cadeias políticas. <br>
            
            Quando seria de esperar que tudo serenasse e a minha vida pastoral prosseguisse com normalidade na Igreja, a verdade é que nada foi assim. Ao sair da prisão política, em Fevereiro de 1974, fui informado pelo Bispo da Diocese (o mesmo que anteriormente me havia nomeado), de que já não era mais o pároco de Macieira da Lixa. E nunca mais, desde então, fui nomeado para qualquer serviço pastoral oficial na Igreja do Porto. Até hoje. <br>
            
            Dediquei-me então, por minha iniciativa, ao projecto das Comunidades Cristãs de Base, ao mesmo tempo que me fiz jornalista profissional, até para poder sobreviver materialmente. Mantenho-me na Igreja. Sou dentro dela uma voz muito crítica, muito protestante. Alguns dizem até que, pelas posições que tomo, me afastei da Igreja. Mas não é verdade. Permaneço nela, como padre/presbítero sem ofício pastoral oficial, mas muito dedicado e comprometido com a Causa do Evangelho da libertação para a liberdade, que é o Evangelho de Jesus Cristo. <br>
            
            Como jornalista, dirijo, desde há 13 anos, o Jornal FRATERNIZAR. E aguardo, serenamente, que a minha situação venha a ser clarificada na Igreja, até porque este é o Ano Jubilar 2000!. Sobretudo, aguardo que a minha vida presbiteral venha a ser oficialmente reconhecida. Ou a Igreja não fosse católica, isto é, universal, capaz, por isso, de incluir homens/mulheres baptizados como eu, tal como inclui outros e outras que estão nos meus antípodas. Por mim, não excomungo ninguém e só espero que ninguém me excomungue.<br>
            
            2. A posição oficial da Igreja católica romana, de que sou membro, no que respeita ao amor entre pessoas do mesmo sexo é inteiramente desastrada, desumana, cruel e, por isso, anti-evangélica. Aliás, foi assim, durante séculos, mesmo para com as pessoas de sexos diferentes. O sexo foi sempre a grande pedra de tropeço da Igreja católica, nomeadamente, a partir do séc. IV, sobretudo, por influência de Santo Agostinho. Dizer sexo era praticamente dizer pecado. O pecado! Daí que mesmo o amor entre pessoas de diferente sexo era visto como coisa menos boa. Mais tolerada, do que promovida. E só dentro do casamento. E só para a procriação. <br>
            
            Ultimamente, há mudanças neste campo, por parte de certos membros destacados da Igreja. Mas a instituição, enquanto tal, nomeadamente, a Cúria Romana, mantém-se inflexível, no que respeita ao amor entre pessoas do mesmo sexo. <br>
            
            Tenho confiança que o terceiro milénio trará profundas alterações também nesta matéria. E que o amor entre os seres humanos, independentemente, da sua tendência sexual, hétero ou homosssexual, será plenamente reconhecido, também no seio da Igreja católica. A não ser assim, a Igreja arrisca-se a perder os homossexuais, como, no século XIX perdeu a classe operária e, neste século, perdeu grande parte dos intelectuais, cientistas e jovens. Ora, para a greja católica, perder os homossexuais, significaria perder-se a si própria, porque, nessa altura, deixaria de ser verdadeiramente católica, isto é universal. Ou não é verdade que os homossexuais são Humanidade como os heterossexuais?<br>
            
            3. A minha posição perante as pessoas homossexuais e lésbicas é exactamente a mesma que tenho perante as pessoas heterossexuais. Não faço qualquer distinção. Todos somos seres humanos, criados por Deus. Se proclamamos que Deus criou os seres humanos e os fez homem e mulher, temos de proclamar igualmente, que Deus nos criou homossexuais e heterossexuais. Criou-nos com distintas tendências e orientações sexuais. Tudo é bom e bem feito. As teorias moralistas anti-homossexuais e anti-lésbicas é que são demoníacas. Todos os seres humanos, independentemente da sua orientação sexual, são filhas e filhos de Deus. Deus não faz acepção de pessoas. A todas ama por igual. E, neste momento histórico, se ama preferencialmente algumas, temos de dizer que as pessoas homossexuais e lésbicas estão entre esse número dos preferidos de Deus. Por serem vítimas de tanta exclusão social, de tanta incompreensão, até de ódio, por parte de tantos que pretendem ser mais deus do que o próprio Deus. <br>
            
            Se eu, como padre, aceitaria abençoar uma união entre homossexuais? A resposta só pode ser afirmativa. Mas não é preciso que eu o faça. Porque qualquer união de amor entre duas pessoas, hétero ou homossexuais, é protagonizada pelos próprios que a fazem. Quem abençoa a união é o próprio Deus, quando aqueles ou aquelas que decidem avançar por aí, o fazem. No acto em que se declaram como companheiros/companheiras, fazem o "sacramento", isto é, tornam-se sinal do Amor infinitamente terno de Deus Mâe e Pai. A presença do padre/presbítero nem chega a ser precisa. Mas se, alguma vez, eu for convidado para estar presente, poderei aceitar estar, não tanto para abençoar essa união, mas, quando muito, para proclamar que essa união, ela própria, é uma bênção de Deus para nós e entre nós e, como tal, é abençoada por Ele.<br>
            
            4. Não estranho que muitos e muitas abandonem a Igreja católica. E até qualquer ideia de Deus. A culpa é toda nossa, da Igreja católica, enquanto tal. Porque temos dado de Deus uma imagem que não corresponde em nada à que Jesus de Nazaré nos deu. E que é a única plenamente válida. <br>
            
            Por mim, nunca me senti tentado a deixar a Igreja católica. Quer porque eu próprio reconheço que tenho os meus falhanços e fracassos, quer porque sempre entendi que é dentro da Igreja que posso contribuir para a sua transformação. Por isso, gosto de dizer que sou um padre católico muito protestante. E,se algum dia, me excomungassem,mesmo assim eu ficaria à porta da Igreja, em intensa comunhão espiritual com ela, com todos os meus irmãos e irmãs católicos no coração, incluídos os que me excomungassem. <br>
            
            Permitam-me, entretanto, que diga: O terceiro milénio será o milénio da Humanidade, mais do que da Igreja. Também será o milénio da Igreja. Mas uma Igreja mais parteira do que mãe, mais fermento na massa do que massa, mais luz do mundo do que obscurantismo, mais sal da terra do que açúcar, mais presença fecunda, discreta e quase invisível do que poder. Nessa altura, os auto-excluídos de hoje e de ontem, serão os primeiros. Ou não fosse verdade que o Espírito Santo é que conduz a Humanidade e a Igreja. Não é o papa. Nem são os bispos e os padres. Somos simples servidores. E quando, numa atitude demencial, nos convertemos em senhores, o Espírito Santo deixa de contar connosco e faz a sua acção/intervenção no mundo e na história com outros, ateus e agnósticos que sejam ou se digam <br>
            
            Finalmente, quanto aos direitos dos homossexuais e lésbicas na sociedade, é problema que nem sequer levanto. São seres humanos como os heterossexuais. Só podem ter os mesmos direitos e deveres que estes. Qualquer restrição tem de ser sempre declarada inconstitucional. Pelo menos, ao nível da Fé cristã, tem de ser declarada anti-evangélica<br>
          </font></p>
      </td>
    </tr>
  </tbody>
</table>
</div>