<div align="center" style="overflow-x: auto; width: 100%; height: auto;">
			<table cool="" width="601" height="6571" usegridx="" usegridy="" showgridx="" showgridy="" gridx="10" gridy="10" border="0" cellpadding="0" cellspacing="0">
				<tbody><tr height="10">
					<td width="10" height="6570" rowspan="12"></td>
					<td width="420" height="10" colspan="6"></td>
					<td width="170" height="100" colspan="3" rowspan="2"></td>
					<td width="1" height="10"><spacer type="block" width="1" height="10"></spacer></td>
				</tr>
				<tr height="90">
					<td width="420" height="90" colspan="6" align="left" xpos="10" content="" valign="top" csheight="82">
						<div align="left">
							<font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Textos do<br>
								</b></font><font size="7" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><b>Jornal Fraternizar<br>
								</b></font></div>
					</td>
					<td width="1" height="90"><spacer type="block" width="1" height="90"></spacer></td>
				</tr>
				<tr height="20">
					<td width="590" height="20" colspan="9" valign="top" align="left" xpos="10">
						<hr width="590" size="3" noshade="">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="40">
					<td width="300" height="40" colspan="5" align="left" xpos="10" content="" valign="top" csheight="30"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Edição nº 141, de Abril/Junho 2001</b></font></td>
					<td width="186" height="40" colspan="2"></td>
					<td width="104" height="2440" colspan="2" rowspan="2"></td>
					<td width="1" height="40"><spacer type="block" width="1" height="40"></spacer></td>
				</tr>
				<tr height="2400">
					<td width="10" height="6320" rowspan="4"></td>
					<td width="16" height="2400" colspan="2"></td>
					<td width="460" height="2400" colspan="4" align="left" xpos="36" content="" valign="top" csheight="2390" class="class">
						<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">EDITORIAL<br>
							</font></p>
						<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Por uma interpretação teológica outra da Páscoa de Jesus</b><br>
								<br>
							</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">A Páscoa de Jesus de Nazaré – sobretudo, a sua morte/ressurreição - é, sem dúvida, a maior boa notícia de Deus que alguma vez foi dada à Humanidade, não, evidentemente, pela morte em si, o crime dos crimes, sim pela qualidade do ser/viver de Jesus, que só podia vir a consumar-se em tamanha explosão!<br>
							</font>Depois dela, jamais haverá outra boa notícia que faça esquecer esta, porque ela será sempre a maior de todas as boas notícias que a Humanidade ainda possa vir a escutar/acolher, ao longo de toda a sua História. Por isso, faz todo o sentido dizer que a Páscoa de Jesus é de ontem, de hoje e de sempre. Mas já não faz qualquer sentido continuar a apresentar, ontem, hoje e sempre, as mesmas interpretações teológicas sobre a morte/ressurreição de Jesus - a sua Páscoa.<br>
							Infelizmente, é o que as Igrejas cristãs, com destaque para a nossa Igreja católica, sempre têm feito até ao presente. O que constituirá, porventura, um dos maiores pecados mortais das Igrejas cristãs - o pecado da preguiça teológica - que as leva a instalar-se na rotina e na repetição do mesmo, em lugar de ousarem ser, na comunhão interactiva com o Espírito Santo, inovadoras e criadoras todos os dias, também no pensar/falar teológico.<br>
							Não. Não é verdade que Jesus nasceu e veio ao mundo já com o destino marcado de morrer por nós e, por isso, de modo algum, poderia escapar a esse destino. Não é verdade que Jesus se constituiu no salvador da Humanidade, por força do sangue que derramou na cruz. Não é verdade que Deus, primeiro, exigiu o sacrifício e a imolação do seu filho Jesus, na cruz, para depois – só depois! - perdoar à Humanidade pecadora. Não é verdade que Jesus é o cordeiro de Deus que tira o pecado do mundo, como dele diz, expressamente, pela boca de João Baptista, o tardio Evangelho de João (1, 29). Não é verdade que Jesus morreu em nossa vez e pelos nossos pecados. Não é verdade que a morte de Jesus era de todo inevitável, até porque já estava, desde há muito, anunciada nos livros dos Profetas bíblicos. Não é verdade que Jesus tinha de sofrer, antes de entrar na sua glória, como expressamente refere o Evangelho de Lucas, pela boca dum misterioso personagem que, no caminho de Emaús, se mete à conversa com um casal de discípulos, precisamente, no momento em que o casal se ia embora de Jerusalém, desiludido com a morte de Jesus, ocorrida há três dias, personagem esse que, vem a descobrir-se, pouco depois, era, afinal, o próprio Jesus já ressuscitado! Também não é verdade que Deus não só não poupou da morte o seu filho muito amado, como até foi o primeiro a entregá-lo ao mundo, para que ele morresse na cruz, como prova maior do seu amor por todas e todos nós.<br>
							Estas e muitas outras interpretações teológicas que a Igreja fez sobre a morte de Jesus na cruz, no decorrer dos dois milénios do Cristianismo, e que, nestes primeiros dias de Abril, voltarão de certeza - no meio de sisudas celebrações da Semana Santa nos templos e de folclóricos e turísticos "Passos", nas ruas - a ser repetidas até à saciedade, para não dizer, até à náusea, podem ter sido interpretações teológicas criadoras de algum sentido para a Humanidade e, por isso, mobilizadoras do que, então, se pensava ser o melhor que a Humanidade teria para dar. Mas já não servem mais, para a Humanidade do século XXI e do terceiro milénio. E é bom dizê-lo, aqui, sem rodeios - ainda que também com inevitável escândalo – precisamente, nestes dias, em que as Igrejas cristãs estão a caprichar com a apresentação do que elas dizem ser a primeira celebração da Páscoa do século XXI e do terceiro milénio.<br>
							Todas aquelas são interpretações teológicas da morte/ressurreição de Jesus, historicamente datadas, elaboradas a partir dos sucessivos ambientes religioso-culturais, em que as Igrejas cristãs viveram até ao presente. São, por isso, interpretações que não valem para todo o sempre. E as Igrejas cristãs do século XXI e do terceiro milénio, se quiserem ser fiéis ao Espírito Santo, esse mesmo Espírito que ressuscitou Jesus dos mortos, e que misteriosamente as anima e convoca, para elas continuarem a ser, com audácia martirial e alegria incontida, o sal da terra e a luz do mundo, a sentinela na cidade e o fermento na massa, têm de encontrar, sobre a morte/ressurreição de Jesus, uma interpretação teológica outra, que continue a soar à consciência e ao coração da Humanidade contemporânea, como a maior boa notícia de Deus que lhe é dado escutar/acolher. Por isso, uma interpretação teológica que dê sentido ao presente e ao próximo futuro da Humanidade, a partir da mais empobrecida e excluída, ao mesmo tempo que a mobilize em torno da realização de viáveis projectos económicos e políticos outros, verdadeiramente, alternativos aos genocidas e ecocidas projectos económicos e políticos das multinacionais, o mesmo é dizer, com força bastante para levarem a História para diante, não rumo ao abismo e ao absurdo, sim rumo à vida abundante e feliz para todas as pessoas e para todos os povos, sem a exclusão de nenhuma delas nem de nenhum deles.<br>
							Ou as Igrejas cristãs são capazes, juntamente com o Espírito Santo, de dar à luz uma interpretação teológica, assim, sobre a Páscoa de Jesus, ou a geração que está, hoje, aí a crescer e já se prepara para ser a primeira geração de idade madura do século XXI e do terceiro milénio, nem sequer dará conta da existência de Igrejas cristãs, a não ser como coisas de museu, por isso, próprias dos tempos dos seus antepassados.<br>
							Nem vale sequer a pena escandalizarem-se com o que aqui acabo de afirmar. Muito menos vale a pena correrem a acusar-me de louco e de blasfemo, por ousar fazer aqui todas estas afirmações. (Infelizmente, as Igrejas cristãs, nomeadamente, os seus responsáveis maiores, é isso que mais gostam de fazer. Dantes, ainda iam mais longe e corriam a excomungar e a queimar na fogueira da "Santa Inquisição", quem assim se pronunciasse). Também não vale a pena continuarmos, como Igrejas cristãs, a enterrar a cabeça na areia e a dizer mal das novas gerações.<br>
							O que é preciso, imperioso e urgente, é abandonarmos de vez a preguiça teológica em que, há séculos, temos vivido instalados, como Igrejas cristãs, para nos colocarmos, humildemente, à escuta do que o Espírito Santo anda a querer dizer-nos. E que nós, instalados nas rotinas e nos ritos, sempre os mesmos, temos sido totalmente incapazes de escutar/acolher. Para nosso mal e, sobretudo, para mal da Humanidade, a partir da mais empobrecida e oprimida, razão última da nossa existência como Igrejas cristãs!<br>
							Temos, urgentemente, de encontrar uma interpretação teológica outra, sobre a morte/ressurreição de Jesus, que soe a boa notícia de Deus, para a Humanidade do século XXI e do terceiro milénio.<br>
							Todas as interpretações teológicas do passado já não servem mais. Hoje, soam até a obscenidade, a masoquismo, a sadismo. Pior, estão até na base – e são justificação teológica! - de toda a violência e de todo o sofrimento infligido aos inocentes, nomeadamente, nas sociedades que cresceram e vivem sob a influência de alguma Igreja cristã. É que, se, como dizem as Igrejas cristãs, Deus se agrada tanto da imolação do seu próprio filho inocente; e se o sofrimento de Jesus na cruz é redentor da Humanidade, por que não hão-de as grandes multinacionais de hoje ser como Deus e fazer vítimas humanas em série, para a redenção da mesma Humanidade?!<br>
							Digo ainda mais: insistir, hoje, nas velhas interpretações teológicas sobre a morte/ressurreição de Jesus, todas elas elaboradas a partir de perversos esteriótipos das ancestrais religiões politeístas e pagãs – uma operação que levou à progressiva paganização do Cristianismo; que o esvaziou por completo da Memória subversiva que o ser/viver de Jesus e a sua Morte/Ressurreição, inevitavelmente, são; e que permitiu que o Cristianismo acabasse por poder ser adoptado como Religião oficial do(s) Império(s)! - é a mesma coisa que promover o ateísmo e fazer ateus.<br>
							O que, como sabemos, não é propriamente a missão das Igrejas cristãs, a não ser que se trate daquele tipo de saudável ateísmo - de que até a primitiva Igreja de Jesus foi acusada - que recusa reconhecer como Deus, todo esse tipo de deuses-Diabo, que se alimentam de gente e que, para se darem bem connosco, continuamente, exigem de nós, seres humanos, sacrifícios, muitos sacrifícios, dinheiro, muito dinheiro, sofrimento, muito sofrimento, vítimas humanas, muitas vítimas humanas, nomeadamente, crianças inocentes, como aquelas duas pobres crianças de Fátima, que a nossa Igreja católica insiste em apresentar como exemplo e modelo para todas as crianças/adolescentes deste século XXI e do terceiro milénio! (Onde já se viu prática pastoral católica mais teologicamente obscena?!).<br>
							A Boa Notícia da Páscoa de Jesus para o século XXI e para o terceiro milénio, consistirá, essencialmente, nisto: Em Jesus de Nazaré, a Humanidade teve, pela primeira vez, na sua História e na pessoa dum dos seus membros, o Ser Humano integral, perfeito. Tão integral, tão perfeito, que, humano assim, só podia mesmo ser Deus-connosco, Emanuel. Ele cresceu e, quando adulto, resistiu a toda a tentação do deus-Diabo(cf. Mt 4, 1-11; Mc 1, 12-13; Lc 4, 1-13). Por isso, jamais se coligou com os poderosos, muito menos com o seu sistema dominante. Coligou-se exclusivamente com todas as suas vítimas. E, finalmente, enfrentou todos os poderosos, no seu próprio terreno, armado apenas com a Verdade que é ele próprio, concretamente, o seu ser/viver. Os poderosos não o suportaram e mataram-no. Mas os olhos da Humanidade abriram-se, duma vez por todas, ou seja, a Humanidade tem consciência, desde então, que todos os poderosos, religiosos incluídos, e o seu sistema, por mais que pareçam familiarizados com Deus, são a personificação do Diabo, são o pai da Mentira, são a Morte em acção, são, não a nossa salvação, sim a nossa desgraça. Nossa Salvação e nossa Graça, só Jesus, o Cristo, que eles mataram e a quem o Espírito Santo de Deus ressuscitou.<br>
							Felizes, pois, as mulheres e os homens que, agora ousarem ser/viver/morrer/ressuscitar como Jesus!<br>
							<br>
							Vosso irmão,<br>
							<b><i>Mário</i></b> (presbítero e jornalista).<br>
						</p>
					</td>
					<td width="1" height="2400"><spacer type="block" width="1" height="2400"></spacer></td>
				</tr>
				<tr height="40">
					<td width="580" height="40" colspan="8" valign="top" align="left" xpos="20">
						<hr width="580" size="3">
					</td>
					<td width="1" height="40"><spacer type="block" width="1" height="40"></spacer></td>
				</tr>
				<tr height="3840">
					<td width="10" height="3880" rowspan="2"></td>
					<td class="class" width="466" height="3840" colspan="5" align="left" xpos="30" content="" valign="top" csheight="3820"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><i>TSF perguntou e Prof. Padre Armindo Vaz, da UC de Lisbo<br>
								a, respondeu</i></font>
						<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Santo Agostinho é ou não o inventor do pecado original?</b><br>
							</font></p>
						<p><b><i>A entrevista que se segue já tem alguns meses. Mas continua com a mesma actualidade do dia 8 de Dezembro de 2000, quando a TSF a recolocou no ar. Era o dia – no mítico dizer pseudo-teológico da nossa Igreja católica - da Imaculada Conceição de Maria. O Padre Armindo Vaz (AV), doutor e professor na Universidade Católica de Lisboa, aceitou conversar com o Padre Manuel Villas-Boas (MVB), jornalista da Rádio TSF. Jornal FRATERNIZAR escutou e passou a gravação da conversa ao computador. E aqui a apresenta na íntegra. O facto tem, para o Jornal Fraternizar e, especialmente, para o seu director, uma importância especial. É que, há cerca de um ano, aquando do lançamento, em Lisboa, do livro, NEM ADÃO E EVA, NEM PECADO ORIGINAL, o pe. Mário, seu autor, convidou o Padre AV para apresentar a obra. O Padre AV começou por aceitar, mas depois de ter lido o livro, recusou-se a aparecer, a pretexto de que teria de dizer muito mal dele e do autor. Na altura, o pe. Mário insistiu com ele, para que, mesmo assim, o Padre AV aparecesse e dissesse todo o mal que entendesse. Ele persistiu na declinação do convite e não apareceu na sessão. Mas, dias depois, escreveu um assanhado libelo acusatório contra o livro, na Ecclesia, a agência de notícias da Igreja católica. O libelo acusatório apareceu apenas na edição virtual da agência (até hoje, o pe. Mário continua sem receber uma cópia, pelo menos, via e-mail). O mais interessante da entrevista – e por isso ela aqui se publica na íntegra - é que o Padre AV parece que, entretanto, se converteu às posições veemente denunciadas pelo pe. Mário, no seu livro. Nas respostas que dá à TSF, diz quase ipsis verbis o que o pe. Mário diz, no seu livro, e que ele, anteriormente, tão violenta e agressivamente, criticou. A entrevista tem ainda outro pormenor importante: é podermos ver como o Padre AV, em certos pontos da conversa, gagueja, mete os pés pelas mãos, diz que sim, mas como quem diz que não, busca argumentos teológicos para "defender" Deus, que mais parecem verdadeiras infantilidades teológicas, bebidas na ultrapassadíssima Teodiceia. Sobretudo, no que toca ao baptismo e ao chamado dogma da Imaculada Conceição de Maria, a sua contribuição é teologicamente inóqua. Se não há pecado original, fica por esclarecer do que é que Jesus nos salva e redime; fica por esclarecer para que serve a Igreja e tudo o que ela continua a fazer, nomeadamente, para que serve a pregação que, ano após anos, se continua a fazer por essas paróquias fora. Fica também por esclarecer o que é isso da Imaculada Concepção de Maria, se todos, afinal, também fomos imaculados na nossa concepção, uma vez que não há pecado original... Por outro lado, impressiona que o Padre AV não hesite, a este propósito, em recorrer a um pormenor do Evangelho da infância de Lucas, como se ele fosse uma reportagem jornalística, ou mariológica, quando é um relato cristológico, ou seja, o que nele se diz de Maria, não é de Maria que se diz, mas apenas de Jesus, o Cristo de Deus! Mas basta de comentários. Leiam a entrevista. E, depois, se ainda o não fizeram, adquiram o livro NEM ADÃO E EVA, NEM PECADO ORIGINAL, leiam-no com atenção, também o longo Posfácio, e tirem as vossas conclusões. Decididamente, com uma teologia da estirpe que o Padre AV aqui veicula, a nossa Igreja está mesmo condenada a não ter futuro. Se ela não muda radicalmente, quem pode tomá-la a sério, depois de todos estes 16 séculos de disparates teológicos que ela produziu e que, pelos vistos, insiste em ensinar na sua Universidade e nas paróquias católicas, quer por meio de catequeses e pregações, quer, sobretudo, por meio de práticas pastorais e sacramentais sem pés nem cabeça?<br>
								</i>MVB</b> - Passam, nesta data,1.600 anos sobre as Confissões de S. Agostinho, um africano do séc. V, gastador de sexo em abundância. Poeta, místico, pregador de verdades condicionadoras do pensamento e da pastoral da Igreja católica. Daí que seja legítimo perguntar ao teólogo e biblista, Armindo Vaz, um dos organizadores do Simpósio Internacional, realizado, nesta semana, na Universidade Católica de Lisboa, se S. Agostinho é ou não o inventor do pecado original.<br>
						</p>
						<p><b>AV</b> – Podemos dizer, com bastante rigor, que sim (risos), no sentido de que ele foi aquele que sistematizou a doutrina dogmática do pecado original. Ele fez isso, não propriamente como uma invenção, porque não a tirou do nada. Ele estava, profunda e angustiosamente, inquietado por um problema, o problema do mal e queria resolvê-lo. Andou à procura da verdade por outros lados, nomeadamente, entre os maniqueus, e aí não conseguiu. Então, surgiu, em dado momento, o encontro com a Bíblia. E, precisamente, na Bíblia, em variadíssimos textos, ele pensou que encontrava a clave [chave] hermenêutica para a grande questão do mal, o mal moral, os pecados humanos...<br>
							<b>MVB</b> – Aliás, ele vinha duma experiência humana muito forte, ele é um convertido violento, como são todos os convertidos, e portanto, essa experiência que ele entendia como mal, estava, naturalmente, a tentar resolvê-la, dentro da própria Bíblia.<br>
							<b>AV</b> – Sem dúvida, ele estava diante da Bíblia, a interpretar-se a si próprio. Ele encontrou na Bíblia, sobretudo, em certas páginas da Bíblia, uma descrição daquilo que ele tinha sido, daquilo que ele era e, também, daquilo que procurava. Então, pôde confeccionar, a partir da Bíblia, uma espécie de teoria para resolver o problema do mal. Digamos: a doutrina do pecado original foi composta para resolver o problema do mal moral, digamos, os pecados, e o problema do mal físico: desgraças, sofrimentos e dores do ser humano. Mas, lá está, ele encontrou onde? Basicamente, na chamada história de Adão e Eva, a chamada história do paraíso. Combina esse drama humano, no seu relacionamento com os maniqueus e também o seu relacionamento com aquela mulher, da qual tinha tido o filho, Adeodato, e encontrou na história de Adão e Eva como que a sua história. E, a partir daí, ele sistematizou o dogma, a doutrina dogmática, a doutrina teológica do pecado original, dizendo que aquele acto de comer da árvore do conhecimento do bem e do mal, tinha sido o pecado original. E que, por causa desse pecado original, Deus teria castigado Adão e Eva, com todas as penas, na vida, e com a morte humana.<br>
							<b>MVB</b> - Pecado original que, de certo modo, também se confundia com um pecado sexual...<br>
							<b>AV</b> - Na interpretação dele, sim. Sem dúvida. Apesar dele não ver propriamente o pecado original como um acto sexual. O acto sexual seria como que a manifestação e quase que a consequência desse pecado. Mas seria de cariz sexual, sim, sem dúvida. Aliás, ele vê sexualidade um bocadinho por toda essa narrativa, a chamada história de Adão e Eva, que, depois dele, até aos nossos dias, tem sido lida em clave [chave] sexual. Basta ver filmes, como "Adão e Eva", basta olhar um bocadinho para a literatura, por exemplo, certos romances, que vão a Génesis 2 e 3, à chamada história de Adão e Eva, colher categorias, símbolos, metáforas, para dar um teor, uma toada sexualista ao seu romance.<br>
							<b>MVB</b> – Então, prof. AV, a Igreja foi de certo modo ferida na sua teologia e na sua pastoral pelo pecado original, que permanece dentro da teologia da Igreja...<br>
							<b>AV</b> – Sem dúvida, porque tão pouco a Igreja tinha uma clave interpretativa melhor, para resolver a interpretação desse texto do Génesis, a chamada história do paraíso. Mas aí está precisamente o grande desafio para a Igreja, hoje. Nós, hoje, temos, eu penso que temos, uma clave interpretativa desse texto. Esse texto não deve ser lido duma forma literalista, ou duma forma historicista, como necessariamente a leu Agostinho que, no seu tempo, não tinha outros instrumentos interpretativos, mas nós hoje temo-los.<br>
							<b>MVB</b> – Mas como é que resiste então a doutrina do pecado original? O pecado original resiste. O pecado original existe.<br>
							<b>AV</b> – O pecado original, ou a ideia do pecado original existe, porque a igreja, digamos assim, a nível do magistério eclesiástico, ainda não encontrou uma nova síntese capaz de substituir essa doutrina que, seguramente, para Stº Agostinho, era para interpretar as realidades do mal.<br>
							Ora, hoje a Igreja tem possibilidade de dar uma outra interpretação e uma outra explicação teológica das realidades do mal. O mal moral depende, total e exclusivamente, do ser humano que o realiza. O mal, portanto, nem sequer Deus pode evitar que ele aconteça, porque está na dependência da vontade humana, é da responsabilidade e da liberdade do ser humano. E a liberdade, nem Deus, do ponto de vista teológico, pode tirá-la a qualquer ser humano. O mal físico, digamos, desgraças, catástrofes, doenças, dores humanas, esse depende da condição radicalmente finita, contingente, digamos, e sofredora, do ser humano. O ser humano não é Deus, o ser humano, portanto, não é imortal. Imortal, para a teologia, só pode ser Deus. Portanto, o ser humano é um mortal, é sofredor. Portanto, as dores do ser humano fazem parte da condição e da natureza do ser humano.<br>
							<b>MVB</b> - Deus não é responsável pelo mal, é isso?<br>
							<b>AV</b> - Exactamente, nós nunca poderíamos responsabilizar Deus pelo mal.<br>
							<b>MVB</b> – Responsabilizamo-lo pelo bem...<br>
							<b>AV</b> – Exactamente, o ser humano só pode responsabilizar Deus pelo bem, porque Deus só pode ser o bem..<br>
							<b>MVB</b> - Mas então Deus está nos nossos critérios de bem e de mal...<br>
							<b>AV</b> - Está nos nossos critérios de bem e de mal, mas nós o mal não lho podemos atribuir nunca, porque Ele não tem nada a ver com ele.<br>
							<b>MVB</b> - O mal é atribuído ao demónio?<br>
							<b>AV</b> - Não precisamos de o atribuir ao demónio, ao menos tal como ele tem sido entendido tradicionalmente. O demónio, que nós deveríamos distinguir de diabo, é uma figura simbólica representativa das doenças físicas, psíquicas ou psico-físicas, enquanto que diabo é outra imagem com que a Bíblia pretendia representar, simbolizar, todas as acções más, moralmente, hostis ao ser humano e hostis ou contrárias ao plano de Deus, ao plano de salvação de Deus para o mundo.<br>
							<b>MVB</b> - Daí que devamos ter cuidado, quando mandamos alguém para o diabo ou para o demónio?...<br>
							<b>AV</b> - Com certeza, porque nós podemos continuar a usar as palavras demónio e diabo que, como disse, são distintas e têm significações distintas, assim como também têm origem linguística distinta, mas, quando usamos essas palavras, nós temos que saber o significado delas.<br>
							Não estamos a significar um ser espiritual, invisível, que anda por aí, sabe-se lá por onde, e que, de vez em quando, desceria à terra para passar umas rasteiras aos seres humanos, ou para lhes fazer mal. Não, demónio e diabo, não é isso. O demónio está mais na nossa condição psíquica e física, enquanto que o diabo somos nós uns para os outros. O diabo está potencialmente em nós, sobretudo, o diabo é tudo aquilo que tem uma potência negativa e que é capaz de destruir, de fazer o mal, grupos que nasceram para matar, que foram constituídos para fazer o mal, a todos os níveis, injustiças, violências, guerras, sustentadas e alimentadas por dinheiro que tem procedência inconfessável, etc. Isso é que é o diabo.<br>
							<b>MVB</b> - Afinal, Sartre tinha mesmo razão, quando escreveu que o inferno são os outros... Mas voltemos então ao pecado original. Nessa categoria a Igreja leu o texto do Génesis e esta leitura não vai desaparecer, ou seja, o baptismo vai continuar a ser necessário para apagar o pecado original, Nossa Senhora vai continuar a ser portadora do dogma da Imaculada Conceição...<br>
							<b>AV</b> - Vamos por partes. Em primeiro lugar, o pecado original. No dia em que a Igreja e, sobretudo, o magistério (porque a Igreja, ao nível das bases, pouco a pouco vai compreendendo que a doutrina do pecado original podia ser substituída), mas a doutrina... sobretudo a nível bíblico, podemos dizer que não encontramos um fundamento em nenhum texto bíblico que sirva de base à doutrina dogmática do pecado original. Toca à teologia dogmática encontrar, eventualmente, outro fundamento.<br>
							Mas, quando a Igreja perceber que ela pode explicar, teologicamente, pela fé, as realidades do mal, de outra maneira, sem ser pela doutrina do pecado original, então esta doutrina torna-se facilmente substituível. Mas então põe-se a pergunta: Se a Igreja renunciasse à doutrina, prescindisse dessa doutrina do pecado original, o que sucederia ao baptismo? O baptismo continuaria a ter uma função essencial, imprescindível, na fé do cristão e então seria visto na sua função absolutamente positiva, não de cancelar o pecado original, mas como um rito simbólico de inserção do baptizado no seio da Igreja, isto é, no seio da comunidade de Jesus Cristo, que nos salvou e nos redimiu pela sua graça. Portanto, o baptismo continuaria a ter a sua função positiva, de fazer da criatura, que é todo o ser humano, um filho de Deus, novo filho de Deus.<br>
							<b>MVB</b> – A Imaculada Conceição ficava...<br>
							<b>AV</b> – A Imaculada Conceição é um dogma lindíssimo, é uma verdade teológica que corresponde a uma profunda intuição da Igreja e que tem a sua grande pertinência, sobretudo, ao nível em que este dogma teria de ser reelaborado. Expresso, não negativamente, como ele está linguisticamente formulado, de que Maria foi imune (é um termo negativo), não dotada de pecado original, imune de toda a mancha do pecado original.<br>
							Agora, se a Igreja prescindisse do dogma do pecado original, ela teria de reformular este dogma mariano, doutra maneira, usando os termos do Evangelho, dentro da saudação angélica a Maria: "Avé, ó cheia de graça, o Senhor está contigo, bendita és tu entre as mulheres, achaste graça diante de Deus".<br>
							Todas estas expressões formulam e expressam precisamente esta rica intuição teológica da Igreja relativamente a Maria. De facto, só essas expressões indicam que ela e só ela teve o privilégio de ser a mãe do Filho de Deus, a mãe do Redentor. Nesse sentido, ela seria a bendita entre todas as mulheres, porque nenhuma outra mulher teria tido essa graça de ser a mãe do Filho de Deus. Logo, em consequência, a teologia da Igreja disse muito bem que essa comunhão de Maria com Deus, por ter sido escolhida para mãe do Filho de Deus, deveria retrotrair-se até à sua concepção, deveria ver-se ao para trás, até ao momento da sua conceição. E dizer que ela foi imaculada na sua concepção.<br>
							<b>MVB</b> - Prof. AV, vamos precisar de mais 1.600 anos para que tudo isto mude dentro da Igreja católica?<br>
							<b>AV</b> – Espero que não! Porque, de facto, hoje em dia, a exegese, a interpretação da Sagrada Escritura está na posse de instrumentos e de métodos de análise dos textos bíblicos, de maneira a possibilitar, agora, a síntese de uma nova teologia. Mas precisamos de mudar de paradigma, de modelo teológico, não de renunciarmos a Stº Agostinho, porque isso seria uma perda irreparável, uma perda essencial, substancial...<br>
							<b>MVB</b> – Mas ele criou alguma mossa na teologia da Igreja, não é verdade?<br>
							<b>AV</b> – Bom, ele falou para o seu tempo. E aí é que está, nós não podemos cortar o cordão umbilical com Stº Agostinho, porque ele nos legou uma herança teológica profundíssima, uma mística, uma religiosidade, mas também é verdade que ele, no seu tempo, não dispunha de métodos de análise da Sagrada Escritura, de que nós dispomos hoje. Ele agiu como pôde, leu a Bíblia, não propriamente para fazer a exegese crítica ou histórico-crítica que nós hoje fazemos, mas leu a Bíblia para ir lá procurar respostas teológicas, respostas da fé, para os problemas pastorais que ele encontrava e também respostas para alimentar a sua comunhão com Deus, portanto, respostas para a sua mística.<br>
						</p>
						<p>Hoje, nós podemos fazer uma leitura diferente, aproveitando as intuições de fé de Stº Agostinho, aquelas imortais verdades que ele encontrou na Sagrada Escritura, nós podemos continuar a explorá-las, mas renovando, fazendo uma renovação criativa, olhando para o passado, sem descuidá-lo, mas olhando também muito para o presente, para a cultura actual. E aí nós encontraríamos a possibilidade de fazer rico diálogo entre a Igreja e a cultura.<br>
						</p>
					</td>
				</tr>
			</tbody></table>
			<p></p>
</div>