<div align="center" style="overflow-x: auto; width: 100%; height: auto;">
			<table cool="" width="601" height="6271" usegridx="" usegridy="" showgridx="" showgridy="" gridx="10" gridy="10" border="0" cellpadding="0" cellspacing="0">
				<tbody><tr height="10">
					<td width="10" height="6270" rowspan="14"></td>
					<td width="420" height="10" colspan="5"></td>
					<td width="170" height="100" colspan="4" rowspan="2"></td>
					<td width="1" height="10"><spacer type="block" width="1" height="10"></spacer></td>
				</tr>
				<tr height="90">
					<td width="420" height="90" colspan="5" align="left" xpos="10" content="" valign="top" csheight="82">
						<div align="left">
							<font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Textos do<br>
								</b></font><font size="7" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><b>Jornal Fraternizar<br>
								</b></font></div>
					</td>
					<td width="1" height="90"><spacer type="block" width="1" height="90"></spacer></td>
				</tr>
				<tr height="20">
					<td width="590" height="20" colspan="9" valign="top" align="left" xpos="10">
						<hr width="590" size="3" noshade="">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="40">
					<td width="350" height="40" colspan="4" align="left" xpos="10" content="" valign="top" csheight="30"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Edição nº 142, de Julho/Setembro 2001</b></font></td>
					<td width="136" height="40" colspan="2"></td>
					<td width="94" height="2490" colspan="2" rowspan="2"></td>
					<td width="10" height="6150" rowspan="11"></td>
					<td width="1" height="40"><spacer type="block" width="1" height="40"></spacer></td>
				</tr>
				<tr height="2450">
					<td width="26" height="2450" colspan="2"></td>
					<td class="class" width="460" height="2450" colspan="4" align="left" xpos="36" content="" valign="top" csheight="2433">
						<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">EDITORIAL<br>
							</font></p>
						<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>1ª Comunhão sem comunhão</b><br>
								<br>
							</font>
								
								Quando, há poucas semanas atrás, a minha amiguinha Sara, de oito anos, me convidou, pelo telefone, para a sua primeira comunhão, na paróquia onde reside, dei comigo a reagir mais ou menos nestes termos: Mas, Sarinha, comunhão já tu tens feito comigo, sempre que nos sentamos à mesma mesa com mais pessoas e, juntos, Partimos o Pão e comemos dele!? Aí, a Sarinha interrompeu-me e disse, como quem dá provas de ter aprendido bem o catecismo paroquial católico, Não é nada disso! Foi então que eu voltei à carga e sublinhei: Mas, Sarinha, então tu não sabes que a comunhão do corpo de Cristo é a comunhão que fazemos todos os dias, quando, juntos, Partimos o alimento e o comemos, para, assim alimentados, continuarmos a trabalhar com toda a nossa capacidade na criação do mundo, até que ele seja uma só mesa, da qual ninguém, mulher/homem/povo, fique excluído? A Sarinha voltou a interromper-me, para repetir, Não é nada disso! (Estamos já no início do século XXI e do terceiro milénio, mas, pelos vistos, de nada adianta: o catecismo e a catequese, nas paróquias católicas, mantêm-se inalteráveis nos seus conteúdos, como se ainda vivêssemos em plena Idade Média!). Do meu lado, não desarmei, continuei a rir-me muito com a minha amiguinha, e insisti: Ó Sarinha, então tu achas que Jesus alguma vez quer que tu, e outras meninas e outros meninos como tu, e que a tua mãe e o teu pai, e outras mães e outros pais como os teus, e que eu e outras pessoas como eu, nos metamos todas e todos num templo, num desses templos, mais parecidos com armazéns, que há para aí, em todas as paróquias, nos quais, em lugar duma mesa para toda a gente se poder sentar e comer em comunhão, há um altar, lá em cima, onde pontifica uma pessoa, que não chega a ser bem pessoa, pois tem mais de funcionário eclesiástico do que de pessoa, e que, uma vez aí dentro, tenhamos de nos sujeitar àqueles estúpidos rituais, sempre os mesmos, até que, finalmente, o funcionário eclesiástico principal dê sinal para nos pormos em fila indiana, rumo ao altar, a fim de recebermos, por ração, uma hóstia branca, que nem chega ao estômago e à qual, mentirosamente, ele e seus acólitos mais próximos chamam o corpo de Cristo? Achas que isso é que é a comunhão? Apesar do riso com que acompanhei todas estas minhas palavras, a verdade é que a minha amiguinha Sara, do outro lado do telefone, estava cada vez mais renitente, e continuava a repetir, Não é nada disso que tu estás para aí a dizer; eu nunca comunguei e a minha primeira comunhão é no próximo Domingo, na igreja, e pronto!<br>
							Compreendi que estava a baralhar a minha amiguinha Sara, de oito anos – quem sabe se esta conversa não vai dar bons frutos, num futuro próximo?! - com quem tenho passado, há vários verões, uns agradáveis dias de férias na Póvoa do Varzim, na companhia da sua irmã mais velha, já adolescente, que anda nos escuteiros católicos, uma tia de ambas, que é professora, e mais algumas pessoas amigas.<br>
							
							Pus, então, ponto final na minha argumentação, aparentemente, despropositada para menina de oito anos (não será tão despropositada assim, porque eu sei que a minha amiguinha Sara é vivaça, inteligente, arguta, e com precoce espírito crítico. E a prova é que, ainda há pouco tempo, virou-se para a mesma tia, com quem se encontra, todos os dias, no regresso da escola básica, e atirou-lhe a pergunta, altamente, filosófica e teológica, Ó tia, para que serve Deus?!) e acrescentei, muito feliz e sempre a rir: Está bem, Sarinha, tu sabes que eu gosto muito de ti e, por isso, embora não esteja na disposição de pôr os pés na igreja paroquial, onde te vão levar a fazer todos esses rituais sem sentido e sem comunhão, mais montra de vaidades do que comunhão no mesmo projecto de Jesus de Nazaré, o Cristo - estilo, Deixa cá ver quem, de todas estas crianças, é que leva o vestido ou o fato mais bonito e o mais caro; deixa cá ver quem, de todos estes pais e destas mães, é que tem o melhor carro e o mais caro, estacionado ali à porta da igreja – e, por isso, quero-te dizer que vou fazer tudo, para, nesse dia, partilhar contigo e com a tua família alargada, que também é um pouco minha – a tua avó paterna, Celeste, felizmente, ainda viva, nos seus oitenta e tantos anos, é uma das boas recordações da minha infância! - o almoço que os teus pais organizarão logo a seguir, num restaurante (gostava mais que fosse em vossa casa, mas paciência) e onde a comunhão irá ser bem mais real, bem mais saborosa, bem mais festiva, bem mais humana, bem mais animada, numa palavra, bem mais comunhão! E assim aconteceu.<br>
							
							O episódio que acabo de relatar – sou o primeiro a reconhecê-lo - tem o seu quê de exagero, de paródia, de caricatura. Mas, no essencial, põe o dedo na ferida. Vale como um alerta para o que, desde há séculos e de forma quase inalterável, temos andado a fazer, como Igreja católica, com os chamados sacramentos.<br>
							
							É que, para além de todas as rotinas e de todos os disparates pastorais e teológicos que, através dos séculos, temos impunemente cometido, nestes últimos tempos, nem sequer as crianças respeitamos. E o que estamos a fazer com elas é um abuso, uma prepotência, uma afronta. Aproveitamo-nos da sua simplicidade, da sua ingenuidade, da sua disponibilidade, da sua natural predisposição para agradar e obedecer, e atacamo-las com verdadeiras overdoses de sessões de catequese, pelo menos uma por semana, durante anos e anos a fio; atacamo-las com verdadeiras overdoses de missas, pelo menos, uma por domingo, e missas especialmente pensadas e organizadas para elas, à mistura com outras coisas eclesiásticas, por sinal, quase todas de muito mau gosto.<br>
							
							Aliás, o crime eclesiástico de lesa-crianças começa logo com o chamado sacramento do Baptismo, administrado (a Igreja gosta de dizer celebrado, mas tenham paciência, uma celebração, para o ser, exige, no mínimo, que quem a faz saiba o que está a fazer; por isso, prefiro utilizar o adjectivo administrado), poucas semanas ou poucos meses depois da criança ter nascido.<br>
							
							Digo crime de lesa-crianças. E é. Porque ninguém tem o direito – leram bem, ninguém tem o direito, e há-de chegar o tempo em que a sociedade classificará de crime, acções eclesiásticas deste tipo - de impor a quem nasce, uma Igreja e/ou uma Religião, pelo facto de termos nascido no seio duma família católica, protestante ou seguidora duma qualquer Religião, das muitas que para aí há no mercado das religiões, cada qual a mais careira, nos preços com que se fazem pagar pelos serviços que prestam às suas e aos seus aderentes.<br>
							
							Aderir a uma Igreja ou a uma Religião, pode ser um direito. Nunca há-de ser uma imposição. E, como direito, é indispensável que quem, alguma vez, queira exercê-lo, tenha maturidade pessoal bastante, disponha do mínimo de conhecimento, concretamente, saiba o que representa na sua vida pessoal a adesão a determinada Igreja ou a determinada Religião, sobretudo, saiba que implicações essa adesão tem na sua vida de todos os dias.<br>
							
							Isto de alguém ser católico, protestante, jeová, reino de deus, ateu, ou outra coisa qualquer, só porque os pais e os avós também o foram, tem tudo a ver com a ditadura da Tradição familiar, não tem nada a ver com a liberdade de cada ser humano, que vem a este mundo. Liberdade essa, que o próprio Deus, que não vive em templos feitos pela mão humana e não gosta de Religião nenhuma, tanto preza em cada ser humano, mulher ou homem. E, sem a qual, tudo, na pessoa humana, fica irremediavelmente pervertido, por mais água benta que se atire sobre a cabeça das pessoas e por mais catequeses e cultos que elas sejam levadas a fazer.<br>
							
							Mas uma tal imposição não é só um crime de lesa-crianças. É também um crime de lesa-Evangelho e de lesa-Cristianismo, concretamente, por parte da Igreja católica. Porque Jesus de Nazaré, o Cristo, é o primeiro a exigir que opções desta natureza, desta profundidade e desta seriedade, se façam a partir da idade adulta, quando passamos a poder dispor de nós próprias/de nós próprios e das nossas vidas, e, mesmo assim, só depois de nos ter sido anunciado o Evangelho e de, livremente, nos abrirmos à Fé cristã jesuánica, que esse anúncio, feito com Espírito Santo, pode despertar em quem o acolhe.<br>
							
							Neste aspecto, Jesus, o Cristo, não pode ser mais claro, nas etapas a percorrer: "Ide por todo o mundo, anunciai o Evangelho a toda a criatura. Quem crer e for baptizado..." (Marcos 16, 16).<br>
							
							A verdade é que a Igreja católica, à qual pertenço e à qual, pelos vistos, já pertence a minha amiguinha Sara, de oito anos (em tão pouco tempo de vida, já foi baptizada, já frequentou largas dezenas de sessões de catequese, já vai todos os domingos à missa, já recebeu o sacramento da confissão e acaba de fazer a primeira comunhão!...) procede exactamente ao contrário do que diz Jesus, o Cristo. Primeiro, baptiza. Depois dá catequese, overdoses de catequese. Obriga a ir à missa todos os domingos. Impõe a primeira confissão e a primeira comunhão. A profissão de Fé. O Crisma. E, praticamente, nunca chega a anunciar o Evangelho. Talvez porque ela própria suspeite que, se o fizer, logo perde os clientes que ainda tem. Por sinal, cada vez menos. Ou não fosse verdade que o Evangelho de Jesus, o Cristo, é a via de libertação para a liberdade e a via de salvação gratuita que, por isso mesmo, nos dispensa de todo este tipo de Igreja clerical que temos, e que nos impõe normas moralistas, tantas vezes, imorais, e nos empurra para ritos que mais parecem coisa de loucos, tão esteriotipados eles são.<br>
							
							Pessoalmente, não vou por aqui. E entendo que ninguém deve ir por aqui. Digo mais. Melhor será, até, que não haja Igreja, se for para ela continuar a ir por aqui. Prezo muito a Igreja, o Evangelho, o nome de Jesus Cristo e, sobretudo, cada pessoa humana, a começar pelas crianças. Por isso, peço/recomendo/exijo que arrepiemos caminho. E, como Igreja, ousemos regressar à via, ao caminho, que é Jesus, o Cristo. A minha amiguinha Sara, de oitos anos, e todas as meninas e todos os meninos como ela, mai-las meninas e os meninos que vão nascer, hão-de agradecer-nos, se o fizermos. Já.<br>
							
							Vosso irmão e companheiro,<br>
							<b><i>Mário</i></b>, presbítero.<br>
							<br>
						</p>
					</td>
					<td width="1" height="2450"><spacer type="block" width="1" height="2450"></spacer></td>
				</tr>
				<tr height="20">
					<td width="580" height="20" colspan="8" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="2650">
					<td width="20" height="2650"></td>
					<td class="class" width="466" height="2650" colspan="5" align="left" xpos="30" content="" valign="top" csheight="2630"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Destaque 1: </b><i>Jornal FRATERNIZAR reage ao livro de António Teixeira Fernandes, onde se fala dos bispos, de Salazar e do Estado Novo</i><br>
							<b><br>
							</b></font><font size="3">Vede como eles se odiavam<br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><br>
						</font>Depois de termos acabado de ler o livro, "Relações entre a Igreja e o Estado no Estado Novo e no pós 25 de Abril de 1974", a mais recente e polémica obra de António Teixeira Fernandes, doutorado em Sociologia, professor catedrático da Universidade do Porto e director do Instituto de Sociologia da Faculdade de Letras, uma conclusão se nos impôs, em toda a sua crueza e em todo o seu escândalo, enquanto direcção do Jornal FRATERNIZAR. E é esta: Vede como eles se odiavam. Perguntarão as leitoras e os leitores: Eles, quem? Eis a resposta: Precisamente, os bispos católicos portugueses de então.<br>
						Hoje, ao que parece, as coisas entre os bispos católicos portugueses não serão mais assim. Mas só os próprios poderão confirmá-lo. Não dizemos que, só por isso, a situação seja melhor do que então. Pode até ser pior. O unanimismo é sempre muito mais perigoso do que os conflitos e as tensões.<br>
						A verdade é que, hoje, não se vê nenhum bispo católico português (das outras Igrejas, menos ainda!) emergir do cinzentismo hierárquico instalado. O que é deveras preocupante. Melhor fora, por isso, que houvesse divisões e atritos, conflitos e mesmo guerra aberta entre os bispos, sem se chegar, evidentemente, a quebrar a comunhão.<br>
						Colegialidade episcopal sem conflitos não tem, ao contrário do que pensa a generalidade das pessoas, a marca do Evangelho de Jesus Cristo e, consequentemente, do Espírito Santo.<br>
						De resto, é o próprio Jesus quem desfaz todas as dúvidas, a este respeito, ao garantir que não veio trazer a paz, mas a divisão (cf. Lucas 12, 49-53). Trouxe a divisão contra a paz do império, contra a paz da Religião oficial do Templo e contra a paz da família patriarcal/autoritária. Para que a liberdade das pessoas tivesse, finalmente, a sua oportunidade histórica.<br>
						Ausência de conflitos no seio da Conferência episcopal portuguesa, e desta com a Nunciatura Apostólica e com a Cúria Romana, pode muito bem significar ausência do Espírito Santo. O que, a ser verdade, é um desastre de todo o tamanho! Cujas consequências, tremendas, recaem sobre toda a Igreja. E o resto da Humanidade que está em Portugal.<br>
						O livro de Teixeira Fernandes deixa perceber, com toda a nitidez, o clima de cortar à faca que se terá vivido no seio da Conferência Episcopal Portuguesa, desde que D. António Ferreira Gomes passou a ser o Bispo do Porto.<br>
						Esse clima atingiu o ponto mais alto, imediatamente, antes do exílio de dez anos, que lhe coube em sorte suportar, com a cumplicidade (e a satisfação?!) de praticamente todos os outros bispos, e continuou depois do seu inesperado regresso à Diocese, o que provocou o afastamento, igualmente, inesperado, do respectivo Administrador Apostólico, D. Florentino de Andrade e Silva.<br>
						(Este havia sido nomeado, para esse cargo, durante o exílio de D. António, pela Cúria Romana, já com o intuito, ao que revela, agora, o livro, de afastar definitivamente aquele, da Diocese, da qual era o titular!...).<br>
						O livro, edição do autor, estende-se por 450 densas páginas, de leitura, por sinal, muito pouco agradável, mas obrigatória, nomeadamente, se se quiser entender, com algum, pormenor a vergonha que foi o comportamento da generalidade da hierarquia da Igreja católica, no decorrer do Estado Novo.<br>
						O autor, que, ao tempo, foi secretário particular de D. Florentino, e, nessa qualidade, o privilegiado depositário, à hora da sua morte, do arquivo pessoal que o bispo levou (abusivamente?!) consigo, quando teve de abandonar a Casa Episcopal, toma nitidamente partido por este, contra a memória de D. António.<br>
						Mas, ao fim e ao cabo, depois de lermos todo o livro, ainda é de D. António que ficamos a simpatizar, mais do que de D. Florentino (por exemplo, a extensa troca de correspondência deste com o Núncio apostólico, em Lisboa, chega a fazer lembrar certos relatórios elaborados pelos tenebrosos agentes da Pide/DGS. Para não falarmos já das subserviência e bajulação, que se respiram em todas elas, por parte do Administrador Apostólico, em relação ao representante do Estado do Vaticano, no nosso país).<br>
						E isto, apesar das muitas limitações humanas e falhas visíveis em D. António, as quais ele, progressivamente, conseguiu superar, numa luta solitária, mas digna, contra o ditador Salazar e o seu Estado Novo, contra toda a Conferência episcopal feita com o regime ditatorial, e contra a ala mais conservadora e retrógrada da Igreja católica em Portugal. E até contra o representante do Estado do Vaticano no nosso país, e contra certos influentes cardeais da Cúria Romana.<br>
						Tudo D. António, estoicamente, suportou. A tudo resistiu. Ao mesmo tempo que dignificou, e muito, no exercício do seu ministério episcopal, a Igreja e o papel profético que lhe cabe viver na História.<br>
						Imaginem – vem no livro – que toda essa gente influente e poderosa chegou a insinuar e, mais do que insinuar, a afirmar que D. António Ferreira Gomes sofria de "desequilíbrios psíquicos"! Com esse pretexto, pretendiam impedir que ele reocupasse a Diocese, quando regressou do longo exílio de dez anos, imposto pelo ditador Salazar, sem que antes tivesse havido sequer uma farsa de julgamento, que justificasse esse exílio!<br>
						"D. António – escreve o autor, p. 262 – era mesmo acusado de padecer de doença psíquica. Tal opinião corria quer nos meios eclesiásticos, quer nos meios políticos. Dela partilhavam alguns segmentos da intelectualidade. José Geraldes Freire refere que, «tanto em 1960 como em 1972, chegou a pretender-se provar que o Bispo do Porto era... doido». Um professor universitário ter-lhe-á perguntado: «ouça lá, o Senhor que viveu lá em Portalegre com o Bispo do Porto [é preciso esclarecer que D. António, antes de ser Bispo do Porto, foi Bispo de Portalegre] não me poderia dizer se ele já então dava sinais de ser anormal?». Tal facto mostra até que ponto a opinião de que o Bispo do Porto sofria de algum mal psíquico se encontrava difundida."<br>
						Diz mais o autor do livro, imediatamente a seguir: "Mas a ideia de que D. António padecesse de desequilíbrio corria mais insistentemente nos meios políticos e eclesiásticos. A carta do Doutor Salazar ao Dr. António Leite de Faria, mostra, com toda a evidência, que, na própria Santa Sé, se admitia que isso fosse verdade. Afirma o chefe do governo: «É para nós bem que a Santa Sé tenha vindo pelos sucessos posteriores à saída de Portugal a convencer-se de que se trata de um doente e que o maior mal foi fazerem-no Bispo». O Vaticano não encontraria outra explicação para uma série de atitudes do Bispo do Porto, desde os diversos abaixo-assinados e a violência de algumas cartas, para além da resistência, que poderá não ser muito habitual, à vontade expressa e formal da Santa Sé. Daí resultou o cuidado que esta pôs em lidar com a questão, pois temia, em tais circunstâncias, um grave escândalo público que evidentemente também não interessava ao Vaticano, pela sua ressonância internacional. Com esse convencimento da Santa Sé, rejubilava o chefe do governo português."<br>
						Um pouco mais adiante, já na página seguinte, o autor cita uma carta do Cardeal Gonçalves Cerejeira ao Administrador Apostólico do Porto [D. Florentino], "na altura em que parecia estar iminente o regresso ao país de D. António. Afirma o Patriarca de Lisboa, e esta é a opinião do Conselho Permanente do Episcopado: «O Conselho julga, porém, atento o facto dos anos de governo do Sr. Administrador e a personalidade do Sr. D. Antº F. Gomes, tal solução não deveria ser tomada sem estudo atento da actual situação da Diocese do Porto e das condições de saúde do Sr. D. Antº Ferrª Gomes». Em cartão enviado, no dia seguinte, a esclarecer alguns aspectos da carta anterior, insiste na necessidade de se conhecer o verdadeiro estado de saúde de D. António, dizendo que «convinha dar à entidade competente para julgar do caso, uma informação completa sobre ele".<br>
						Não se ficam por aqui as revelações. Na mesma página, o autor acrescenta: "A instabilidade criada por D. António, através de grupos que se mantinham extremamente activos, dificultavam a acção de D. Florentino de Andrade e Silva. Essa foi a razão por que este decidiu, em determinado momento analisado mais adiante [no livro], pôr a questão da urgência de uma solução definitiva para a diocese à Nunciatura Apostólica. A afirmação do Presidente da Conferência Episcopal, acerca das «condições de saúde» do bispo do Porto, revelam bem as preocupações do episcopado que, aliás, não eram exclusivas daquele momento. Temia-se pela sua boa saúde de espírito. Se D. António sofria de desequilíbrios psíquicos, tornava-se desaconselhável que retomasse, em absoluto, o governo da diocese do Porto ou, ao menos, antes de se tomarem certas medidas e de se proceder a alguns exames."<br>
						Já agora, atentem em mais este pormenor, inserido, logo a seguir, pelo autor do livro: "Do mesmo modo e em idêntica perspectiva, se compreende a surpresa do Núncio Apostólico em Lisboa, quando em Maio de 1969, recebia um grupo de leigos do Porto, entre eles o Dr. Francisco Sá Carneiro, e este lhe mostrou uma carta do Prof. Marcelo Caetano onde dizia que nada opunha à entrada no país do bispo do Porto.<br>
						As atitudes assumidas por D. António eram, na verdade, tidas como anormais quer face ao governo, quer face à Santa Sé, quer face ao episcopado português. Abaixo-assinados, pedidos de indemnização, ameaças, ataques pessoais, não eram decerto fenómenos muito conhecidos nos meios eclesiásticos a nível dos bispos. Havia normalmente uma obediência pronta e uma compostura digna perante a Santa Sé, e os bispos tendiam a trata-se, entre si, com cordialidade e mútuo respeito. A conduta do bispo do Porto fugia a essa regra e tornava-se, por isso, preocupante."<br>
						Como se vê, numa Igreja hierárquica, constituída por medíocres, vaidosos e aburguesados, totalmente de cócoras diante de Salazar e do seu Estado Novo, a luz de D. António Ferreira Gomes brilhou nas trevas do obscurantismo eclesiástico e nacional. Não lhe perdoaram a audácia e o atrevimento, e tornaram-lhe a vida impossível, ao ponto de o tomarem por tolo, ou, na linguagem mítica do Evangelho, por possesso do diabo.<br>
						Mas foi também na luz que foi o ser/viver de D. António, que pudemos ver a Luz. E, com esta Luz – "Eu sou a Luz do mundo", afirma Jesus, de si mesmo, no Evangelho de João - pudemos até criticar e contestar algumas das suas posições episcopais, precisamente, aquelas que, na altura, nos pareceram menos coerentes com a Palavra de Deus. Pudemos, também, resistir activamente a certos tiques de autoritarismo que, infelizmente, também se lhe conheceram, mesmo depois do seu regresso do exílio (que bispo católico, a quem previamente convenceram de que é o patrão da Igreja ou a Igreja – a Igreja sou eu! – é que não tem tiques de autoritarismo, aos quais, como cristãs e cristãos, havemos de, saudavelmente, resistir?).<br>
						Porém, perante o que agora nos é dado a conhecer, nas páginas deste livro, até essas posições e esses tiques lhe hão-de ser perdoados. Afinal, com tanta incompreensão e tanta perseguição por parte dos colegas bispos e por parte do regime, só mesmo um homem de nervos de aço poderia aguentar e ser fiel até ao fim, como D. António aguentou e foi.<br>
						Bendito seja, então, para sempre o seu nome! E feliz Igreja do Porto que um tal bispo teve!<br>
					</td>
					<td width="94" height="2650" colspan="2"></td>
					<td width="1" height="2650"><spacer type="block" width="1" height="2650"></spacer></td>
				</tr>
				<tr height="30">
					<td width="580" height="30" colspan="8" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="30"><spacer type="block" width="1" height="30"></spacer></td>
				</tr>
				<tr height="830">
					<td width="20" height="870" rowspan="2"></td>
					<td class="class" width="470" height="830" colspan="6" align="left" xpos="30" content="" valign="top" csheight="810"><i>Livros do trimestre: <font size="3">A Igreja católica ainda tem futuro?</font></i><br>
						<br>
						<p>1. Jesus não fundou nem quis fundar uma Igreja.<br>
							2. Por isso, toda a estrutura ministerial remete para a própria Igreja. Jesus não criou nenhum cargo oficial. Assim, a Igreja pode proceder de modo totalmente livre com os ministérios. Pode mudar os actuais ou aboli-los e introduzir novos. Não deve tornar-se escrava dos ministérios que ela própria criou.<br>
							3. O mesmo vale para os sacramentos. Todos os sacramentos têm a sua origem na própria Igreja, e esta pode, neste domínio, proceder com liberdade: mudar o seu número, dispor do modo como relacionar-se com os sacramentos (por exemplo, se é necessária uma ordenação ou não, para celebrar a Eucaristia).<br>
							Estas são as três principais teses, eventualmente chocantes, para a maior parte das pessoas, católicas ou não, com que Herbert Haag, nascido em 1915, padre católico, professor emérito da Universidade de Tubinga e um especialista em Bíblia de renome internacional, abre a Introdução que escreveu expressamente para a tradução portuguesa do seu livro, "A Igreja Católica ainda tem futuro?". A edição é da Editorial Notícias (Rua Padre Luís Aparício 10 -1º, 1150-248 Lisboa; E-mail: editnoticias@mail.telepac.pt). O livrinho não vai além de 105 páginas e limita-se quase a um enunciado de teses, sem se perder em muitos argumentos, como convém a uma obra de divulgação. As leitoras e os leitores que sintam necessidade desses argumentos terão de procurá-los noutras obras do autor. Mas na sua simplicidade, este é um livro que se pode classificar como arrasador de muitos dos mitos pseudo-bíblicos e pseudo-teológicos, por trás dos quais a hierarquia católica, nomeadamente, a Cúria romana, se tem escondido, para manter intacta uma estrutura eclesiástica que, está visto, não tem nada a ver com a inspiração do Espírito Santo, talvez tenha tudo a ver com a ambição desmedida de poder absoluto e de privilégios, de que ela não está disposta a abrir mão. Para seu mal, para mal da Igreja e para mal da Humanidade. Ninguém, pois, deixe de adquirir, ler, divulgar, debater este livro. É preciso, imperioso e urgente.<br>
							Vejam só o que o autor escreve, a propósito da lei do celibato: "Ao mesmo tempo que nascia a classe social dos padres, surgiram os primeiros sinais que exigiam deles renúncia à sexualidade. É a primeira desvalorização da sexualidade. No final do século IV, o bispo de Roma Siríaco (384-399) escreveu: «Todos nós, padres e levitas, estamos obrigados por uma lei irrevogável a viver a castidade do corpo e da alma para agradarmos a Deus diariamente no sacrifício litúrgico». Neste texto, o mais importante são as palavras «sacrifício diário». A Eucaristia que se tinha transformado num ritual diário exigia castidade e continência."<br>
							O autor prossegue, mais adiante: "É bem conhecida a posição, convicta e convincente, de Martinho Lutero contra o celibato. O Concílio de Trento respondeu-lhe violentamente com um cânone: «É anátema quem afirmar que os membros do clero, investidos em ordens sagradas, poderão contrair matrimónio». E o facto de o Papa Pio IV ter reforçado a lei do celibato é ainda mais surpreendente, se tivermos em conta que ele teve três filhos."<br>
							O autor recorda ainda que, "durante o Concílio de Constança, os participantes tiveram à sua disposição entre 700 e 1500 prostitutas registadas, que lhes ofereceram os seus serviços".<br>
						</p>
					</td>
				</tr>
			</tbody></table>
			<p></p>
		</div>