<div align="center" style="overflow-x: auto; width: 100%; height: auto;">
			<table cool="" width="601" height="17416" usegridx="" usegridy="" showgridx="" showgridy="" gridx="10" gridy="10" border="0" cellpadding="0" cellspacing="0">
				<tbody><tr height="10">
					<td width="10" height="17415" rowspan="18"></td>
					<td width="420" height="10" colspan="6"></td>
					<td width="170" height="100" colspan="4" rowspan="2"></td>
					<td width="1" height="10"><spacer type="block" width="1" height="10"></spacer></td>
				</tr>
				<tr height="90">
					<td width="420" height="90" colspan="6" align="left" xpos="10" content="" valign="top" csheight="82">
						<div align="left">
							<font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Textos do<br>
								</b></font><font size="7" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><b>Jornal Fraternizar<br>
								</b></font></div>
					</td>
					<td width="1" height="90"><spacer type="block" width="1" height="90"></spacer></td>
				</tr>
				<tr height="20">
					<td width="590" height="20" colspan="10" valign="top" align="left" xpos="10">
						<hr width="590" size="3" noshade="">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="40">
					<td width="350" height="40" colspan="5" align="left" xpos="10" content="" valign="top" csheight="30"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Edição nº 143, de Outubro/Dezembro 2001</b></font></td>
					<td width="140" height="40" colspan="2"></td>
					<td width="90" height="2040" colspan="2" rowspan="2"></td>
					<td width="10" height="17295" rowspan="15"></td>
					<td width="1" height="40"><spacer type="block" width="1" height="40"></spacer></td>
				</tr>
				<tr height="2000">
					<td width="30" height="2000" colspan="3"></td>
					<td class="class" width="460" height="2000" colspan="4" align="left" xpos="40" content="" valign="top" csheight="1990">
						<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">EDITORIAL 1<br>
							</font></p>
						<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Que fazer com esta Ordem Económica e Política mundial?</b><br>
								<br>
								
								
								
								
								Dizem que o mundo mudou no dia 11 de Setembro de 2001, em consequência da acção política violenta contra as duas mais altas e sofisticadas torres de Nova Iorque e o todo poderoso edifício do Pentágono (os grandes media preferem chamar a esta acção hediondo ataque terrorista, certamente, para darem força à ideologia dos respectivos donos e de todos os demais pretensos donos do mundo, para quem todas as acções políticas, violentas ou activamente pacíficas, contra os seus interesses e privilégios, são sempre ataques terroristas).<br>
							</font><font size="2">O mundo teria efectivamente mudado, se, depois desta acção política violenta que, num abrir e fechar de olhos, fez milhares de vítimas, tivéssemos visto a administração da grande potência mundial atacada, juntamente, com a sua população, mais os líderes dos países ocidentais, seus incondicionais acólitos, a baterem no peito e a pedirem perdão ao resto da Humanidade por todo o mal, por todos os crimes que têm impunemente praticado contra ela, desde inúmeros massacres de populações indefesas, bombardeamentos aéreos em massa, guerras infindáveis com utilização de napalm, como aconteceu no Vietname, até ao lançamento da terrífica bomba atómica sobre Hiroshima e Nagasaki.<br>
								
								
								
								
							Porém, nada disto se viu, nem nesse dia, nem nos dias seguintes. O que se tem visto é a repetição, para pior, do que há mais de três mil anos se terá passado no Egipto dos faraós, a maior potência mundial de então (cf. Éxodo 1-13), quando os escravos hebreus e outros, liderados por Moisés, se insurgiram contra a opressão de que eram vítimas, clamaram por justiça, dignidade e liberdade, e, em lugar de serem atendidos, foram massacrados de mil e uma maneiras, inclusive, com medidas que visavam a sua extinção pura e simples. Foi aí que os escravos, pela primeira vez na História, compreenderam que as grandes potências mundiais não têm coração, só têm interesses financeiros e outros, lá onde seria suposto haver um coração de carne, capaz de misericórdia e de comunhão. <br>
								
								
								
								
							Quando isto perceberam, decidiram então passar à acção política organizada progressivamente violenta, para tentarem, desse modo, quebrar a arrogância dos seus opressores, sempre na esperança de que eles abrissem os olhos e se tornassem mais humanos. Tudo em vão. Cada vez mais o coração da administração da grande potência que os escravizava e espoliava se endurecia contra eles. E só quebrou, por momentos, quando a acção política violenta lhe entrou em casa e matou o primogénito de cada família egípcia, a começar pelo primogénito do próprio faraó.<br>
								
								
								
								
							Às acções políticas violentas dos escravos hebreus, a administração da grande potência egípcia teria chamado «ataques terroristas», se esta expressão já então tivesse sido inventada. A Bíblia chama-lhes simplesmente "pragas". Mas o mais surpreendente, para não dizer escandaloso, nem é isso. O mais surpreendente e escandaloso é a Bíblia proclamar que estas acções políticas violentas, que culminaram na morte dos primogénitos das famílias que constituíam a grande potência, foi obra do Senhor. Tanto assim, que a noite, em que esta última acção política sucedeu, ficou conhecida, desde então, como a noite da Páscoa ou a noite da Passagem-do-Senhor-que-está-empenhado-em-criar-libertar-humanizar-e-fraternizar o mundo.<br>
								
								
								
								
							E de Moisés, que esteve envolvido em todas estas acções políticas, como cérebro e estratego, que memória a História guarda dele, ainda hoje? Ninguém diz que ele é «terrorista» e «o inimigo público número um» da Humanidade. A nossa memória colectiva olha para ele como o paradigma de todos os libertadores. Assim como à grande acção política violenta que ele foi capaz de conceber, organizar, liderar e pôr em marcha, com êxito, ainda que com muitas vidas humanas perdidas, de um e outro lado, a memória colectiva da Humanidade continua a olhá-la como o paradigma de todas as lutas sociais e políticas de libertação dos indivíduos e dos povos.<br>
								
								
								
								
							Mas a História não parou em Moisés. Mais de mil anos depois dele, um menino nasceu para nós, um filho nos foi dado. Chamaram-lhe Emanuel, Deus-connosco, depois que viram como ele viveu entre nós, como agiu e como foi a sua morte. Jesus é o seu nome histórico, mas hoje ele é mais conhecido pelo apelido «Cristo», que as suas discípulas e os seus discípulos, que privaram mais de perto com ele, lhe atribuíram, depois que o experimentaram ressuscitado dos mortos.<br>
								
								
								
								
							Pois bem, também Jesus desencadeou, no seu pequeno país, na altura, ocupado pelo Império romano, um movimento, de cariz político-profético que visa(va) a implantação do que ele, com alguma imprudência, chamou «Reino de Deus» e que dizia estar já muito próximo e, até, misteriosamente, a crescer dentro da História. E não se ficou só pelas palavras. Com a força do Espírito Santo, que o habitava em plenitude, enfrentou, desarmado, o Sistema religioso-político-económico que mantinha o povo na opressão em nome de Deus. Foi mesmo ao coração do Sistema, o Templo de Jerusalém, olhar nos olhos os chefes opressores do povo e dizer-lhes que o nome de Deus nunca pode ser invocado por ninguém, chefe político ou sacerdote, magnata ou líder religioso, que viva empenhado em justificar e em manter uma Ordem Económica e Política Mundial que fabrica vítimas humanas, aos milhões, e que nem sequer hesita em promover todo o tipo de guerras, só para impedir que, alguma vez, essa Ordem seja posta em causa. Em consequência, mataram-no, como um maldito, na cruz.<br>
								
								
								
								
							Porém, quando era de esperar que as suas discípulas e os seus discípulos se organizassem para retaliar e vingar tão hediondo crime, o que o mundo ouviu e viu foram palavras e gestos consequentes de perdão, de reconciliação, insistentes apelos à conversão ou mudança pessoal e estrutural, no jeito de um novo nascimento. Estas mulheres e estes homens haviam aprendido com Jesus, seu Mestre, que a Humanidade só tem futuro, se for capaz de fazer bem a quem lhe fizer mal, de perdoar a quem a ofender, de oferecer a outra face a quem lhe bater na cara, de amar/acolher o próprio inimigo, em lugar de o matar/ostracizar.<br>
								
								
								
								
							É aqui que estamos. O dia 11 de Setembro de 2001 só será o primeiro dia do resto das nossas vidas, como Humanidade, se os norte-americanos e todos os povos ocidentais que nos dizemos solidários com eles, em lugar de endurecermos o nosso coração, como fez o faraó no Egipto, no tempo de Moisés, e como fizeram os sumos sacerdotes de Jerusalém e os romanos, no tempo de Jesus, compreendermos, duma vez por todas, que a acção política violenta que eles sofreram nesse dia, tem, por detrás, causas estruturais e outras que urge identificar com muita humildade e atacar com muito engenho, arte, imaginação e, sobretudo, muito amor para com os milhões e milhões de vítimas humanas desta Ordem Económica e Política Mundial que estupidamente teimamos em manter, talvez porque tanto nos tem materialmente beneficiado, a nós, ocidentais.<br>
								
								
								
								
							O inimigo público número um da Humanidade não é, como mentirosamente se grita aos quatro ventos, Osama Bin Laden. É esta Ordem Económica e Política Mundial que leva uns quantos a viver no luxo e condena a maioria da Humanidade a ter de nascer-sobreviver-morrer no lixo.<br>
								
								
								
								
							Finalmente, compreendamos, duma vez por todas que Deus, o Deus que quer vida e vida em abundância para todas as pessoas e para todos os povos sem excepção, passou misteriosamente, no dia 11 de Setembro de 2001 pelos EUA. Não para (n)os castigar e matar. Mas para, no coração do sofrimento e da morte violenta de tantas pessoas e da destruição de tantos bens materiais, nos convidar a todas e a todos os que constituímos hoje a Humanidade, a mudarmos o nosso coração de pedra, onde só há lugar para dólares e interesses financeiros de todo o tipo, ou para ódios e fanatismos de toda a ordem, para um coração de carne, capaz de olhar nos olhos o diferente, o outro, o estrangeiro, tanto o árabe como o americano, tanto o prostituto como o drogado, tanto o cigano como o asiático, tanto o branco como o preto, e ver nele uma irmã, um irmão, com quem, alegre e festivamente, partilhamos incondicionalmente casa e pão.<br>
								
								
								
								
							Não tenhamos dúvidas. Se hoje ouvirmos a Sua Voz e corajosamente nos deixarmos fazer por ela, então o dia 11 de Setembro de 2001 será sem dúvida o primeiro dia do resto das nossas vidas. Finalmente, humanas e sororais/fraternas.<br>
							</font></p>
					</td>
					<td width="1" height="2000"><spacer type="block" width="1" height="2000"></spacer></td>
				</tr>
				<tr height="20">
					<td width="580" height="20" colspan="9" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="20"><spacer type="block" width="1" height="20"></spacer></td>
				</tr>
				<tr height="2900">
					<td width="24" height="2900" colspan="2"></td>
					<td class="class" width="466" height="2900" colspan="5" align="left" xpos="34" content="" valign="top" csheight="2890"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Destaque 1: </b><i>XXI Congresso de Teologia de Madrid<br>
							</i></font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b><br>
								
								
								
								Para baixo do pescoço tudo é pecado na Igreja católica do sistema clerical. Não é assim na Igreja das Comunidades cristãs de base. Nelas, celebramos o Deus da Vida e vida em abundância, o Deus da Festa, para quem todo o corpo humano é elemento fundamental, como expressão de ternura, de solidariedade, de carinho, de luta, de combate, de amizade, de amor às vítimas deste mundo até à doação da nossa própria vida.</b></font><font size="3"><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><br>
						</font><font size="2">Só podia ser um teólogo brasileiro negro a proclamar esta mensagem libertadora, no XXI Congresso de Teologia de Madrid, realizado entre os dias 6 a 9 de Setembro último, no grande anfiteatro das Comissiones Obreras, graciosamente cedido para esse fim.<br>
							<b>Marcos Rodrigues</b>, que substituiu, à última hora, a teóloga brasileira, Sílvia Regina da Silva, naqueles dias às voltas com um inadiável tratamento de quimioterapia, contagiou os cerca de mil participantes, com o seu verbo, meio português, meio espanhol. Mais do que teoria teológica, trouxe até à Europa o testemunho vivo de um cristianismo que já não é peça do Sistema de morte, aí reinante, como ainda é a generalidade do cristianismo católico e também protestante, tanto do velho protestantismo, como do novo que por aí anda à rédea solta em forma de seita, estilo Igreja Universal do Reino de Deus, ou Igreja Maná, mas de um Cristianismo que é Graça e Liberdade, bem ao jeito de Jesus de Nazaré, o Cristo, por isso, um cristianismo quase sempre perseguido e caluniado pelos poderosos da alta finança e das religiões que se comportam como se fossem senhores do mundo e dos seres humanos.<br>
							
							
							
							
						O teólogo <b>José María Castillo</b>, jesuíta, desde há 14 anos, impedido de leccionar na Universidade católica (ainda hoje, ele próprio não sabe porquê, embora tenha requerido a quem de direito uma explicação sobre tão grave decisão!) foi outra voz lucidamente incómoda e libertadora neste Congresso, porventura, a mais aplaudida. A sua palavra, profeticamente cortante (ver texto a seguir), é de alguém que ama profundamente a Igreja, apesar desta, em alguns dos seus membros mais responsáveis, persistir no crime de o manter marginalizado. É uma palavra que traz a marca da liberdade e da alegria, próprias das filhas e dos filhos de Deus, isto é, das mulheres e dos homens que atingiram a maturidade da Fé, a idade adulta e, por isso, já não vivem mais como escravos de leis eclesiásticas e de chefes que se têm na conta de infalíveis e de santos, como os fariseus no tempo histórico de Jesus de Nazaré.<br>
							
							
							
							
						Outro teólogo que surpreendeu agradavelmente o Congresso foi o nosso querido amigo <b>Andrés Torres Queiruga</b>, de S. Tiago de Compostela. Foi, até, com a sua notável conferência, sobre "Democracia na Igreja" que o congresso encerrou (ver texto integral nas páginas centrais, como "Documento").<br>
							
							
							
							
						Depois desta conferência, ainda houve lugar para a celebração eucarística. Por sinal, um dos momentos menos bem conseguidos do Congresso, apesar do visível esforço por parte daquelas e daqueles que aceitaram prepará-la e a conduziram, para que toda ela fosse um bom momento. Não foi.<br>
							
							
							
							
						Como não costuma ser nenhuma das celebrações, mesmo das ditas "progressistas", que se realizam por aí no nosso país e nos países do Ocidente em geral, mas com fórmulas de oração dirigidas a Deus que, bem analisadas, são de nos deixar estarrecidos e com os cabelos em pé, de tão pagãs que são. A deixarem a impressão em quem as ouve de que Deus é alguém sempre muito distraído do mundo, alguém que, por isso, é preciso berrar-lhe para que se lembre de nós, tenha compaixão de nós, deixe o seu comodismo, o seu cinismo e se decida a vir acudir-nos e salvar-nos.<br>
							
							
							
							
						Um outro bom momento deste XXI Congresso de Teologia e que não estava no programa, foi a unânime tomada de posição a favor de professores de religião, nas escolas públicas, cujos contractos de trabalho não foram renovados pelos respectivos bispos, em diversas dioceses espanholas, por motivos os mais caricatos, por exemplo, a professora ou o professor em causa não ir sempre à missa ao Domingo, ou ter casado civilmente com alguém divorciado!!!...<br>
							
							
							
							
						"Como cristãos e cristãs, cidadãos e cidadãs comprometidos na defesa dos direitos humanos e do seu pleno exercício na sociedade e nas Igrejas, pedimos a revisão urgente dos Acordos do Estado com a Igreja Católica actualmente vigentes e muito especialmente o Acordo em matéria de educação".<br>
							<br>
							<i>Pe. José Maria Castillo, SJ, "escandalizou o Congresso</i><br>
							<br>
							<b>Ao Papa é atribuído um poder que só Deus pode ter</b><br>
							<br>
							<b>"Ao Papa é atribuído um poder que só Deus pode ter". Esta é uma das afirmações teológicas mais contundentes que o teólogo jesuíta José María Castillo proferiu na sua conferência, ao fim da tarde do segundo dia do XXI Congresso de Teologia de Madrid. O teólogo apresentou-se com um esquema da conferência, a que juntou oportunos comentários e oportunas achegas, mas comprometeu-se a escrevê-la, de forma desenvolvida, para ela aparecer, como deve ser, dentro em breve, no livro das Actas do Congresso. É esse esquema que aqui reproduzimos, tal e qual. Apenas acrescentamos a citação integral dos diversos cânones do Código de Direito Canónico aos quais esse mesmo esquema se refere. Eis:</b><br>
							
							
							
							
						1. A contestação crescente, desde Seattle até Génova, como rebelião contra o Sistema. E, portanto, também contra a Igreja, peça indispensável do Sistema. Cresce, por estes dias, não só o êxodo dos que abandonam, mas sobretudo o clamor dos que protestam.<br>
							
							
							
							
						2. Falamos da «organização» da Igreja, não da sua «estrutura». Os problemas da Igreja não provêm de que a sua Fé esteja mal formulada, mas sim do facto do exercício do poder eclesiástico ter-se organizado e funcionar em contradição com o Evangelho. Portanto, não se trata de um assunto que não tem nada que ver com a Fé, mas é um assunto que, para mais, atenta contra Fé em Jesus, o Senhor.<br>
							
							
							
							
						3. Como está organizado o exercício do poder na Igreja? O cânone 331 atribui ao papa um poder que só Deus pode ter: "O Bispo da Igreja de Roma, no qual permanece o múnus concedido pelo Senhor de forma singular a Pedro, o primeiro dos Apóstolos, para ser transmitido aos seus sucessores, é a cabeça do Colégio dos Bispos, Vigário de Cristo e Pastor da Igreja universal neste mundo; o qual, por consequência, em razão do cargo, goza na Igreja de poder ordinário, supremo, pleno, imediato e universal, que pode exercer sempre livremente".<br>
							
							
							
							
						O cânone 333, §3 diz que o Papa tem um poder inapelável: "Contra uma sentença ou decreto do Romano Pontífice não há apelação nem recurso".<br>
							
							
							
							
						O cânone 1404 diz que o Papa não tem que dar contas a ninguém das suas decisões: "A primeira Sé por ninguém pode ser julgada".<br>
							
							
							
							
						O cânone 1372 diz que se alguém recorrer a um Concílio ou ao Colégio Episcopal contra uma decisão do Papa, tem que ser castigado: "Quem recorrer ao Concílio Ecuménico ou ao colégio dos Bispos contra um acto do Romano Pontífice seja punido com uma censura".<br>
							
							
							
							
						O cânone 135 reconhece no Papa os três poderes (legislativo, judicial e executivo) não separados <i>(cf. Nova Lei Fundamental do Estado da Cidade do Vaticano, art. 1).</i><br>
							
							
							
							
						4. Optou-se por um modelo organizativo pensado em função da <b>eficácia</b> e não em função da <b>profecia</b>. É portanto uma organização que produz espontaneamente «fariseus» e olha com desconfiança para os «profetas».<br>
							<br>
							<b>Consequências dentro da Igreja:</b><br>
							
							
							
							
						1) A Igreja inteira depende de um só homem.<br>
							
							
							
							
						2) A Igreja, portanto, está organizada como uma monarquia absoluta.<br>
							
							
							
							
						3) Numa monarquia absoluta, o princípio determinante não é o respeito pelos direitos dos cidadãos, mas a obediência de todos ao soberano, isto é, na Igreja, ninguém tem direitos adquiridos, nem nela é possível respeitar os direitos humanos.<br>
							
							
							
							
						4) Para que uma organização, assim, funcione bem, a qualidade indispensável que se exige dos bispos é que sejam homens submissos.<br>
							
							
							
							
						5) Por isso os bispos têm inevitavelmente a tentação de atender mais ao que interessa a Roma, do que ao que interessa e faz falta ao povo.<br>
							
							
							
							
						6) Tudo isto se complica ainda mais, se tivermos em conta que entre o papa e os bispos actua a Cúria Romana, que joga um papel decisivo na organização eclesiástica, sobretudo no que respeita ao controlo de quantos influenciam no pensamento e no comportamento (bispos, teólogos, clero em geral).<br>
							
							
							
							
						7) O resultado é que na Igreja é frequente o caso de pessoas nas quais tem mais força o medo diante de Roma do que a liberdade que exige o Evangelho.<br>
							
							
							
							
						8) Por isso a autoridade eclesiástica mantém uma postura intransigente naquelas condicionantes da vida de uma pessoa que favorecem a submissão: dependência económica dos clérigos e controlo da sua sexualidade.<br>
							
							
							
							
						9) Uma organização assim tende a ser androcêntrica e machista.<br>
							
							
							
							
						10) A organização eclesiástica dá sobejas provas de que não lhe basta a Fé em Jesus Cristo para funcionar «devidamente». As relações entre os que têm poder e os que o não têm não são só relações de Fé. Além da Fé, o poder eclesiástico precisa de manejar outros meios para continuar a manter este modelo organizativo actualmente estabelecido.<br>
							<br>
							<b>Consequências na relação da Igreja com a sociedade<br>
							</b>1) O papa apresenta-se diante do mundo como o representante e porta-voz da verdade de Deus e da vontade de Deus. Isto é, toda a pessoa que não pense como o papa pensa ou não se comporte como o papa julga que é preciso comportar-se, vive no erro ou não vive na plenitude da verdade.<br>
							
							
							
							
						2) A presença do Evangelho no mundo depende (oficialmente e em grande medida) da mentalidade, da capacidade, inclusive, da idade ou da saúde de um só homem na terra.<br>
							
							
							
							
						3) Todos os homens e mulheres de todas as culturas (se se é consequente com a doutrina «oficial») estariam obrigados a pensar e a viver como pensa e vive um só homem. Isto é, pretende-se que o poder autoritário de uma só pessoa seja capaz de se impor ao pluralismo de culturas, tradições, formas de pensar e de viver que enchem o mundo.<br>
							
							
							
							
						4) A razão de ser do papado é manter a unidade na fé e na comunhão na Igreja (Conc. Vaticano I e II). Porém, a forma actual de exercer o poder papal torna impossível a união com as outras igrejas cristãs e o diálogo inter-religioso.<br>
							
							
							
							
						5) O sistema organizativo actual é possível, graças a ele manter as melhores relações possíveis com os outros poderes políticos e económicos, inclusive, quando esses poderes são ditatoriais (Hitler, Mussolini, Franco, Salazar, Pinochet, Videla, Milósevich...). Ou também quando atropelam os direitos humanos da vida (USA, BM, FMI...).<br>
							
							
							
							
						6) Por isso, quando se nomeia um bispo, indaga-se não só sobre a sua obediência ao papa, mas sobretudo se é aceite pelos poderes políticos.<br>
							
							
							
							
						7) A organização eclesiástica actual precisa de muito dinheiro. Mas as contribuições económicas dos fiéis diminuem cada ano que passa, devido ao silencioso, massivo e crescente êxodo de católicos que abandonam a Igreja.<br>
							
							
							
							
						8) Por isso a instituição eclesiástica depende, cada ano mais e mais, dos poderes públicos. O que é o mesmo que dizer que cada ano diminui a margem de liberdade real que os dirigentes eclesiásticos podem ter para anunciar o Evangelho, sem lhe «amputar» nada.<br>
							
							
							
							
						9) Daí que as autoridades eclesiásticas insistam tanto em temas que sabem que não desestabilizam o Sistema (sexo, família...), ou se limitem a declarações gerais sobre a justiça ou os excessos do Sistema capitalista, sem jamais condenar o Sistema enquanto tal.<br>
							
							
							
							
						10) Uma Igreja assim tem muita dificuldade em viver a sua missão essencial: tornar presente no mundo o Deus de Jesus, o Deus que, a partir da encarnação no homem Jesus de Nazaré, se funde e confunde com todo o ser humano, sobretudo, com os últimos deste mundo.<br>
						</font></td>
					<td width="90" height="2900" colspan="2"></td>
					<td width="1" height="2900"><spacer type="block" width="1" height="2900"></spacer></td>
				</tr>
				<tr height="30">
					<td width="580" height="30" colspan="9" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="30"><spacer type="block" width="1" height="30"></spacer></td>
				</tr>
				<tr height="3020">
					<td width="20" height="3020"></td>
					<td class="class" width="474" height="3020" colspan="7" align="left" xpos="30" content="" valign="top" csheight="3001"><i>Mensagem Final do XXI Congresso</i><br>
						<p><font size="2"><b>Democracia e pluralismo na Sociedade e nas Igrejas</b><br>
								
								
								
								
							1. A democracia política, que irrompe na sociedade moderna, em finais do século XVIII com a Revolução Americana e com a Revolução Francesa, deve ter como base o reconhecimento com a maior efectividade possível dos direitos da pessoa humana, tanto os da liberdade (política, social e cultural), como os de conteúdo sócio-económico.<br>
								
								
								
								
							2. Um dos direitos fundamentais é o da liberdade religiosa, que consiste em que os seres humanos estejam sempre livres de qualquer coacção legal ou social para dar a sua adesão a uma fé religiosa, ou para deixar de a dar.<br>
								
								
								
								
							3. Historicamente, a existência de povos com unidade religiosa confessional foi possível pela negação (ou pela impossibilidade cultural de existência) da verdadeira liberdade religiosa e de consciência. Por isso, em ordem ao futuro, é preciso aceitar, como normal e desejável, que as Igrejas ou comunidades religiosas vivam em sociedades caracterizadas pelo pluralismo religioso, em que seja normal a presença de ateus ou agnósticos, assim como de diferentes religiões. As diversas instituições religiosas haverão de aceitar este dado da realidade e adaptar-se a ele.<br>
								
								
								
								
							4. Pelo que diz respeito à Ecumene Cristã (e dentro dela à Igreja católica romana), a sua atitude não deve ser o dogmatismo, mas o diálogo aberto; não deve ser o uniformismo imposto, mas a comunhão continuamente encontrada com o favor do Espírito, que é pluriforme e sopra onde quer, sem que possamos determinar de onde vem e para onde vai (Jo 3, 8).<br>
								
								
								
								
							5. Na Igreja católica há muitas pessoas que pensam que a Igreja tem que ser mais democrática. Os que se opõem a esta linha respondem que a Igreja não é uma sociedade política e, por isso, o esquema moderno de democracia não se lhe aplica. A isto respondemos que muito menos se pode aplicar à Igreja o esquema político de uma monarquia absoluta (ou inclusive de uma ditadura), e sem embargo a Igreja católica, desde Pio IX até hoje (com excepção de Bento XV, de João XXIII e em parte de Paulo VI), funcionou como tal.<br>
								
								
								
								
							6. Em ordem ao futuro, é uma exigência que a mulher não seja discriminada na Igreja, inclusive no que respeita ao ministério presbiteral e episcopal. O Papa João Paulo II chegou a proclamar que não se pode dar participação no sacerdócio às mulheres, e que isso nenhum Papa depois dele poderá mudar.<br>
								
								
								
								
							É uma afirmação ingénua. O sacramento da ordem não foi instituído por Jesus. É uma instituição da Igreja, legítima, mas que pode mudar. Jesus não fez actos institucionais jurídicos. Jesus de Nazaré era um profeta popular que não teve uma mentalidade jurídica. O que propriamente vem de Jesus Cristo é espiritual, carismático, ético. E é fé.<br>
								
								
								
								
							7. Se as palavras dirigidas a Pedro, que o Evangelho de Mateus (16, 19) põe na boca de Jesus: "dar-te-ei as chaves do Reino dos céus" têm algum valor normativo para nós, também o têm as palavras que o mesmo Evangelho (23, 8-10) refere como ditas por Jesus aos discípulos e à multidão: "Quanto a vós, não vos deixeis tratar por «mestres», pois um só é o vosso mestre e vós sois todos irmãos. E na terra a ninguém chameis «pai», porque um só é o vosso «Pai», aquele que está no céu. Nem permitais que vos tratem por «doutores», porque um só é o vosso «doutor», o Cristo."<br>
								
								
								
								
							8. A Igreja católica deve ser governada colegialmente pelos bispos. Segundo o Concílio Vaticano II, isto pertence à sua essência. O que sugere que o poder primacial do Papa (superior aos bispos) deveria ser reservado para casos de necessidade, mas não pode converter-se no modo normal de conduzir a Igreja.<br>
								
								
								
								
							9. O Papa é um bispo. É incongruente que, ao contrário de todos os outros bispos, seja vitalício.<br>
								
								
								
								
							10. A Igreja católica (e toda a Ecumene Cristã) não deve pretender conquistar o mundo, mas procurar dar um bom testemunho de Jesus e estar em diálogo com todas as pessoas e povos. A sua atitude deve ser humilde e amorosa, porque temos que estar conscientes de que a nossa vida e as nossas obras atraiçoam muitíssimo o autêntico Jesus e o Evangelho do Reino de Deus. Não é verdade que fora da Igreja não há salvação. Jesus é maior que a Igreja. E de Jesus podem dizer-se duas coisas ao mesmo tempo: "Eu (Jesus) e o Pai somos um" (Jo 10, 30); e "O Pai é maior do que eu (Jesus)" (Jo 14, 28).</font></p>
						<p></p>
						<p><font size="2">Destaque 2<br>
							</font></p>
						<p><font size="2"><b>Opus Dei<br>
								</b><i>pelo teólogo ibérico, Juan-José Tamayo-Acosta<br>
								</i><br>
							</font></p>
						<p><font size="2">Sobre a Opus Dei estendeu-se um véu de silêncio que poucas pessoas ousam tirar. É como se houvesse um pacto, pelo menos, tácito, para não se falar dela. E como do que não se fala não existe, há a impressão de que a Opus Dei se diluiu, ou, pelo menos, mergulhou no mundo da salvação das almas, para o que, segundo os documentos fundacionais, nasceu. Muitas pessoas acabam por crer nas despretensiosas notas emanadas do gabinete de imprensa, segundo as quais a "Obra" de monsenhor Escrivá de Balaguer se movimenta apenas no terreno espiritual e não se envolve em nenhum projecto temporal, enquanto instituição. Falar em público ou escrever sobre a Opus Dei tornou-se algo política e religiosamente incorrecto. Vou transgredir aqui o pacto de silêncio, consciente de que posso ser recriminado, inclusive por alguns críticos da Obra.<br>
								
								
								
								
							A Opus Deis continua viva e activa, e o seu poder estende-se ao longo e ao largo da Igreja católica. No topo conta com seguidores e guardiães incondicionais. O primeiro é João Paulo II. Antes de entrar no conclave que o fez papa, foi rezar ao túmulo de Escrivá em Roma, à procura de intercessão para o cumprimento das possíveis responsabilidades que pudessem cair-lhe em cima. No regresso da sua primeira viagem aos EUA, o Papa, exultante pela recepção multitudinária, perguntou no avião aos seus mais directos colaboradores com que impressão os norte-americanos tinham ficado daquela visita. Responderam-lhe que eles "tinham gostado do cantor, mas não da música". João Paulo II comentou então: "Está visto que a única organização eclesial que me é plenamente fiel é a Opus Dei". <br>
								
								
								
								
							Contra o parecer de cardeais, bispos, teólogos e movimentos cristãos de todo o mundo, beatificou, em tempo record – apenas 17 anos após a sua morte – o fundador da Obra, Escrivá de Balaguer, apelidado com ar paternalista não dissimulado, "o Pai". Foi em 1992 e constituiu uma das beatificações mais polémicas e contestadas, só comparável, nos tempos recentes, com a de Pio IX, "o último papa rei" que durante o longo pontificado de 32 anos ( 1846-1878) se destacou por sua militância anti-semita e anti-moderna. Dos dois, salientou-se o zelo pela ortodoxia e a sua piedade reaccionária, mas não a opção pelos pobres nem a tolerância, virtudes que ambos não praticaram. Essa beatificação nunca foi possível com Paulo VI, que limitou, e muito, o poder da Obra, na Igreja católica.<br>
								
								
								
								
							No processo de beatificação de Escrivá foram excluídos testemunhos críticos de pessoas que conviveram muito de perto com "o Pai", como o arquitecto Miguel Fisac, ligado à Obra durante 19 anos (1936-1955). O prestigiado arquitecto comunicou ao cardeal Tarancón que julgava um dever de consciência depor no processo. O cardeal indicou-lhe que se dirigisse ao secretário do Tribunal para que o incluísse na lista, mas, dias depois, fez-lhe saber que tinha sido excluído.<br>
								
								
								
								
							Menos êxito tiveram as teólogas e os teólogos latino-americanos de todas as tendências e os movimentos cristãos de ampla base popular que continuam a pedir a João Paulo II a beatificação dos mártires salvadorenhos: monsenhor Romero, seis jesuítas e duas mulheres, reconhecidos como santos e venerados como mártires na América Latina e noutros lugares da Cristandade, e cuja beatificação seria a ratificação eclesial do que já é vox populi [voz do povo].<br>
								
								
								
								
							A informação no Vaticano – que é a mesma coisa que dizer na Igreja católica universal – está nas mãos do porta-voz, Joaquín Navarro Valls, membro da Opus Dei. Se a informação é poder, quem a controla na Igreja detém o poder. O porta-voz não só difunde a informação, mas também a cria, a elabora e a administra pro domo sua [em sua casa], sem submeter-se a nenhum controlo democrático. E uma parte fundamental da informação é ocultar ou negar a influência da Obra no Vaticano.<br>
								
								
								
								
							Na órbita da Opus Dei encontram-se o cardeal Angel Sodano, secretário de Estado da Cidade do Vaticano, ex-núncio apostólico de Sua Santidade no Chile e amigo pessoal de Pinochet, por quem intercedeu diante do Governo britânico, para que não fosse julgado em Espanha, e o cardeal espanhol Eduardo Martínez Somalo, membro muito influente da cúria romana, que constitui uma referência fundamental nos bispos espanhóis.<br>
								
								
								
								
							Desde a cúpula do catolicismo, está em curso, deste modo, a formação de um cristianismo intransigente e pouco dialogante com outros credos, segundo o conselho de Caminho, livro escrito por Escrivá durante a guerra civil espanhola, em Burgos, muito perto do quartel general de Franco: "O plano de santidade que o Senhor nos pede está determinado por estes três pontos: a santa intransigência, a santa coacção e o santo descaramento" (n.º 378). Mais ainda, "a transigência é sinal certo de falta de verdade" (n.º 393).<br>
								
								
								
								
							Na Igreja católica latino-americana destacam-se duas figuras da Opus Dei: o cardeal Cipriani, arcebispo de Lima, e monsenhor Sáenz Lacalle, arcebispo de San Salvador. Cipriani apoiou até ao último momento os modos políticos ditatoriais de Fujimori. A sua nomeação como cardeal, no último conclave, foi sem dúvida a mais polémica, já que contou com a rejeição de um importante sector da cidadania e dos cristãos peruanos. Durante a primeira missa de Cipriani como cardeal, no átrio da catedral de Lima, a multidão colou cartazes com palavras de ordem como "Deus, livra-nos de Cipriani", "Cristo é justiça; Cipriani, corrupção", e comparou-o com o assessor de Fujimori, Vladimiro Montesinos. Apesar disso, é um dos valores em alta na Igreja latino-americana.<br>
								
								
								
								
							Outro membro da Opus Dei em ascensão na Igreja centro-americana é o espanhol Fernando Sáenz Lacalle, arcebispo de San Salvador, que foi capelão castrense do mesmo Exército que assassinou os seis jesuítas e duas mulheres salvadorenhas, em 16 de Novembro de 1989. Já como arcebispo de San Salvador, aceitou a nomeação de general do Exército, embora, posteriormente, viu-se obrigado a renunciar devido ao protesto popular. A sua recusa à orientação libertadora da Universidade Centro-americana José Simeón Cañas (UCA), da qual Ignacio Ellacuría era reitor, quando foi assassinado e da qual é professor Jon Sobrino, um dos principais representantes da teologia da libertação, fica patente na resposta dada a um estudante de teologia da UCA que lhe pediu a ordenação sacerdotal: "Antes morrer, que ordenar um aluno da UCA".<br>
								
								
								
								
							E na Igreja espanhola? A mudança de atitude do episcopado em relação com a Opus Dei foi espectacular. Durante o pontificado de Paulo VI, a distância dos bispos espanhóis, com relação à Obra era notória e as críticas para com ela não se ocultavam. Na medida em que se consolidou o protagonismo opusdeísta com João Paulo II, a hierarquia eclesiástica do nosso país abriu-se às suas directrizes. O silêncio é agora sepulcral. Nenhum bispo, arcebispo ou cardeal confessa a sua pertença à Opus Dei. E é possível que não mais o façam no futuro. Porém, isso não significa que estejam longe da Obra.<br>
								
								
								
								
							Como já dissera o cardeal Tarancón, muitos bispos espanhóis sofrem de torcicolo, de tanto olharem para Roma. E, como já disse, quem detém o poder em Roma é a Opus Dei. Se alguma dúvida houvesse, ela logo se dissipa, ao lermos as mensagens papais e episcopais sobre temas como sexualidade, família, mulher, dogma, moral, disciplina eclesiástica, etc. A Obra não só conserva a sua influência, mas também está a recuperar membros relevantes – teólogos incluídos – que a tinham deixado em décadas passadas.<br>
								
								
								
								
							O clima de submissão vigente hoje na Igreja católica inspira-se numa máxima de <b><i>Caminho</i></b>: "Obedecer..., caminho seguro. Obedecer cegamente ao superior... caminho de santidade. Obedecer no teu apostolado..., o único caminho: porque numa obra de Deus, o espírito há-de ser obedecer ou ir-se embora" (n.º 941).<br>
								
								
								
								
							Há sem dúvida um campo onde a Opus Dei não chega a ter influência, pelo menos, em Espanha: o da produção teológica. As suas contribuições são mínimas, para não dizer, nenhumas, nas questões mais vivas do actual debate teológico: recurso aos métodos histórico-críticos, sociológicos, de antropologia cultural e de história social no estudo da Bíblia, hermenêutica crítica aplicada aos dogmas, cristologia em chave histórica e ética, espiritualidade encarnada na história, teologia feminista, eclesiologia comunitária, diálogo inter-religioso e inter-cultural, moral social, teoria dos paradigmas no estudo da história do cristianismo, teologias da libertação, etc. Os teólogos da órbita da Opus Dei, ou consideram estas questões alheias à reflexão teológica, ou consideram-nas heterodoxas.</font></p>
					</td>
					<td width="86" height="3020"></td>
					<td width="1" height="3020"><spacer type="block" width="1" height="3020"></spacer></td>
				</tr>
				<tr height="30">
					<td width="580" height="30" colspan="9" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="30"><spacer type="block" width="1" height="30"></spacer></td>
				</tr>
				<tr height="2500">
					<td width="24" height="2500" colspan="2"></td>
					<td class="class" width="470" height="2500" colspan="6" align="left" xpos="34" content="" valign="top" csheight="2490">
						<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">EDITORIAL 2<br>
							</font></p>
						<p>«<font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Porta estreita»</b><br>
								<br>
								
								
								
								
								Como há já muitos anos que eu não vou à missa ao Domingo (se Deus é o primeiro a não ir, que iria eu lá fazer, uma vez que não é a missa em si que me interessa, o que me interessa é que Deus se encontre sempre comigo, entre continuamente na minha casa/na minha vida, se sente comigo à mesa e coma comigo, na maior das intimidades, até me fazer filho seu, por isso, irmão universal de todas as mulheres e de todos os homens, a começar pelos últimos, seja qual for a cor da sua pele, o seu nível cultural, a sua religião ou igreja), também já não tenho que suportar todo aquele tipo de disparates teológicos e exegéticos que são proferidos, nessas alturas, por grande número de irmãos meus, padres católicos e pastores de outras igrejas, tanto das tradicionais protestantes, como das novas igrejas que ultimamente invadiram o nosso país, todas elas com os olhos obsessivamente cravados na carteira e na conta bancária de quem ingenuamente lhes der a sua adesão.<br>
							</font><font size="2">Para mim, hoje, tudo aquilo a que chamam missa ou culto ao Domingo, não passa de uma valente estopada e, francamente, não sei como ainda há quem tenha pachorra para ir lá, quando uma das coisas que se exige a quem lá vai - para além de contribuir com dinheiro, seu ou branqueado, não importa, contanto que sejam quantias bem avultadas - é que entre mudo e saia calado.<br>
								
								
								
								
							Só mesmo a força da rotina e da inércia explicará um tal fenómeno que já foi de massas, mas que, agora - felizmente – é cada vez mais de minorias acríticas. À qual se junta a força duma certa tradição herdada dos antepassados. Sem esquecer, ainda, a força dum ancestral e mítico medo, mormente, o medo a certos castigos que poderiam vir sobre as pessoas que deixassem de cumprir tais rituais religiosos, destinados, ao que se diz, a louvar uma tal de Divindade, que nunca ninguém viu, mas de quem sempre se ouve dizer que é toda poderosa e vingativa, capaz, por isso, de fazer a vida negra aos faltosos nos seus deveres para com ela.<br>
								
								
								
								
							Mesmo assim, não deixo de estar a par do que habitualmente acontece nas missas de Domingo e festas de guarda, particularmente, nas católicas, uma vez que as rádios, desde as locais às nacionais (RDP e Renascença) e algumas televisões se encarregam de fazer a cobertura, em directo, tal como costumam fazer com os jogos do futebol maior.<br>
								
								
								
								
							(Na vila onde resido, nem sequer é preciso sair de casa para saber o que se diz e faz na missa paroquial de Domingo. Potentes altifalantes da paróquia encarregam-se de difundir tudo aos quatro ventos. Uma espécie de vingança semanal, por parte do inamovível pároco católico local contra toda a população residente, a qual, na sua esmagadora maioria, já há muito que deixou de pôr os pés na sua missa. Como as pessoas não vão lá, o pároco massacra-as através dos potentes altifalantes da igreja paroquial. E tudo isto sem que ninguém - autoridades incluídas - lhe faça frente e ponha termo ao abuso).<br>
								
								
								
								
							Com as coisas neste pé, e só possíveis num país como o nosso, com tanto de senhora de fátima, de música pimba e de futebol, dou muitas vezes comigo a sintonizar o rádio da carrinha do Jornal Fraternizar, para, enquanto conduzo, poder ouvir a homilia do meu colega que está do outro lado a presidir à missa.<br>
								
								
								
								
							Não pensem que o faço com ar de gozo. Faço-o com expectativa, no género, Deixa ver que boa notícia o meu colega vai anunciar hoje às pessoas que o ouvem. Infelizmente, o que me é dado ouvir, nessas alturas, não tem tido nada de boa notícia. O discurso clerical não consegue libertar-se do ranço moralista do costume; transporta-nos para fora deste mundo "perdido"; vê tudo num contexto de pecado generalizado. Ameaça as pessoas. Anuncia desgraças. E deixa no ar a ideia de que Deus é um juiz que nos espia a toda a hora, para nos premiar com o céu, se nos portarmos bem com ele, e nos castigar eternamente, se nos portarmos mal com ele. Também faz alguns apelos. Apela ao arrependimento, à conversão, mas nunca na linha libertadora e alegre que caracteriza o apelo de Jesus de Nazaré, o Cristo. São vagos apelos, sempre numa linha moralista, para que as pessoas rezem mais, frequentem mais a igreja, temam a Deus e sejam boazinhas, no meio de um mundo que, aos seus olhos, não tem mais conserto nem emenda!<br>
								
								
								
								
							Não é todos os domingos que tenho oportunidade de fazer este exercício radiofónico. Mas quando viajo, na carrinha do Jornal, aproveito para me pôr em dia com o que se continua a realizar por esses locais eclesiásticos católicos, onde também já estive, durante alguns anos, na qualidade de pároco, e de onde, como se sabe, fui afastado, devido a tudo ter feito, já então, para ser consequente com o Evangelho ou a Boa Notícia de Jesus, e não com o Moralismo da lei e da disciplina eclesiásticas, e com o autoritarismo da respectiva hierarquia. Essa audácia valeu-me o afastamento compulsivo, para não dizer, a expulsão, senão da Igreja, pelo menos, do ofício paroquial. Não pensem que fiquei agastado por isso e que sou, desde então, um padre amargurado e ressabiado. De modo algum. Hoje, até agradeço a quem, assim arbitrária e autoritariamente, me tratou, porque, desde então, a minha posição na Igreja de que sou membro tornou-se ainda mais inequívoca. Mas também não pensem que, por me terem tratado assim, eu desisti da missão de Evangelizar os pobres, para a qual um dia fui ungido pela Igreja e na Igreja. De modo algum. Prossigo essa missão – aliás, não vejo que outra missão deva viver quem na Igreja é ordenado presbítero e bispo - porque, felizmente, o Espírito de Deus tem muitos caminhos e sopra sempre onde quer, sem que ninguém, inclusive, bispo ou papa, saiba de onde vem nem para onde vai.<br>
								
								
								
								
							Ora, num dos últimos domingos de Agosto último, sintonizei o rádio da carrinha e ouvi a homilia integral da missa, que um colega meu de Lisboa proferiu, no tom sério de quem lia um texto previamente escrito. O Evangelho ou Boa Notícia de Jesus, extraído do relato de Lucas (13, 22-30) para esse dia, refere-se à "porta estreita". E, a propósito, põe na boca de Jesus de Nazaré estas surpreendentes afirmações: "Esforçai-vos por entrar pela porta estreita, porque eu vos digo que muitos tentarão entrar sem o conseguir. Uma vez que o dono da casa se levante e feche a porta, ficareis fora e batereis, dizendo: Abre-nos, senhor! Mas ele há-de responder-vos: Não sei de onde sois. Começareis então a dizer: Comemos e bebemos contigo e tu ensinaste nas nossas praças. Responder-vos-á: Repito-vos que não sei de onde sois. Apartai-vos de mim, todos os que praticais a iniquidade. Lá haverá pranto e ranger de dentes, quando virdes Abraão, Isaac, Jacob e todos os profetas no Reino de Deus, e vós a serdes postos fora. Hão-de vir do Oriente, do Ocidente, do Norte e do Sul, sentar-se à mesa no Reino de Deus. E há últimos que serão dos primeiros e primeiros que serão dos últimos."<br>
								
								
								
								
							Pois não é que o meu colega, a partir destas afirmações atribuídas a Jesus, ignorou por completo a Boa Notícia ou Evangelho que elas revelam e veiculam (Jesus, senhores clérigos católicos ou protestantes, é sempre o Evangelho ou a Boa Notícia de Deus, não é nunca a Má Notícia de Deus, como vocês insistem em dizer!) e passou todo o tempo – e muito foi - em considerações de um moralismo rançoso, bafiento, beato, de caixão à cova. Como se Jesus, em lugar de ser, como é, o eficaz Sacramento de Deus que liberta/salva toda a Humanidade, fosse o juiz-mor que nos condena a todas e todos, se não nos pusermos à tabela. E, no entanto, o texto de Lucas, no seu contexto literário e histórico, não pode ser mais claro. Vejamos.<br>
								
								
								
								
							Jesus vai a caminho de Jerusalém e proclama esta espantosa Boa Notícia, que os funcionários religiosos de todos os tempos e lugares jamais entenderão nem suportarão ouvir: - a libertação/salvação das pessoas e dos povos não está no Templo que se ergue, esplendoroso e enorme, em Jerusalém, em Roma, em Fátima, ou em outro monte qualquer do mundo, sempre com o objectivo de devorar os pobres, os órfãos e as viúvas e de os manter oprimidos e aterrorizados. A libertação/salvação das pessoas e dos povos tão pouco está no cumprimento escrupuloso, por parte delas e deles, da Lei de Moisés (curiosamente, o nome de Moisés nem sequer chega a ser pronunciado por Jesus, nesta perícopa evangélica). A libertação/salvação das pessoas e dos povos é pura Graça de Deus. Graça que é dada a todas as pessoas e a todos os povos, judeus e não judeus.<br>
								
								
								
								
							E é por a libertação/salvação das pessoas e dos povos ser pura Graça de Deus - e não o corolário do fiel cumprimento da Lei de Moisés, da Disciplina eclesiástica, dos ritos, das tradições dos antigos e de toda a parafernália de deveres religiosos e monetários, que clérigos e pastores sempre gostam de impor a quem frequenta os seus cultos - que Jesus fala em "porta estreita".<br>
								
								
								
								
							Na nossa tacanhez de criaturas assustadas e religiosas, ainda fechadas ao Espírito de Deus, imaginamos a salvação das pessoas e dos povos como obra nossa, conseguida a pulso e à força de dinheiro, à mistura com algumas farisaicas virtudes que nos fazem pensar que somos sempre melhores do que os outros (trazemos os nossos deveres religiosos em dia, não faltamos à missa ao Domingo, comungamos e jejuamos, rezamos o terço todos os dias, vamos em peregrinação a Fátima, etc). Custa-nos os olhos da cara aceitar que a salvação é pura Graça de Deus. É puro Dom de Deus concedido a todos os indivíduos e a todos os povos sem discriminação.<br>
								
								
								
								
							Aceitar tão espantosa Boa Notícia ou Evangelho é como ter de entrar por uma porta estreita. Exige de nós verdadeira conversão, não no sentido moralista das religiões, mas no sentido cristão jesuânico. Exige que aceitemos ser do mesmo jeito de Deus, por isso, mulheres e homens que gratuitamente se dão, que acolhem os outros sem reservas, estrangeiros que sejam, que vivem de portas e de coração abertos, numa palavra, que sejamos irmãs e irmãos universais que amam os demais como Deus nos ama.<br>
								
								
								
								
							Dito em palavras de hoje: não é com missas e overdoses de outros ritos religiosos e de orações papagueadas que chegamos à salvação. Só somos pessoas e povos salvos, realizados, felizes, se nos tornarmos pessoas e povos do mesmo jeito de Deus, nosso Pai/Mãe. Esse mesmo jeito que Jesus de Nazaré nos revelou, através do seu dissidente ser/viver/falar/agir/morrer/ressuscitar. E que fez dele o único ser humano, à face da terra, que o próprio Deus reconheceu como o seu Filho bem amado, a quem por isso, sempre havemos de escutar/seguir.<br>
								
								
								
								
							Insistir na religião, nos ritos religiosos, nas missas, na submissão às Leis eclesiásticas e num moralismo sem liberdade, é entrar pela porta larga da iniquidade, da alienação/perdição, e iniciar um percurso, no termo do qual não está nada nem ninguém. Muito menos, Deus.<br>
							</font></p>
						<p><font size="2">Um abraço do vosso companheiro e irmão,<br>
							</font></p>
						<p><font size="2"><b><i>Mário</i></b>, presbítero.</font></p>
					</td>
					<td width="86" height="2500"></td>
					<td width="1" height="2500"><spacer type="block" width="1" height="2500"></spacer></td>
				</tr>
				<tr height="30">
					<td width="580" height="30" colspan="9" valign="top" align="left" xpos="10">
						<hr width="580" size="3">
					</td>
					<td width="1" height="30"><spacer type="block" width="1" height="30"></spacer></td>
				</tr>
				<tr height="6570">
					<td width="20" height="6650" rowspan="2"></td>
					<td class="class" width="470" height="6570" colspan="6" align="left" xpos="30" content="" valign="top" csheight="6550">
						<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>ESPAÇO ABERTO</b><br>
							</font></p>
						<p><font size="2"><b><i>Três crónicas de Frei Betto, OP (Brasil)</i><br>
								</b><br>
								<b>1. A menina na Missa</b><br>
							</font></p>
						<p><font size="2">Ana tem cinco anos de idade. Embora baptizada na Igreja católica, não recebeu suficiente educação religiosa na família. A escola em que estuda, no Rio, completou vinte anos e decidiu comemorar a data com a celebração de uma missa solene. A directora, muito religiosa, explicou às crianças que a igreja é a casa de Deus, habitada pelos anjos, e que elas assistiriam, lá à santa ceia.<br>
								
								
								Dotada de imaginação fértil, como toda criança que, nessa idade, ainda não se deixou hipnotizar pela babá electrónica, a TV, Ana chegou a casa excitadíssima. Contou aos pais que iria lanchar na casa de Deus. O passeio seria uma maravilha, pois veriam anjos voando pelo tecto e poderiam conversar com eles e com Deus.<br>
								
								
								A mãe ponderou que a coisa não era bem assim, mas a menina já tinha fabricado o paraíso em sua mente.<br>
								
								
								No dia marcado, a mãe levou Ana à igreja. Um templo que, por fora, se assemelha a um caixote de cimento e, por dentro, uma mescla de estilos, como se tivesse sido construído com a sucata de velhas capelas. Um lugar que a mãe considerou frio e feio, cercado de mosaicos feitos com azulejos de cozinha e imagens de santos adquiridas no bazar da esquina. Nos nichos laterais, o Cristo supliciado, em tamanho natural, exibia chagas sangrentas e hematomas arroxeados.<br>
								
								
								Ao entrar, Ana mirou tudo de soslaio, desconfiada, enquanto a professora conduzia a turma dela à primeira fila de bancos. Quase cem crianças, de três a cinco anos, receberam ordens de permanecer caladas. A casa de Deus exige respeito.<br>
								
								
								O padre iniciou a missa, fez sermão, abriu a palavra para os adultos presentes, sem nenhuma sintonia com a meninada.<br>
								
								
								Para Ana, a missa não passou de um senta-levanta-ajoelha e muito palavreado. Ao fim de uma hora, ela pôde juntar-se à mãe. Estava decepcionada e cansada. Na saída do templo, disse à mãe:<br>
								
								
								«Não gostei de Deus!» A mãe, sem graça, reagiu:<br>
								
								
								«Como pode dizer isso, filha?»<br>
								
								
								«Deus é muito chato» ­ disse a menina. «Ele fala demais!»<br>
								
								
								A mãe explicou que aquele homem não era Deus, era o padre.<br>
								
								
								«E daí? Foi Deus quem mandou ele falar tudo aquilo!» ­ rebateu a menina.<br>
								
								
								Muitos olhavam para Ana, cuja voz ressoava acentuada pela acústica do templo. A mãe arrastou-a para um canto, junto à imagem de Jesus crucificado. Ana fitou-a e comentou:<br>
								
								
								«Ainda por cima, ele não tem o menor cuidado com os bonecos dele! Olha aí, estão todos machucados e Deus não botou nem um esparadrapo!»<br>
								
								
								A mãe puxou a filha iconoclasta para a rua. Em casa, voltou ao tema da missa durante vários dias. O padrinho da menina, um homem religioso, também ajudou.<br>
								
								
								Um mês depois, Ana manifestou desejo de ir de novo à igreja. Mas frisou: «Mamã, eu quero ir a outra igreja, uma que seja bonita.»<br>
								
								
								A mãe concordou e já planejava levá-la à igreja da Glória, quando ela saiu com essa: «Mas telefona antes. Quero ir a uma hora em que Deus não esteja lá.»</font></p>
						<p><br>
						</p>
						<p><b>2.</b><font size="2"><b> O desempregado</b><br>
							</font></p>
						<p><font size="2">Apresentou-se na firma de colocação de mão-de-obra. Após horas na fila de desempregados, chegou a sua vez de ser entrevistado:<br>
								
								
								«Sabe fazer o quê?»<br>
								
								
								«Bem, entendo de construção civil, meu pai trabalhava no ramo. Gosto de culinária e acho que não me daria mal na agricultura.»<br>
								
								
								«Hum! Hum! O que tem feito ultimamente?»<br>
								
								
								«Sou andarilho, espalho novas ideias e boas notícias.»<br>
								
								
								«Ora, isso tudo é muito vago. Quero saber quais são as suas aptidões.»<br>
								
								
								«Sou bom em recursos humanos. Sei organizar grupos e incentivar pessoas.»<br>
								
								
								«Considera-se um homem dotado de espírito de competitividade?»<br>
								
								
								«Sou mais pela solidariedade. Gosto de somar esforços, unir o que está dividido, quebrar distâncias, incluir os excluídos.»<br>
								
								
								«Na área da saúde, tem algum conhecimento?»<br>
								
								
								«Sim, às vezes faço curas por aí.»<br>
								
								
								«Isso é exercício ilegal da medicina. Só os médicos e os medicamentos cientificamente comprovados podem curar. Ou será que você também embarcou nessa onda de que meditação cura?»<br>
								
								
								«É, meditação traz boa saúde. É o meu caso. Medito todas as manhãs ou ao anoitecer. Às vezes passo toda a noite meditando. E, como vê, gozo de muito boa saúde.»<br>
								
								
								«Que mais sabe fazer?»<br>
								
								
								«Sei pescar, preparar anzóis, monitorar uma embarcação e até assar peixes.»<br>
								
								
								«Bem, no momento não há procura neste ramo. Os japoneses já ocuparam todas as vagas. Se fosse escolher uma profissão, qual seria?»<br>
								
								
								«A de publicitário. Creio que sou bom de propaganda.»<br>
								
								
								«Que tipo de produto gostaria de vender?»<br>
								
								
								«A felicidade.»<br>
								
								
								«A felicidade?»<br>
								
								
								«Sim, como o senhor escutou.»<br>
								
								
								«Meu caro, a felicidade é o bem mais procurado do mundo. É uma demanda infinita. É o que todo mundo busca. Só que ninguém ainda descobriu como oferecê-la no mercado. O máximo que temos conseguido é tentar convencer que ela resulta da soma dos prazeres.»<br>
								
								
								«Como assim?»<br>
								
								
								«Se você usar esta roupa, tomar aquela bebida, passar no cabelo aquele produto, viajar para tal lugar, você haverá de encontrar a felicidade.»<br>
								
								
								«Mas isso é enganar a freguesia. A felicidade não se confunde com nenhum bem de posse. Ela só pode ser encontrada no amor.»<br>
								
								
								«Bela teoria! E pensa que as pessoas não têm medo de amar?»<br>
								
								
								«Têm medo porque não têm fé. Se acreditassem em alguém e em si mesmas, amariam despudoradamente.»<br>
								
								
								«Vejo que você é mesmo bom de lábia. Quer um emprego de vendedor de cosméticos?»<br>
								
								
								«Prefiro não vender ilusões. Melhor oferecer esperanças.»<br>
								
								
								«Esperanças? Do jeito que o mundo está? Meu cara, trate de ganhar dinheiro. Hoje em dia é cada um por si e Deus por ninguém.»<br>
								
								
								«Não penso assim. Se houver esperança de um futuro melhor, haverá indignação frente ao presente injusto. Então as pessoas haverão de mudar as coisas.»<br>
								
								
								«Pelo que vejo você gosta de política.»<br>
								
								
								«Não sou político, mas exerço o meu direito de cidadania. Defendo os direitos dos pobres.»<br>
								
								
								«Desconfio que você é um desses vagabundos utópicos que nas praças divertem os jovens aos domingos. Você bebe?»<br>
								
								
								«Só vinho.»<br>
								
								
								«Como é o seu nome?»<br>
								
								
								«Jesus, mas pode-me chamar Emanuel.»<br>
								<br>
							</font></p>
						<p><font size="2"><b>3. MIRE (Mística e Revolução)<br>
								</b></font></p>
						<p><font size="2">Acaba de surgir no Brasil um novo movimento de jovens cristãos: o MIRE ­ Mística e Revolução. Lançado em dezembro, no encontro nacional do Movimento Fé e Política, em Santo André, o MIRE já congrega quase 300 militantes de 30 cidades brasileiras, todos com idade entre 16 e 30 anos. Este limite tem a sua razão de ser, pois sem ele haveria o risco de adultos abafarem de cuidados algo que é próprio daqueles que se encontram no período em que tomamos as decisões mais fundamentais na vida.<br>
							</font><font size="2">Movimento nacional sediado em São Paulo, o MIRE organiza-se em núcleos de 12 militantes, entre os quais um monitor. Em julho, Vinhedo (SP) abrigou, em seu mosteiro beneditino, o primeiro treinamento de monitores.<br>
							</font><font size="2">O objectivo do movimento é propiciar uma vida cristã centrada no testemunho de Jesus, a quem os evangelhos denominam «O Caminho». Este caminhar é feito com duas pernas: a da oração (mística) e a do compromisso social (revolução). As reuniões de núcleos têm seus momentos fortes no exercício da meditação e na celebração da Palavra de Deus. Os militantes são chamados a assumir, individual e/ou colectivamente, engajamentos que contribuam para reduzir a exclusão da grande maioria da população brasileira, actuando em acampamentos e assentamentos rurais; movimentos sindicais e estudantis; acções de voluntariado no combate às injustiças e no fortalecimento de iniciativas populares. Em julho, militantes do MIRE visitaram assentamentos de sem-terra em Goiás, culminando com um retiro espiritual em Goiás Velho.<br>
							</font></p>
						<div align="center">
							<p><font size="2"><b>Entusiasmo</b></font><font size="2"><br>
								</font></p>
						</div>
						<div align="left">
							<p><font size="2">Mística é uma palavra polissémica. Para o MST [Movimento dos Sem Terra], sinónimo de animação em suas reuniões e eventos. Para a tradição religiosa, o entusiasmo (do grego en-theos, "estar cheio de Deus") que inunda o coração e a prática de quem faz a experiência de Deus<br>
								</font><font size="2">Os participantes do MIRE, inspirados pela teologia da libertação, buscam uma vida cristã menos racionalista e mais orante, sem, no entanto, ceder aos modismos litúrgicos que transformam as celebrações em bailados religiosos. Os núcleos não querem incorrer no risco de restringir suas reuniões a debates em torno da actual conjuntura. Sabem que tudo é político, mas a política não é tudo, como afirma Clodovis Boff. Procura-se o diálogo íntimo com Deus, através da experiência do silêncio, deixando-se "tocar" pelo Espírito, numa comunhão amorosa que ultrapassa palavras, ideais e conceitos.<br>
								</font><font size="2">As três dimensões que fundam a eclesialidade são valorizadas pelo MIRE, um movimento abertamente ecuménico: sentido de comunidade e partilha; nutrir-se espiritualmente na Bíblia e nas obras dos místicos; compromisso pastoral numa dimensão libertadora.<br>
								</font><font size="2">O termo "Revolução" não tem, para o MIRE, a conotação bélica dos anos 60/70. Expressa o sentido etimológico de "começar de novo", tanto do ponto de vista pessoal, quanto do social. Equivale aos termos evangélicos "conversão" ou "metanoia", transformação radical de vida, na perspectiva do amor e da justiça, e da sociedade, na esperança de que "um outro mundo é possível", sem desigualdades e exclusões.<br>
								</font></p>
						</div>
						<div align="center">
							<p><font size="2"><b>Adesões</b><br>
								</font></p>
						</div>
						<div align="left">
							<p><font size="2">O MIRE quer ser, para os jovens, uma alternativa à necrofilia do neoliberalismo, com sua ânsia consumista, seus entretenimentos centrados na pornografia e na violência, seu esvaziamento espiritual e sua exaltação da glamourização física. Pretende ser o espaço capaz de actualizar, no Brasil de hoje, os carismas de homens e mulheres como Francisco de Assis e Catarina de Sena, Mestre Eckhart e Teresa de Ávila, João da Cruz e Simone Weil, Gandhi, Luther King e Che Guevara.<br>
								</font><font size="2">Os interessados podem entrar em contacto com o movimento através de correio electrónico (mirebrasil@hotmail.com) ou pelo endereço: rua Padre Artur Somensi 89, Cep: 05443-030 São Paulo, SP. Tel: (11) 3813-6755.<br>
								</font></p>
							<p>
							</p>
							<p><i><font size="2"><b>Outras Cartas</b></font></i><br>
							</p>
							<p><font size="2"><b>«Continuar a alertar»</b><br>
									<br>
								</font></p>
							<p><font size="2"><b>Queluz. <i>Saulo de Kel-Vz</i></b>: Possivelmente, ficará surpreendido, ao receber esta minha carta, pois, talvez, até já não se lembre de quem eu sou. Atrevo-me a escrever-lhe e ocupar algum do seu precioso tempo, com o objectivo de o felicitar pelos seus escritos que recentemente foram publicados, mas que só agora tive disponibilidade para adquirir e ler.<br>
								</font><font size="2">O seu livro <b><i>Nem Adão e Eva, nem pecado original</i></b>, é uma óptima obra, em meu entender. Proporcionou-me uma interessante leitura e deu-me ensejo de conhecer alguns factos que, só resumidamente, conhecia, através de alguns escritos que citam Masins, Espinosa e Astruc, os quais falam dos "autores" J, P e também E e D, que o senhor, como teólogo, conhece certamente há muito tempo.<br>
								</font><font size="2">Aprendi imenso através da leitura do seu livro. Fico-lhe imensamente grato por quanto me ensinou. Desejo-lhe o maior sucesso nas vendas do livro e na aceitação dos seus ensinamentos, por parte dos seus leitores, que desejo serem muitos.<br>
								</font><font size="2">Aproveito ainda o momento para lhe dizer que o admiro bastante. Não só pela sua disponibilidade para ensinar liberalmente aos que menos sabem, mas ainda mais pela frontalidade e ousadia que demonstra ter, ao publicar factos que tantos outros teólogos ("os de serviço ao sistema", como o senhor diz), não ousam sequer abordar e, a todo o custo, pretendem esconder e negar.<br>
								</font><font size="2">Que Deus o ajude na sua obra. Parabéns. Um abraço de consideração e amizade.<br>
									<br>
								</font><font size="2"><b>Gouveia. <i>Maria Matos</i></b>: Indignado ou não com a injustiça que a Alta Autoridade para a Comunicação Social cometeu; indignado ou não pela incompreensão versus ignorância de quem assume tais erros, o Jornal Fraternizar tem de continuar a alertar, a esclarecer e a desmistificar todas as estruturas sedentas de mordaça, enxameadas de grades bafientas, para quem cultura e perversão são uma e a mesma coisa. Segue o cheque.<br>
									<br>
								</font><font size="2"><b>Santa Comba Dão. Rui Celso</b>: Em primeiro lugar, gostaria de saudá-lo e referir que sou um apreciador atento das obras literárias que vai produzindo. Neste momento, terminei a leitura do livro <b><i>Nem Adão e Eva, nem pecado original</i></b>, que considerei deveras interessante, contrariando alguns ensinamentos da Igreja, os quais nos foram e vão sendo "impostos" pela mesma. Pretendo, ainda, afirmar que a sua escrita é bastante fluente e de fácil leitura e interpretação, mesmo para o leitor mais "preguiçoso".<br>
								</font><font size="2">Pois bem, e após esta breve introdução, importa mencionar que sou católico pouco praticante, bastante crítico a tudo o que a Igreja realiza, pondo em causa muitos dos seus ensinamentos e práticas religioso-pagãs. Acredito sinceramente em Deus (mesmo que por vezes me aborreça com Ele) e o meu catolicismo é quase uma herança familiar, dado que na minha família todos são católicos.<br>
								</font><font size="2">Sou um jovem de 34 anos, solteiro, professor de profissão e vocação. Na verdade, o que me motivou a escrever-lhe foi o facto de pretender saber qual a sua posição, se isso é possível, acerca das denominadas Seitas religiosas, mais especificamente as <b>Testemunhas de Jeová</b>, e toda a actividade prosélita que levam a cabo com tanta determinação.<br>
								</font><font size="2">De facto, esta é uma situação que me preocupa, uma vez que possuo três pessoas das quais sou bastante amigo e como que se "converteram" a todos os ensinamentos e práticas religiosas dessa seita. Perturba-me sinceramente o denodo, a intransigência, a dedicação sem limites e a quase alienação que colocam em todas as actividades a que estão sujeitas. Temos tido discussões sem limites, mas chego à conclusão de que não vale a pena tentar argumentar com eles, visto que todas essas práticas parece que funcionam como uma "droga", tornando-os totalmente dependentes, justificando tudo o que fazem como estando escrito na Bíblia.<br>
								</font><font size="2">É que de repente deixamos de assistir a diversos eventos de índole social e familiar, dado que eles deixaram literalmente de participar em tudo o que lhes dizem ser manifestamente pagão. Inclusivamente, tenho assistido a diversas sessões de culto para verificar como tudo se processa. Enfim, aonde está a Verdade, no meio disto tudo?<br>
								</font><font size="2">Face ao exposto, gostaria que o padre Mário me pudesse "auxiliar", no sentido de tentar perceber melhor o que é realmente esta seita, quer através da sua opinião pessoal, quer por meio de referência à leitura de eventuais obras que abordem o assunto. Reconheço que o tempo de que dispõe não é o bastante para dar resposta a todas as solicitações de que é alvo. Não obstante, ficarei a aguardar ansiosamente uma resposta sua.<br>
								</font><b><font size="2"><i>N.D.<br>
											
											Meu caro Rui: O que nos conta nesta carta sobre as Testemunhas de Jeová já diz tudo. A começar pela própria designação com que elas se apresentam - Testemunhas de Jeová - tudo nessa Congregação opressora, moralista e fundamentalista, está errado. É que a pronúncia "Jeová" não é sequer a pronúncia que os hebreus, do tempo de Moisés, utilizavam para dizer o nome de Deus. A pronúncia correcta é "Iavé", ou "Javé". Por mim, costumo dizer que Jeová não é nome de Deus, mas nome de terror. E digo-o, apoiado na prática dos membros das próprias testemunhas que nos batem à porta e nos massacram com frases bíblicas tiradas do respectivo contexto e com as quais pretendem deixar aterrorizadas as pessoas que lhes abram a porta. O melhor livro para as desmascarar é a mesma Bíblia, de que elas tanto se reclamam. Mas a Bíblia toda, nos seus 72 livros (versão católica), tanto os do primeiro testamento, como os do segundo testamento. As Testemunhas não conhecem a Bíblia. Conhecem apenas partes dela, precisamente, aquelas que mais lhes interessam e que são obrigadas a decorar e a sublinhar para poderem argumentar/baralhar/atacar as pessoas que visitam, e que, geralmente, são pessoas totalmente ignorantes em Bíblia. Experimente, numa das visitas que lhe façam, ler com elas, por exemplo, todo o Evangelho de Marcos e comentá-lo. De certeza, que esse estudo não lhes interessa. E não o aceitarão. Elas só aceitam falar do que já trazem estudado e decorado para "vomitar". De resto, não dialogam nunca com as pessoas. Discursam. Ditam. São ditadoras, como o Império norte-americano de onde provêm. Outros livros, podem ser os que a Congregação edita e vende. A mim, um dos que mais me mostrou a mentira e o anti-Evangelho cristão que as Testemunhas de Jeová são, foi o livrinho que, numa visita, há anos, duas delas me ofereceram: Conhecimento que conduz à vida eterna. Leia-o com olhos de ver e ficará esclarecido. Mesmo assim, não digo para fugir das Testemunhas de Jeová. Procure ser paciente e tente ser tolerante com elas, coisa que elas não são com ninguém. E, se quiser brincar, para desanuviar o ambiente tenso que elas sempre criam, pergunte-lhes para quando é que está marcado o Dia do Senhor Jeová! É que elas já anunciaram tantas datas e nenhuma se cumpriu, que é mesmo uma anedota.</i></font></b><font size="2"><br>
								</font></p>
							<p></p>
							<p><font size="2"><b>Açores. <i>Maria Ascensão</i></b>: Saúde e graça de Deus na tua vida. Obrigada pela tua presença no Fraternizar. Não tenho palavras que consiga comunicar o quanto aprecio e devo a este arauto da Palavra de Deus, a quem devo, neste tempo, algo da minha actualização cristã. Leio-o religiosamente, muito em especial o Editorial e cada vez mais reconheço em ti um verdadeiro profeta dos nossos dias. Construir o Reino de Deus, fazendo a opção pelos pobres, é horrivelmente belo nos nossos dias, e também verdadeiramente apaixonante. Coragem, saúde e boa sorte com Jesus Cristo ressuscitado, é o que te desejo. Segue a minha contribuição material.<br>
									<br>
								</font></p>
							<p><font size="2"><b>Lisboa. <i>José Romão</i></b>: Venho pagar a assinatura do Fraternizar. Aproveito a ocasião para manifestar a minha sintonia na intervenção que o pe. Mário fez no documentário <b><i>Senhora de Maio</i></b>, emitido no canal "História", da TV Cabo. Realmente, Cristo já venceu o mundo e libertou-nos. E porque somos libertos = salvos, é que nos manifestamos em comunhão com ele em todos os irmãos e irmãs. Porque somos assim, não há medo, vamos construindo comunidades com um Deus irmão, que tem amor por sobrenome, embora vivamos na esperança.<br>
								</font><font size="2">Às vezes tenho vergonha do cristianismo que manifestamos em Fátima, nos Açores (Santo Cristo)... Tanto tempo já passou e ainda não descobrimos que a redenção é libertação de todos os medos e temores que nos escravizam. Se deixássemos aquelas manifestações e nos preocupássemos com o bem dos outros, que é reconhecer a dignidade da pessoa humana, pela qual Deus se comprometeu como tarefa prioritária nas diversas formas de intervenção que teve na pessoa de seu Filho. Todo o pecado implica falta de atenção à dignidade do outro.<br>
								</font><font size="2">Ora, Deus faz hoje caminho connosco. É alguém da nossa História que faz a festa da ruptura de todas as prisões e medos e crenças por mais religiosas que sejam. Se alguma inquietação temos é não conseguirmos que Ele desista de nós. Bem-haja pela construção fraterna.<br>
									<br>
								</font></p>
							<p><font size="2"><b>Santa Maria da Feira. <i>Luís Eugénio Pinto</i></b>: Acabo de ler no Fraternizar n.º 141 o artigo "João Paulo II enfiou o barrete e o anel a novos cardeais", ilustrado com uma gravura, provavelmente retirada de uma revista estrangeira (p.22). É sobre esta gravura que expresso a minha opinião que, obviamente, não é de concordância, pois não acho graça nenhuma brincar com coisas sérias.<br>
								</font><font size="2">Seja qual for a opinião que se tenha sobre João Paulo II, tenhamos em conta que o papa é um octogenário, reconhecidamente, cujo espírito de sacrifício é notável. Caricaturar a sua pessoa, pondo o realce na sua debilidade, francamente, é de muito mau gosto e revela, por parte de quem publica o desenho, um desprezo inqualificável pela dignidade da pessoa humana, nomeadamente, pelos doentes. Lamentável é acontecer numa publicação que diz identificar-se e estar ao lado dos pobres, dos oprimidos, dos marginalizados!<br>
								</font><font size="2">Apesar de não ser leitor regular do Fraternizar, pois só leio quando mo emprestam, vai aqui a expressão do mais profundo protesto e da minha indignação, por tal abuso. Fá-lo-ia na mesma, se em vez do papa, fosse outra pessoa qualquer que ali surgisse. Brincar com coisas sérias é uma canalhice! Com votos de que coisas deste género não voltem a acontecer, os melhores cumprimentos. N. B. Gostava de ver publicar esta carta no Fraternizar.<br>
								</font></p>
							<p><font size="2"><b><i>N. D.<br>
										</i></b></font><font size="2"><b><i>Meu caro Luís Eugénio: Não se aborreça tanto assim com o "boneco" manifestamente caricatural. A caricatura – esta ou outra qualquer - faz parte da liberdade de expressão. E uma boa caricatura vale mais do que mil palavras. Creio ser o caso em referência. O mal é que o Luís Eugénio olhou para a caricatura e só viu lá o papa, amparado por dois monsenhores da Cúria Romana. Não viu a quarta pessoa que lá está caricaturada, a apanhar com o báculo do papa na cabeça. Só porque ostenta um pequeno cartaz onde se reclamam "reformas". Ora, meu caro Luís Eugénio, era sobretudo para este pobre clérigo, vítima da prepotência papal e da Cúria Romana, que deveria ter olhado. E, em lugar de classificar de "canalhice" a minha decisão de divulgar esta caricatura, deveria classificar de intolerável e de crime contra a Humanidade a prepotência papal e da sua Cúria, relativamente aos membros da mesma Igreja que muito legitimamente reclamam "reformas" urgentes e profundas. É verdade que o papa é octogenário e está manifestamente debilitado. Mas nem isso o tem impedido de cometer disparates de todo o tamanho, como, por exemplo, beatificar duas das crianças de Fátima que, no tempo delas, foram vítimas da cruel senhora lá do sítio e do seu fanático clero; não ter pejo de dizer que o homem de branco a que se refere a patranha da terceira parte do "segredo" de Fátima, atribuído à Irmã Lúcia, é ele próprio; e, sobretudo, não desistir de perseguir, excluir, destituir membros da Igreja, como o Bispo Gaillot, só porque se recusam a identificar a Igreja de Jesus com a Cúria Romana e o "Serviço de Pedro" com a função de chefe de Estado do Vaticano. Estas coisas, sim, é que são canalhice. E mais do que canalhice. São pecado contra o Espírito Santo. Contra estas coisas e outras do mesmo jaez, é que o meu caro Luís Eugénio se deveria indignar! Pense nisto. Com amor lho digo.</i></b><br>
								</font><font size="2"><br>
								</font></p>
							<p><font size="2"><b>Oiã. <i>Eurico Pires</i></b>: Estou a gostar do jornal, mas não serve para toda a gente, pelo menos, para aqueles ligados às tradições. Esses não aguentam coisas tão fortes. Por exemplo, o meu prior tem um diácono permanente a ajudá-lo, que vem de cinco kms de distância da paróquia, mas cá de Oiã não há nenhum. Nas homilias é capaz de falar contra tudo e contra todos que trabalham na igreja, mas dos patrões, dos empregados, dos ladrões, isso não. Fala para rezar, para toda a gente se confessar, sermos amigos de Deus; se não somos amigos de Deus, Ele sofre e seu Filho; fala para a gente sermos todos amigos, etc. O resto não interessa. Não é por eu ser uma pessoa que sempre trabalhei na igreja e o mais possível com a Igreja, mas a mim não é capaz de convidar para diácono, ou para ministro extraordinário da comunhão. Porque eu não lhe agrado muito, por não concordar com muitas coisas que se passam e se falam e da maneira que se fala. Embora, se fosse convidado para alguma coisa das que que nomeei, não sei se aceitaria. E pronto, por hoje é tudo.<br>
									<br>
								</font></p>
							<p><font size="2"><b>Castelo Branco. <i>Matilde</i></b>: Como o tempo passa! Tão longe e tão perto naquilo em que acredito (acreditamos) e me mantém de pé, apesar das vicissitudes da vida. Vou seguindo com interesse e reflexão o caminhar do nosso companheiro Fraternizar com as suas luzes e sombras como qualquer vida que quer crescer e crescer em abundância.<br>
								</font><font size="2">No penúltimo Fraternizar bebi com sofreguidão, primeiro, e depois, em pequenos e espaçados goles, o drama do Rui, símbolo de tantos "Ruis" vítimas do poder do grande deus desta sociedade sem escrúpulos - o Dinheiro. Foi sublime a forma como falaste do Rui, transformado em farrapo humano e cruelmente pregado na cruz, e como o elevaste até ao Reino da Serenidade, da Paz, que aqui lhe foi negado encontrar. Fazes mesmo ideia do que foi o sofrimento do Rui? Do inferno em que o lançaram e donde não conseguiu sair? Sim, o inferno existe na sua crueza, mas criado aqui por mentes perversas sem entranhas de compaixão.<br>
								</font><font size="2">O Fraternizar tem futuro? - pergunta-se neste último número. Claro! Enquanto houver "Mários" que o assumam e assumam ser "grão de trigo", para que a vida nasça, cresça e se multiplique, morrendo. Enquanto houver "Mários" que "levem no lombo" e não sucumbam.<br>
								</font><font size="2">Agora, dou alguma razão à Celeste. Era bom que te rodeasses de pessoas impelidas pelo mesmo Espírito, que tenham a coragem de dar a cara e o agarrem contigo... Espaço tem ele e amplo! Era bom, era, que não tivesse! Um dia, como João Baptista, dirias contente: - É preciso que eu diminua para que outros cresçam e sejam veículos, para que o mesmo Espírito continue a interpelar, a desafiar, a desinstalar, a pôr a caminho. Há um grande vazio de Deus neste tempo, nesta História, nesta sociedade.<br>
									
									Segue um cheque.<br>
								</font></p>
						</div>
					</td>
				</tr>
			</tbody></table>
		</div>